Repository fleetyards/fleetyards: changes, and which GitLab CI jobs are due for each by the changed paths.
All: yarn, bundle

yarn:
  stage: prep
  cache:
    key: fleetyards-cache
    paths:
    - node_modules/
    policy: pull-push
  script:
  - yarn --frozen-lockfile

bundle:
  stage: prep
  cache:
    key: fleetyards-cache
    paths:
    - vendor/bundle/
    policy: pull-push
  script:
  - bundle install

feat(speeds): update specs
  app/views/api/v1/models/_base.jbuilder
  test/controllers/api/v1/models_controller_test.rb
Due: none

feat(speeds): use new metrics, speeds and crew in frontend
  app/frontend/frontend/components/Models/BaseMetrics/index.vue
  app/frontend/frontend/components/Models/CrewMetrics/index.vue
  app/frontend/frontend/components/Models/PanelMetrics/index.vue
  app/frontend/frontend/components/Models/SpeedMetrics/index.vue
  app/frontend/translations/en/actions.ts
  app/frontend/translations/en/headlines.ts
  app/frontend/translations/en/index.ts
  app/frontend/translations/en/labels.ts
  app/frontend/translations/en/messages.ts
  app/frontend/translations/en/nav.ts
  app/frontend/translations/en/placeholders.ts
  app/frontend/translations/en/privacySettings.ts
  app/frontend/translations/en/sublines.ts
  app/frontend/translations/en/texts.ts
  app/frontend/translations/en/title.ts
  app/frontend/translations/en/validationError.ts
  app/lib/sc_data/ships_loader.rb
  config/locales/en/labels.yml
  spec/reports/latest.html
Due: none

feat(speeds): update specs
  app/frontend/frontend/components/Shops/Panel/index.vue
  test/controllers/api/v1/shop_commodities_controller_test.rb
Due: none

chore: update specs
  test/controllers/api/v1/vehicles_controller_test.rb
Due: none

chore: update specs
  test/controllers/api/v1/shop_commodities_controller_test.rb
Due: none

chore: linting
  test/controllers/api/v1/models_controller_test.rb
Due: none

chore(sync): update controller to resolve params issue
  app/controllers/api/v1/hangars_controller.rb
Due: none

chore(sync): fix params
  app/controllers/api/v1/hangars_controller.rb
  app/frontend/frontend/components/HangarSyncBtn/Modal/index.scss
  app/frontend/frontend/components/HangarSyncBtn/Modal/index.vue
  app/frontend/frontend/components/HangarSyncBtn/ModalTest/index.scss
  app/frontend/frontend/components/HangarSyncBtn/ModalTest/index.vue
  app/frontend/frontend/components/HangarSyncBtn/ModalTest/test.html
  app/frontend/frontend/components/HangarSyncBtn/ModalTest/test2.html
Due: none

chore(loaner): remove duplicate loaners
  app/lib/rsi/loaner_loader.rb
Due: none

chore(loaners): add hidden flag
  app/frontend/frontend/pages/Models/Show/index.scss
  app/frontend/frontend/pages/Models/Show/index.vue
  app/models/model_loaner.rb
  app/views/api/v1/models/_base.jbuilder
  db/migrate/20230527153324_add_hidden_field_to_model_loaners.rb
  db/schema.rb
  test/fixtures/model_loaners.yml
  test/models/model_loaner_test.rb
Due: none

chore: update specs
  test/fixtures/model_loaners.yml
Due: none

chore: update specs
  app/models/model.rb
  app/views/api/v1/models/_base.jbuilder
Due: none

chore: disable dimensions import from gamefiles for now
  app/lib/sc_data/ships_loader.rb
Due: none

chore(release): new Version v5.23.0 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore(model): add dimension fields from gamefiles
  app/frontend/frontend/pages/Fleets/Settings/routes.js
  app/lib/sc_data/ships_loader.rb
  app/models/model.rb
  app/views/admin/models/_form.haml
  db/migrate/20230527195635_add_sc_dimension_fields_to_models.rb
  db/schema.rb
  test/fixtures/models.yml
Due: none

chore(release): new Version v5.23.1 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix(speeds): missing translations
  app/frontend/frontend/components/Models/SpeedMetrics/index.vue
  app/frontend/translations/en/index.ts
Due: none

chore(release): new Version v5.23.2 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix(speeds): update ground vehicle flag
  app/frontend/frontend/api/models/Model.d.ts
  app/frontend/frontend/components/Models/SpeedMetrics/index.vue
  app/lib/sc_data/ships_loader.rb
  app/views/api/v1/models/_base.jbuilder
Due: none

chore(admin): fix strong parameters
  app/controllers/admin/models_controller.rb
Due: none

chore: fix specs
  test/controllers/api/v1/models_controller_test.rb
Due: none

chore(release): new Version v5.23.3 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

feat(sync): improve visibility of sync extension
  app/frontend/frontend/components/HangarEmptyBox/index.vue
  app/frontend/frontend/components/HangarSyncBtn/Modal/index.scss
  app/frontend/frontend/components/HangarSyncBtn/Modal/index.vue
  app/frontend/frontend/components/HangarSyncBtn/index.vue
  app/frontend/frontend/pages/Hangar/index.vue
  app/frontend/translations/en/actions.ts
  app/frontend/translations/en/labels.ts
  app/frontend/translations/en/texts.ts
  app/frontend/types/extension.ts
Due: none

fix(loaner): update ursa mapping
  app/lib/rsi/loaner_loader.rb
Due: none

feat(compare): add link to main navigation
  app/frontend/frontend/App.vue
  app/frontend/frontend/core/components/AppNavigation/CompareNav/index.vue
  app/frontend/frontend/core/components/AppNavigation/FleetNav/index.vue
  app/frontend/frontend/core/components/AppNavigation/FleetsNav/index.vue
  app/frontend/frontend/core/components/AppNavigation/Header/index.vue
  app/frontend/frontend/core/components/AppNavigation/NavFooter/index.vue
  app/frontend/frontend/core/components/AppNavigation/NavItem/index.vue
  app/frontend/frontend/core/components/AppNavigation/StationsNav/index.vue
  app/frontend/frontend/core/components/AppNavigation/UserNav/index.vue
  app/frontend/frontend/core/components/AppNavigation/index.vue
  app/frontend/frontend/core/components/Panel/index.vue
  app/frontend/frontend/pages/Models/Show/index.vue
  app/frontend/frontend/pages/Models/index.vue
  app/frontend/translations/en/nav.ts
Due: none

fix(icons): update csp url
  app/views/layouts/application.html.erb
  config/initializers/content_security_policy.rb
Due: none

chore: cleanup
  app/api_components/v1/schemas/queries/hangar_query.rb
Due: none

chore: continue to update vue components
  Gemfile
  Gemfile.lock
  app/controllers/omniauth_callbacks_controller.rb
  app/frontend/frontend/api/models/Fleet.d.ts
  app/frontend/frontend/api/models/Model.d.ts
  app/frontend/frontend/components/OAuthLoginBtn/index.vue
  app/frontend/frontend/components/Starship42Btn/index.vue
  app/frontend/frontend/core/components/HoloViewer/index.vue
  app/frontend/frontend/core/components/Navigation/FleetsNav/index.vue
  app/frontend/frontend/core/components/Navigation/index.vue
  app/frontend/frontend/core/components/Paginator/PerPageDropdown/index.vue
  app/frontend/frontend/pages/Login/index.vue
  app/frontend/frontend/pages/Models/Show/index.vue
  app/frontend/frontend/stores/App.ts
  app/frontend/translations/de/labels.ts
  app/frontend/translations/en/labels.ts
  app/models/oauth_connection.rb
  app/models/user.rb
  app/views/layouts/application.html.erb
  config/application.rb
  config/initializers/content_security_policy.rb
  config/initializers/devise.rb
  config/routes.rb
  config/routes/api_routes.rb
  db/migrate/20230501134659_create_oauth_connections.rb
  db/schema.rb
  package.json
  test/fixtures/oauth_connections.yml
  test/models/oauth_connection_test.rb
  vendor/cache/jwt-2.7.0.gem
  vendor/cache/multi_xml-0.6.0.gem
  vendor/cache/oauth2-2.0.9.gem
  vendor/cache/omniauth-2.1.1.gem
  vendor/cache/omniauth-discord-1.1.0.gem
  vendor/cache/omniauth-oauth2-1.8.0.gem
  vendor/cache/omniauth-rails_csrf_protection-1.0.1.gem
  vendor/cache/rack-protection-3.0.6.gem
  vendor/cache/snaky_hash-2.0.1.gem
  vendor/cache/version_gem-1.1.2.gem
Due: yarn, bundle

chore: update oauth integration
  app/models/user.rb
  config/credentials.yml.enc
  config/credentials/production.yml.enc
  config/credentials/staging.yml.enc
  config/initializers/devise.rb
Due: none

chore: update composables
  app/frontend/frontend/composables/useI18n.ts
  app/frontend/frontend/composables/useMetaInfo.ts
  app/frontend/frontend/core/components/Form/CollectionFilterGroup/index.vue
  app/frontend/frontend/stores/Hangar.ts
  package.json
  yarn.lock
Due: yarn

chore(vue3): migrate components
  app/frontend/admin/App.vue
  app/frontend/admin/api/collections/Images.ts
  app/frontend/admin/api/models/image.d.ts
  app/frontend/admin/pages/Models/Images/index.vue
  app/frontend/auto-imports.d.ts
  app/frontend/entrypoints/frontend.ts
  app/frontend/frontend/App.vue
  app/frontend/frontend/api/collections/PublicVehicles.ts
  app/frontend/frontend/api/models/Fleet.d.ts
  app/frontend/frontend/api/models/Vehicle.d.ts
  app/frontend/frontend/components/Compare/Models/Base/index.vue
  app/frontend/frontend/components/Fleets/MembersFilterForm/index.vue
  app/frontend/frontend/composables/useMetaInfo.ts
  app/frontend/frontend/core/components/AppNavigation/FleetsNav/index.vue
  app/frontend/frontend/core/components/AppNavigation/NavFooter/index.vue
  app/frontend/frontend/core/components/AppNavigation/NavItem/NavItemInner/index.vue
  app/frontend/frontend/core/components/AppNavigation/NavItem/index.vue
  app/frontend/frontend/core/components/AppNavigation/QuickSearch/index.vue
  app/frontend/frontend/core/components/AppNavigation/Search/index.vue
  app/frontend/frontend/core/components/AppNavigation/UserNav/index.vue
  app/frontend/frontend/core/components/AppNavigation/index.vue
  app/frontend/frontend/lib/Router/index.ts
  app/frontend/frontend/pages/Fleets/Stats/index.vue
  app/frontend/frontend/pages/Hangar/Import/index.vue
  app/frontend/frontend/pages/Hangar/Public/index.vue
  app/frontend/frontend/pages/Hangar/PublicWishlist/index.vue
  app/frontend/frontend/pages/Models/Compare/index.vue
  app/frontend/frontend/pages/Models/index.vue
  app/frontend/frontend/pages/Roadmap/routes.ts
  app/frontend/frontend/pages/Stations/routes.ts
  db/schema.rb
  package.json
  yarn.lock
Due: yarn

chore: update ignore
  .eslintignore
  .eslintrc-auto-import.json
  app/frontend/auto-imports.d.ts
Due: none

chore: linting
  app/frontend/frontend/pages/Fleets/Settings/Membership/index.vue
  app/frontend/frontend/pages/Fleets/Ships/index.vue
  app/frontend/frontend/pages/Settings/Hangar/index.vue
Due: none

chore: linting
  .gitignore
  app/frontend/frontend/core/components/AppNavigation/NavItem/index.vue
  app/frontend/frontend/lib/Router/index.ts
  package.json
  yarn.lock
Due: yarn

chore(release): new Version v5.24.0 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

Path conditions:
  yarn: any of: .gitlab-ci.yml, package.json, yarn.lock, .npmrc
  bundle: any of: .gitlab-ci.yml, Gemfile, Gemfile.lock, .ruby-version
