Repository fleetyards/fleetyards: changes, and which GitLab CI jobs are due for each by the changed paths.
All: yarn, bundle

yarn:
  stage: prep
  cache:
    key: fleetyards-cache
    paths:
    - node_modules/
    policy: pull-push
  script:
  - yarn --frozen-lockfile

bundle:
  stage: prep
  cache:
    key: fleetyards-cache
    paths:
    - vendor/bundle/
    policy: pull-push
  script:
  - bundle install

fix(compare): update speed values
  app/frontend/entrypoints/frontend.ts
  app/frontend/frontend/api/collections/Models.ts
  app/frontend/frontend/api/collections/RoadmapItems.ts
  app/frontend/frontend/api/models/Model.d.ts
  app/frontend/frontend/api/models/ModelHardpoint.d.ts
  app/frontend/frontend/api/models/RoadmapItem.d.ts
  app/frontend/frontend/components/Compare/Models/Base/index.vue
  app/frontend/frontend/components/Compare/Models/Crew/index.vue
  app/frontend/frontend/components/Compare/Models/Hardpoints/index.vue
  app/frontend/frontend/components/Compare/Models/Speed/index.vue
  app/frontend/frontend/components/Compare/Models/TopView/index.vue
  app/frontend/frontend/components/Models/Panel/index.vue
  app/frontend/frontend/components/Roadmap/RoadmapItem/index.vue
  app/frontend/frontend/core/components/AppNavigation/NavItem/index.vue
  app/frontend/frontend/core/components/Loader/index.vue
  app/frontend/frontend/core/components/Panel/PanelDetails/index.vue
  app/frontend/frontend/pages/Roadmap/Ships/index.vue
  app/frontend/frontend/pages/Roadmap/index.vue
  app/frontend/translations/en/index.ts
  app/lib/hangar_sync.rb
  package.json
  yarn.lock
Due: yarn

feat(paints): rework paint select
  app/controllers/api/v1/model_paints_controller.rb
  app/frontend/frontend/api/models/ModelPaint.d.ts
  app/frontend/frontend/api/models/Vehicle.d.ts
  app/frontend/frontend/components/Vehicles/Modal/index.vue
  app/frontend/frontend/core/components/Form/FilterGroup2/Option/index.scss
  app/frontend/frontend/core/components/Form/FilterGroup2/Option/index.vue
  app/frontend/frontend/core/components/Form/FilterGroup2/Option/types.d.ts
  app/frontend/frontend/core/components/Form/FilterGroup2/index.scss
  app/frontend/frontend/core/components/Form/FilterGroup2/index.vue
  app/frontend/frontend/core/components/Form/FilterGroup2/types.d.ts
  app/frontend/translations/en/labels.ts
  app/views/api/v1/model_paints/index.jbuilder
  config/routes/api_v1_routes.rb
  vite.config.ts
Due: none

chore(feature-flags): initial setup
  Gemfile
  Gemfile.lock
  app/controllers/api/v1/features_controller.rb
  app/frontend/frontend/api/collections/Features.ts
  app/frontend/frontend/composables/useFeatures.ts
  app/models/ability.rb
  app/models/user.rb
  app/views/api/v1/features/show.jbuilder
  app/views/layouts/admin/_nav.haml
  config/initializers/flipper.rb
  config/locales/en/main.yml
  config/routes/admin_routes.rb
  config/routes/api_v1_routes.rb
  db/migrate/20230602073113_create_flipper_tables.rb
  db/migrate/20230602084203_add_tester_to_users.rb
  db/schema.rb
  test/fixtures/users.yml
  test/models/user_test.rb
  vendor/cache/flipper-0.28.0.gem
  vendor/cache/flipper-active_record-0.28.0.gem
  vendor/cache/flipper-ui-0.28.0.gem
  vendor/cache/rack-protection-3.0.6.gem
  vendor/cache/sanitize-6.0.1.gem
Due: bundle

chore(vue3): migrate components
  app/frontend/frontend/api/models/Manufacturer.d.ts
  app/frontend/frontend/api/models/Search.d.ts
  app/frontend/frontend/components/Fleets/FilterForm/index.vue
  app/frontend/frontend/components/Models/Panel/index.vue
  app/frontend/frontend/components/Vehicles/Modal/index.vue
  app/frontend/frontend/composables/useFilters.ts
  app/frontend/frontend/notFound.js
  app/frontend/frontend/pages/Search/index.vue
  app/frontend/frontend/pages/Settings/Account/index.vue
Due: none

chore: add pride
  app/frontend/frontend/pages/Home/index.vue
  app/frontend/images/pride/logo-home.png
Due: none

fix(owner-modal): load owners of loaners
  app/frontend/frontend/api/models/Vehicle.d.ts
  app/frontend/frontend/components/Vehicles/OwnersModal/index.vue
Due: none

chore: linting
  app/frontend/frontend/api/collections/FleetVehicles.ts
Due: none

chore(release): new Version v5.25.0 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix(vehicle-owner): update owner modal
  app/frontend/frontend/components/Vehicles/OwnersModal/index.vue
Due: none

chore(release): new Version v5.25.1 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix(loaner): don't count loaners into pledge total
  app/controllers/api/v1/fleet_vehicles_controller.rb
  app/controllers/api/v1/hangar_stats_controller.rb
Due: none

chore(release): new Version v5.25.2 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix(validations): allow @ in urls
  app/frontend/frontend/plugins/Validations/rules/url/index.ts
Due: none

chore(release): new Version v5.25.3 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

feat(fleetchart): show pagination in fleetchart
  app/frontend/frontend/components/Fleetchart/App/index.vue
  app/frontend/frontend/components/Fleetchart/ListPanzoom/index.vue
  app/frontend/frontend/pages/Hangar/index.vue
  app/frontend/frontend/plugins/Validations/rules/url/index.ts
  app/frontend/stylesheets/frontend/partials/fleetchart-app.scss
Due: none

chore: reload page on routing error
  app/frontend/frontend/lib/Router/index.ts
Due: none

chore(release): new Version v5.26.0 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix(loaners): match G12 Variants to all G12 vehicles
  app/lib/rsi/loaner_loader.rb
Due: none

beta-feat('model-changelog'): add papertrail to Model to gather changelog
  app/models/model.rb
Due: none

chore(release): new Version v5.26.1 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: add vite legacy support
  package.json
  vite.config.ts
  yarn.lock
Due: yarn

chore(model-versions): add reason and description as well as author to versions
  app/controllers/admin/models_controller.rb
  app/lib/rsi/models_loader.rb
  app/lib/sc_data/ships_loader.rb
  app/models/model.rb
  app/views/admin/models/_form.haml
  db/migrate/20230703195813_add_author_and_reason_to_versions.rb
  db/schema.rb
Due: none

chore: update rails-dom-testing
  Gemfile.lock
  vendor/cache/rails-dom-testing-2.1.0.gem
  vendor/cache/rails-dom-testing-2.1.1.gem
Due: bundle

chore(release): new Version v5.26.2 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: remove vite legacy plugin
  package.json
  vite.config.ts
  yarn.lock
Due: yarn

chore: update social links and add mastodon
  app/frontend/frontend/core/components/AppFooter/index.vue
Due: none

chore(release): new Version v5.26.3 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: update footer links
  app/frontend/frontend/core/components/AppFooter/index.vue
  app/frontend/stylesheets/frontend/partials/app-footer.scss
Due: none

chore(release): new Version v5.26.4 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: update footer social links order
  app/frontend/frontend/core/components/AppFooter/index.vue
Due: none

chore: update support modal
  app/frontend/frontend/components/Support/Modal/index.vue
  app/frontend/frontend/components/Support/index.vue
  app/frontend/translations/en/texts.ts
Due: none

fix(fleet-members): update actions to allow officers to accept/decline new members
  app/frontend/frontend/api/collections/FleetMembers.ts
  app/frontend/frontend/api/models/Fleet.d.ts
  app/frontend/frontend/api/models/FleetMember.d.ts
  app/frontend/frontend/components/Fleets/MembersList/MembersListHead/index.vue
  app/frontend/frontend/components/Fleets/MembersList/MembersListItem/index.vue
  app/frontend/frontend/components/Fleets/MembersList/index.vue
  app/frontend/frontend/core/components/AppNavigation/index.vue
  app/frontend/frontend/utils/Sorting.ts
Due: none

chore(release): new Version v5.26.5 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: linting
  app/frontend/auto-imports.d.ts
Due: none

chore: update bundle
  Gemfile.lock
Due: bundle

Path conditions:
  yarn: any of: .gitlab-ci.yml, package.json, yarn.lock, .npmrc
  bundle: any of: .gitlab-ci.yml, Gemfile, Gemfile.lock, .ruby-version
