Repository fleetyards/fleetyards: changes, and which GitLab CI jobs are due for each by the changed paths.
All: yarn, bundle

.gitlab-ci.yml:

image: fleetyards/base:2.7.1

stages:
  - prep
  - test
  - build
  - e2e
  - deploy

cache: &global_cache
  key: fleetyards-cache
  paths:
    - node_modules/
    - vendor/bundle/
  policy: pull

.ruby_template:
  variables:
    BUNDLE_PATH: vendor/bundle
  before_script:
    - bundle install
    - mkdir -p log

.js_test_template:
  before_script:
    - yarn --frozen-lockfile

.ruby_test_template:
  extends: .ruby_template
  services:
    - postgres:12.2-alpine
  variables:
    RAILS_ENV: test
    POSTGRES_DB: fleetyards_test
    POSTGRES_USER: root
    POSTGRES_PASSWORD: root
    POSTGRES_HOST_AUTH_METHOD: trust
    DATABASE_HOST: postgres
    DATABASE_PORT: 5432
    DATABASE_USER: $POSTGRES_USER
    DATABASE_URL: postgresql://$POSTGRES_USER:$POSTGRES_PASSWORD@$DATABASE_HOST:$DATABASE_PORT/$POSTGRES_DB

.e2e_template:
  extends: .ruby_test_template
  image: fleetyards/ci:2.6.6
  services:
    - redis:latest
    - name: docker.elastic.co/elasticsearch/elasticsearch:7.5.2
      alias: elasticsearch
      command: ["bin/elasticsearch", "-Ediscovery.type=single-node", "-Expack.security.enabled=0", "-Ehttp.port=9200", "-Ecluster.name=fleetyards-test-cluser"]
  variables:
    DATABASE_URL: postgresql://root:root@127.0.0.1:5432/fleetyards
    ELASTICSEARCH_URL: http://elasticsearch:9200
    TEST_SEEDS: 1
    RAILS_ENV: ci
    ON_SUBDOMAIN: false
    RAILS_SERVE_STATIC_FILES: 1
    DISABLE_DATABASE_ENVIRONMENT_CHECK: 1
    CYPRESS_BASE_URL: http://localhost:8270
    APP_DIR: .
    PORT: 8270
    # transport.host: localhost
    # network.host: 127.0.0.1

yarn:
  stage: prep
  cache:
    <<: *global_cache
    paths:
      - node_modules/
    policy: pull-push
  script:
    - yarn --frozen-lockfile
  only:
    changes:
      - .gitlab-ci.yml
      - package.json
      - yarn.lock
      - .npmrc

bundle:
  stage: prep
  cache:
    <<: *global_cache
    paths:
      - vendor/bundle/
    policy: pull-push
  script:
    - bundle install
  only:
    changes:
      - .gitlab-ci.yml
      - Gemfile
      - Gemfile.lock
      - .ruby-version

ruby audit:
  stage: test
  extends: .ruby_template
  script:
    - bundle exec bundle-audit update
    - bundle exec bundle-audit check

yarn audit:
  stage: test
  extends: .js_test_template
  script:
    - yarn audit

rubocop:
  stage: test
  extends: .ruby_template
  script:
    - bundle exec rubocop --format progress

js-lint:
  stage: test
  extends: .js_test_template
  script:
    - yarn run lint:js
    - yarn run lint:vue
    - yarn run lint:style

js tests:
  stage: test
  extends: .js_test_template
  script:
    - yarn run test

ruby tests:
  stage: test
  extends: .ruby_test_template
  script:
    - ./scripts/wait-for-db.sh
    - bundle exec rails db:create db:schema:load
    - bundle exec rails test:coverage

seeds:
  stage: build
  extends: .e2e_template
  script:
    - ./scripts/wait-for-db.sh
    - bundle exec rails db:create db:schema:load
    - bundle exec rails db:seed

assets:
  stage: build
  extends: .ruby_test_template
  script:
    - RAILS_ENV=production bundle exec rails assets:precompile

feat(admin): grouped resource-access picker on the admin editor
  app/frontend/admin/pages/admins/[id]/edit.vue
  app/frontend/translations/de/labels.json
  app/frontend/translations/en/labels.json
Due: none

refactor(fleets): gate member & invite actions on membership capabilities
  app/frontend/frontend/components/Fleets/InvitesList/index.vue
  app/frontend/frontend/components/Fleets/MemberActions/Items.vue
  app/frontend/frontend/components/Fleets/MemberActions/index.vue
  app/frontend/frontend/components/Fleets/MembersList/index.vue
  app/frontend/frontend/pages/fleets/[slug]/members.vue
  app/frontend/frontend/pages/fleets/[slug]/members/index.vue
  app/frontend/frontend/pages/fleets/[slug]/members/invites.vue
  app/frontend/frontend/pages/fleets/[slug]/members/starmap.vue
  app/frontend/frontend/pages/fleets/[slug]/members/worldmap.vue
Due: none

test(admin): stub the vite dev server for the CSRF rescue test
  test/integration/admin/invalid_authenticity_token_test.rb
Due: none

chore(deps): consolidate resolutions into pnpm.overrides (#4511)
  package.json
Due: yarn

fix: six errors from AppSignal production triage (#4510)
  app/controllers/admin/application_controller.rb
  app/controllers/api/v1/fleet_notification_settings_controller.rb
  app/controllers/docs_controller.rb
  app/frontend/admin/pages/fleets/[id].vue
  app/frontend/admin/pages/fleets/destroyed/index.vue
  app/frontend/admin/pages/users/[id].vue
  app/frontend/frontend/pages/fleets/[slug]/events/[event].vue
  app/frontend/frontend/pages/fleets/[slug]/events/[event]/edit.vue
  app/frontend/frontend/pages/fleets/[slug]/events/index.vue
  app/frontend/frontend/pages/fleets/[slug]/events/new.vue
  app/frontend/frontend/pages/fleets/[slug]/logistics/index.vue
  app/frontend/frontend/pages/fleets/[slug]/logistics/inventories/[inventory].vue
  app/frontend/frontend/pages/fleets/[slug]/logistics/inventories/[inventory]/[item].vue
  app/frontend/frontend/pages/fleets/[slug]/members/index.vue
  app/frontend/frontend/pages/fleets/[slug]/members/invites.vue
  app/frontend/frontend/pages/fleets/[slug]/members/starmap.vue
  app/frontend/frontend/pages/fleets/[slug]/members/worldmap.vue
  app/frontend/frontend/pages/fleets/[slug]/missions/[mission].vue
  app/frontend/frontend/pages/fleets/[slug]/missions/[mission]/edit.vue
  app/frontend/frontend/pages/fleets/[slug]/missions/index.vue
  app/frontend/frontend/pages/fleets/[slug]/missions/new.vue
  app/frontend/frontend/pages/fleets/[slug]/settings.vue
  app/frontend/frontend/pages/fleets/[slug]/stats.vue
  app/frontend/frontend/pages/hangar/[id].vue
  app/frontend/frontend/pages/hangar/[id]/cargo/[item].vue
  app/frontend/frontend/pages/hangar/inventories/[inventory].vue
  app/frontend/frontend/pages/hangar/inventories/[inventory]/[item].vue
  app/frontend/frontend/pages/settings/calendar.vue
  app/frontend/frontend/pages/ships/[slug]/images.vue
  app/frontend/frontend/pages/ships/[slug]/index.vue
  app/frontend/frontend/pages/ships/[slug]/videos.vue
  app/jobs/notifications/admin_job.rb
  app/models/compare_image.rb
  test/integration/admin/invalid_authenticity_token_test.rb
  test/integration/docs_cross_origin_test.rb
  test/integration/fleet_notification_settings_race_test.rb
  test/jobs/notifications/admin_job_test.rb
  test/models/compare_image_test.rb
Due: none

chore(deps): drop overrides that no longer affect resolution
  package.json
  pnpm-lock.yaml
Due: yarn

chore(api): regenerate schema for the new fleet privilege groups
  swagger/admin/v1/schema.yaml
  swagger/v1/schema.yaml
Due: none

chore(api): record the resourceAccess typing as intentional
  swagger/admin/v1/oasdiff-ignore.txt
  swagger/v1/oasdiff-ignore.txt
Due: none

refactor(fleets): gate logistics & nav on membership capabilities
  app/frontend/frontend/components/Navigation/FleetNav/index.vue
  app/frontend/frontend/pages/fleets/[slug]/logistics.vue
  app/frontend/frontend/pages/fleets/[slug]/logistics/index.vue
  app/frontend/frontend/pages/fleets/[slug]/logistics/inventories/[inventory].vue
  app/frontend/frontend/pages/fleets/[slug]/logistics/inventories/[inventory]/[item].vue
Due: none

chore(deps): drop overrides that no longer affect resolution (#4515)
  package.json
  pnpm-lock.yaml
Due: yarn

fix(cargo-holds): keep a curated offset on the hold it was set on
  app/models/concerns/derived_cargo_holds.rb
  app/models/model.rb
  app/models/model_module.rb
  test/models/concerns/derived_cargo_holds_test.rb
Due: none

chore(deps): move pnpm settings to pnpm-workspace.yaml
  package.json
  pnpm-workspace.yaml
Due: yarn

fix(deps): scope the pnpm workspace to the repo root
  pnpm-workspace.yaml
Due: none

fix(cargo-holds): keep a curated offset on the hold it was set on (#4517)
  app/models/concerns/derived_cargo_holds.rb
  app/models/model.rb
  app/models/model_module.rb
  test/models/concerns/derived_cargo_holds_test.rb
Due: none

chore(deps): move pnpm settings to pnpm-workspace.yaml (#4518)
  package.json
  pnpm-workspace.yaml
Due: yarn

fix(deps): pin the pnpm version for Dependabot
  package.json
Due: yarn

fix(deps): pin the pnpm version for Dependabot (#4519)
  package.json
Due: yarn

chore(ci): install pnpm from packageManager and fix the JS cache
  .github/workflows/js-setup-action/action.yml
  .github/workflows/ruby-tests.job.yml
Due: none

chore(ci): install pnpm from packageManager and fix the JS cache (#4521)
  .github/workflows/js-setup-action/action.yml
  .github/workflows/ruby-tests.job.yml
Due: none

refactor(cable): broadcast objects instead of pre-serialized JSON
  app/jobs/notifications/app_version_job.rb
  app/jobs/notifications/model_on_sale_job.rb
  app/lib/hangar_sync.rb
  app/models/admin_notification.rb
  app/models/application_record.rb
  app/models/fleet_membership.rb
  app/models/hangar_group.rb
  app/models/import.rb
  app/models/model.rb
  app/models/notification.rb
  app/models/vehicle.rb
  test/jobs/notifications/app_version_job_test.rb
  test/models/import_test.rb
Due: none

feat(cable): describe every channel with an AsyncAPI document
  Gemfile
  Gemfile.lock
  app/api_components/cable/v1/schemas/announcement_message.rb
  app/api_components/cable/v1/schemas/announcement_type_enum.rb
  app/api_components/cable/v1/schemas/app_version_message.rb
  app/api_components/cable/v1/schemas/hangar_sync_failed_message.rb
  app/api_components/cable/v1/schemas/hangar_sync_finished_message.rb
  app/api_components/v1/schemas/hangar/hangar_sync_result.rb
  asyncapi/cable/admin/v1/schema.yaml
  asyncapi/cable/v1/schema.yaml
  bin/generate-asyncapi
  config/initializers/asyncapi_cable.rb
  config/initializers/openapi_ruby.rb
  test/asyncapi/admin_notifications_channel_test.rb
  test/asyncapi/app_version_channel_test.rb
  test/asyncapi/fleet_members_channel_test.rb
  test/asyncapi/fleet_vehicles_channel_test.rb
  test/asyncapi/hangar_channel_test.rb
  test/asyncapi/hangar_create_channel_test.rb
  test/asyncapi/hangar_destroy_channel_test.rb
  test/asyncapi/hangar_sync_channel_test.rb
  test/asyncapi/imports_channel_test.rb
  test/asyncapi/models_channel_test.rb
  test/asyncapi/notifications_channel_test.rb
  test/asyncapi/on_sale_channel_test.rb
  test/asyncapi/on_sale_hangar_channel_test.rb
  test/asyncapi/user_notifications_channel_test.rb
  test/asyncapi/wishlist_channel_test.rb
  test/asyncapi/wishlist_create_channel_test.rb
  test/asyncapi/wishlist_destroy_channel_test.rb
  test/asyncapi_helper.rb
  vendor/cache/asyncapi_cable-0.2.0.gem
Due: bundle

feat(frontend): take cable payloads as objects and type them from the contract
  .gitignore
  app/frontend/admin/composables/useAdminNotificationUpdates.ts
  app/frontend/admin/composables/useImportUpdates.ts
  app/frontend/frontend/components/Hangar/SyncBtn/Modal/index.vue
  app/frontend/frontend/composables/useUpdates.ts
  app/frontend/shared/composables/useSubscription.ts
  bin/generate-cable-client
  cable.config.mjs
  package.json
  pnpm-lock.yaml
Due: yarn

refactor(sc_data): resolve the build through one object
  app/controllers/api/v1/components_controller.rb
  app/jobs/loaders/sc_data/all_job.rb
  app/jobs/loaders/sc_data/models_job.rb
  app/jobs/sc_data/check_job.rb
  app/lib/sc_data/loader/base_loader.rb
  app/lib/sc_data/source.rb
  app/models/commodity.rb
  app/models/component.rb
  app/models/concerns/inventory_ledger_entry.rb
  app/models/concerns/sc_data_versioned.rb
  app/models/equipment.rb
  app/tasks/maintenance/move_export_logos_to_icon_task.rb
  bin/scdata
  test/lib/sc_data/source_test.rb
Due: none

ci(cable): fail when a committed AsyncAPI document drifts
  .github/workflows/api-schema-check.job.yml
  asyncapi/cable/v1/schema.yaml
Due: none

refactor(sc_data): route every loader write through one seam
  app/lib/sc_data/loader/base_loader.rb
  app/lib/sc_data/loader/commodities_loader.rb
  app/lib/sc_data/loader/equipment_loader.rb
  app/lib/sc_data/loader/items_loader.rb
  app/lib/sc_data/loader/manufacturers_loader.rb
  app/lib/sc_data/loader/model_modules_loader.rb
  app/lib/sc_data/loader/models_loader.rb
  test/loaders/sc_data/base_loader_apply_test.rb
Due: none

feat(sc_data): keep what a load did on its import
  app/jobs/loaders/sc_data/all_job.rb
  app/jobs/loaders/sc_data/model_job.rb
  app/jobs/loaders/sc_data/models_job.rb
  app/lib/sc_data/loader/base_loader.rb
  test/jobs/loaders/sc_data/all_job_test.rb
  test/jobs/loaders/sc_data/model_job_test.rb
  test/support/import_wrapping_job_tests.rb
Due: none

fix(admin-api): type the import payloads as the objects they are
  app/api_components/admin/v1/schemas/import.rb
  app/frontend/admin/pages/maintenance/imports/[id].vue
  asyncapi/cable/admin/v1/schema.yaml
  swagger/admin/v1/oasdiff-ignore.txt
  swagger/admin/v1/schema.yaml
Due: none

refactor(sc_data): resolve the build through one object (#4512)
  app/controllers/api/v1/components_controller.rb
  app/jobs/loaders/sc_data/all_job.rb
  app/jobs/loaders/sc_data/models_job.rb
  app/jobs/sc_data/check_job.rb
  app/lib/sc_data/loader/base_loader.rb
  app/lib/sc_data/source.rb
  app/models/commodity.rb
  app/models/component.rb
  app/models/concerns/inventory_ledger_entry.rb
  app/models/concerns/sc_data_versioned.rb
  app/models/equipment.rb
  app/tasks/maintenance/move_export_logos_to_icon_task.rb
  bin/scdata
  test/lib/sc_data/source_test.rb
Due: none

refactor(sc_data): route every loader write through one seam (#4514)
  app/jobs/loaders/sc_data/all_job.rb
  app/jobs/loaders/sc_data/model_job.rb
  app/jobs/loaders/sc_data/models_job.rb
  app/lib/sc_data/loader/base_loader.rb
  app/lib/sc_data/loader/commodities_loader.rb
  app/lib/sc_data/loader/equipment_loader.rb
  app/lib/sc_data/loader/items_loader.rb
  app/lib/sc_data/loader/manufacturers_loader.rb
  app/lib/sc_data/loader/model_modules_loader.rb
  app/lib/sc_data/loader/models_loader.rb
  test/jobs/loaders/sc_data/all_job_test.rb
  test/jobs/loaders/sc_data/model_job_test.rb
  test/loaders/sc_data/base_loader_apply_test.rb
  test/support/import_wrapping_job_tests.rb
Due: none

fix(admin-api): type the import payloads as the objects they are (#4524)
  app/api_components/admin/v1/schemas/import.rb
  app/frontend/admin/pages/maintenance/imports/[id].vue
  asyncapi/cable/admin/v1/schema.yaml
  swagger/admin/v1/oasdiff-ignore.txt
  swagger/admin/v1/schema.yaml
Due: none

refactor(sc_data): separate resolving a loadout from writing it
  app/lib/sc_data/loader/base_loader.rb
  test/loaders/sc_data/base_loader_loadout_test.rb
  test/loaders/sc_data/base_loader_resolution_test.rb
Due: none

feat(sc_data): give equipment a row per build
  app/lib/sc_data/loader/base_loader.rb
  app/lib/sc_data/loader/equipment_loader.rb
  app/models/equipment.rb
  app/models/equipment_build.rb
  app/services/manufacturers/deduplicator.rb
  db/data/20260825120100_backfill_equipment_builds.rb
  db/data_schema.rb
  db/migrate/20260825120000_create_equipment_builds.rb
  db/schema.rb
  test/factories/equipment_builds.rb
  test/loaders/sc_data/base_loader_apply_build_test.rb
  test/models/equipment_build_test.rb
  test/services/manufacturers/deduplicator_test.rb
Due: none

feat(cable): raise on a payload mismatch in tests
  config/initializers/asyncapi_cable.rb
Due: none

fix(cable): give the hangar group ping a shape of its own
  app/api_components/cable/v1/schemas/hangar_group_changed_message.rb
  app/models/hangar_group.rb
  asyncapi/cable/v1/schema.yaml
  test/asyncapi/hangar_channel_test.rb
Due: none

test(cable): build fixtures the documented contract allows
  test/models/concerns/derived_cargo_holds_test.rb
  test/models/fleet_membership_test.rb
Due: none

fix(cargo-holds): stop serving holds that were never projected into rows
  app/api_components/shared/v1/schemas/cargo_hold.rb
  app/models/concerns/derived_cargo_holds.rb
  asyncapi/cable/v1/schema.yaml
  swagger/admin/v1/oasdiff-ignore.txt
  swagger/admin/v1/schema.yaml
  swagger/v1/oasdiff-ignore.txt
  swagger/v1/schema.yaml
Due: none

feat(sc_data): mirror the parsed tree to object storage
  .env.tpl
  app/lib/sc_data/parsed_store.rb
  bin/scdata
  test/lib/sc_data/parsed_store_test.rb
Due: none
