Repository fleetyards/fleetyards: changes, and which GitLab CI jobs are due for each by the changed paths.
All: yarn, bundle

.gitlab-ci.yml:

image: fleetyards/base:2.7.1

stages:
  - prep
  - test
  - build
  - e2e
  - deploy

cache: &global_cache
  key: fleetyards-cache
  paths:
    - node_modules/
    - vendor/bundle/
  policy: pull

.ruby_template:
  variables:
    BUNDLE_PATH: vendor/bundle
  before_script:
    - bundle install
    - mkdir -p log

.js_test_template:
  before_script:
    - yarn --frozen-lockfile

.ruby_test_template:
  extends: .ruby_template
  services:
    - postgres:12.2-alpine
  variables:
    RAILS_ENV: test
    POSTGRES_DB: fleetyards_test
    POSTGRES_USER: root
    POSTGRES_PASSWORD: root
    POSTGRES_HOST_AUTH_METHOD: trust
    DATABASE_HOST: postgres
    DATABASE_PORT: 5432
    DATABASE_USER: $POSTGRES_USER
    DATABASE_URL: postgresql://$POSTGRES_USER:$POSTGRES_PASSWORD@$DATABASE_HOST:$DATABASE_PORT/$POSTGRES_DB

.e2e_template:
  extends: .ruby_test_template
  image: fleetyards/ci:2.6.6
  services:
    - redis:latest
    - name: docker.elastic.co/elasticsearch/elasticsearch:7.5.2
      alias: elasticsearch
      command: ["bin/elasticsearch", "-Ediscovery.type=single-node", "-Expack.security.enabled=0", "-Ehttp.port=9200", "-Ecluster.name=fleetyards-test-cluser"]
  variables:
    DATABASE_URL: postgresql://root:root@127.0.0.1:5432/fleetyards
    ELASTICSEARCH_URL: http://elasticsearch:9200
    TEST_SEEDS: 1
    RAILS_ENV: ci
    ON_SUBDOMAIN: false
    RAILS_SERVE_STATIC_FILES: 1
    DISABLE_DATABASE_ENVIRONMENT_CHECK: 1
    CYPRESS_BASE_URL: http://localhost:8270
    APP_DIR: .
    PORT: 8270
    # transport.host: localhost
    # network.host: 127.0.0.1

yarn:
  stage: prep
  cache:
    <<: *global_cache
    paths:
      - node_modules/
    policy: pull-push
  script:
    - yarn --frozen-lockfile
  only:
    changes:
      - .gitlab-ci.yml
      - package.json
      - yarn.lock
      - .npmrc

bundle:
  stage: prep
  cache:
    <<: *global_cache
    paths:
      - vendor/bundle/
    policy: pull-push
  script:
    - bundle install
  only:
    changes:
      - .gitlab-ci.yml
      - Gemfile
      - Gemfile.lock
      - .ruby-version

ruby audit:
  stage: test
  extends: .ruby_template
  script:
    - bundle exec bundle-audit update
    - bundle exec bundle-audit check

yarn audit:
  stage: test
  extends: .js_test_template
  script:
    - yarn audit

rubocop:
  stage: test
  extends: .ruby_template
  script:
    - bundle exec rubocop --format progress

js-lint:
  stage: test
  extends: .js_test_template
  script:
    - yarn run lint:js
    - yarn run lint:vue
    - yarn run lint:style

js tests:
  stage: test
  extends: .js_test_template
  script:
    - yarn run test

ruby tests:
  stage: test
  extends: .ruby_test_template
  script:
    - ./scripts/wait-for-db.sh
    - bundle exec rails db:create db:schema:load
    - bundle exec rails test:coverage

seeds:
  stage: build
  extends: .e2e_template
  script:
    - ./scripts/wait-for-db.sh
    - bundle exec rails db:create db:schema:load
    - bundle exec rails db:seed

assets:
  stage: build
  extends: .ruby_test_template
  script:
    - RAILS_ENV=production bundle exec rails assets:precompile

refactor: migrate from sidekiq-cron to sidekiq-scheduler and fix scdata setup
  Gemfile
  Gemfile.lock
  config/initializers/sidekiq.rb
  config/sidekiq_schedule.yml
  lib/tasks/scdata.thor
  vendor/cache/cronex-0.15.0.gem
  vendor/cache/sidekiq-cron-2.3.1.gem
  vendor/cache/unicode-0.4.4.5.gem
Due: bundle

refactor: migrate from sidekiq-cron to sidekiq-scheduler
  config/initializers/sidekiq.rb
  config/sidekiq_schedule.yml
  vendor/cache/rufus-scheduler-3.9.2.gem
  vendor/cache/sidekiq-scheduler-6.0.1.gem
Due: none

fix: update sc_data loader test expectations to match current data
  spec/loaders/sc_data/items_loader_spec.rb
  spec/loaders/sc_data/manufacturers_loader_spec.rb
Due: none

fix: update staging Postmark credentials
  config/credentials/staging.yml.enc
Due: none

feat: add GitHub Actions release system with pre-release support
  .github/scripts/generate-changelog.sh
  .github/workflows/main.yml
  .github/workflows/prepare-release.yml
  .github/workflows/promote-release.yml
  .github/workflows/release.yml
Due: none

fix: use RELEASE_TOKEN to bypass branch protection in release workflows
  .github/workflows/prepare-release.yml
  .github/workflows/promote-release.yml
Due: none

chore: add Claude Code skills for resolving import issues
  .claude/skills/resolve-loaners-import/SKILL.md
  .claude/skills/resolve-modules-import/SKILL.md
  .claude/skills/resolve-paints-import/SKILL.md
  .gitignore
Due: none

feat(ci): auto-detect semver bump from conventional commits in prepare-release
  .github/workflows/prepare-release.yml
Due: none

fix(ci): use RELEASE_TOKEN for releases and add chore commits to changelog
  .github/scripts/generate-changelog.sh
  .github/workflows/prepare-release.yml
  .github/workflows/promote-release.yml
  .versionrc
Due: none

fix(ci): skip version bump when creating additional RCs in same cycle
  .github/workflows/prepare-release.yml
Due: none

feat(ci): add hotfix support to prepare-release workflow
  .github/workflows/prepare-release.yml
Due: none

feat: add bin/create-hotfix script for local hotfix branch setup
  bin/create-hotfix
Due: none

fix(ci): pass secrets to build job in release workflow
  .github/workflows/release.yml
Due: none

fix: reset version to v5.33.2 after deleting RC releases
  config/version.rb
  package.json
Due: yarn

refactor(ci): detect hotfix from branch name instead of manual input
  .github/workflows/prepare-release.yml
Due: none

fix(ci): read Ruby version from .tool-versions for Docker build
  .github/workflows/build.job.yml
Due: none

Remove Bootstrap component imports, replace with custom components
  app/frontend/admin/components/ImageUploader/ImageRow/index.vue
  app/frontend/admin/components/ImageUploader/index.vue
  app/frontend/frontend/pages/settings/security/index.vue
  app/frontend/shared/components/BreadCrumbs/index.scss
  app/frontend/shared/components/UploadProgress/index.scss
  app/frontend/shared/components/UploadProgress/index.vue
  app/frontend/stylesheets/shared/bootstrap-custom.scss
  docs/exec-plans/remove-bootstrap.md
Due: none

Remove unused i18n-js Ruby gem
  Gemfile
  Gemfile.lock
  vendor/cache/i18n-js-3.9.2.gem
Due: bundle

feat: add percentage-based rollouts to admin feature flags UI
  app/api_components/admin/v1/schemas/feature.rb
  app/api_components/admin/v1/schemas/inputs/feature_percentage_input.rb
  app/controllers/admin/api/v1/features_controller.rb
  app/frontend/admin/pages/maintenance/features.vue
  app/frontend/translations/en/headlines.json
  app/frontend/translations/en/labels.json
  app/views/admin/api/v1/features/_feature.jbuilder
  config/routes/admin/api/v1_routes.rb
  spec/requests/admin/api/v1/features/enable_percentage_of_actors_spec.rb
  spec/requests/admin/api/v1/features/enable_percentage_of_time_spec.rb
  swagger/admin/v1/schema.yaml
Due: none

feat: remove flipper-ui gem in favor of custom admin UI
  Gemfile
  Gemfile.lock
  config/routes/admin_routes.rb
  vendor/cache/flipper-ui-1.4.0.gem
  vendor/cache/nokogiri-1.19.2-x86_64-linux-gnu.gem
  vendor/cache/sanitize-7.0.0.gem
Due: bundle

fix: lint issues in percentage rollout code
  app/controllers/admin/api/v1/features_controller.rb
  app/frontend/admin/pages/maintenance/features.vue
Due: none

Fix prettier formatting
  app/frontend/admin/components/ImageUploader/ImageRow/index.vue
  app/frontend/admin/components/ImageUploader/index.vue
  app/frontend/shared/components/UploadProgress/index.vue
  docs/exec-plans/remove-bootstrap.md
Due: none

fix: migrate vite config for v8 (Rolldown)
  package.json
  pnpm-lock.yaml
  vite.config.email.ts
  vite.config.ts
Due: yarn

fix: remove bootstrap print styles from embed to fix lightningcss build
  app/frontend/stylesheets/embed/bootstrap-custom.scss
Due: none

fix: suppress vite-plugin-pwa peer dependency warning for vite 8
  package.json
Due: yarn

fix: remove brittle edit-section count assertion from e2e test
  spec/playwright/e2e/AdminFeatures.spec.ts
Due: none

Add percentage-based rollouts to admin feature flags (#3551)
  Gemfile
  Gemfile.lock
  app/api_components/admin/v1/schemas/feature.rb
  app/api_components/admin/v1/schemas/inputs/feature_percentage_input.rb
  app/controllers/admin/api/v1/features_controller.rb
  app/frontend/admin/pages/maintenance/features.vue
  app/frontend/translations/en/headlines.json
  app/frontend/translations/en/labels.json
  app/views/admin/api/v1/features/_feature.jbuilder
  config/routes/admin/api/v1_routes.rb
  config/routes/admin_routes.rb
  spec/playwright/e2e/AdminFeatures.spec.ts
  spec/requests/admin/api/v1/features/enable_percentage_of_actors_spec.rb
  spec/requests/admin/api/v1/features/enable_percentage_of_time_spec.rb
  swagger/admin/v1/schema.yaml
  vendor/cache/flipper-ui-1.4.0.gem
  vendor/cache/nokogiri-1.19.2-x86_64-linux-gnu.gem
  vendor/cache/sanitize-7.0.0.gem
Due: bundle

Fix exhaustive-deps lint after tanstack-query 5.95.0 upgrade
  app/frontend/shared/components/base/FilterGroup/index.vue
Due: none

Fix tsc error for @tresjs/core 5.8.0 upgrade
  app/frontend/shared/components/HoloViewer/index.vue
Due: none

Update @tresjs/cientos 5.1.0 → 5.7.0
  package.json
  pnpm-lock.yaml
Due: yarn

Fix package.json versions to match lockfile after merge
  package.json
Due: yarn

fix(frontend): Add missing component to admin maintenance route
  app/frontend/admin/pages/maintenance.vue
  app/frontend/admin/pages/routes.ts
Due: none

Add Dependabot configuration for automated dependency updates
  .github/dependabot.yml
Due: none

Group playwright packages in Dependabot to prevent version mismatches
  .github/dependabot.yml
Due: none

Remove unused motion-v dependency
  package.json
  pnpm-lock.yaml
Due: yarn

Add maintenance mode page and toggle script
  .kamal/maintenance
  .kamal/maintenance.html
Due: none
