Repository fleetyards/fleetyards: changes, and which GitLab CI jobs are due for each by the changed paths.
All: yarn, bundle

yarn:
  stage: prep
  cache:
    key: fleetyards-cache
    paths:
    - node_modules/
    policy: pull-push
  script:
  - yarn --frozen-lockfile

bundle:
  stage: prep
  cache:
    key: fleetyards-cache
    paths:
    - vendor/bundle/
    policy: pull-push
  script:
  - bundle install

chore: disallow google floc user tracking
  config/application.rb
Due: none

chore: rubocoptering
  config/application.rb
Due: none

chore: update seeds
  app/models/shop.rb
  config/locales/en/activerecord.yml
  db/seeds/01_stanton/01_crusader/01_crusader.rb
  db/seeds/01_stanton/04_microtech/01_microtech.rb
  db/seeds/images/stanton/crusader/orison/02_WhaleArt_Crop_FINAL-Min.jpg
  db/seeds/images/stanton/crusader/orison/main.jpg
  vendor/cache/devise-two-factor-4.0.1.gem
Due: none

chore(release): new Version v4.12.5 (Mercury) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: update seeds
  db/seeds/01_stanton/01_crusader/01_crusader.rb
  db/seeds/01_stanton/02_hurston/01a_everus.rb
  db/seeds/01_stanton/02_hurston/07_hur_l1.rb
  db/seeds/01_stanton/03_arccorp/01a_baijini.rb
  db/seeds/01_stanton/03_arccorp/04_arc_l1.rb
  db/seeds/01_stanton/04_microtech/01a_porttressler.rb
  db/seeds/01_stanton/04_microtech/05_mic_l1.rb
  db/seeds/images/stanton/crusader/orison/01_Hab_Exterior_Crop_FINAL-Min.jpg
Due: none

chore(release): new Version v4.12.6 (Mercury) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix: e2e specs for smoke test
  test/javascript/e2e/specs/Stations.spec.js
Due: none

chore(release): new Version v4.12.7 (Mercury) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix: e2e specs
  test/javascript/e2e/specs/Stations.spec.js
Due: none

fix: audit issues
  .circleci/config.yml
  app/packs/frontend/components/Shops/ShopItemRow/index.vue
  package.json
  yarn.lock
Due: yarn

chore: update missing loaner mails
  app/jobs/loaders/loaner_job.rb
  app/mailers/admin_mailer.rb
  app/views/admin_mailer/missing_loaners.html.inky
  test/mailers/previews/admin_mailer_preview.rb
Due: none

chore: add missing models to map for loaner loader
  app/lib/rsi/loaner_loader.rb
Due: none

chore(release): new Version v4.12.8 (Mercury) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix: loaner icon purchased click
  app/packs/frontend/components/Models/Panel/index.vue
Due: none

chore(release): new Version v4.12.9 (Mercury) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: hide removed items from roadmap and allow users to toggle them
  app/controllers/api/v1/roadmap_controller.rb
  app/packs/frontend/pages/Roadmap/index.vue
  app/packs/translations/en/actions.js
Due: none

chore(release): new Version v4.12.10 (Mercury) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: remove storybook
  .storybook/addons.js
  .storybook/addons/background.js
  .storybook/config.js
  .storybook/webpack.config.js
  app/packs/embed/components/Btn/__story__/index.js
  app/packs/embed/components/Btn/__story__/notes.md
  app/packs/embed/components/Loader/__story__/index.js
  app/packs/embed/components/Panel/__story__/index.js
  app/packs/frontend/components/Models/Panel/__story__/index.js
  app/packs/frontend/core/components/Box/__story__/index.js
  app/packs/frontend/core/components/Btn/__story__/index.js
  app/packs/frontend/core/components/Btn/__story__/notes.md
  app/packs/frontend/core/components/Chart/__story__/index.js
  app/packs/frontend/core/components/Loader/__story__/index.js
  app/packs/frontend/core/components/Panel/__story__/index.js
  app/packs/frontend/core/components/SmallLoader/__story__/index.js
  app/packs/frontend/core/components/TeaserPanel/__story__/index.js
  package.json
  yarn.lock
Due: yarn

chore: remove vuepress
  package.json
  yarn.lock
Due: yarn

chore: remove storybook (#1766)
  .storybook/addons.js
  .storybook/addons/background.js
  .storybook/config.js
  .storybook/webpack.config.js
  app/packs/embed/components/Btn/__story__/index.js
  app/packs/embed/components/Btn/__story__/notes.md
  app/packs/embed/components/Loader/__story__/index.js
  app/packs/embed/components/Panel/__story__/index.js
  app/packs/frontend/components/Models/Panel/__story__/index.js
  app/packs/frontend/core/components/Box/__story__/index.js
  app/packs/frontend/core/components/Btn/__story__/index.js
  app/packs/frontend/core/components/Btn/__story__/notes.md
  app/packs/frontend/core/components/Chart/__story__/index.js
  app/packs/frontend/core/components/Loader/__story__/index.js
  app/packs/frontend/core/components/Panel/__story__/index.js
  app/packs/frontend/core/components/SmallLoader/__story__/index.js
  app/packs/frontend/core/components/TeaserPanel/__story__/index.js
  package.json
  yarn.lock
Due: yarn

chore: bump rubocop-rails
  Gemfile.lock
  vendor/cache/rubocop-rails-2.12.0.gem
  vendor/cache/rubocop-rails-2.12.1.gem
Due: bundle

chore: update hangar import
  app/lib/hangar_importer.rb
Due: none

fix: specs
  test/fixtures/imports/hangarXPLOR.json
Due: none

chore: bump rubocop
  Gemfile.lock
  vendor/cache/parallel-1.20.1.gem
  vendor/cache/parallel-1.21.0.gem
  vendor/cache/rubocop-rails-2.12.1.gem
  vendor/cache/rubocop-rails-2.12.2.gem
Due: bundle

chore: rubocoptering
  app/models/fleet.rb
  app/models/starsystem.rb
  app/models/user.rb
Due: none

chore(release): new Version v4.12.11 (Mercury) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: rubocoptering
  app/controllers/api/base_controller.rb
  config/initializers/rack_attack.rb
Due: none

fix: price detection in rsi models loader
  app/lib/rsi/models_loader.rb
Due: none

chore(release): new Version v4.12.12 (Mercury) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix: parse dollar formated string
  app/lib/rsi/models_loader.rb
Due: none

chore(release): new Version v4.12.13 (Mercury) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: rubocoptering
  app/lib/rsi/models_loader.rb
Due: none

fix: update readme for embed view
  docs/embed/README.md
  public/docs/v1.html
Due: none

chore(release): new Version v4.12.14 (Mercury) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

feat: add detail modal to roadmap items
  app/packs/frontend/components/Roadmap/RoadmapItem/Modal/index.vue
  app/packs/frontend/components/Roadmap/RoadmapItem/index.vue
  app/packs/stylesheets/frontend/partials/roadmap.scss
Due: none

chore(release): new Version v4.13.0 (Mercury) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: update roadmap items
  app/packs/frontend/components/Roadmap/RoadmapItem/Modal/index.vue
  app/packs/frontend/components/Roadmap/RoadmapItem/index.vue
  app/packs/frontend/core/components/AppModal/index.vue
  app/packs/frontend/pages/Roadmap/Changes/index.vue
  app/packs/frontend/pages/Roadmap/index.vue
  app/packs/stylesheets/frontend/partials/roadmap.scss
Due: none

chore(release): new Version v4.13.1 (Mercury) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix: base_uploader issue with local uploads
  app/uploaders/base_uploader.rb
  app/uploaders/holo_uploader.rb
Due: none

Path conditions:
  yarn: any of: .gitlab-ci.yml, package.json, yarn.lock, .npmrc
  bundle: any of: .gitlab-ci.yml, Gemfile, Gemfile.lock, .ruby-version
