Repository fleetyards/fleetyards: changes, and which GitLab CI jobs are due for each by the changed paths.
All: yarn, bundle

yarn:
  stage: prep
  cache:
    key: fleetyards-cache
    paths:
    - node_modules/
    policy: pull-push
  script:
  - yarn --frozen-lockfile

bundle:
  stage: prep
  cache:
    key: fleetyards-cache
    paths:
    - vendor/bundle/
    policy: pull-push
  script:
  - bundle install

chore: cleanup tracking data and create metrics every month
  Gemfile
  Gemfile.lock
  app/controllers/api/v1/users_controller.rb
  app/jobs/cleanup/user_visits_job.rb
  app/jobs/cleanup/visits_job.rb
  app/jobs/metrics_job.rb
  config/schedule.yml
  db/migrate/20210425121952_create_rollups.rb
  db/schema.rb
  vendor/cache/rollups-0.1.1.gem
Due: bundle

chore: use new time based data in stats endpoints
  app/controllers/admin/api/v1/stats_controller.rb
  app/controllers/api/v1/stats_controller.rb
  app/jobs/cleanup/visits_job.rb
  config/schedule.yml
Due: none

chore: Cleanup Tracking and save time based metrics with rollup (#1461)
  Gemfile
  Gemfile.lock
  app/controllers/admin/api/v1/stats_controller.rb
  app/controllers/api/v1/stats_controller.rb
  app/controllers/api/v1/users_controller.rb
  app/jobs/cleanup/user_visits_job.rb
  app/jobs/cleanup/visits_job.rb
  app/jobs/metrics_job.rb
  config/schedule.yml
  db/migrate/20210425121952_create_rollups.rb
  db/schema.rb
  vendor/cache/rollups-0.1.1.gem
Due: bundle

chore: disable stylelint no-invalid-position-at-import-rule
  package.json
  stylelint.config.js
  yarn.lock
Due: yarn

chore(release): new Version v4.10.3 (Mercury) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: add app signal
  Capfile
  Gemfile
  Gemfile.lock
  app/packs/frontend/pages/Impressum/index.vue
  app/packs/translations/en/sublines.js
  app/packs/translations/en/texts.js
  config/appsignal.yml
  vendor/cache/appsignal-3.0.3.gem
Due: bundle

chore: add deploy marker for production
  .circleci/config.yml
  config/appsignal.yml
Due: none

chore(release): new Version v4.10.4 (Mercury) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: update deployment to cleanup bundle and assets
  config/deploy.rb
Due: none

chore: ignore errors
  config/appsignal.yml
Due: none

chore: ignore even more errors
  config/appsignal.yml
Due: none

chore: dont use web concurrency for phased restarts
  config/puma.rb
Due: none

chore: use reload to allow for phased restarts
  config/deploy.rb
Due: none

chore: add images to precache manifest
  app/views/frontend/precache_manifest.js.erb
Due: none

chore(release): new Version v4.10.5 (Mercury) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix: appsignal deploy hook
  .circleci/config.yml
Due: none

chore: update impressum
  app/packs/frontend/core/components/PrivacySettings/index.vue
  app/packs/frontend/pages/Impressum/index.vue
  app/packs/translations/en/privacySettings.js
  app/packs/translations/en/texts.js
Due: none

chore(release): new Version v4.10.6 (Mercury) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix: admin shop commodities
  app/controllers/admin/api/v1/shop_commodities_controller.rb
  app/controllers/api/v1/shop_commodities_controller.rb
  app/models/shop_commodity.rb
  app/packs/admin/api/client.ts
  app/packs/admin/api/collections/Commodities.ts
  app/packs/admin/api/collections/CommodityPriceConfirmations.ts
  app/packs/admin/api/collections/CommodityPrices.ts
  app/packs/admin/api/collections/ComponentClassFilters.ts
  app/packs/admin/api/collections/ComponentItemTypeFilters.ts
  app/packs/admin/api/collections/Components.ts
  app/packs/admin/api/collections/Equipment.ts
  app/packs/admin/api/collections/EquipmentItemTypeFilters.ts
  app/packs/admin/api/collections/Images.ts
  app/packs/admin/api/collections/ModelModules.ts
  app/packs/admin/api/collections/ModelPaints.ts
  app/packs/admin/api/collections/Models.ts
  app/packs/admin/api/collections/ShopCommodities.ts
  app/packs/admin/api/collections/ShopCommodityConfirmations.ts
  app/packs/admin/api/models/ShopCommodity.d.ts
  app/packs/admin/components/ShopCommodities/FilterForm/index.vue
  app/packs/admin/pages/Shops/Commodities/index.vue
  app/packs/entrypoints/admin.ts
  app/packs/frontend/api/client.ts
  app/packs/frontend/components/Fleets/FilterForm/index.vue
  app/packs/frontend/components/Models/FilterForm/index.vue
  app/packs/frontend/components/Stations/FilterForm/index.vue
  app/packs/frontend/components/Vehicles/FilterForm/index.vue
  app/packs/frontend/core/components/FilteredList/index.vue
  app/packs/frontend/core/components/Form/FilterGroup/index.vue
  app/packs/frontend/pages/Hangar/index.vue
  app/packs/frontend/utils/FilterOptions.ts
  app/packs/frontend/utils/Filters.ts
  config/initializers/filter_parameter_logging.rb
  db/seeds/01_stanton/04_microtech/01_microtech.rb
Due: none

fix: admin views and shop commodities listing
  app/controllers/admin/api/v1/commodity_prices_controller.rb
  app/controllers/admin/api/v1/shop_commodities_controller.rb
  app/models/component.rb
  app/models/shop_commodity.rb
  app/packs/admin/api/collections/ShopCommodityConfirmations.ts
Due: none

chore(release): new Version v4.10.7 (Mercury) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix: roadmap changes week
  app/controllers/api/v1/roadmap_controller.rb
Due: none

chore: rubocoptering
  app/controllers/application_controller.rb
  app/lib/rsi/models_loader.rb
  app/lib/rsi/roadmap_loader.rb
  config/secrets.yml
Due: none

chore: update rails
  Gemfile
  Gemfile.lock
  vendor/cache/actioncable-6.1.3.1.gem
  vendor/cache/actioncable-6.1.3.2.gem
  vendor/cache/actionmailbox-6.1.3.1.gem
  vendor/cache/actionmailbox-6.1.3.2.gem
  vendor/cache/actionmailer-6.1.3.1.gem
  vendor/cache/actionmailer-6.1.3.2.gem
  vendor/cache/actionpack-6.1.3.1.gem
  vendor/cache/actionpack-6.1.3.2.gem
  vendor/cache/actiontext-6.1.3.1.gem
  vendor/cache/actiontext-6.1.3.2.gem
  vendor/cache/actionview-6.1.3.1.gem
  vendor/cache/actionview-6.1.3.2.gem
  vendor/cache/activejob-6.1.3.1.gem
  vendor/cache/activejob-6.1.3.2.gem
  vendor/cache/activemodel-6.1.3.1.gem
  vendor/cache/activemodel-6.1.3.2.gem
  vendor/cache/activerecord-6.1.3.1.gem
  vendor/cache/activerecord-6.1.3.2.gem
  vendor/cache/activestorage-6.1.3.1.gem
  vendor/cache/activestorage-6.1.3.2.gem
  vendor/cache/activesupport-6.1.3.1.gem
  vendor/cache/activesupport-6.1.3.2.gem
  vendor/cache/rails-6.1.3.1.gem
  vendor/cache/rails-6.1.3.2.gem
  vendor/cache/railties-6.1.3.1.gem
  vendor/cache/railties-6.1.3.2.gem
Due: bundle

fix: secrets
  app/controllers/application_controller.rb
  app/lib/rsi/models_loader.rb
  app/lib/rsi/roadmap_loader.rb
Due: none

chore: update env vars
  app/controllers/application_controller.rb
  app/lib/rsi/base_loader.rb
  app/lib/rsi/models_loader.rb
  app/lib/rsi/roadmap_loader.rb
  config/application.rb
  config/basic_auth.yml
  config/rsi.yml
Due: none

chore: update config files
  config/app.yml
  config/basic_auth.yml
  config/redis.yml
  config/rsi.yml
Due: none

fix: app.yml
  config/app.yml
Due: none

fix: missing ci config
  app/lib/rsi/base_loader.rb
Due: none

chore: extract maintainer config into seperate file
  app/mailers/admin_mailer.rb
  app/mailers/application_mailer.rb
  app/mailers/progress_tracker_mailer.rb
  app/mailers/roadmap_mailer.rb
  app/views/frontend/index.html.erb
  app/views/layouts/mailer.html.inky
  babel.config.js
  config/app.yml
  config/application.rb
  config/maintainer.yml
  config/secrets.yml
Due: none

chore: use credentials
  .env.example
  .gitignore
  app/lib/youtube/video_loader.rb
  app/models/admin_user.rb
  app/models/user.rb
  app/views/frontend/index.html.erb
  config/app/main.yml
  config/app/maintainer.yml
  config/app/rsi.yml
  config/application.rb
  config/credentials.yml.enc
  config/credentials/production.yml.enc
  config/credentials/staging.yml.enc
  config/environments/production.rb
  config/initializers/carrierwave.rb
  config/initializers/content_security_policy.rb
  config/initializers/devise.rb
  config/initializers/secret_token.rb
  config/initializers/sentry.rb
  config/secrets.yml
  lib/discord/progress_tracker_update.rb
  lib/discord/rsi_news.rb
  lib/discord/webhook.rb
  lib/discord/youtube_video.rb
  self-hosting-wip.md
Due: none

chore: try to run assets ci tasks without production env
  .circleci/config.yml
Due: none

chore: fix audit issues
  package.json
  yarn.lock
Due: yarn

chore: fix lodash audit issues
  package.json
  yarn.lock
Due: yarn

chore: update production credentials
  config/credentials/production.yml.enc
Due: none

Path conditions:
  yarn: any of: .gitlab-ci.yml, package.json, yarn.lock, .npmrc
  bundle: any of: .gitlab-ci.yml, Gemfile, Gemfile.lock, .ruby-version
