Repository fleetyards/fleetyards: changes, and which GitLab CI jobs are due for each by the changed paths.
All: yarn, bundle

yarn:
  stage: prep
  cache:
    key: fleetyards-cache
    paths:
    - node_modules/
    policy: pull-push
  script:
  - yarn --frozen-lockfile

bundle:
  stage: prep
  cache:
    key: fleetyards-cache
    paths:
    - vendor/bundle/
    policy: pull-push
  script:
  - bundle install

chore: disable css_compression everywhere
  config/environments/production.rb
  config/initializers/assets.rb
Due: none

chore: linting
  app/models/celestial_object.rb
  app/models/shop_commodity.rb
  app/packs/frontend/components/Models/Table/index.vue
Due: none

chore: Gemfile.lock
  Gemfile.lock
  public/javascripts/i18n.js
Due: bundle

chore: disable css compressor for asset pipeline
  config/environments/production.rb
Due: none

chore: update js_compressor
  app/javascript/admin-app/controllers/base.js
  app/javascript/admin-app/controllers/chart.js
  app/javascript/admin-app/controllers/dashboard.js
  app/javascript/admin-app/controllers/quickstats.js
  app/javascript/admin-app/controllers/submenu.js
  config/environments/production.rb
Due: none

chore: add linux platform to Gemfile
  Gemfile.lock
Due: bundle

chore: revert changes to model.json
  public/models.json
Due: none

chore: add missing gem terser
  Gemfile
  Gemfile.lock
  vendor/cache/terser-1.1.8.gem
Due: bundle

Update Gemfile.lock
  Gemfile.lock
Due: bundle

chore: update admin.js
  app/javascript/admin-app/application.js
  app/javascript/admin-app/index.js
  app/views/layouts/admin/_nav-new.html.erb
  app/views/shared/_nav-item.html.erb
Due: none

chore(rails-7): bump version to 7.0.2.x
  Gemfile.lock
  vendor/cache/actioncable-7.0.1.gem
  vendor/cache/actioncable-7.0.2.gem
  vendor/cache/actionmailbox-7.0.1.gem
  vendor/cache/actionmailbox-7.0.2.gem
  vendor/cache/actionmailer-7.0.1.gem
  vendor/cache/actionmailer-7.0.2.gem
  vendor/cache/actionpack-7.0.1.gem
  vendor/cache/actionpack-7.0.2.gem
  vendor/cache/actiontext-7.0.1.gem
  vendor/cache/actiontext-7.0.2.gem
  vendor/cache/actionview-7.0.1.gem
  vendor/cache/actionview-7.0.2.gem
  vendor/cache/activejob-7.0.1.gem
  vendor/cache/activejob-7.0.2.gem
  vendor/cache/activemodel-7.0.1.gem
  vendor/cache/activemodel-7.0.2.gem
  vendor/cache/activerecord-7.0.1.gem
  vendor/cache/activerecord-7.0.2.gem
  vendor/cache/activestorage-7.0.1.gem
  vendor/cache/activestorage-7.0.2.gem
  vendor/cache/activesupport-7.0.1.gem
  vendor/cache/activesupport-7.0.2.gem
  vendor/cache/i18n-1.10.0.gem
  vendor/cache/i18n-1.9.1.gem
  vendor/cache/rails-7.0.1.gem
  vendor/cache/rails-7.0.2.gem
  vendor/cache/railties-7.0.1.gem
  vendor/cache/railties-7.0.2.gem
Due: bundle

fix: Gemfile for nokogiri
  Gemfile
  Gemfile.lock
  vendor/cache/nokogiri-1.13.1-x86_64-linux.gem
Due: bundle

fix: bootstrap imports
  app/frontend/frontend/App.vue
  app/frontend/frontend/core/components/AppModal/index.vue
  app/frontend/frontend/core/components/PrivacySettings/index.vue
  app/frontend/stylesheets/admin/bootstrap-custom.scss
  app/frontend/stylesheets/embed/bootstrap-custom.scss
  app/frontend/stylesheets/embed/partials/slider.scss
Due: none

chore: remove outdated gems
  vendor/cache/actioncable-6.1.5.gem
  vendor/cache/actionmailbox-6.1.5.gem
  vendor/cache/actionmailer-6.1.5.gem
  vendor/cache/actionpack-6.1.5.gem
  vendor/cache/actiontext-6.1.5.gem
  vendor/cache/actionview-6.1.5.gem
  vendor/cache/activejob-6.1.5.gem
  vendor/cache/activemodel-6.1.5.gem
  vendor/cache/activerecord-6.1.5.gem
  vendor/cache/activestorage-6.1.5.gem
  vendor/cache/activesupport-6.1.5.gem
  vendor/cache/rails-6.1.5.gem
  vendor/cache/railties-6.1.5.gem
Due: none

chore: add missing linux version of nokogiri
  vendor/cache/nokogiri-1.13.3-x86_64-linux.gem
Due: none

chore: handle postmark email rejections
  app/mailers/application_mailer.rb
  app/models/email_rejection.rb
  db/migrate/20220403132949_create_email_rejections.rb
  db/schema.rb
Due: none

chore: update puma
  Gemfile.lock
  vendor/cache/puma-5.6.2.gem
  vendor/cache/puma-5.6.4.gem
Due: bundle

chore: linting
  app/mailers/application_mailer.rb
  app/models/email_rejection.rb
Due: none

chore: update migration
  db/migrate/20220403132949_create_email_rejections.rb
Due: none

chore: fix schema
  db/schema.rb
Due: none

chore: fix postmark error handler
  app/mailers/application_mailer.rb
Due: none

chore(release): new Version v5.6.2 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix: embed view
  app/packs/embed/FleetyardsView.vue
  app/packs/embed/components/FleetchartItem/index.vue
Due: none

chore(release): new Version v5.6.3 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix: embed widget for fleets and users
  app/packs/embed/FleetyardsView.vue
  app/packs/embed/components/Fleetchart/Image/index.vue
  app/packs/embed/components/Fleetchart/Item/index.vue
  app/packs/embed/components/Fleetchart/List/index.vue
  app/packs/embed/components/Fleetchart/Slider/index.vue
  app/packs/embed/components/Models/BaseMetrics/index.vue
  app/packs/embed/components/Models/List/index.vue
  app/packs/embed/components/Models/Panel/index.vue
  app/packs/embed/components/Models/TopMetrics/index.vue
  app/packs/entrypoints/embed_v2.js
  app/views/layouts/embed_v2_fleet_test.html.erb
  app/views/layouts/embed_v2_username_test.html.erb
  db/seeds.rb
  docs/embed/README.md
  public/docs/v1.html
  test/javascript/e2e/specs/EmbedV1.spec.js
  test/javascript/e2e/specs/EmbedV2.spec.js
  test/javascript/e2e/specs/EmbedV2Fleet.spec.js
  test/javascript/e2e/specs/EmbedV2Username.spec.js
Due: none

fix: loaner worker to use zendesk api
  app/lib/rsi/base_loader.rb
  app/lib/rsi/loaner_loader.rb
  config/sidekiq_schedule.yml
  db/seeds/01_stanton/01_crusader/01_crusader.rb
  db/seeds/01_stanton/02_hurston/01_hurston.rb
  db/seeds/01_stanton/02_hurston/02_magda.rb
  db/seeds/01_stanton/02_hurston/03_ita.rb
  db/seeds/01_stanton/02_hurston/04_arial.rb
  db/seeds/01_stanton/02_hurston/12_hurston_outposts.rb
  db/seeds/01_stanton/03_arccorp/01_arccorp.rb
  db/seeds/01_stanton/04_microtech/06_microtech_outposts.rb
Due: none

Path conditions:
  yarn: any of: .gitlab-ci.yml, package.json, yarn.lock, .npmrc
  bundle: any of: .gitlab-ci.yml, Gemfile, Gemfile.lock, .ruby-version
