Repository fleetyards/fleetyards: changes, and which GitLab CI jobs are due for each by the changed paths.
All: yarn, bundle

.gitlab-ci.yml:

image: fleetyards/base:2.7.1

stages:
  - prep
  - test
  - build
  - e2e
  - deploy

cache: &global_cache
  key: fleetyards-cache
  paths:
    - node_modules/
    - vendor/bundle/
  policy: pull

.ruby_template:
  variables:
    BUNDLE_PATH: vendor/bundle
  before_script:
    - bundle install
    - mkdir -p log

.js_test_template:
  before_script:
    - yarn --frozen-lockfile

.ruby_test_template:
  extends: .ruby_template
  services:
    - postgres:12.2-alpine
  variables:
    RAILS_ENV: test
    POSTGRES_DB: fleetyards_test
    POSTGRES_USER: root
    POSTGRES_PASSWORD: root
    POSTGRES_HOST_AUTH_METHOD: trust
    DATABASE_HOST: postgres
    DATABASE_PORT: 5432
    DATABASE_USER: $POSTGRES_USER
    DATABASE_URL: postgresql://$POSTGRES_USER:$POSTGRES_PASSWORD@$DATABASE_HOST:$DATABASE_PORT/$POSTGRES_DB

.e2e_template:
  extends: .ruby_test_template
  image: fleetyards/ci:2.6.6
  services:
    - redis:latest
    - name: docker.elastic.co/elasticsearch/elasticsearch:7.5.2
      alias: elasticsearch
      command: ["bin/elasticsearch", "-Ediscovery.type=single-node", "-Expack.security.enabled=0", "-Ehttp.port=9200", "-Ecluster.name=fleetyards-test-cluser"]
  variables:
    DATABASE_URL: postgresql://root:root@127.0.0.1:5432/fleetyards
    ELASTICSEARCH_URL: http://elasticsearch:9200
    TEST_SEEDS: 1
    RAILS_ENV: ci
    ON_SUBDOMAIN: false
    RAILS_SERVE_STATIC_FILES: 1
    DISABLE_DATABASE_ENVIRONMENT_CHECK: 1
    CYPRESS_BASE_URL: http://localhost:8270
    APP_DIR: .
    PORT: 8270
    # transport.host: localhost
    # network.host: 127.0.0.1

yarn:
  stage: prep
  cache:
    <<: *global_cache
    paths:
      - node_modules/
    policy: pull-push
  script:
    - yarn --frozen-lockfile
  only:
    changes:
      - .gitlab-ci.yml
      - package.json
      - yarn.lock
      - .npmrc

bundle:
  stage: prep
  cache:
    <<: *global_cache
    paths:
      - vendor/bundle/
    policy: pull-push
  script:
    - bundle install
  only:
    changes:
      - .gitlab-ci.yml
      - Gemfile
      - Gemfile.lock
      - .ruby-version

ruby audit:
  stage: test
  extends: .ruby_template
  script:
    - bundle exec bundle-audit update
    - bundle exec bundle-audit check

yarn audit:
  stage: test
  extends: .js_test_template
  script:
    - yarn audit

rubocop:
  stage: test
  extends: .ruby_template
  script:
    - bundle exec rubocop --format progress

js-lint:
  stage: test
  extends: .js_test_template
  script:
    - yarn run lint:js
    - yarn run lint:vue
    - yarn run lint:style

js tests:
  stage: test
  extends: .js_test_template
  script:
    - yarn run test

ruby tests:
  stage: test
  extends: .ruby_test_template
  script:
    - ./scripts/wait-for-db.sh
    - bundle exec rails db:create db:schema:load
    - bundle exec rails test:coverage

seeds:
  stage: build
  extends: .e2e_template
  script:
    - ./scripts/wait-for-db.sh
    - bundle exec rails db:create db:schema:load
    - bundle exec rails db:seed

assets:
  stage: build
  extends: .ruby_test_template
  script:
    - RAILS_ENV=production bundle exec rails assets:precompile

chore(vite-pwa): fix sw assets paths
  .eslintignore
  config/vite.json
  vite.config.ts
Due: none

chore(sentry): fix integration
  app/frontend/frontend/lib/Sentry/index.js
  package.json
  yarn.lock
Due: yarn

chore(sentry): fix integration
  app/frontend/frontend/lib/Sentry/index.js
Due: none

chore: cleanup
  config/application.rb
  config/environments/production.rb
  config/initializers/sidekiq.rb
  config/sidekiq_schedule.yml
  vite.config.ts
Due: none

chore: rubocoptering
  config/initializers/content_security_policy.rb
Due: none

chore: cleanup application layout
  app/views/layouts/application.html.erb
Due: none

chore(depfu): downgrade ssrf_filter for now
  Gemfile
  Gemfile.lock
  vendor/cache/ssrf_filter-1.0.8.gem
  vendor/cache/ssrf_filter-1.1.0.gem
Due: bundle

chore(vue3): update vite setup to enable composition api
  app/frontend/frontend/pages/Tools/index.vue
  app/frontend/frontend/pages/ToolsPage.vue
  app/frontend/frontend/routes.ts
  config/initializers/content_security_policy.rb
  package.json
  vite.config.ts
  yarn.lock
Due: yarn

chore(vue): update libs
  config/initializers/content_security_policy.rb
  config/vite.json
  db/schema.rb
  package.json
  test/models/admin_user_test.rb
  vitest.config.ts
  yarn.lock
Due: yarn

feature(openapi): Add initial Schema
  lib/tasks/api_schema.thor
  schema.yaml
Due: none

chore(sentry): migrate to new sentry integration
  Gemfile
  Gemfile.lock
  config/initializers/sentry.rb
  vendor/cache/sentry-rails-5.4.2.gem
  vendor/cache/sentry-raven-3.1.2.gem
  vendor/cache/sentry-ruby-5.4.2.gem
  vendor/cache/sentry-sidekiq-5.4.2.gem
Due: bundle

chore(sentry): fix tag setup
  config/initializers/sentry.rb
Due: none

chore(sentry): fix additional Raven usages
  Gemfile
  Gemfile.lock
  app/lib/rsi/location_loader.rb
  app/lib/rsi/models_loader.rb
  app/lib/rsi/roadmap_loader.rb
  app/lib/sc_data/base_loader.rb
  app/lib/sc_data/starmap_loader.rb
  app/lib/trading_data/importer.rb
  app/lib/youtube/video_loader.rb
  vendor/cache/uniform_notifier-1.14.0.gem
  vendor/cache/uniform_notifier-1.16.0.gem
Due: bundle

chore(e2e): update embedV2 Spec and try to reduce flackyness
  cypress/e2e/EmbedV2.cy.js
Due: none

chore: rubocoptering
  app/controllers/api/v1/users_controller.rb
  app/lib/rsi/roadmap_loader.rb
  config/initializers/git_revision.rb
  test/unit/hangar_import_hangar_xplor_test.rb
  test/unit/hangar_import_starship42_test.rb
  test/unit/hangar_importer_test.rb
Due: none

chore(release): new Version v5.9.0 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: update deploy to not cleanup assets
  config/deploy.rb
  vendor/cache/google-protobuf-3.21.5-x86_64-darwin.gem
  vendor/cache/google-protobuf-3.21.7-x86_64-darwin.gem
Due: none

chore: add admin tool to login as user
  app/controllers/admin/users_controller.rb
  app/frontend/frontend/App.vue
  app/views/admin/users/_show.haml
  config/initializers/content_security_policy.rb
  config/locales/en/actions.yml
  config/locales/en/messages.yml
  config/routes/admin_routes.rb
Due: none

chore: disable flacky embed spec for now
  cypress/e2e/EmbedV2.cy.js
Due: none

chore(release): new Version v5.9.1 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix(pagination): update link header parsing
  app/frontend/frontend/api/client.ts
  app/frontend/frontend/api/linkHeaderParser.ts
  package.json
  yarn.lock
Due: yarn

chore(ships-loader): handle no components information more gracefully
  app/lib/sc_data/ships_loader.rb
Due: none

fix: link header parser in embed
  app/frontend/embed/api/client.js
Due: none

chore(release): new Version v5.9.2 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: try to improve fleet e2e specs
  cypress/e2e/Fleet.cy.js
Due: none

chore(admin): fix api endpoint
  app/frontend/stylesheets/admin/base.scss
  app/views/layouts/admin/application.html.erb
Due: none

chore(admin): update env vars
  app/frontend/entrypoints/admin.ts
  app/frontend/entrypoints/frontend.ts
  app/views/layouts/admin/application.html.erb
Due: none

chore: update e2e commands
  cypress/e2e/Fleet.cy.js
  cypress/support/commands.js
Due: none

chore(release): new Version v5.9.3 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix(shop-commodities): safeguard empty shopping lists
  app/controllers/admin/models_controller.rb
  app/frontend/frontend/components/ShopCommodities/Locations/index.vue
Due: none

chore(release): new Version v5.9.4 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore(ruby): Update Github Actions
  .github/workflows/check.yml
  .github/workflows/main.yml
  .github/workflows/release.yml
Due: none

chore: add missing dependency
  Gemfile
  Gemfile.lock
  vendor/cache/net-pop-0.1.1.gem
Due: bundle

chore: add missing dependency net-imap
  Gemfile
  Gemfile.lock
  vendor/cache/net-imap-0.2.3.gem
  vendor/cache/strscan-3.0.1.gem
Due: bundle

chore: update gemfile
  Gemfile.lock
Due: bundle

feat(hangar): add datetime field to show when the hangar was last updated
  app/models/user.rb
  app/models/vehicle.rb
  app/views/api/v1/fleet_members/_member.jbuilder
  app/views/api/v1/users/_base.jbuilder
  db/migrate/20221010203659_add_hangar_updated_at_to_users.rb
  db/migrate/20221010204212_prefill_hangar_updated_at_in_users.rb
  db/schema.rb
  test/fixtures/users.yml
  test/models/user_test.rb
Due: none

chore(release): new Version v5.10.0 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: update long running migration
  db/migrate/20221010204212_prefill_hangar_updated_at_in_users.rb
Due: none
