Repository fleetyards/fleetyards: changes, and which GitLab CI jobs are due for each by the changed paths.
All: yarn, bundle

.gitlab-ci.yml:

image: fleetyards/base:2.7.1

stages:
  - prep
  - test
  - build
  - e2e
  - deploy

cache: &global_cache
  key: fleetyards-cache
  paths:
    - node_modules/
    - vendor/bundle/
  policy: pull

.ruby_template:
  variables:
    BUNDLE_PATH: vendor/bundle
  before_script:
    - bundle install
    - mkdir -p log

.js_test_template:
  before_script:
    - yarn --frozen-lockfile

.ruby_test_template:
  extends: .ruby_template
  services:
    - postgres:12.2-alpine
  variables:
    RAILS_ENV: test
    POSTGRES_DB: fleetyards_test
    POSTGRES_USER: root
    POSTGRES_PASSWORD: root
    POSTGRES_HOST_AUTH_METHOD: trust
    DATABASE_HOST: postgres
    DATABASE_PORT: 5432
    DATABASE_USER: $POSTGRES_USER
    DATABASE_URL: postgresql://$POSTGRES_USER:$POSTGRES_PASSWORD@$DATABASE_HOST:$DATABASE_PORT/$POSTGRES_DB

.e2e_template:
  extends: .ruby_test_template
  image: fleetyards/ci:2.6.6
  services:
    - redis:latest
    - name: docker.elastic.co/elasticsearch/elasticsearch:7.5.2
      alias: elasticsearch
      command: ["bin/elasticsearch", "-Ediscovery.type=single-node", "-Expack.security.enabled=0", "-Ehttp.port=9200", "-Ecluster.name=fleetyards-test-cluser"]
  variables:
    DATABASE_URL: postgresql://root:root@127.0.0.1:5432/fleetyards
    ELASTICSEARCH_URL: http://elasticsearch:9200
    TEST_SEEDS: 1
    RAILS_ENV: ci
    ON_SUBDOMAIN: false
    RAILS_SERVE_STATIC_FILES: 1
    DISABLE_DATABASE_ENVIRONMENT_CHECK: 1
    CYPRESS_BASE_URL: http://localhost:8270
    APP_DIR: .
    PORT: 8270
    # transport.host: localhost
    # network.host: 127.0.0.1

yarn:
  stage: prep
  cache:
    <<: *global_cache
    paths:
      - node_modules/
    policy: pull-push
  script:
    - yarn --frozen-lockfile
  only:
    changes:
      - .gitlab-ci.yml
      - package.json
      - yarn.lock
      - .npmrc

bundle:
  stage: prep
  cache:
    <<: *global_cache
    paths:
      - vendor/bundle/
    policy: pull-push
  script:
    - bundle install
  only:
    changes:
      - .gitlab-ci.yml
      - Gemfile
      - Gemfile.lock
      - .ruby-version

ruby audit:
  stage: test
  extends: .ruby_template
  script:
    - bundle exec bundle-audit update
    - bundle exec bundle-audit check

yarn audit:
  stage: test
  extends: .js_test_template
  script:
    - yarn audit

rubocop:
  stage: test
  extends: .ruby_template
  script:
    - bundle exec rubocop --format progress

js-lint:
  stage: test
  extends: .js_test_template
  script:
    - yarn run lint:js
    - yarn run lint:vue
    - yarn run lint:style

js tests:
  stage: test
  extends: .js_test_template
  script:
    - yarn run test

ruby tests:
  stage: test
  extends: .ruby_test_template
  script:
    - ./scripts/wait-for-db.sh
    - bundle exec rails db:create db:schema:load
    - bundle exec rails test:coverage

seeds:
  stage: build
  extends: .e2e_template
  script:
    - ./scripts/wait-for-db.sh
    - bundle exec rails db:create db:schema:load
    - bundle exec rails db:seed

assets:
  stage: build
  extends: .ruby_test_template
  script:
    - RAILS_ENV=production bundle exec rails assets:precompile

chore(release): new Version v5.31.21 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix(sync): update mapping for new Retaliator Modules
  app/lib/hangar_sync.rb
  app/models/model_module.rb
  app/models/model_upgrade.rb
Due: none

fix(sync): update mapping for modules and upgrades
  app/lib/hangar_sync.rb
Due: none

chore(release): new Version v5.31.22 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore(scdata): exclude ligthning from turret exports
  app/lib/sc_data/hardpoints_loader.rb
Due: none

chore(release): new Version v5.31.23 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix(sync): add mapping for tali modules
  app/lib/hangar_sync.rb
Due: none

chore(release): new Version v5.31.24 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix(sync): add additional mapping to solve issues for Tali Modules
  app/lib/hangar_sync.rb
Due: none

chore(release): new Version v5.31.25 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: update loaner and paints mapping
  app/lib/paints_importer.rb
  app/lib/rsi/loaner_loader.rb
Due: none

fix(sync): update mapping for idris k kit
  app/lib/hangar_sync.rb
Due: none

chore(release): new Version v5.31.26 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix(sync): further update tali mapping
  app/lib/hangar_sync.rb
Due: none

chore(release): new Version v5.31.27 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix(sync): replace missleading - char to solve import issues for the Tali
  .vscode/settings.json
  app/lib/hangar_sync.rb
  app/lib/paints_importer.rb
Due: none

chore(release): new Version v5.31.28 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix(sync): add mapping for F7A Mk I
  app/lib/hangar_sync.rb
Due: none

chore(release): new Version v5.31.29 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: update paints mapping
  app/lib/paints_importer.rb
Due: none

chore(release): new Version v5.31.30 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: update paints importer mapping for hornet
  app/lib/paints_importer.rb
Due: none

chore(release): new Version v5.31.31 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: add hornet f7a to mapping
  app/lib/paints_importer.rb
Due: none

chore(loaner): update mapping for ironclad
  app/lib/rsi/loaner_loader.rb
Due: none

chore(release): new Version v5.31.32 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix(sync): resolve issue with custom names
  app/controllers/api/v1/hangars_controller.rb
  app/lib/hangar_sync.rb
Due: none

chore(release): new Version v5.31.33 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: migrate to pnpm
  .github/workflows/api-schema-lint.job.yml
  .github/workflows/js-audit.job.yml
  .github/workflows/js-lint.job.yml
  .github/workflows/js-prettier.job.yml
  .github/workflows/js-setup-action/action.yml
  .github/workflows/js-tests.job.yml
  .github/workflows/l10n.yml
  .github/workflows/release.yml
  .gitlab-ci.yml
  .ruby-version
  .tool-versions
  Dockerfile
  app/frontend/frontend/pages/tools/index.vue
  bin/generate-schema
  lib/tasks/release.thor
  package.json
  pnpm-lock.yaml
  yarn.lock
Due: yarn, bundle

chore: bump ruby version
  .ruby-version
  .tool-versions
  Dockerfile
  Gemfile.lock
Due: bundle

chore: update js setup task
  .github/workflows/js-setup-action/action.yml
Due: none

chore: add missing options
  app/models/component.rb
Due: none

chore: fix specs
  app/lib/rsi/models_loader.rb
Due: none

chore(doorkeeper): allow localhost
  config/initializers/doorkeeper.rb
Due: none

chore(mail): move back to mailgun to reduce costs
  Gemfile
  Gemfile.lock
  app/controllers/inbound_emails_controller.rb
  app/mailers/application_mailer.rb
  config/credentials/production.yml.enc
  config/environments/production.rb
  config/initializers/griddler.rb
  gemset.nix
  vendor/cache/griddler-mailgun-1.1.1.gem
  vendor/cache/postmark-1.25.0.gem
  vendor/cache/postmark-rails-0.22.1.gem
Due: bundle

chore(release): new Version v5.31.34 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix(mails): update mailgun password
  config/credentials/production.yml.enc
Due: none

chore(release): new Version v5.31.35 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix(sync): add ATLS to mapping
  .github/workflows/main.yml
  app/lib/hangar_sync.rb
Due: none
