Repository fleetyards/fleetyards: changes, and which GitLab CI jobs are due for each by the changed paths.
All: yarn, bundle

.gitlab-ci.yml:

image: fleetyards/base:2.6.6

stages:
  - prep
  - test
  - build
  - e2e
  - deploy

cache: &global_cache
  key: fleetyards-cache
  paths:
    - node_modules/
    - vendor/bundle/
  policy: pull

.ruby_template:
  variables:
    BUNDLE_PATH: vendor/bundle
  before_script:
    - bundle install
    - mkdir -p log

.js_test_template:
  before_script:
    - yarn --frozen-lockfile

.ruby_test_template:
  extends: .ruby_template
  services:
    - postgres:12.2-alpine
  variables:
    RAILS_ENV: test
    POSTGRES_DB: fleetyards_test
    POSTGRES_USER: root
    POSTGRES_PASSWORD: root
    POSTGRES_HOST_AUTH_METHOD: trust
    DATABASE_HOST: postgres
    DATABASE_PORT: 5432
    DATABASE_USER: $POSTGRES_USER
    DATABASE_URL: postgresql://$POSTGRES_USER:$POSTGRES_PASSWORD@$DATABASE_HOST:$DATABASE_PORT/$POSTGRES_DB

.e2e_template:
  extends: .ruby_test_template
  image: fleetyards/ci:2.6.6
  services:
    - redis:latest
    - name: docker.elastic.co/elasticsearch/elasticsearch:7.5.2
      alias: elasticsearch
      command: [ "bin/elasticsearch", "-Ediscovery.type=single-node -Xms512m -Xmx512m -Expack.security.enabled=0 -Ehttp.port=9200 -Ecluster.name=fleetyards-test-cluser" ]
  variables:
    DATABASE_URL: postgresql://root:root@127.0.0.1:5432/fleetyards
    ELASTICSEARCH_URL: http://elasticsearch:9200
    TEST_SEEDS: 1
    RAILS_ENV: ci
    ON_SUBDOMAIN: 1
    RAILS_SERVE_STATIC_FILES: 1
    DISABLE_DATABASE_ENVIRONMENT_CHECK: 1
    CYPRESS_BASE_URL: http://localhost:8270
    CYPRESS_CI: 1
    APP_DIR: .
    PORT: 8270
    transport.host: localhost
    network.host: 127.0.0.1

yarn:
  stage: prep
  cache:
    <<: *global_cache
    paths:
      - node_modules/
    policy: pull-push
  script:
    - yarn --frozen-lockfile
  only:
    changes:
      - .gitlab-ci.yml
      - package.json
      - yarn.lock
      - .npmrc

bundle:
  stage: prep
  cache:
    <<: *global_cache
    paths:
      - vendor/bundle/
    policy: pull-push
  script:
    - bundle install
  only:
    changes:
      - .gitlab-ci.yml
      - Gemfile
      - Gemfile.lock
      - .ruby-version

ruby audit:
  stage: test
  extends: .ruby_template
  script:
    - bundle exec bundle-audit update
    - bundle exec bundle-audit check

yarn audit:
  stage: test
  extends: .js_test_template
  script:
    - yarn audit

rubocop:
  stage: test
  extends: .ruby_template
  script:
    - bundle exec rubocop --format progress

js-lint:
  stage: test
  extends: .js_test_template
  script:
    - yarn run lint:js
    - yarn run lint:vue
    - yarn run lint:style

js tests:
  stage: test
  extends: .js_test_template
  script:
    - yarn run test

ruby tests:
  stage: test
  extends: .ruby_test_template
  script:
    - ./scripts/wait-for-db.sh
    - bundle exec rails db:create db:schema:load
    - bundle exec rails test:coverage

seeds:
  stage: build
  extends: .e2e_template
  script:
    - ./scripts/wait-for-db.sh
    - bundle exec rails db:create db:schema:load
    - bundle exec rails db:seed

assets:
  stage: build
  extends: .ruby_test_template
  script:
    - RAILS_ENV=production bundle exec rails assets:precompile

chore(heroku): downgrade to heroku-20 to be compatible with ruby-3.0.4
  app.json
Due: none

chore(heroku): add credentials for review app
  .gitignore
  config/credentials/review.yml.enc
Due: none

chore(heroku): update redis and basic_auth config
  config/basic_auth.yml
  config/redis.yml
Due: none

chore(heroku): add postdeploy script
  app.json
Due: none

chore(heroku): fix postdeploy and release scripts
  Procfile
  app.json
Due: none

chore(heroku): refactor endpoint configuration
  .github/workflows/main.yml
  .gitlab-ci.yml
  app/helpers/application_helper.rb
  app/packs/admin/lib/Router/index.ts
  app/uploaders/commodity_store_image_uploader.rb
  app/uploaders/store_image_uploader.rb
  app/views/frontend/embed.js.erb
  app/views/frontend/embed_v2.js.erb
  app/views/frontend/index.html.erb
  app/views/layouts/admin/application.html.erb
  app/views/layouts/application.html.erb
  app/views/layouts/embed_test.html.erb
  app/views/layouts/embed_v2_fleet_test.html.erb
  app/views/layouts/embed_v2_test.html.erb
  app/views/layouts/embed_v2_username_test.html.erb
  config/app/main.yml
  config/environments/development.rb
  config/environments/production.rb
  config/initializers/01_app_endpoints.rb
  config/initializers/carrierwave.rb
  config/initializers/content_security_policy.rb
  config/initializers/cors.rb
  config/routes/admin_routes.rb
  config/routes/api_routes.rb
  docker-compose.yml
  lib/app_endpoint_resolver.rb
Due: yarn, bundle

Add bonsai addon to app.json
  app.json
Due: none

chore(heroku): setup elasticsearch url
  app.json
  config/app/main.yml
  config/initializers/elasticsearch.rb
Due: none

chore(heroku): use engine elasticsearch for now
  app.json
Due: none

chore(heroku): add missing require to initializer
  config/initializers/01_app_endpoints.rb
Due: none

chore(rails): add yaml safe load classes
  config/application.rb
Due: none

chore(sc-data): Track Imports and their Game Version via DB
  app/jobs/loaders/sc_data_ships_job.rb
  app/jobs/sc_data_check_job.rb
  app/models/import.rb
  app/models/imports/sc_data_import.rb
  db/migrate/20220811164634_create_imports.rb
  db/schema.rb
  test/models/imports/sc_data_import_test.rb
Due: none

chore(cloud-storage): move fleetchart-seeds and sc-data files to the cloud
  .gitignore
  app/jobs/sc_data_check_job.rb
  app/lib/sc_data/base_loader.rb
  config/app/main.yml
  db/seeds.rb
Due: none

chore: rubocoptering
  test/models/imports/sc_data_import_test.rb
Due: none

chore(vite): fix scss imports
  app/packs/stylesheets/admin/bootstrap-custom.scss
  app/packs/stylesheets/embed/bootstrap-custom.scss
  app/packs/stylesheets/embed/partials/slider.scss
Due: none

chore(vite): fix image import
  app/packs/frontend/pages/Stations/Starsystems/index.vue
Due: none

chore(vite): fix vuejs import
  app/packs/frontend/pages/Fleets/Settings/Fleet/index.vue
Due: none

chore(vite): migrate unit test to vitest
  .eslintrc.js
  .github/workflows/main.yml
  app/packs/embed/components/Loader/__tests__/sanity.spec.js
  app/packs/embed/components/Loader/index.test.js
  app/packs/embed/components/Panel/__tests__/sanity.spec.js
  app/packs/embed/components/Panel/index.test.js
  app/packs/frontend/components/Models/Panel/__tests__/sanity.spec.js
  app/packs/frontend/components/Models/Panel/index.test.js
  app/packs/frontend/core/components/AppFooter/__tests__/sanity.spec.js
  app/packs/frontend/core/components/AppFooter/__tests__/spec.js
  app/packs/frontend/core/components/AppFooter/index.test.js
  app/packs/frontend/core/components/Box/__tests__/sanity.spec.js
  app/packs/frontend/core/components/Box/index.test.js
  app/packs/frontend/core/components/Loader/__tests__/sanity.spec.js
  app/packs/frontend/core/components/Loader/index.test.js
  app/packs/frontend/core/components/Navigation/QuickSearch/__tests__/sanity.spec.js
  app/packs/frontend/core/components/Navigation/QuickSearch/index.test.js
  app/packs/frontend/core/components/Navigation/Search/__tests__/sanity.spec.js
  app/packs/frontend/core/components/Navigation/Search/index.test.js
  app/packs/frontend/core/components/Navigation/__tests__/sanity.spec.js
  app/packs/frontend/core/components/Navigation/index.test.js
  app/packs/frontend/core/components/Panel/__tests__/sanity.spec.js
  app/packs/frontend/core/components/Panel/index.spec.js
  app/packs/frontend/core/components/SmallLoader/__tests__/sanity.spec.js
  app/packs/frontend/core/components/SmallLoader/index.test.js
  app/packs/frontend/core/components/TeaserPanel/index.test.js
  jest.config.js
  package.json
  test/javascript/unit/__mocks__/defaultComponent.vue
  test/javascript/unit/__mocks__/style.js
  test/javascript/unit/helpers/createLocalVue.js
  test/javascript/unit/helpers/sanityTest.js
  test/javascript/unit/mount.js
  test/javascript/unit/mountDefault.js
  test/javascript/unit/sanityTest.js
  test/javascript/unit/setup.js
  tsconfig.json
  vitest.config.ts
  yarn.lock
Due: yarn

chore(vite): linting
  .eslintrc.js
  test/javascript/e2e/specs/Login.spec.js
  test/javascript/e2e/specs/Signup.spec.js
  test/javascript/e2e/support/commands.js
  test/javascript/unit/sanityTest.js
Due: none

chore(vite): add pwa plugin
  package.json
  vite.config.ts
  yarn.lock
Due: yarn

chore(vite): remove remaining webpacker files
  .github/workflows/main.yml
  bin/webpack
  bin/webpack-dev-server
  config/webpack/development.js
  config/webpack/environment.js
  config/webpack/loaders/vue.js
  config/webpack/production.js
  config/webpack/test.js
  config/webpacker.yml
  package.json
  yarn.lock
Due: yarn

chore(vite): add missing dependencies
  package.json
  yarn.lock
Due: yarn

chore(heroku): update release step
  Procfile
  bin/heroku-release
Due: none

chore: update schema
  db/schema.rb
  package.json
Due: yarn

chore(db): use explicitly public schema
  Procfile
  config/database.yml
  db/schema.rb
Due: none

chore: remove public from schema.rb
  db/schema.rb
Due: none

chore(heroku): update domain name and vite pwa plugin
  app/packs/entrypoints/frontend.ts
  config/app/main.yml
  config/database.yml
  vite.config.ts
Due: none

chore: initialize service worker
  app/packs/frontend/App.vue
  app/packs/frontend/mixins/ServiceWorker/index.js
Due: none

chore(vite): fallback to original service worker registration
  app/packs/entrypoints/frontend.ts
  app/packs/frontend/App.vue
  app/packs/frontend/mixins/ServiceWorker/index.js
  config/vite.json
  vite.config.ts
Due: none

chore: update service worker
  app/packs/entrypoints/frontend.ts
  vite.config.ts
Due: none
