Repository fleetyards/fleetyards: changes, and which GitLab CI jobs are due for each by the changed paths.
All: yarn, bundle

yarn:
  stage: prep
  cache:
    key: fleetyards-cache
    paths:
    - node_modules/
    policy: pull-push
  script:
  - yarn --frozen-lockfile

bundle:
  stage: prep
  cache:
    key: fleetyards-cache
    paths:
    - vendor/bundle/
    policy: pull-push
  script:
  - bundle install

fix: audit issue
  package.json
  yarn.lock
Due: yarn

chore: rubocoptering
  app/helpers/nav_helper.rb
Due: none

feat: add serial to vehicles
  app/controllers/api/v1/vehicles_controller.rb
  app/javascript/frontend/components/Models/Panel/index.scss
  app/javascript/frontend/components/Models/Panel/index.vue
  app/javascript/frontend/components/Vehicles/Modal/index.vue
  app/javascript/frontend/plugins/Validations/index.ts
  app/javascript/frontend/plugins/Validations/rules/index.ts
  app/javascript/frontend/plugins/Validations/rules/serialTaken/index.ts
  app/javascript/translations/en/labels.js
  app/javascript/translations/en/messages.js
  app/javascript/translations/en/placeholders.js
  app/models/ability.rb
  app/models/vehicle.rb
  app/views/api/v1/vehicles/_base.jbuilder
  app/views/api/v1/vehicles/_base_public.jbuilder
  config/routes/api_v1_routes.rb
  db/migrate/20210309204725_add_serial_to_vehicles.rb
  db/schema.rb
  test/controllers/api/v1/vehicles_controller_test.rb
  test/fixtures/vehicles.yml
Due: none

chore: update application.rb
  config/application.rb
Due: none

chore: rubocopering
  app/models/vehicle.rb
Due: none

chore: change unique check for serial
  app/controllers/api/v1/vehicles_controller.rb
  app/models/vehicle.rb
  db/migrate/20210309220031_change_unique_index_on_vehicles.rb
  db/schema.rb
  test/fixtures/vehicles.yml
Due: none

chore: downgrade uniform_notifier
  Gemfile
  Gemfile.lock
  vendor/cache/mina-1.2.3.gem
  vendor/cache/mina-multistage-1.0.3.gem
  vendor/cache/open4-1.3.4.gem
  vendor/cache/uniform_notifier-1.14.0.gem
  vendor/cache/uniform_notifier-1.14.1.gem
Due: bundle

feat: add new context menu for vehicles
  app/controllers/api/v1/vehicles_controller.rb
  app/javascript/frontend/api/client.js
  app/javascript/frontend/api/collections/Vehicles.ts
  app/javascript/frontend/components/Models/Panel/index.scss
  app/javascript/frontend/components/Models/Panel/index.vue
  app/javascript/frontend/components/Vehicles/GroupsModal/index.vue
  app/javascript/frontend/components/Vehicles/NamingModal/index.scss
  app/javascript/frontend/components/Vehicles/NamingModal/index.vue
  app/javascript/frontend/core/components/AppModal/index.vue
  app/javascript/frontend/core/components/BtnDropdown/index.vue
  app/javascript/frontend/core/components/Form/FilterGroup/index.vue
  app/javascript/stylesheets/frontend/partials/app-modal.scss
  app/javascript/stylesheets/frontend/partials/form-checkbox.scss
  app/javascript/stylesheets/frontend/partials/form-filtergroup.scss
  app/javascript/stylesheets/frontend/partials/form-input.scss
  app/javascript/stylesheets/frontend/partials/panel-btn.scss
  app/javascript/translations/en/actions.js
  app/javascript/translations/en/headlines.js
  app/javascript/translations/en/labels.js
  app/javascript/translations/en/messages.js
  app/models/fleet.rb
  app/models/vehicle.rb
  app/views/api/v1/vehicles/_base.jbuilder
  config/initializers/carrierwave.rb
  db/migrate/20210311220529_add_alternative_names_to_vehicles.rb
  db/schema.rb
  test/fixtures/fleets.yml
  test/fixtures/vehicles.yml
  test/javascript/e2e/specs/Hangar.spec.js
  test/javascript/e2e/support/commands.js
  test/models/fleet_test.rb
Due: none

fix: email template header
  app/models/vehicle.rb
  app/views/layouts/mailer.html.inky
  test/controllers/api/v1/vehicles_controller_test.rb
Due: none

fix: e2e tests
  app/javascript/frontend/components/Fleetchart/List/ContextMenu/index.vue
  app/javascript/frontend/components/Models/Panel/index.vue
  app/javascript/frontend/components/Vehicles/ContextMenu/index.vue
  app/javascript/frontend/components/Vehicles/GroupsModal/index.vue
  app/javascript/frontend/components/Vehicles/NamingModal/index.vue
  app/javascript/stylesheets/frontend/partials/panel-btn-dropdown.scss
  test/javascript/e2e/specs/Hangar.spec.js
  test/javascript/e2e/support/commands.js
Due: none

chore(release): new Version v4.8.0 (Mercury) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix: owners on fleet page
  app/controllers/api/v1/fleets_controller.rb
  app/javascript/frontend/components/Vehicles/OwnerLabel/index.vue
  app/javascript/frontend/components/Vehicles/OwnersModal/index.vue
  app/javascript/frontend/utils/Array.ts
  app/models/fleet_membership.rb
  app/views/api/v1/fleets/_model.jbuilder
Due: none

chore(release): new Version v4.8.1 (Mercury) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix: mail templates
  app/assets/stylesheets/email.scss
  app/views/model_mailer/notify_new.html.inky
Due: none

fix: model variants
  app/models/model.rb
Due: none

feat: vehicle context menu for list view
  app/javascript/frontend/components/Vehicles/ContextMenu/index.vue
  app/javascript/frontend/components/Vehicles/Table/index.vue
  app/javascript/stylesheets/frontend/partials/filtered-table.scss
Due: none

fix: context menu
  app/javascript/frontend/components/Fleetchart/List/ContextMenu/index.vue
  app/javascript/frontend/components/Models/Panel/index.vue
Due: none

chore(release): new Version v4.9.0 (Mercury) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix: naming modal
  app/javascript/frontend/components/Vehicles/NamingModal/index.vue
Due: none

fix: dropdown menues
  app/javascript/admin/pages/Shops/Commodities/index.vue
  app/javascript/frontend/components/DownloadScreenshotBtn/index.vue
  app/javascript/frontend/components/FleetChartStatusBtn/index.vue
  app/javascript/frontend/components/HangarImportBtn/index.vue
  app/javascript/frontend/components/Models/ClassLabels/index.vue
  app/javascript/frontend/components/Starship42Btn/index.vue
  app/javascript/frontend/components/Vehicles/ContextMenu/index.vue
  app/javascript/frontend/components/Vehicles/GroupLabels/index.vue
  app/javascript/frontend/components/Vehicles/Table/index.vue
  app/javascript/frontend/pages/Fleets/Fleetchart/index.vue
  app/javascript/frontend/pages/Fleets/Show/index.vue
  app/javascript/frontend/pages/Hangar/Fleetchart/index.vue
  app/javascript/frontend/pages/Hangar/index.vue
  app/javascript/frontend/pages/Models/Show/index.vue
  app/javascript/frontend/pages/TradeRoutes/index.vue
  app/javascript/stylesheets/frontend/partials/labels.scss
  app/javascript/stylesheets/frontend/partials/panel-btn-dropdown.scss
Due: none

chore: update circleci config
  .circleci/config.yml
Due: none

chore: update ci config
  .circleci/config.yml
Due: none

chore: ci config
  .circleci/config.yml
Due: none

chore(release): new Version v4.9.1 (Mercury) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore(release): new Version v4.9.2 (Mercury) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: update hangar import/export
  app/lib/hangar_importer.rb
  app/views/api/v1/vehicles/_export.jbuilder
Due: none

chore(release): new Version v4.9.3 (Mercury) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: update yarn.lock
  yarn.lock
Due: yarn

chore: remove vue preset app
  package.json
  yarn.lock
Due: yarn

chore: rubocoptering
  app/controllers/api/v1/commodity_prices_controller.rb
  app/controllers/api/v1/fleets_controller.rb
  app/controllers/api/v1/models_controller.rb
  app/controllers/api/v1/users_controller.rb
  app/controllers/api/v1/vehicles_controller.rb
  config/initializers/git_revision.rb
  test/controllers/api/v1/trade_routes_controller_test.rb
Due: none

chore: upgrade workbox
  app/views/frontend/service_worker.js.erb
Due: none

chore: use new service-worker
  @types/fleetyards.d.ts
  app/javascript/packs/frontend.ts
  app/javascript/packs/service_worker.js
  app/views/frontend/index.html.erb
  config/webpack/environment.js
  package.json
  yarn.lock
Due: yarn

chore: add service worker header
  app/controllers/frontend/base_controller.rb
Due: none

chore: move service worker integration
  app/controllers/frontend/base_controller.rb
  app/controllers/frontend/service_worker_controller.rb
  app/javascript/packs/frontend.ts
  app/views/frontend/index.html.erb
Due: none

fix: audit issue
  app/javascript/frontend/components/Vehicles/OwnersModal/index.scss
  app/javascript/frontend/components/Vehicles/OwnersModal/index.vue
  app/views/frontend/service_worker.js.erb
  package.json
  yarn.lock
Due: yarn

chore: rubocoptering
  app/controllers/api/v1/fleets_controller.rb
Due: none

Path conditions:
  yarn: any of: .gitlab-ci.yml, package.json, yarn.lock, .npmrc
  bundle: any of: .gitlab-ci.yml, Gemfile, Gemfile.lock, .ruby-version
