Repository fleetyards/fleetyards: changes, and which GitLab CI jobs are due for each by the changed paths.
All: yarn, bundle

.gitlab-ci.yml:

image: fleetyards/base:2.6.6

stages:
  - prep
  - test
  - build
  - e2e
  - deploy

cache: &global_cache
  key: fleetyards-cache
  paths:
    - node_modules/
    - vendor/bundle/
  policy: pull

.ruby_template:
  variables:
    BUNDLE_PATH: vendor/bundle
  before_script:
    - bundle install
    - mkdir -p log

.js_test_template:
  before_script:
    - yarn --frozen-lockfile

.ruby_test_template:
  extends: .ruby_template
  services:
    - postgres:12.2-alpine
  variables:
    RAILS_ENV: test
    POSTGRES_DB: fleetyards_test
    POSTGRES_USER: root
    POSTGRES_PASSWORD: root
    POSTGRES_HOST_AUTH_METHOD: trust
    DATABASE_HOST: postgres
    DATABASE_PORT: 5432
    DATABASE_USER: $POSTGRES_USER
    DATABASE_URL: postgresql://$POSTGRES_USER:$POSTGRES_PASSWORD@$DATABASE_HOST:$DATABASE_PORT/$POSTGRES_DB

.e2e_template:
  extends: .ruby_test_template
  image: fleetyards/ci:2.6.6
  services:
    - redis:latest
    - name: docker.elastic.co/elasticsearch/elasticsearch:7.5.2
      alias: elasticsearch
      command: [ "bin/elasticsearch", "-Ediscovery.type=single-node -Xms512m -Xmx512m -Expack.security.enabled=0 -Ehttp.port=9200 -Ecluster.name=fleetyards-test-cluser" ]
  variables:
    DATABASE_URL: postgresql://root:root@127.0.0.1:5432/fleetyards
    ELASTICSEARCH_URL: http://elasticsearch:9200
    TEST_SEEDS: 1
    RAILS_ENV: ci
    ON_SUBDOMAIN: 1
    RAILS_SERVE_STATIC_FILES: 1
    DISABLE_DATABASE_ENVIRONMENT_CHECK: 1
    CYPRESS_BASE_URL: http://localhost:8270
    CYPRESS_CI: 1
    APP_DIR: .
    PORT: 8270
    transport.host: localhost
    network.host: 127.0.0.1

yarn:
  stage: prep
  cache:
    <<: *global_cache
    paths:
      - node_modules/
    policy: pull-push
  script:
    - yarn --frozen-lockfile
  only:
    changes:
      - .gitlab-ci.yml
      - package.json
      - yarn.lock
      - .npmrc

bundle:
  stage: prep
  cache:
    <<: *global_cache
    paths:
      - vendor/bundle/
    policy: pull-push
  script:
    - bundle install
  only:
    changes:
      - .gitlab-ci.yml
      - Gemfile
      - Gemfile.lock
      - .ruby-version

ruby audit:
  stage: test
  extends: .ruby_template
  script:
    - bundle exec bundle-audit update
    - bundle exec bundle-audit check

yarn audit:
  stage: test
  extends: .js_test_template
  script:
    - yarn audit

rubocop:
  stage: test
  extends: .ruby_template
  script:
    - bundle exec rubocop --format progress

js-lint:
  stage: test
  extends: .js_test_template
  script:
    - yarn run lint:js
    - yarn run lint:vue
    - yarn run lint:style

js tests:
  stage: test
  extends: .js_test_template
  script:
    - yarn run test

ruby tests:
  stage: test
  extends: .ruby_test_template
  script:
    - ./scripts/wait-for-db.sh
    - bundle exec rails db:create db:schema:load
    - bundle exec rails test:coverage

seeds:
  stage: build
  extends: .e2e_template
  script:
    - ./scripts/wait-for-db.sh
    - bundle exec rails db:create db:schema:load
    - bundle exec rails db:seed

assets:
  stage: build
  extends: .ruby_test_template
  script:
    - RAILS_ENV=production bundle exec rails assets:precompile

chore: update github workflows
  .github/workflows/check.yml
  .github/workflows/health-check.yml
  .github/workflows/main.yml
Due: none

chore: add info page for RSI API Status to admin backend
  app/controllers/admin/maintenance_controller.rb
  app/models/email_rejection.rb
  app/models/rsi_request_log.rb
  app/views/admin/maintenance/_rsi_api_status_detail.html.erb
  app/views/admin/maintenance/rsi_api_status.html.erb
  app/views/layouts/admin/_nav.haml
  config/appsignal.yml
  config/locales/en/en.yml
  config/locales/en/headlines.yml
  config/locales/en/labels.yml
  config/routes/admin_routes.rb
  db/migrate/20220430195725_change_resolved_default_in_rsi_request_logs.rb
  db/schema.rb
  test/fixtures/rsi_request_logs.yml
  test/models/admin_user_test.rb
  test/models/rsi_request_log_test.rb
Due: none

chore(release): new Version v5.6.4 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: update admin locales
  app/views/admin/maintenance/rsi_api_status.html.erb
  app/views/layouts/admin/_nav.haml
  config/locales/en/en.yml
Due: none

chore: linting
  app/controllers/admin/maintenance_controller.rb
Due: none

chore(release): new Version v5.6.5 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: update loaner loader
  app/lib/rsi/loaner_loader.rb
  app/views/admin_mailer/missing_loaners.html.inky
Due: none

chore(release): new Version v5.7.0 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: update ci config
  .github/workflows/main.yml
  app/packs/frontend/components/Starship42Btn/index.vue
Due: none

chore(release): new Version v5.7.1 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

feature(bot): enhance model api response
  app/models/concerns/routing.rb
  app/models/model.rb
  app/views/api/shared/_links.jbuilder
  app/views/api/v1/models/_base.jbuilder
  app/views/api/v1/models/_complete.jbuilder
  app/views/model_mailer/notify_new.html.inky
  app/views/vehicle_mailer/on_sale.html.inky
  config/routes/api_routes.rb
  config/routes/frontend_routes.rb
  lib/discord/new_ship.rb
  lib/discord/roadmap_update.rb
  lib/discord/ship_on_sale.rb
  lib/discord/webhook.rb
  test/controllers/api/v1/models_controller_test.rb
  test/controllers/api/v1/shop_commodities_controller_test.rb
  test/controllers/api/v1/vehicles_controller_test.rb
Due: none

chore: update github workflows
  .github/workflows/check.yml
  .github/workflows/health-check.yml
  .github/workflows/main.yml
  .github/workflows/release.yml
Due: none

feature(discord-bot): basic setup #WIP
  Gemfile
  Gemfile.lock
  app/lib/discord/bot.rb
  config/credentials.yml.enc
  vendor/cache/discordrb-3.2.0.gem
  vendor/cache/event_emitter-0.2.6.gem
  vendor/cache/opus-ruby-1.0.1.gem
  vendor/cache/rbnacl-3.4.0.gem
  vendor/cache/websocket-1.2.9.gem
  vendor/cache/websocket-client-simple-0.5.1.gem
Due: bundle

feature(guilded-bot): add example #WIP
  guilded-bot.js
Due: none

fix(tests): add missing attributes
  test/controllers/api/v1/vehicles_controller_test.rb
Due: none

chore(release): new Version v5.8.0 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix(routes): resolve issue with path in api_routes
  config/routes/api_routes.rb
Due: none

feature(models): add price labels
  app/models/model.rb
  app/views/api/v1/models/_base.jbuilder
  test/controllers/api/v1/models_controller_test.rb
  test/controllers/api/v1/shop_commodities_controller_test.rb
  test/controllers/api/v1/vehicles_controller_test.rb
Due: none

feature(api-meta-links): add meta links to api responses #WIP
  app/models/celestial_object.rb
  app/models/commodity.rb
  app/models/component.rb
  app/models/equipment.rb
  app/models/shop.rb
  app/models/starsystem.rb
  app/models/station.rb
  app/views/api/v1/search/_base.jbuilder
Due: none

chore: add missing dependency
  Gemfile
  Gemfile.lock
Due: bundle

chore: make bundler and rubygem version explizit for deployment
  config/deploy.rb
Due: none

chore: raise errors for missing translations on development
  config/environments/development.rb
Due: none

chore: upgrade insecure requests
  config/initializers/content_security_policy.rb
Due: none

feature(models): add price labels (#2286)
  app/models/model.rb
  app/views/api/v1/models/_base.jbuilder
  test/controllers/api/v1/models_controller_test.rb
  test/controllers/api/v1/shop_commodities_controller_test.rb
  test/controllers/api/v1/vehicles_controller_test.rb
Due: none

Add missing dependency
  Gemfile
  Gemfile.lock
  vendor/cache/devise-two-factor-4.0.2.gem
  vendor/cache/elasticsearch-7.4.0.gem
  vendor/cache/elasticsearch-api-7.4.0.gem
  vendor/cache/elasticsearch-transport-7.4.0.gem
Due: bundle

Update Searchkick
  Gemfile.lock
  vendor/cache/searchkick-5.0.3.gem
  vendor/cache/searchkick-5.0.4.gem
Due: bundle

Upgrade elasticsearch
  Gemfile
  Gemfile.lock
  vendor/cache/elasticsearch-7.17.0.gem
  vendor/cache/elasticsearch-7.4.0.gem
  vendor/cache/elasticsearch-api-7.17.0.gem
  vendor/cache/elasticsearch-api-7.4.0.gem
  vendor/cache/elasticsearch-transport-7.17.0.gem
  vendor/cache/elasticsearch-transport-7.4.0.gem
  vendor/cache/faraday-1.10.0.gem
  vendor/cache/faraday-2.2.0.gem
  vendor/cache/faraday-em_http-1.0.0.gem
  vendor/cache/faraday-em_synchrony-1.0.0.gem
  vendor/cache/faraday-excon-1.1.0.gem
  vendor/cache/faraday-httpclient-1.0.1.gem
  vendor/cache/faraday-multipart-1.0.4.gem
  vendor/cache/faraday-net_http-1.0.1.gem
  vendor/cache/faraday-net_http-2.0.1.gem
  vendor/cache/faraday-net_http_persistent-1.2.0.gem
  vendor/cache/faraday-patron-1.0.0.gem
  vendor/cache/faraday-rack-1.0.0.gem
  vendor/cache/faraday-retry-1.0.3.gem
  vendor/cache/multipart-post-2.2.3.gem
Due: bundle

chore: Rubocoptering
  app/controllers/frontend/base_controller.rb
  app/jobs/sc_data_check_job.rb
  app/lib/rsi/base_loader.rb
  config/deploy/live.rb
  config/initializers/sc_data_version.rb
  config/puma.rb
  lib/tasks/db.thor
  lib/tasks/search.thor
  vendor/cache/google-protobuf-3.19.4-x86_64-darwin.gem
  vendor/cache/google-protobuf-3.21.2-x86_64-darwin.gem
Due: none

chore: try to make embed e2e spec more robust
  test/javascript/e2e/specs/EmbedV2.spec.js
Due: none

chore: rubocoptering
  app/controllers/api/v1/roadmap_controller.rb
Due: none

chore: Downgrade @babel/preset-typescript and @babel/plugin-proposal-decorators
  package.json
  yarn.lock
Due: yarn

Add Heroku generated app.json
  app.json
Due: none

chore(heroku): update Procfile and ignore seed images
  .slugignore
  Procfile
  Procfile.dev
Due: none

chore(heroku): add review environment
  config/app/main.yml
  config/app/maintainer.yml
  config/app/rsi.yml
  config/environments/review.rb
Due: none

Update Procfile to migrate db on release
  Procfile
Due: none

chore(heroku): update app.json
  app.json
Due: none
