Repository fleetyards/fleetyards: changes, and which GitLab CI jobs are due for each by the changed paths.
All: yarn, bundle

.gitlab-ci.yml:

image: fleetyards/base:2.7.1

stages:
  - prep
  - test
  - build
  - e2e
  - deploy

cache: &global_cache
  key: fleetyards-cache
  paths:
    - node_modules/
    - vendor/bundle/
  policy: pull

.ruby_template:
  variables:
    BUNDLE_PATH: vendor/bundle
  before_script:
    - bundle install
    - mkdir -p log

.js_test_template:
  before_script:
    - yarn --frozen-lockfile

.ruby_test_template:
  extends: .ruby_template
  services:
    - postgres:12.2-alpine
  variables:
    RAILS_ENV: test
    POSTGRES_DB: fleetyards_test
    POSTGRES_USER: root
    POSTGRES_PASSWORD: root
    POSTGRES_HOST_AUTH_METHOD: trust
    DATABASE_HOST: postgres
    DATABASE_PORT: 5432
    DATABASE_USER: $POSTGRES_USER
    DATABASE_URL: postgresql://$POSTGRES_USER:$POSTGRES_PASSWORD@$DATABASE_HOST:$DATABASE_PORT/$POSTGRES_DB

.e2e_template:
  extends: .ruby_test_template
  image: fleetyards/ci:2.6.6
  services:
    - redis:latest
    - name: docker.elastic.co/elasticsearch/elasticsearch:7.5.2
      alias: elasticsearch
      command: ["bin/elasticsearch", "-Ediscovery.type=single-node", "-Expack.security.enabled=0", "-Ehttp.port=9200", "-Ecluster.name=fleetyards-test-cluser"]
  variables:
    DATABASE_URL: postgresql://root:root@127.0.0.1:5432/fleetyards
    ELASTICSEARCH_URL: http://elasticsearch:9200
    TEST_SEEDS: 1
    RAILS_ENV: ci
    ON_SUBDOMAIN: false
    RAILS_SERVE_STATIC_FILES: 1
    DISABLE_DATABASE_ENVIRONMENT_CHECK: 1
    CYPRESS_BASE_URL: http://localhost:8270
    APP_DIR: .
    PORT: 8270
    # transport.host: localhost
    # network.host: 127.0.0.1

yarn:
  stage: prep
  cache:
    <<: *global_cache
    paths:
      - node_modules/
    policy: pull-push
  script:
    - yarn --frozen-lockfile
  only:
    changes:
      - .gitlab-ci.yml
      - package.json
      - yarn.lock
      - .npmrc

bundle:
  stage: prep
  cache:
    <<: *global_cache
    paths:
      - vendor/bundle/
    policy: pull-push
  script:
    - bundle install
  only:
    changes:
      - .gitlab-ci.yml
      - Gemfile
      - Gemfile.lock
      - .ruby-version

ruby audit:
  stage: test
  extends: .ruby_template
  script:
    - bundle exec bundle-audit update
    - bundle exec bundle-audit check

yarn audit:
  stage: test
  extends: .js_test_template
  script:
    - yarn audit

rubocop:
  stage: test
  extends: .ruby_template
  script:
    - bundle exec rubocop --format progress

js-lint:
  stage: test
  extends: .js_test_template
  script:
    - yarn run lint:js
    - yarn run lint:vue
    - yarn run lint:style

js tests:
  stage: test
  extends: .js_test_template
  script:
    - yarn run test

ruby tests:
  stage: test
  extends: .ruby_test_template
  script:
    - ./scripts/wait-for-db.sh
    - bundle exec rails db:create db:schema:load
    - bundle exec rails test:coverage

seeds:
  stage: build
  extends: .e2e_template
  script:
    - ./scripts/wait-for-db.sh
    - bundle exec rails db:create db:schema:load
    - bundle exec rails db:seed

assets:
  stage: build
  extends: .ruby_test_template
  script:
    - RAILS_ENV=production bundle exec rails assets:precompile

chore: fix merge
  Gemfile
  Gemfile.lock
  app/frontend/frontend/components/Models/Hardpoints/new.vue
  app/frontend/frontend/components/Models/Hardpoints/old.vue
  app/frontend/frontend/components/Models/ModulesList/index.vue
  app/frontend/frontend/components/Models/UpgradesList/index.vue
  app/frontend/translations/en/labels.json
  app/models/celestial_object.rb
  app/models/commodity.rb
  app/models/commodity_buy_price.rb
  app/models/commodity_price.rb
  app/models/commodity_rental_price.rb
  app/models/commodity_sell_price.rb
  app/models/shop.rb
  app/models/shop_commodity.rb
  app/models/starsystem.rb
  app/models/station.rb
  app/views/api/v1/models/_base.jbuilder
  spec/factories/docks.rb
  spec/factories/model_paints.rb
  spec/factories/models.rb
  vendor/cache/logger-1.6.6.gem
  vendor/cache/vcr-6.3.1.gem
Due: bundle

fix(paints): add mapping for idris
  app/lib/paints_importer.rb
Due: none

chore(release): new Version v5.31.56 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix(loaners): update mapping
  app/lib/rsi/loaner_loader.rb
Due: none

chore(release): new Version v5.31.57 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: update paint mapping for guardian mx
  app/lib/paints_importer.rb
Due: none

chore: update support modal
  app/frontend/frontend/components/Support/Modal/index.vue
Due: none

chore(release): new Version v5.31.58 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: update support modal
  app/frontend/frontend/components/Support/index.vue
Due: none

chore(release): new Version v5.31.59 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix(hangar-sync): update mapping for best in show ships
  app/lib/hangar_sync.rb
Due: none

chore(release): new Version v5.31.60 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: linting
  app/frontend/frontend/components/Support/index.vue
  app/frontend/frontend/pages/Models/Compare/index.vue
Due: none

chore(release): new Version v5.31.61 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: fix route imports
  app/frontend/frontend/components/Support/index.vue
Due: none

chore(release): new Version v5.31.62 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix(hardpoint): update erkul/spviewer buttons
  app/frontend/frontend/components/Models/Hardpoints/index.vue
  app/frontend/frontend/pages/Models/Compare/index.vue
  app/frontend/stylesheets/frontend/partials/erkul.scss
Due: none

chore: update view image
  .vscode/settings.json
  app/frontend/admin/pages/models/index.vue
  app/frontend/frontend/components/Vehicles/Table/index.vue
  app/frontend/frontend/plugins/Router.ts
  app/frontend/frontend/stores/hangar.ts
  app/frontend/frontend/stores/wishlist.ts
  app/frontend/shared/components/LazyImage/index.scss
  app/frontend/shared/components/LazyImage/index.vue
  app/frontend/shared/components/ViewImage/index.vue
  app/frontend/shared/components/ViewImage/types.ts
  app/frontend/translations/en/labels.json
  app/frontend/translations/en/messages.json
Due: none

chore(vue3): add additional fields to tables
  app/frontend/admin/pages/models/index.vue
  app/frontend/frontend/components/Hangar/DisplayOptionsModal/index.vue
  app/frontend/frontend/components/Models/DisplayOptionsModal/index.vue
  app/frontend/frontend/components/Models/Table/index.vue
  app/frontend/frontend/components/Vehicles/Table/index.vue
  app/frontend/frontend/stores/hangar.ts
  app/frontend/frontend/stores/models.ts
  app/frontend/frontend/stores/wishlist.ts
  app/frontend/translations/en/labels.json
Due: none

chore: update hangar sync mapping
  app/lib/hangar_sync.rb
  app/lib/paints_importer.rb
Due: none

chore: update SupportBtn Modal
  app/frontend/frontend/components/SupportBtn/Modal/index.scss
Due: none

chore: update lockfile
  pnpm-lock.yaml
Due: none

chore: fix support btn
  app/frontend/frontend/components/SupportBtn/Modal/index.scss
  app/frontend/frontend/components/SupportBtn/Modal/index.vue
Due: none

chore: remove searchkick from deleted model tables
  app/models/celestial_object.rb
  app/models/commodity.rb
  app/models/omniauth_connection.rb
  app/models/shop.rb
  app/models/shop_commodity.rb
  app/models/starsystem.rb
  app/models/station.rb
  spec/playwright/app_commands/log_fail.rb
Due: none

chore(vue3): update tsconfig
  tsconfig.json
Due: none

chore: linting
  app/frontend/admin/components/Navigation/index.vue
  app/frontend/frontend/App.vue
  app/frontend/frontend/components/Compare/Models/Crew/index.vue
  app/frontend/frontend/components/Compare/Models/TopView/index.vue
  app/frontend/frontend/components/Fleetchart/List/Item/index.vue
  app/frontend/frontend/components/Fleetchart/ListPanzoom/Item/index.vue
  app/frontend/frontend/pages/login.vue
  app/frontend/frontend/stores/session.ts
  app/frontend/shared/components/BreadCrumbs/index.vue
  app/frontend/shared/components/Chart/index.vue
  app/frontend/shared/components/NotAuthorized/index.vue
  app/frontend/shared/components/OauthBtn/index.vue
  app/frontend/shared/components/ServerError/index.vue
  app/frontend/shared/components/SocialLogins/index.vue
  app/frontend/translations/en/labels.json
  orval.config.ts
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: yarn

chore(vue3): update vee-validate
  app/frontend/admin/components/base/ModelFilterGroup/index.vue
  app/frontend/admin/pages/login.vue
  app/frontend/admin/pages/models/[id]/edit/videos.vue
  app/frontend/embed/components/Models/List/index.vue
  app/frontend/frontend/components/Hangar/Empty/index.vue
  app/frontend/frontend/components/Models/Hardpoints/new.vue
  app/frontend/frontend/components/Models/Hardpoints/old.vue
  app/frontend/frontend/components/Models/Hardpoints/old/Group/index.vue
  app/frontend/frontend/components/Security/ChangePasswordForm/index.vue
  app/frontend/frontend/components/Vehicles/GroupModal/index.vue
  app/frontend/frontend/components/Vehicles/NewGroupModal/index.vue
  app/frontend/frontend/components/core/SecurePage/index.vue
  app/frontend/frontend/composables/useCompareModelFilters.ts
  app/frontend/frontend/pages/change-password.vue
  app/frontend/frontend/pages/fleets/[slug]/settings/fleet.vue
  app/frontend/frontend/pages/fleets/add.vue
  app/frontend/frontend/pages/login.vue
  app/frontend/frontend/pages/request-password.vue
  app/frontend/frontend/pages/settings/security/two-factor-enable.vue
  app/frontend/frontend/pages/signup.vue
  app/frontend/frontend/validations/rules/emailTaken.ts
  app/frontend/shared/components/AppNotifications/Message/Body/index.vue
  app/frontend/shared/components/AppNotifications/Message/index.vue
  app/frontend/shared/components/Empty/Actions/index.scss
  app/frontend/shared/components/base/FilterGroup/index.vue
  app/frontend/shared/components/base/FormInput/index.vue
  app/frontend/shared/plugins/Router.ts
  app/frontend/stylesheets/frontend/partials.scss
  app/frontend/stylesheets/frontend/partials/compare-models.scss
  app/frontend/translations/en/labels.json
  app/frontend/translations/en/main.json
  app/lib/rsi/models_loader.rb
  app/models/user.rb
  package.json
  pnpm-lock.yaml
Due: yarn

chore(cc): add rules and config for ai tooling
  .cursor/rules/backend.mdc
  .cursor/rules/backend/linting-and-formatting.mdc
  .cursor/rules/bin-scripts.mdc
  .cursor/rules/frontend.mdc
  .cursor/rules/frontend/components.mdc
  .cursor/rules/frontend/linting-and-formatting.mdc
  .cursor/rules/frontend/styling.mdc
  .cursor/rules/frontend/unit-test.mdc
  .cursor/rules/frontend/vue-sfc.mdc
  .cursor/rules/git-workflow.mdc
  .cursor/rules/project-structure.mdc
  .cursor/rules/systematic_debugging.mdc
  .cursor/rules/tech-stack.mdc
  .github/copilot-instructions.md
  .gitignore
  CLAUDE.md
Due: none

chore(oauth): add additional providers
  Gemfile
  Gemfile.lock
  app/frontend/shared/components/OauthBtn/index.scss
  app/frontend/shared/components/OauthBtn/index.vue
  app/frontend/shared/components/OauthBtn/types.ts
  app/frontend/shared/components/SocialLogins/index.scss
  app/frontend/shared/components/SocialLogins/index.vue
  app/frontend/translations/en/actions.json
  config/app/main.yml
  config/initializers/devise.rb
  vendor/cache/aes_key_wrap-1.1.0.gem
  vendor/cache/atproto_client-0.1.4.gem
  vendor/cache/bindata-2.5.1.gem
  vendor/cache/didkit-0.2.3.gem
  vendor/cache/faraday-follow_redirects-0.3.0.gem
  vendor/cache/json-jwt-1.16.7.gem
  vendor/cache/omniauth-apple-1.3.0.gem
  vendor/cache/omniauth-atproto-0.1.3.gem
  vendor/cache/omniauth-google-oauth2-1.1.3.gem
  vendor/cache/openssl-3.3.0.gem
Due: bundle

chore(vue3): update wishlist
  app/api_components/v1/schemas/hangar/hangar_stats_public.rb
  app/controllers/api/v1/public/hangar_stats_controller.rb
  app/controllers/api/v1/public/hangars_controller.rb
  app/controllers/api/v1/public/wishlists_controller.rb
  app/frontend/frontend/components/Hangar/GroupLabels/index.vue
  app/frontend/frontend/pages/hangar/[username]/index.vue
  app/frontend/frontend/pages/hangar/[username]/wishlist.vue
  spec/requests/api/v1/public/hangars/stats/show_spec.rb
Due: none

chore(vue3): update AppContact component
  app/frontend/frontend/components/core/AppContact/index.vue
Due: none

chore(vue3): add admin color
  app/frontend/stylesheets/variables.scss
Due: none

chore: update translations
  app/frontend/translations/de/actions.json
  app/frontend/translations/de/directUpload.json
  app/frontend/translations/de/errors.json
  app/frontend/translations/de/filterGroup.json
  app/frontend/translations/de/filteredTable.json
  app/frontend/translations/de/tools.json
  app/frontend/translations/en/tools.json
  app/frontend/translations/es/actions.json
  app/frontend/translations/es/chart.json
  app/frontend/translations/es/directUpload.json
  app/frontend/translations/es/errors.json
  app/frontend/translations/es/filteredTable.json
  app/frontend/translations/es/labels.json
  app/frontend/translations/es/messages.json
  app/frontend/translations/es/nav.json
  app/frontend/translations/es/tools.json
  app/frontend/translations/fr/actions.json
  app/frontend/translations/fr/directUpload.json
  app/frontend/translations/fr/errors.json
  app/frontend/translations/fr/filteredTable.json
  app/frontend/translations/fr/labels.json
  app/frontend/translations/fr/tools.json
  app/frontend/translations/it/actions.json
  app/frontend/translations/it/directUpload.json
  app/frontend/translations/it/errors.json
  app/frontend/translations/it/filteredTable.json
  app/frontend/translations/it/labels.json
  app/frontend/translations/it/tools.json
  app/frontend/translations/zh-CN/actions.json
  app/frontend/translations/zh-CN/directUpload.json
  app/frontend/translations/zh-CN/errors.json
  app/frontend/translations/zh-CN/labels.json
  app/frontend/translations/zh-CN/messages.json
  app/frontend/translations/zh-CN/tools.json
  app/frontend/translations/zh-TW/actions.json
  app/frontend/translations/zh-TW/directUpload.json
  app/frontend/translations/zh-TW/errors.json
  app/frontend/translations/zh-TW/labels.json
  app/frontend/translations/zh-TW/messages.json
  app/frontend/translations/zh-TW/tools.json
Due: none

chore(vue3): update wishlists
  .cursor/rules/frontend/components.mdc
  app/frontend/frontend/components/Hangar/PublicHeading/index.scss
  app/frontend/frontend/components/Hangar/PublicHeading/index.vue
  app/frontend/frontend/components/ToolCard/index.vue
  app/frontend/frontend/components/ToolCard/types.ts
  app/frontend/frontend/components/Vehicles/HangarGroups/index.vue
  app/frontend/frontend/components/Vehicles/Panel/index.vue
  app/frontend/frontend/pages/hangar/[username]/index-old.vue
  app/frontend/frontend/pages/hangar/[username]/index.vue
  app/frontend/frontend/pages/hangar/[username]/wishlist.vue
  app/frontend/frontend/pages/hangar/wishlist.vue
  app/frontend/frontend/pages/tools/index.vue
  app/frontend/images/tools/erkul.webp
  app/frontend/images/tools/item-finder.webp
  app/frontend/images/tools/shinytracker.webp
  app/frontend/images/tools/star-citizen-tools.webp
  app/frontend/images/tools/star-hangar.webp
  app/frontend/images/tools/starjump.webp
  app/frontend/images/tools/starship42.webp
  app/frontend/images/tools/uex-corp.webp
  app/frontend/images/tools/verse-guide.webp
  app/frontend/shared/components/Empty/index.vue
  app/frontend/shared/components/FilteredList/index.vue
  app/frontend/shared/components/base/Heading/index.scss
  app/frontend/shared/components/base/Heading/index.vue
  app/views/api/v1/public/hangar_stats/show.jbuilder
  spec/requests/api/v1/public/wishlists/show_spec.rb
  swagger/v1/schema.yaml
Due: none

chore(vue3): update fleet membership settings
  app/api_components/v1/schemas/inputs/fleet_membership_update_input.rb
  app/frontend/frontend/pages/fleets/[slug]/settings/membership.vue
  app/frontend/translations/de/filterGroup.json
  app/frontend/translations/en/filterGroup.json
  swagger/v1/schema.yaml
Due: none

chore(vue3): fix panels
  app/frontend/frontend/components/Vehicles/Panel/index.scss
  app/frontend/frontend/components/Vehicles/Panel/index.vue
  app/frontend/frontend/components/Vehicles/Table/ListActions.vue
  app/frontend/frontend/pages/hangar/index.vue
  app/frontend/frontend/pages/ships/index.vue
  app/frontend/shared/components/base/Panel/BgImage/index.scss
Due: none
