Repository fleetyards/fleetyards: changes, and which GitLab CI jobs are due for each by the changed paths.
All: yarn, bundle

yarn:
  stage: prep
  cache:
    key: fleetyards-cache
    paths:
    - node_modules/
    policy: pull-push
  script:
  - yarn --frozen-lockfile

bundle:
  stage: prep
  cache:
    key: fleetyards-cache
    paths:
    - vendor/bundle/
    policy: pull-push
  script:
  - bundle install

chore: add ansi-regex to resolutions
  package.json
  yarn.lock
Due: yarn

chore: linting
  app/packs/frontend/core/components/HoloViewer/index.vue
Due: none

chore: resolve issue with cypress and smooth scroll
  package.json
  test/javascript/e2e/specs/Fleet.spec.js
  test/javascript/e2e/specs/Footer.spec.js
  test/javascript/e2e/specs/Hangar.spec.js
  test/javascript/e2e/specs/Home.spec.js
  test/javascript/e2e/specs/Images.spec.js
  test/javascript/e2e/specs/Login.spec.js
  test/javascript/e2e/specs/Roadmap.spec.js
  test/javascript/e2e/specs/Ship.spec.js
  test/javascript/e2e/specs/Ships.spec.js
  test/javascript/e2e/specs/Signup.spec.js
  test/javascript/e2e/specs/Starsystems.spec.js
  test/javascript/e2e/specs/Stations.spec.js
  test/javascript/e2e/specs/Stats.spec.js
  test/javascript/e2e/support/commands.js
  yarn.lock
Due: yarn

chore(release): new Version v5.3.4 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: update holoviewer
  app/packs/frontend/core/components/HoloViewer/index.vue
Due: none

feat(fleetchart-v2): add all option for pagination of hangar and fleetchart
  app/controllers/api/v1/fleet_vehicles_controller.rb
  app/controllers/api/v1/vehicles_controller.rb
  app/controllers/concerns/pagination.rb
  app/controllers/short/base_controller.rb
  app/models/vehicle.rb
  app/packs/frontend/api/collections/FleetVehicles.ts
  app/packs/frontend/api/collections/PublicFleetVehicles.ts
  app/packs/frontend/api/collections/PublicVehicles.ts
  app/packs/frontend/api/collections/Vehicles.ts
  app/packs/frontend/components/Fleets/PublicShipsList/index.vue
  app/packs/frontend/components/Fleets/ShipsList/index.vue
  app/packs/frontend/lib/Store/actions.js
  app/packs/frontend/lib/Store/modules/publicFleet/actions.js
  app/packs/frontend/lib/Store/modules/publicFleet/index.js
  app/packs/frontend/lib/Store/modules/publicFleet/state.js
  app/packs/frontend/lib/Store/modules/publicHangar/actions.js
  app/packs/frontend/lib/Store/modules/publicHangar/index.js
  app/packs/frontend/lib/Store/modules/publicHangar/state.js
  app/packs/frontend/pages/Fleets/Ships/index.vue
  app/packs/frontend/pages/Hangar/Public/index.vue
Due: none

chore(release): new Version v5.4.0 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: rubocoptering
  app/models/habitation.rb
  app/models/shop.rb
  app/models/station.rb
Due: none

chore: update follow-redirects resolution
  package.json
  yarn.lock
Due: yarn

feat(hangar-import): mark all imported ships as purchased by default
  app/lib/hangar_importer.rb
Due: none

feat(hangar-import): mark all imported ships as purchased by default (#2057)
  app/lib/hangar_importer.rb
Due: none

chore: first try
  Gemfile
  Gemfile.lock
  vendor/cache/actioncable-6.1.4.4.gem
  vendor/cache/actionmailbox-6.1.4.4.gem
  vendor/cache/actionmailer-6.1.4.4.gem
  vendor/cache/actionmailer-7.0.1.gem
  vendor/cache/actionpack-6.1.4.4.gem
  vendor/cache/actiontext-6.1.4.4.gem
  vendor/cache/actionview-6.1.4.4.gem
  vendor/cache/activejob-6.1.4.4.gem
  vendor/cache/activemodel-6.1.4.4.gem
  vendor/cache/activerecord-6.1.4.4.gem
  vendor/cache/activestorage-6.1.4.4.gem
  vendor/cache/activesupport-6.1.4.4.gem
  vendor/cache/annotate-3.1.1.gem
  vendor/cache/minitest-rails-6.1.0.gem
  vendor/cache/rails-6.1.4.4.gem
  vendor/cache/rails-i18n-6.0.0.gem
  vendor/cache/railties-6.1.4.4.gem
  vendor/cache/ransack-2.4.2.gem
  vendor/cache/redis-actionpack-5.3.0.gem
  vendor/cache/redis-rack-2.1.3.gem
  vendor/cache/redis-store-1.9.0.gem
Due: bundle

chore: upgrade attr_encrypted for rails 7
  Gemfile
  Gemfile.lock
  config/application.rb
  config/credentials.yml.enc
  config/credentials/production.yml.enc
  config/credentials/staging.yml.enc
  test/controllers/admin/models_controller_test.rb
  test/controllers/admin/shops_controller_test.rb
  test/models/fleet_test.rb
  test/models/user_test.rb
  test/test_helper.rb
  test/unit/hangar_import_hangar_xplor_test.rb
  test/unit/hangar_import_starship42_test.rb
  test/unit/hangar_importer_test.rb
  test/unit/rsi_models_loader_test.rb
  test/unit/sc_data_loader_test.rb
  vendor/cache/attr_encrypted-3.1.0.gem
  vendor/cache/bourbon-7.0.0.gem
  vendor/cache/redis-rack-2.1.3.gem
  vendor/cache/redis-store-1.9.0.gem
Due: bundle

chore: run bin/rails app:update
  Gemfile
  Gemfile.lock
  config/environments/development.rb
  config/environments/production.rb
  config/environments/test.rb
  config/initializers/filter_parameter_logging.rb
  config/initializers/inflections.rb
  config/initializers/new_framework_defaults_5_1.rb
  config/initializers/new_framework_defaults_5_2.rb
  config/initializers/new_framework_defaults_6_0.rb
  config/initializers/permissions_policy.rb
  db/migrate/20220111142043_add_service_name_to_active_storage_blobs.active_storage.rb
  db/migrate/20220111142044_create_active_storage_variant_records.active_storage.rb
  db/migrate/20220111142045_remove_not_null_on_active_storage_blobs_checksum.active_storage.rb
  package.json
  vendor/assets/bower_components/nprogress/.bower.json
  vendor/assets/bower_components/nprogress/History.md
  vendor/assets/bower_components/nprogress/License.md
  vendor/assets/bower_components/nprogress/Notes.md
  vendor/assets/bower_components/nprogress/Readme.md
  vendor/assets/bower_components/nprogress/bower.json
  vendor/assets/bower_components/nprogress/component.json
  vendor/assets/bower_components/nprogress/index.html
  vendor/assets/bower_components/nprogress/nprogress.css
  vendor/assets/bower_components/nprogress/nprogress.js
  vendor/assets/bower_components/nprogress/support/extras.css
  vendor/assets/bower_components/nprogress/support/style.css
  yarn.lock
Due: yarn, bundle

chore: remove active storage migrations
  db/migrate/20220111142043_add_service_name_to_active_storage_blobs.active_storage.rb
  db/migrate/20220111142044_create_active_storage_variant_records.active_storage.rb
  db/migrate/20220111142045_remove_not_null_on_active_storage_blobs_checksum.active_storage.rb
Due: none

chore: install cypress on ci
  .github/workflows/main.yml
Due: none

chore: limit available locales
  config/application.rb
Due: none

fix: specs
  app/models/station.rb
  public/models.json
  test/controllers/api/v1/celestial_objects_controller_test.rb
  test/controllers/api/v1/fleet_invite_urls_controller_test.rb
  test/controllers/api/v1/fleet_vehicles_controller_test.rb
  test/controllers/api/v1/models_controller_test.rb
  test/controllers/api/v1/roadmap_controller_test.rb
  test/controllers/api/v1/shop_commodities_controller_test.rb
  test/controllers/api/v1/shops_controller_test.rb
  test/controllers/api/v1/starsystems_controller_test.rb
  test/controllers/api/v1/stations_controller_test.rb
  test/controllers/api/v1/trade_routes_controller_test.rb
  test/controllers/api/v1/users_controller_test.rb
  test/controllers/api/v1/vehicles_controller_test.rb
  test/fixtures/roadmap_items.yml
  test/unit/hangar_import_hangar_xplor_test.rb
Due: none

fix: specs
  app/models/celestial_object.rb
  app/models/hangar_group.rb
  app/models/model.rb
  app/models/shop.rb
  test/controllers/api/v1/celestial_objects_controller_test.rb
  test/controllers/api/v1/fleet_invite_urls_controller_test.rb
  test/controllers/api/v1/fleet_vehicles_controller_test.rb
  test/controllers/api/v1/models_controller_test.rb
  test/controllers/api/v1/shops_controller_test.rb
  test/controllers/api/v1/users_controller_test.rb
Due: none

chore: update ci e2e config
  .github/workflows/main.yml
Due: none

chore: rubocoptering
  app/controllers/api/v1/celestial_objects_controller.rb
  test/controllers/api/v1/celestial_objects_controller_test.rb
Due: none

chore: remove ransack from celestial_objects_controller
  app/controllers/admin/celestial_objects_controller.rb
  app/controllers/api/v1/celestial_objects_controller.rb
  app/controllers/api/v1/shop_commodities_controller.rb
  app/models/celestial_object.rb
  app/models/shop_commodity.rb
  app/packs/frontend/pages/Stations/Starsystem/index.vue
  test/controllers/api/v1/celestial_objects_controller_test.rb
  test/controllers/api/v1/fleet_invite_urls_controller_test.rb
  test/controllers/api/v1/fleet_vehicles_controller_test.rb
  test/controllers/api/v1/models_controller_test.rb
  test/controllers/api/v1/roadmap_controller_test.rb
  test/controllers/api/v1/shop_commodities_controller_test.rb
  test/controllers/api/v1/shops_controller_test.rb
  test/controllers/api/v1/starsystems_controller_test.rb
  test/controllers/api/v1/stations_controller_test.rb
  test/controllers/api/v1/trade_routes_controller_test.rb
  test/controllers/api/v1/users_controller_test.rb
  test/controllers/api/v1/vehicles_controller_test.rb
  test/fixtures/celestial_objects.yml
  test/test_helper.rb
  test/unit/hangar_import_hangar_xplor_test.rb
  test/unit/hangar_import_starship42_test.rb
  test/unit/hangar_importer_test.rb
  test/unit/rsi_models_loader_test.rb
  test/unit/sc_data_loader_test.rb
  test/vcr_cassettes/celestial_objects_index.yml
Due: none

chore: remove slim
  Gemfile
  Gemfile.lock
  app/views/admin/current_user/otp.haml
  app/views/layouts/admin/_header.haml
  app/views/layouts/api/_head.haml
  app/views/layouts/api/application.haml
  app/views/layouts/api/application.slim
  vendor/cache/slim-4.1.0.gem
  vendor/cache/slim-rails-3.3.0.gem
Due: bundle

chore: cleanup
  app/assets/stylesheets/admin.scss
  app/assets/stylesheets/application.scss
  app/javascript/admin.js
  app/views/admin/base/_classification_chart_panel.haml
  app/views/admin/base/_classification_chart_panel.slim
  app/views/admin/base/_components_chart_panel.haml
  app/views/admin/base/_components_chart_panel.slim
  app/views/admin/base/_manufacturers_chart_panel.haml
  app/views/admin/base/_manufacturers_chart_panel.slim
  app/views/admin/base/_models_chart_panel.haml
  app/views/admin/base/_models_chart_panel.slim
  app/views/admin/base/_production_status_chart_panel.haml
  app/views/admin/base/_production_status_chart_panel.slim
  app/views/admin/base/_quick_stats.haml
  app/views/admin/base/_size_chart_panel.haml
  app/views/admin/base/_size_chart_panel.slim
  app/views/admin/base/_users_panel.haml
  app/views/admin/base/_users_panel.slim
  app/views/admin/base/index.haml
  app/views/layouts/admin/_header.html.erb
  app/views/layouts/admin/application.html.erb
  config/importmap.rb
  config/initializers/assets.rb
  vendor/cache/autoprefixer-rails-10.4.2.0.gem
  vendor/cache/bootstrap-5.1.3.gem
  vendor/cache/popper_js-2.9.3.gem
  vendor/cache/selectize-rails-0.12.6.gem
Due: none

chore: first try
  vendor/cache/actioncable-7.0.1.gem
  vendor/cache/actionmailbox-7.0.1.gem
  vendor/cache/actionpack-7.0.1.gem
  vendor/cache/actiontext-7.0.1.gem
  vendor/cache/actionview-7.0.1.gem
  vendor/cache/activejob-7.0.1.gem
  vendor/cache/activemodel-7.0.1.gem
  vendor/cache/activerecord-7.0.1.gem
  vendor/cache/activestorage-7.0.1.gem
  vendor/cache/activesupport-7.0.1.gem
  vendor/cache/digest-3.1.0.gem
  vendor/cache/io-wait-0.2.1.gem
  vendor/cache/net-imap-0.2.3.gem
  vendor/cache/net-pop-0.1.1.gem
  vendor/cache/net-protocol-0.1.2.gem
  vendor/cache/net-smtp-0.3.1.gem
  vendor/cache/rails-7.0.1.gem
  vendor/cache/rails-i18n-7.0.1.gem
  vendor/cache/railties-7.0.1.gem
  vendor/cache/ransack-2.5.0.gem
  vendor/cache/redis-rack-2.1.3.gem
  vendor/cache/redis-store-1.9.0.gem
  vendor/cache/strscan-3.0.1.gem
  vendor/cache/timeout-0.2.0.gem
Due: none

chore: upgrade attr_encrypted for rails 7
  Gemfile.lock
  vendor/cache/redis-rack-2.1.3.gem
  vendor/cache/redis-store-1.9.0.gem
Due: bundle

chore: run bin/rails app:update
  db/migrate/20220111142043_add_service_name_to_active_storage_blobs.active_storage.rb
  db/migrate/20220111142044_create_active_storage_variant_records.active_storage.rb
  db/migrate/20220111142045_remove_not_null_on_active_storage_blobs_checksum.active_storage.rb
Due: none

chore: remove bower
  public/models.json
Due: none

chore: update js WIP
  Gemfile
  app/assets/stylesheets/admin.scss
  app/javascript/admin.js
  config/importmap.rb
  vendor/cache/selectize-rails-0.12.6.gem
Due: bundle

chore: update views WIP
  app/assets/javascripts/application-legacy.js
  app/views/admin/base/_classification_chart_panel.html.erb
  app/views/admin/base/_components_chart_panel.html.erb
  app/views/admin/base/_latest_components_panel.html.erb
  app/views/admin/base/_latest_manufacturers_panel.html.erb
  app/views/admin/base/_latest_models_panel.html.erb
  app/views/admin/base/_manufacturers_chart_panel.html.erb
  app/views/admin/base/_models_chart_panel.html.erb
  app/views/admin/base/_production_status_chart_panel.html.erb
  app/views/admin/base/_quick_stats.html.erb
  app/views/admin/base/_size_chart_panel.html.erb
  app/views/admin/base/_users_panel.html.erb
  app/views/admin/base/index.html.erb
  app/views/layouts/admin/application.html.erb
Due: none

chore: update navigation
  Gemfile.lock
  Procfile.dev
  app/assets/stylesheets/admin.scss
  app/views/admin/base/index.html.erb
  app/views/errors/error.haml
  app/views/errors/error.html.erb
  app/views/layouts/admin/_nav-maintenance.html.erb
  app/views/layouts/admin/_nav-models.html.erb
  app/views/layouts/admin/_nav-new.html.erb
  app/views/layouts/admin/_nav-stations.html.erb
  app/views/layouts/error.html.erb
  app/views/shared/_btn_a.html.erb
  app/views/shared/_nav-item.html.erb
  app/views/shared/_nav-sub-item.html.erb
  app/views/shared/_panel.html.erb
  app/views/shared/_ui_border.html.erb
  config/locales/en/actions.yml
  config/locales/en/en.yml
  config/tailwind.config.js
  public/javascripts/translations.js
  test/test_helper.rb
  vendor/cache/tailwindcss-rails-2.0.5.gem
Due: bundle

chore: update frontend navigation
  app/packs/frontend/components/Fleetchart/List/Item/index.vue
  app/packs/frontend/core/components/Navigation/FleetNav/index.vue
  app/packs/frontend/core/components/Navigation/FleetsNav/index.scss
  app/packs/frontend/core/components/Navigation/FleetsNav/index.vue
  app/packs/frontend/core/components/Navigation/Mobile/index.vue
  app/packs/frontend/core/components/Navigation/NavFooter/index.vue
  app/packs/frontend/core/components/Navigation/NavItem/NavItemInner/index.scss
  app/packs/frontend/core/components/Navigation/NavItem/NavItemInner/index.vue
  app/packs/frontend/core/components/Navigation/NavItem/index.scss
  app/packs/frontend/core/components/Navigation/NavItem/index.vue
  app/packs/frontend/core/components/Navigation/RoadmapNav/index.vue
  app/packs/frontend/core/components/Navigation/ShipsNav/index.vue
  app/packs/frontend/core/components/Navigation/UserNav/index.scss
  app/packs/frontend/core/components/Navigation/UserNav/index.vue
  app/packs/frontend/core/components/Navigation/index.vue
  app/packs/frontend/pages/Models/index.vue
  app/packs/frontend/pages/Roadmap/Changes/index.vue
  app/packs/frontend/pages/Roadmap/Ships/index.vue
  app/packs/frontend/pages/Roadmap/index.vue
  app/packs/stylesheets/frontend/partials/app-navigation.scss
  app/packs/translations/en/nav.js
  app/views/layouts/application.html.erb
Due: none

chore: linting
  app/packs/frontend/core/components/Navigation/UserNav/index.vue
Due: none

chore: linting
  app/packs/frontend/core/components/Navigation/FleetsNav/index.scss
  app/packs/frontend/pages/Models/index.vue
  app/packs/frontend/pages/Roadmap/index.vue
  test/javascript/e2e/specs/Signup.spec.js
Due: none

Path conditions:
  yarn: any of: .gitlab-ci.yml, package.json, yarn.lock, .npmrc
  bundle: any of: .gitlab-ci.yml, Gemfile, Gemfile.lock, .ruby-version
