Repository fleetyards/fleetyards: changes, and which GitLab CI jobs are due for each by the changed paths.
All: yarn, bundle

yarn:
  stage: prep
  cache:
    key: fleetyards-cache
    paths:
    - node_modules/
    policy: pull-push
  script:
  - yarn --frozen-lockfile

bundle:
  stage: prep
  cache:
    key: fleetyards-cache
    paths:
    - vendor/bundle/
    policy: pull-push
  script:
  - bundle install

chore: update e2e specs
  test/javascript/e2e/support/commands.js
Due: none

chore: map component sizes
  app/lib/sc_data/hardpoints_loader.rb
Due: none

chore: fix yarn audit issue
  package.json
  yarn.lock
Due: yarn

chore: update rails
  Gemfile
  Gemfile.lock
  vendor/cache/actioncable-6.0.3.4.gem
  vendor/cache/actioncable-6.1.0.gem
  vendor/cache/actionmailbox-6.0.3.4.gem
  vendor/cache/actionmailbox-6.1.0.gem
  vendor/cache/actionmailer-6.0.3.4.gem
  vendor/cache/actionmailer-6.1.0.gem
  vendor/cache/actionpack-6.0.3.4.gem
  vendor/cache/actionpack-6.1.0.gem
  vendor/cache/actiontext-6.0.3.4.gem
  vendor/cache/actiontext-6.1.0.gem
  vendor/cache/actionview-6.0.3.4.gem
  vendor/cache/actionview-6.1.0.gem
  vendor/cache/activejob-6.0.3.4.gem
  vendor/cache/activejob-6.1.0.gem
  vendor/cache/activemodel-6.0.3.4.gem
  vendor/cache/activemodel-6.1.0.gem
  vendor/cache/activerecord-6.0.3.4.gem
  vendor/cache/activerecord-6.1.0.gem
  vendor/cache/activestorage-6.0.3.4.gem
  vendor/cache/activestorage-6.1.0.gem
  vendor/cache/activesupport-6.0.3.4.gem
  vendor/cache/activesupport-6.1.0.gem
  vendor/cache/minitest-rails-6.0.1.gem
  vendor/cache/minitest-rails-6.1.0.gem
  vendor/cache/rails-6.0.3.4.gem
  vendor/cache/rails-6.1.0.gem
  vendor/cache/railties-6.0.3.4.gem
  vendor/cache/railties-6.1.0.gem
  vendor/cache/rake-13.0.1.gem
  vendor/cache/rake-13.0.2.gem
  vendor/cache/thread_safe-0.3.6.gem
  vendor/cache/tzinfo-1.2.9.gem
  vendor/cache/tzinfo-2.0.4.gem
Due: bundle

chore: update docile
  Gemfile.lock
  vendor/cache/docile-1.3.2.gem
  vendor/cache/docile-1.3.3.gem
Due: bundle

Revert "chore: update rails"
  Gemfile
  Gemfile.lock
  vendor/cache/actioncable-6.0.3.4.gem
  vendor/cache/actioncable-6.1.0.gem
  vendor/cache/actionmailbox-6.0.3.4.gem
  vendor/cache/actionmailbox-6.1.0.gem
  vendor/cache/actionmailer-6.0.3.4.gem
  vendor/cache/actionmailer-6.1.0.gem
  vendor/cache/actionpack-6.0.3.4.gem
  vendor/cache/actionpack-6.1.0.gem
  vendor/cache/actiontext-6.0.3.4.gem
  vendor/cache/actiontext-6.1.0.gem
  vendor/cache/actionview-6.0.3.4.gem
  vendor/cache/actionview-6.1.0.gem
  vendor/cache/activejob-6.0.3.4.gem
  vendor/cache/activejob-6.1.0.gem
  vendor/cache/activemodel-6.0.3.4.gem
  vendor/cache/activemodel-6.1.0.gem
  vendor/cache/activerecord-6.0.3.4.gem
  vendor/cache/activerecord-6.1.0.gem
  vendor/cache/activestorage-6.0.3.4.gem
  vendor/cache/activestorage-6.1.0.gem
  vendor/cache/activesupport-6.0.3.4.gem
  vendor/cache/activesupport-6.1.0.gem
  vendor/cache/minitest-rails-6.0.1.gem
  vendor/cache/minitest-rails-6.1.0.gem
  vendor/cache/rails-6.0.3.4.gem
  vendor/cache/rails-6.1.0.gem
  vendor/cache/railties-6.0.3.4.gem
  vendor/cache/railties-6.1.0.gem
  vendor/cache/rake-13.0.1.gem
  vendor/cache/rake-13.0.2.gem
  vendor/cache/thread_safe-0.3.6.gem
  vendor/cache/tzinfo-1.2.9.gem
  vendor/cache/tzinfo-2.0.4.gem
Due: bundle

fix: trade route worker
  app/workers/trade_routes_worker.rb
Due: none

chore(release): new Version v4.4.10 (Mercury) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix: sc data loader
  app/lib/sc_data/ships_loader.rb
Due: none

fix: trader routes prices
  app/models/shop_commodity.rb
  app/workers/trade_routes_worker.rb
Due: none

chore(release): new Version v4.4.11 (Mercury) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: update components loader
  app/lib/sc_data/components_loader.rb
  app/lib/sc_data/hardpoints_loader.rb
Due: none

chore(release): new Version v4.4.12 (Mercury) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: update hardpoint loaders
  app/lib/rsi/hardpoints_loader.rb
  app/models/model_hardpoint.rb
Due: none

fix: hardpoint loader
  app/lib/rsi/hardpoints_loader.rb
  app/lib/sc_data/hardpoints_loader.rb
  test/unit/sc_data_loader_test.rb
Due: none

fix: specs
  test/unit/sc_data_loader_test.rb
Due: none

chore(release): new Version v4.4.13 (Mercury) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: update admin dashboard
  app/assets/javascripts/app/models.coffee
  app/controllers/admin/application_controller.rb
  app/controllers/admin/base_controller.rb
  app/controllers/admin/worker_controller.rb
  app/views/admin/base/index.haml
  config/schedule.yml
Due: none

chore(release): new Version v4.4.14 (Mercury) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: save progress tracker data and changes
  Gemfile
  Gemfile.lock
  app/channels/progress_tracker_channel.rb
  app/lib/rsi/progress_tracker_loader.rb
  app/mailers/progress_tracker_mailer.rb
  app/models/progress_tracker_item.rb
  app/models/roadmap_item.rb
  app/workers/progress_tracker_worker.rb
  config/locales/en/discord.yml
  config/locales/en/en.yml
  config/schedule.yml
  config/secrets.yml
  config/sidekiq.yml
  db/migrate/20201224203609_create_progress_tracker_items.rb
  db/schema.rb
  lib/discord/progress_tracker_update.rb
  public/progress_tracker_schema.graphql
  public/rsi_roadmap_schema.json
  test/fixtures/progress_tracker_items.yml
  test/models/progress_tracker_item_test.rb
  vendor/cache/graphql-1.11.6.gem
  vendor/cache/graphql-client-0.16.0.gem
Due: bundle

chore: add relation to models for tracker items
  app/lib/rsi/progress_tracker_loader.rb
  app/models/progress_tracker_item.rb
  db/migrate/20201224203609_create_progress_tracker_items.rb
  db/schema.rb
  test/fixtures/progress_tracker_items.yml
  test/models/progress_tracker_item_test.rb
Due: none

chore: save progress tracker data and changes (#1298)
  Gemfile
  Gemfile.lock
  app/channels/progress_tracker_channel.rb
  app/lib/rsi/progress_tracker_loader.rb
  app/mailers/progress_tracker_mailer.rb
  app/models/progress_tracker_item.rb
  app/models/roadmap_item.rb
  app/workers/progress_tracker_worker.rb
  config/locales/en/discord.yml
  config/locales/en/en.yml
  config/schedule.yml
  config/secrets.yml
  config/sidekiq.yml
  db/migrate/20201224203609_create_progress_tracker_items.rb
  db/schema.rb
  lib/discord/progress_tracker_update.rb
  public/progress_tracker_schema.graphql
  public/rsi_roadmap_schema.json
  test/fixtures/progress_tracker_items.yml
  test/models/progress_tracker_item_test.rb
  vendor/cache/graphql-1.11.6.gem
  vendor/cache/graphql-client-0.16.0.gem
Due: bundle

chore(release): new Version v4.4.15 (Mercury) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix: add missing mailer template
  app/views/progress_tracker_mailer/notify_admin.html.inky
Due: none

fix: trade route key
  app/javascript/frontend/pages/TradeRoutes/index.vue
Due: none

fix: saveguard refs access
  app/javascript/frontend/core/components/AppModal/index.vue
  app/javascript/frontend/core/components/Form/CollectionFilterGroup/index.vue
  app/javascript/frontend/core/components/Form/FilterGroup/index.vue
  app/javascript/frontend/core/components/Form/FormInput/index.vue
Due: none

fix: try to create a unique key for progress tracker items
  app/lib/rsi/progress_tracker_loader.rb
Due: none

chore(release): new Version v4.4.16 (Mercury) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: update progress tracker key
  app/lib/rsi/progress_tracker_loader.rb
Due: none

chore: further try to find uniq key for progress items
  app/lib/rsi/progress_tracker_loader.rb
  app/models/progress_tracker_item.rb
  db/migrate/20201225201922_add_deleted_at_to_progress_tracker_items.rb
  db/schema.rb
  test/fixtures/progress_tracker_items.yml
  test/models/progress_tracker_item_test.rb
Due: none

chore(release): new Version v4.4.17 (Mercury) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: remove versions entry for new created tracker items
  app/lib/rsi/progress_tracker_loader.rb
Due: none

fix: compare models labels
  app/javascript/frontend/components/Compare/Models/Hardpoints/index.vue
Due: none

chore(release): new Version v4.4.18 (Mercury) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: update to ruby 3.0.0
  .ruby-version
  Gemfile
  Gemfile.lock
  vendor/cache/oj-3.10.18.gem
Due: bundle

feat: progress tracker
  app/controllers/api/v1/progress_tracker_items_controller.rb
  app/javascript/frontend/api/client.js
  app/javascript/frontend/api/collections/ProgressTrackerItems.ts
  app/javascript/frontend/api/models/ProgressTrackerItem.d.ts
  app/javascript/frontend/core/components/FilteredTable/index.vue
  app/javascript/frontend/core/components/Navigation/Header/index.vue
  app/javascript/frontend/core/components/Navigation/RoadmapNav/index.vue
  app/javascript/frontend/core/components/Navigation/Search/__tests__/sanity.spec.js
  app/javascript/frontend/core/components/Navigation/Search/index.vue
  app/javascript/frontend/pages/Home/index.vue
  app/javascript/frontend/pages/Roadmap/ProgressTracker/index.scss
  app/javascript/frontend/pages/Roadmap/ProgressTracker/index.vue
  app/javascript/frontend/pages/Roadmap/routes.js
  app/javascript/stylesheets/frontend/partials/app-navigation.scss
  app/javascript/translations/en/nav.js
  app/javascript/translations/en/placeholders.js
  app/javascript/translations/en/title.js
  app/lib/rsi/progress_tracker_loader.rb
  app/models/progress_tracker_item.rb
  app/views/api/v1/progress_tracker_items/_base.jbuilder
  app/views/api/v1/progress_tracker_items/_minimal.jbuilder
  app/views/api/v1/progress_tracker_items/index.jbuilder
  config/locales/default/en/en.yml
  config/locales/en/activerecord.yml
  config/locales/en/en.yml
  config/routes/api_v1_routes.rb
  config/routes/frontend_routes.rb
  lib/tasks/search.thor
Due: none

chore: update ci images
  .circleci/config.yml
Due: none

chore: rubocoptering
  lib/tasks/search.thor
Due: none

Path conditions:
  yarn: any of: .gitlab-ci.yml, package.json, yarn.lock, .npmrc
  bundle: any of: .gitlab-ci.yml, Gemfile, Gemfile.lock, .ruby-version
