Repository fleetyards/fleetyards: changes, and which GitLab CI jobs are due for each by the changed paths.
All: yarn, bundle

.gitlab-ci.yml:

image: fleetyards/base:2.7.1

stages:
  - prep
  - test
  - build
  - e2e
  - deploy

cache: &global_cache
  key: fleetyards-cache
  paths:
    - node_modules/
    - vendor/bundle/
  policy: pull

.ruby_template:
  variables:
    BUNDLE_PATH: vendor/bundle
  before_script:
    - bundle install
    - mkdir -p log

.js_test_template:
  before_script:
    - yarn --frozen-lockfile

.ruby_test_template:
  extends: .ruby_template
  services:
    - postgres:12.2-alpine
  variables:
    RAILS_ENV: test
    POSTGRES_DB: fleetyards_test
    POSTGRES_USER: root
    POSTGRES_PASSWORD: root
    POSTGRES_HOST_AUTH_METHOD: trust
    DATABASE_HOST: postgres
    DATABASE_PORT: 5432
    DATABASE_USER: $POSTGRES_USER
    DATABASE_URL: postgresql://$POSTGRES_USER:$POSTGRES_PASSWORD@$DATABASE_HOST:$DATABASE_PORT/$POSTGRES_DB

.e2e_template:
  extends: .ruby_test_template
  image: fleetyards/ci:2.6.6
  services:
    - redis:latest
    - name: docker.elastic.co/elasticsearch/elasticsearch:7.5.2
      alias: elasticsearch
      command: ["bin/elasticsearch", "-Ediscovery.type=single-node", "-Expack.security.enabled=0", "-Ehttp.port=9200", "-Ecluster.name=fleetyards-test-cluser"]
  variables:
    DATABASE_URL: postgresql://root:root@127.0.0.1:5432/fleetyards
    ELASTICSEARCH_URL: http://elasticsearch:9200
    TEST_SEEDS: 1
    RAILS_ENV: ci
    ON_SUBDOMAIN: false
    RAILS_SERVE_STATIC_FILES: 1
    DISABLE_DATABASE_ENVIRONMENT_CHECK: 1
    CYPRESS_BASE_URL: http://localhost:8270
    APP_DIR: .
    PORT: 8270
    # transport.host: localhost
    # network.host: 127.0.0.1

yarn:
  stage: prep
  cache:
    <<: *global_cache
    paths:
      - node_modules/
    policy: pull-push
  script:
    - yarn --frozen-lockfile
  only:
    changes:
      - .gitlab-ci.yml
      - package.json
      - yarn.lock
      - .npmrc

bundle:
  stage: prep
  cache:
    <<: *global_cache
    paths:
      - vendor/bundle/
    policy: pull-push
  script:
    - bundle install
  only:
    changes:
      - .gitlab-ci.yml
      - Gemfile
      - Gemfile.lock
      - .ruby-version

ruby audit:
  stage: test
  extends: .ruby_template
  script:
    - bundle exec bundle-audit update
    - bundle exec bundle-audit check

yarn audit:
  stage: test
  extends: .js_test_template
  script:
    - yarn audit

rubocop:
  stage: test
  extends: .ruby_template
  script:
    - bundle exec rubocop --format progress

js-lint:
  stage: test
  extends: .js_test_template
  script:
    - yarn run lint:js
    - yarn run lint:vue
    - yarn run lint:style

js tests:
  stage: test
  extends: .js_test_template
  script:
    - yarn run test

ruby tests:
  stage: test
  extends: .ruby_test_template
  script:
    - ./scripts/wait-for-db.sh
    - bundle exec rails db:create db:schema:load
    - bundle exec rails test:coverage

seeds:
  stage: build
  extends: .e2e_template
  script:
    - ./scripts/wait-for-db.sh
    - bundle exec rails db:create db:schema:load
    - bundle exec rails db:seed

assets:
  stage: build
  extends: .ruby_test_template
  script:
    - RAILS_ENV=production bundle exec rails assets:precompile

chore: remove dotenv gems and .env.test in preparation for Rails 8.2
  .env.test
  .gitignore
  Gemfile
  Gemfile.lock
  config/app/main.yml
  spec/rails_helper.rb
  vendor/cache/dotenv-rails-3.2.0.gem
Due: bundle

fix: split hangar controller into separate index and public actions
  app/controllers/frontend/hangar_controller.rb
  config/routes/frontend_routes.rb
Due: none

chore: move exec-plan to docs/exec-plans directory
  docs/exec-plans/carrierwave-removal.md
Due: none

feat: add public hangar stats with metrics, charts, and settings toggle
  app/api_components/v1/schemas/hangar/hangar_stats_public.rb
  app/api_components/v1/schemas/inputs/user_update_Input.rb
  app/api_components/v1/schemas/user.rb
  app/api_components/v1/schemas/user_public.rb
  app/controllers/api/v1/public/hangar_stats_controller.rb
  app/controllers/api/v1/users_controller.rb
  app/frontend/frontend/components/Hangar/PublicHangarStats/index.vue
  app/frontend/frontend/pages/hangar/[username]/routes.ts
  app/frontend/frontend/pages/hangar/[username]/stats.vue
  app/frontend/frontend/pages/settings/hangar.vue
  app/frontend/translations/de/headlines.json
  app/frontend/translations/de/labels.json
  app/frontend/translations/en/headlines.json
  app/frontend/translations/en/labels.json
  app/frontend/translations/es/headlines.json
  app/frontend/translations/es/labels.json
  app/frontend/translations/fr/headlines.json
  app/frontend/translations/fr/labels.json
  app/frontend/translations/it/headlines.json
  app/frontend/translations/zh-CN/headlines.json
  app/frontend/translations/zh-TW/headlines.json
  app/models/user.rb
  app/policies/public/user_policy.rb
  app/views/api/v1/public/hangar_stats/show.jbuilder
  app/views/api/v1/public/users/_base.jbuilder
  app/views/api/v1/users/_base.jbuilder
  config/routes/api/hangar_routes.rb
  config/routes/frontend_routes.rb
  db/migrate/20260415174001_add_public_hangar_stats_to_users.rb
  db/schema.rb
  docs/exec-plans/public-stats-for-fleets-and-hangar.md
  spec/factories/users.rb
  spec/models/user_spec.rb
  spec/requests/api/v1/public/hangars/stats/models_by_classification_spec.rb
  spec/requests/api/v1/public/hangars/stats/models_by_manufacturer_spec.rb
  spec/requests/api/v1/public/hangars/stats/models_by_production_status_spec.rb
  spec/requests/api/v1/public/hangars/stats/models_by_size_spec.rb
  spec/requests/api/v1/public/hangars/stats/show_spec.rb
  swagger/v1/schema.yaml
Due: none

fix: quote %(bucket)s in s3cmd host-bucket flag to prevent shell syntax error
  bin/scdata
Due: none

chore: update SC data version to 4.7.1-live.11638371
  config/app/sc_data.yml
Due: none

fix: resolve standardrb lint and schema check CI failures
  spec/requests/api/v1/fleets/show_spec.rb
  swagger/v1/schema.yaml
Due: none

refactor: exclude financial metrics from public hangar stats
  app/api_components/v1/schemas/hangar/hangar_metrics_public.rb
  app/api_components/v1/schemas/hangar/hangar_stats_public.rb
  app/controllers/api/v1/public/hangar_stats_controller.rb
  app/frontend/frontend/components/Hangar/PublicHangarStats/index.vue
  app/views/api/v1/public/hangar_stats/show.jbuilder
  swagger/v1/schema.yaml
Due: none

feat: add stats navigation link to public hangar page
  app/frontend/frontend/pages/hangar/[username]/index.vue
Due: none

fix: use Heading hero component for hangar stats and wishlist pages
  app/frontend/frontend/pages/hangar/[username]/stats.vue
  app/frontend/frontend/pages/hangar/stats.vue
  app/frontend/frontend/pages/hangar/wishlist.vue
Due: none

feat: add share button and stats link to hangar wishlist and stats pages
  app/frontend/frontend/pages/hangar/stats.vue
  app/frontend/frontend/pages/hangar/wishlist.vue
Due: none

fix: simplify hangar stats headlines to just "Stats"
  app/frontend/frontend/pages/hangar/[username]/stats.vue
  app/frontend/translations/de/headlines.json
  app/frontend/translations/en/headlines.json
  app/frontend/translations/es/headlines.json
  app/frontend/translations/fr/headlines.json
  app/frontend/translations/it/headlines.json
  app/frontend/translations/zh-CN/headlines.json
  app/frontend/translations/zh-TW/headlines.json
Due: none

fix: use consistent fa-chart-bar icon for public hangar stats link
  app/frontend/frontend/pages/hangar/[username]/index.vue
Due: none

fix: use Heading hero without row/col wrapper on stats and wishlist pages
  app/frontend/frontend/pages/fleets/[slug]/stats.vue
  app/frontend/frontend/pages/hangar/[username]/stats.vue
  app/frontend/frontend/pages/hangar/stats.vue
  app/frontend/frontend/pages/hangar/wishlist.vue
Due: none

fix: public fleet ship list not updating when toggling grouped
  app/frontend/frontend/components/Fleets/PublicShipsList/index.vue
  app/frontend/frontend/components/Fleets/ShipsList/index.vue
Due: none

fix: add missing publicStats meta title for public hangar stats page
  app/frontend/translations/de/title.json
  app/frontend/translations/en/title.json
  app/frontend/translations/es/title.json
  app/frontend/translations/fr/title.json
  app/frontend/translations/it/title.json
  app/frontend/translations/zh-CN/title.json
  app/frontend/translations/zh-TW/title.json
Due: none

fix: prevent user deletion from silently failing due to permanent fleet roles
  app/models/user.rb
  config/locales/en/activerecord.yml
  spec/models/user_spec.rb
  spec/requests/admin/api/v1/users/destroy_spec.rb
  spec/requests/api/v1/users/destroy_spec.rb
Due: none

fix: prevent user deletion from silently failing due to permanent fleet roles
  swagger/admin/v1/schema.yaml
  swagger/v1/schema.yaml
Due: none

chore(main): release 6.7.0
  .release-please-manifest.json
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore(main): release 6.7.0 (#3681)
  .release-please-manifest.json
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix: skip non-module components silently during hangar sync
  app/lib/hangar_sync.rb
Due: none

fix: use will_save_change_to_location? in before_validation callback
  app/models/user.rb
Due: none

fix: pass version flag to kamal exec in pre-deploy hook
  .kamal/hooks/pre-deploy
Due: none

chore(main): release 6.7.1
  .release-please-manifest.json
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore(main): release 6.7.1 (#3705)
  .release-please-manifest.json
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix: handle jsonb input in modules importer extract_modules
  app/lib/modules_importer.rb
Due: none

fix(ci): pin oasdiff version to avoid GitHub API rate limiting
  .github/workflows/api-schema-breaking.job.yml
Due: none

chore(main): release 6.7.2
  .release-please-manifest.json
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore(main): release 6.7.2 (#3706)
  .release-please-manifest.json
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

feat: add manufacturer codes to model URLs for uniqueness
  app/controllers/api/v1/models_controller.rb
  app/controllers/concerns/hangar_filters_concern.rb
  app/controllers/frontend/base_controller.rb
  app/lib/hangar_importer.rb
  app/lib/hangar_sync.rb
  app/models/model.rb
  app/views/api/v1/fleet_stats/model_counts.jbuilder
  app/views/api/v1/public/fleet_stats/model_counts.jbuilder
  config/routes/frontend_routes.rb
  db/migrate/20260415174243_add_manufacturer_code_to_model_slugs.rb
  db/schema.rb
  db/seeds.rb
  docs/exec-plans/manufacturer-code-in-model-urls.md
  spec/factories/models.rb
  spec/loaders/hangar_sync_spec.rb
  spec/loaders/rsi/models_loader_spec.rb
Due: none

fix: update embed test layouts and scenario for new slug format
  app/views/layouts/embed_test.html.erb
  app/views/layouts/embed_v2_test.html.erb
  spec/playwright/app_commands/scenarios/embed.rb
Due: none

fix: update e2e tests for manufacturer-prefixed model slugs
  spec/playwright/app_commands/scenarios/admin_cargo_holds.rb
  spec/playwright/app_commands/scenarios/embed.rb
  spec/playwright/app_commands/scenarios/hangar.rb
  spec/playwright/app_commands/scenarios/ships.rb
  spec/playwright/app_commands/scenarios/tools.rb
  spec/playwright/e2e/CargoGrids.spec.ts
  spec/playwright/e2e/EmbedV1.spec.ts
  spec/playwright/e2e/EmbedV2.spec.ts
  spec/playwright/e2e/EmbedV2Fleet.spec.ts
  spec/playwright/e2e/EmbedV2Username.spec.ts
  spec/playwright/e2e/Hangar.spec.ts
  spec/playwright/e2e/Ship.spec.ts
Due: none

docs: add exec-plan for removing sc_identifier column
  docs/exec-plans/remove-sc-identifier.md
Due: none

fix: remove redundant return in models controller show action
  app/controllers/api/v1/models_controller.rb
Due: none

fix: guard against nil manufacturer code in slug generation
  app/models/model.rb
  db/migrate/20260415174243_add_manufacturer_code_to_model_slugs.rb
Due: none

fix: lowercase manufacturer codes in model slugs and add dotenv-rails
  Gemfile
  Gemfile.lock
  app/controllers/api/v1/models_controller.rb
  app/models/model.rb
  app/models/user.rb
  db/migrate/20260415174243_add_manufacturer_code_to_model_slugs.rb
  db/schema.rb
  spec/factories/users.rb
  spec/loaders/hangar_sync_spec.rb
  spec/loaders/rsi/models_loader_spec.rb
  spec/models/user_spec.rb
  vendor/cache/dotenv-rails-3.2.0.gem
Due: bundle

fix: pass WORKTREE_SUFFIX to db:prepare in bin/setup and remove public_hangar_stats column
  app/models/user.rb
  bin/setup
  db/schema.rb
  spec/factories/users.rb
  spec/models/user_spec.rb
Due: none
