Repository fleetyards/fleetyards: changes, and which GitLab CI jobs are due for each by the changed paths.
All: yarn, bundle

yarn:
  stage: prep
  cache:
    key: fleetyards-cache
    paths:
    - node_modules/
    policy: pull-push
  script:
  - yarn --frozen-lockfile

bundle:
  stage: prep
  cache:
    key: fleetyards-cache
    paths:
    - vendor/bundle/
    policy: pull-push
  script:
  - bundle install

fix: Update rack-session and addressable for security vulnerabilities (#3618)
  Gemfile.lock
  vendor/cache/addressable-2.8.9.gem
  vendor/cache/addressable-2.9.0.gem
  vendor/cache/rack-session-2.1.1.gem
  vendor/cache/rack-session-2.1.2.gem
Due: bundle

fix: Pass wishlist prop to VehiclePanel in wishlist grid view (#3619)
  app/frontend/frontend/pages/hangar/wishlist.vue
Due: none

fix: Replace Toggle switches with icon buttons in InlineEditableList actions
  app/frontend/admin/pages/maintenance/features.vue
  app/frontend/admin/pages/models/[id]/edit/images.vue
  app/frontend/admin/pages/models/[id]/edit/loaners.vue
  app/frontend/admin/pages/models/[id]/edit/modules.vue
  app/frontend/admin/pages/models/[id]/edit/packages.vue
  app/frontend/admin/pages/models/[id]/edit/paints.vue
  app/frontend/admin/pages/models/[id]/edit/upgrades.vue
  app/frontend/frontend/pages/settings/features.vue
  app/frontend/translations/de/labels.json
  app/frontend/translations/en/labels.json
  app/frontend/translations/es/labels.json
  app/frontend/translations/fr/labels.json
  app/frontend/translations/it/labels.json
  app/frontend/translations/zh-CN/labels.json
  app/frontend/translations/zh-TW/labels.json
Due: none

fix: Replace Toggle switches with icon buttons in InlineEditableList actions (#3617)
  app/frontend/admin/pages/maintenance/features.vue
  app/frontend/admin/pages/models/[id]/edit/images.vue
  app/frontend/admin/pages/models/[id]/edit/loaners.vue
  app/frontend/admin/pages/models/[id]/edit/modules.vue
  app/frontend/admin/pages/models/[id]/edit/packages.vue
  app/frontend/admin/pages/models/[id]/edit/paints.vue
  app/frontend/admin/pages/models/[id]/edit/upgrades.vue
  app/frontend/frontend/pages/settings/features.vue
  app/frontend/translations/de/labels.json
  app/frontend/translations/en/labels.json
  app/frontend/translations/es/labels.json
  app/frontend/translations/fr/labels.json
  app/frontend/translations/it/labels.json
  app/frontend/translations/zh-CN/labels.json
  app/frontend/translations/zh-TW/labels.json
Due: none

fix: Update DirectUpload callback types for @types/rails__activestorage v8
  app/frontend/admin/composables/useDirectUpload.ts
  app/frontend/shared/composables/useDirectUpload.ts
Due: none

fix: Reconcile hangar sync duplicates when RSI pledge ID changes (#3632)
  app/lib/hangar_sync.rb
  spec/loaders/hangar_sync_spec.rb
Due: none

refactor: Replace deprecated next() callback with return-based navigation guards
  app/frontend/frontend/plugins/Router.ts
  app/frontend/frontend/utils/RouteGuards/TwoFactor.ts
  app/frontend/shared/plugins/Router.ts
Due: none

chore: Add exec plan for hangar sync pledge ID fix (#3632)
  docs/exec-plans/3632-hangar-sync-pledge-id-change.md
Due: none

Fix hangar sync duplicates when RSI pledge ID changes (#3633)
  app/lib/hangar_sync.rb
  docs/exec-plans/3632-hangar-sync-pledge-id-change.md
  spec/loaders/hangar_sync_spec.rb
Due: none

chore(main): release 6.2.0
  .release-please-manifest.json
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore(main): release 6.2.0 (#3614)
  .release-please-manifest.json
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix: Add missing loaner mappings for Aurora Mk I and MXC variants
  app/lib/rsi/loaner_loader.rb
Due: none

fix: Add missing paint mappings for Aurora Mk I, Hercules, Mercury, and MXC variants
  app/lib/paints_importer.rb
Due: none

chore(main): release 6.2.1
  .release-please-manifest.json
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore(main): release 6.2.1 (#3634)
  .release-please-manifest.json
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix: Stop event propagation on BaseTable actions and selection columns
  app/frontend/shared/components/base/Table/index.vue
Due: none

fix: Remove non-existent `import` attribute from imports jbuilder
  app/views/api/v1/imports/_base.jbuilder
Due: none

fix: Return raw URLs in admin models jbuilder to prevent double RSI domain prepending
  app/views/admin/api/v1/models/_base.jbuilder
Due: none

fix: Update rsi_store_image sync to re-download outdated images and only persist timestamp on success
  app/lib/rsi/models_loader.rb
Due: none

fix: Make links optional in Model schema since jbuilder drops nil-only blocks
  app/api_components/v1/schemas/models/model.rb
  swagger/admin/v1/schema.yaml
  swagger/v1/schema.yaml
Due: none

feat: Add sync command to bin/scdata for downloading SC data from Hetzner S3
  bin/scdata
Due: none

fix: Handle optional model.links in Vue templates after schema change
  app/frontend/frontend/components/Models/ContextMenu/index.vue
  app/frontend/frontend/pages/ships/[slug]/index.vue
Due: none

chore: Remove setup command from bin/scdata
  bin/scdata
Due: none

fix: Replace remote seed images with local stub to avoid bucket dependency
  db/seeds.rb
  db/seeds/images/stub.jpg
Due: none

chore: Default live console to sandbox mode and add danger script for write access
  bin/console-live-danger
Due: none

chore: Remove AppSignal monitoring accessory from Kamal config
  config/deploy.live.yml
  config/deploy.stage.yml
  config/deploy.yml
Due: none

fix: Update items loader spec expected count for SC data 4.7.1-live.11592622
  spec/loaders/sc_data/items_loader_spec.rb
Due: none

chore(main): release 6.3.0
  .release-please-manifest.json
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

refactor(frontend): Replace Bootstrap display/flex utilities with Tailwind
  app/frontend/admin/components/ModelHardpoints/Loadouts/index.vue
  app/frontend/admin/pages/components/[id]/edit/prices.vue
  app/frontend/admin/pages/maintenance/features.vue
  app/frontend/admin/pages/models/[id]/edit/docks.vue
  app/frontend/admin/pages/models/[id]/edit/hardpoints.vue
  app/frontend/admin/pages/models/[id]/edit/loaners.vue
  app/frontend/admin/pages/models/[id]/edit/modules.vue
  app/frontend/admin/pages/models/[id]/edit/packages.vue
  app/frontend/admin/pages/models/[id]/edit/paints.vue
  app/frontend/admin/pages/models/[id]/edit/prices.vue
  app/frontend/admin/pages/models/[id]/edit/upgrades.vue
  app/frontend/admin/pages/models/[id]/edit/videos.vue
  app/frontend/embed/components/Fleetchart/List/index.vue
  app/frontend/frontend/components/Hangar/SyncBtn/Modal/index.vue
  app/frontend/frontend/components/Models/Hardpoints/new.vue
  app/frontend/frontend/components/Models/Hardpoints/old.vue
  app/frontend/frontend/components/Security/ChangePasswordForm/index.vue
  app/frontend/frontend/components/Security/TwoFactorBackupCodesPanel/index.vue
  app/frontend/frontend/pages/fleets/[slug]/index.vue
  app/frontend/frontend/pages/fleets/[slug]/ships.vue
  app/frontend/frontend/pages/fleets/add.vue
  app/frontend/frontend/pages/fleets/invites.vue
  app/frontend/frontend/pages/fleets/preview.vue
  app/frontend/frontend/pages/hangar/preview.vue
  app/frontend/frontend/pages/impressum.vue
  app/frontend/frontend/pages/index.vue
  app/frontend/frontend/pages/privacy-policy.vue
Due: none

chore(frontend): Add Tailwind CSS v4 alongside Bootstrap
  app/frontend/entrypoints/tailwind.css
  app/views/layouts/admin/application.html.erb
  app/views/layouts/application.html.erb
  app/views/layouts/docs.html.erb
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: yarn

refactor(frontend): Replace Bootstrap font/bg utilities in OAuth templates
  app/views/oauth/applications/_form.html.erb
  app/views/oauth/applications/show.html.erb
Due: none

refactor(frontend): Add missing Tailwind color tokens, replace Bootstrap font/bg utilities
  app/frontend/entrypoints/tailwind.css
Due: none

chore: Remove unused OAuth ERB views
  app/views/oauth/applications/_delete_form.html.erb
  app/views/oauth/applications/_form.html.erb
  app/views/oauth/applications/edit.html.erb
  app/views/oauth/applications/index.html.erb
  app/views/oauth/applications/new.html.erb
  app/views/oauth/applications/show.html.erb
  app/views/oauth/authorizations/error.html.erb
  app/views/oauth/authorizations/form_post.html.erb
  app/views/oauth/authorizations/new.html.erb
  app/views/oauth/authorizations/pre_authorization.jbuilder
  app/views/oauth/authorizations/show.html.erb
Due: none

refactor(frontend): Remove Bootstrap, add standalone grid and base styles
  app/frontend/entrypoints/admin.scss
  app/frontend/entrypoints/docs.scss
  app/frontend/entrypoints/embed-v2.scss
  app/frontend/entrypoints/embed.scss
  app/frontend/entrypoints/frontend.scss
  app/frontend/stylesheets/embed/bootstrap-custom.scss
  app/frontend/stylesheets/embed/grid.scss
  app/frontend/stylesheets/frontend/pages/home.scss
  app/frontend/stylesheets/shared/bootstrap-custom.scss
  app/frontend/stylesheets/shared/grid.scss
  app/frontend/stylesheets/shared/layout.scss
  app/frontend/stylesheets/shared/typography.scss
  package.json
  pnpm-lock.yaml
Due: yarn

fix(frontend): Match empty avatar size to avatar image size in nav
  app/frontend/shared/components/AppNavigation/NavItem/NavItemInner/index.scss
Due: none

fix(frontend): Add missing blockquote font-size from Bootstrap
  app/frontend/stylesheets/shared/typography.scss
Due: none

fix(frontend): Ensure gallery image height and margin override Tailwind preflight
  app/frontend/shared/components/LazyImage/index.scss
Due: none

fix: Restore Doorkeeper OAuth authorization view templates
  app/views/oauth/authorizations/error.html.erb
  app/views/oauth/authorizations/form_post.html.erb
  app/views/oauth/authorizations/new.html.erb
  app/views/oauth/authorizations/pre_authorization.jbuilder
  app/views/oauth/authorizations/show.html.erb
Due: none

fix(frontend): Override Tailwind preflight img height in base layer
  app/frontend/entrypoints/tailwind.css
  app/frontend/shared/components/LazyImage/index.scss
Due: none

Path conditions:
  yarn: any of: .gitlab-ci.yml, package.json, yarn.lock, .npmrc
  bundle: any of: .gitlab-ci.yml, Gemfile, Gemfile.lock, .ruby-version
