Repository fleetyards/fleetyards: changes, and which GitLab CI jobs are due for each by the changed paths.
All: yarn, bundle

yarn:
  stage: prep
  cache:
    key: fleetyards-cache
    paths:
    - node_modules/
    policy: pull-push
  script:
  - yarn --frozen-lockfile

bundle:
  stage: prep
  cache:
    key: fleetyards-cache
    paths:
    - vendor/bundle/
    policy: pull-push
  script:
  - bundle install

fix(frontend): Remove conflicting columns-* classes from Grid component
  app/frontend/shared/components/base/Grid/index.vue
Due: none

chore: Remove OAuth authorization ERB views, keep jbuilder
  app/views/oauth/authorizations/error.html.erb
  app/views/oauth/authorizations/form_post.html.erb
  app/views/oauth/authorizations/new.html.erb
  app/views/oauth/authorizations/show.html.erb
Due: none

fix(frontend): Move img height override out of @layer to beat preflight
  app/frontend/entrypoints/tailwind.css
Due: none

chore(frontend): Re-enable Tailwind preflight
  app/frontend/entrypoints/tailwind.css
Due: none

fix(frontend): Add gallery prop to LazyImage for explicit gallery styling
  app/frontend/frontend/pages/images.vue
  app/frontend/frontend/pages/ships/[slug]/images.vue
  app/frontend/shared/components/LazyImage/index.vue
Due: none

fix(frontend): Properly disable Tailwind preflight using v4 import syntax
  app/frontend/entrypoints/tailwind.css
Due: none

fix(frontend): Fix TabNavView column order
  app/frontend/shared/components/TabNavView/index.vue
Due: none

fix(frontend): Add spacing between form labels and inputs
  app/frontend/shared/components/base/FormInput/index.scss
  app/frontend/shared/components/base/FormTextarea/index.scss
Due: none

chore(frontend): Remove jquery and bootstrap dependencies
  package.json
  pnpm-lock.yaml
Due: yarn

fix(frontend): Fix TabNavView indicator direction and scoped slot styling
  app/frontend/shared/components/TabNavView/index.scss
Due: none

test: Add visual comparison spec for bootstrap removal validation
  playwright.config.ts
  spec/playwright/visual-compare.spec.ts
Due: none

fix(frontend): Add label styling for FilterGroup and FormFileInput
  app/frontend/shared/components/base/FilterGroup/index.scss
  app/frontend/shared/components/base/FormFileInput/index.scss
Due: none

fix(frontend): Remove stale nprogress-custom import from rebase
  app/frontend/entrypoints/admin.scss
  app/frontend/entrypoints/docs.scss
  app/frontend/entrypoints/frontend.scss
Due: none

fix(frontend): Right-align modal footer action buttons
  app/frontend/shared/components/AppModal/Inner/index.scss
Due: none

fix: Center community logo in footer
  app/frontend/shared/components/AppFooter/index.scss
Due: none

chore(main): release 6.3.0 (#3635)
  .release-please-manifest.json
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix: Remove legacy role enum from FleetMembership and use FleetRole for notifications
  app/controllers/api/v1/fleet_memberships_controller.rb
  app/controllers/api/v1/fleet_stats_controller.rb
  app/controllers/api/v1/users_controller.rb
  app/frontend/frontend/components/Fleets/FleetStats/index.vue
  app/models/fleet_membership.rb
  app/tasks/maintenance/prefill_fleet_roles_task.rb
  app/views/api/v1/fleet_stats/members.jbuilder
  db/migrate/20260409160326_remove_role_from_fleet_memberships.rb
  db/schema.rb
  spec/factories/fleet_memberships.rb
  spec/models/fleet_membership_spec.rb
Due: none

fix: Display rsiStoreImage instead of storeImage in admin models list
  app/frontend/admin/pages/models/index.vue
Due: none

chore: Update Ruby from 3.4.7 to 4.0.2
  .standard.yml
  .tool-versions
  Dockerfile
  Gemfile
  Gemfile.lock
  bin/byebug
  vendor/cache/byebug-13.0.0.gem
  vendor/cache/pry-byebug-3.12.0.gem
Due: bundle

fix: Add missing CABLE_ENDPOINT to admin layout and sync notification
  app/frontend/admin/components/Models/Actions/Items.vue
  app/frontend/translations/de/messages.json
  app/frontend/translations/en/messages.json
  app/views/layouts/admin/_app_env.html.erb
Due: none

chore: remove baseUrl from tsconfig
  tsconfig.json
Due: none

chore: Format German translation messages JSON
  app/frontend/translations/de/messages.json
Due: none

fix: Update FleetMembersStats schema to match actual API response
  app/api_components/v1/schemas/fleets/fleet_members_stats.rb
  swagger/v1/schema.yaml
Due: none

fix: Remove debug statements and legacy role tests
  app/lib/sc_data/loader/base_loader.rb
  spec/models/fleet_membership_spec.rb
Due: none

feat: Enable AppSignal logging for production and staging
  config/appsignal.yml
Due: none

chore: update deps
  package.json
  pnpm-lock.yaml
Due: yarn

chore(main): release 6.4.0
  .release-please-manifest.json
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore(main): release 6.4.0 (#3658)
  .release-please-manifest.json
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix: preserve manually set sc_identifier in ship matrix import
  app/lib/rsi/models_loader.rb
Due: none

chore(main): release 6.4.1
  .release-please-manifest.json
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore(main): release 6.4.1 (#3667)
  .release-please-manifest.json
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

feat: add separate matrix and SC data reload buttons on model edit page
  app/controllers/admin/api/v1/models_controller.rb
  app/frontend/admin/components/Models/Actions/Items.vue
  app/frontend/admin/pages/models/[id]/edit.vue
  app/frontend/admin/pages/models/index.vue
  app/frontend/shared/components/BreadCrumbs/index.vue
  app/frontend/translations/de/actions.json
  app/frontend/translations/de/messages.json
  app/frontend/translations/en/actions.json
  app/frontend/translations/en/messages.json
  config/routes/admin/api/v1_routes.rb
  spec/requests/admin/api/v1/models/reload_one_matrix_spec.rb
  spec/requests/admin/api/v1/models/reload_one_scdata_spec.rb
  swagger/admin/v1/schema.yaml
Due: none

fix: remove Mastodon link from footer
  app/frontend/shared/components/AppFooter/index.vue
Due: none

chore: update admin swagger schema
  swagger/admin/v1/schema.yaml
Due: none

fix: cast attachment ransacker UUID to text for blank predicate
  app/models/model.rb
Due: none

fix: update AppFooter test link count after Mastodon removal
  app/frontend/shared/components/AppFooter/index.test.ts
Due: none

chore: replace deprecated lighten() with color.adjust()
  app/frontend/frontend/components/Vehicles/OwnersModal/index.scss
  app/frontend/frontend/pages/signup.scss
  app/frontend/shared/components/AppNavigation/NavItem/index.scss
  app/frontend/shared/components/LazyImage/index.scss
  app/frontend/shared/components/TabNavView/index.scss
  app/frontend/shared/components/base/FormInput/index.scss
  app/frontend/shared/components/base/Panel/BgImage/index.scss
  app/frontend/shared/components/base/Pill/index.scss
  app/frontend/shared/components/base/RadioList/index.scss
  app/frontend/stylesheets/frontend/pages/home.scss
  app/frontend/stylesheets/frontend/partials/empty-table.scss
  app/frontend/stylesheets/variables.scss
  vite.config.email.ts
  vite.config.ts
Due: none

chore(main): release 6.5.0
  .release-please-manifest.json
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore(main): release 6.5.0 (#3668)
  .release-please-manifest.json
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

Path conditions:
  yarn: any of: .gitlab-ci.yml, package.json, yarn.lock, .npmrc
  bundle: any of: .gitlab-ci.yml, Gemfile, Gemfile.lock, .ruby-version
