Repository fleetyards/fleetyards: changes, and which GitLab CI jobs are due for each by the changed paths.
All: yarn, bundle

yarn:
  stage: prep
  cache:
    key: fleetyards-cache
    paths:
    - node_modules/
    policy: pull-push
  script:
  - yarn --frozen-lockfile

bundle:
  stage: prep
  cache:
    key: fleetyards-cache
    paths:
    - vendor/bundle/
    policy: pull-push
  script:
  - bundle install

chore(release): new Version v5.31.36 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: update will it fit query
  app/controllers/api/v1/models_controller.rb
Due: none

chore(release): new Version v5.31.37 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: update production secrets
  config/credentials/production.yml.enc
Due: none

chore(models): fix will_it_fit query
  app/controllers/api/v1/models_controller.rb
Due: none

chore(release): new Version v5.31.38 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix(paints): update importer mapping for Starlancer, Zeus Mk II and CSV
  app/lib/paints_importer.rb
Due: none

chore(release): new Version v5.31.39 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: bump stringio
  Gemfile.lock
  vendor/cache/stringio-3.1.0.gem
  vendor/cache/stringio-3.1.1.gem
Due: bundle

chore: update models params
  app/controllers/api/v1/models_controller.rb
Due: none

chore: remove roadmap feature
  app/frontend/frontend/components/Navigation/index.vue
  app/frontend/frontend/pages/roadmap.vue
  app/frontend/frontend/pages/roadmap/changes.vue
  app/frontend/frontend/pages/roadmap/index.scss
  app/frontend/frontend/pages/roadmap/index.vue
  app/frontend/frontend/pages/roadmap/routes.ts
  app/frontend/frontend/pages/roadmap/ships.vue
  app/frontend/frontend/pages/routes.ts
  app/frontend/frontend/pages/tools/index.vue
  app/jobs/loaders/roadmap_job.rb
  lib/discord/roadmap_update.rb
Due: none

Update hangar_sync.rb
  app/lib/hangar_sync.rb
Due: none

fix(sync): add additional mapping for A.T.L.S.
  app/lib/hangar_sync.rb
Due: none

chore(release): new Version v5.31.40 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore(vue3): update admin app and pswp
  .env.example
  app/controllers/admin/api/v1/sessions_controller.rb
  app/controllers/admin/application_controller.rb
  app/controllers/admin/base_controller.rb
  app/frontend/admin/App.vue
  app/frontend/admin/composables/useApiClient.ts
  app/frontend/admin/pages/login.scss
  app/frontend/admin/plugins/Router.ts
  app/frontend/entrypoints/admin.scss
  app/frontend/entrypoints/frontend.scss
  app/frontend/frontend/components/Fleetchart/ListPanzoom/Item/index.scss
  app/frontend/frontend/components/Fleetchart/ListPanzoom/Item/index.vue
  app/frontend/frontend/components/Fleetchart/ListPanzoom/index.scss
  app/frontend/frontend/components/Vehicles/Table/index.vue
  app/frontend/frontend/pages/images.vue
  app/frontend/frontend/pages/roadmap.vue
  app/frontend/shared/components/AppNavigation/Mobile/index.scss
  app/frontend/shared/components/Image/index.scss
  app/frontend/shared/components/Image/index.vue
  app/frontend/shared/components/LazyImage/index.vue
  app/frontend/shared/components/base/Table/index.scss
  app/frontend/shared/components/base/Table/index.vue
  app/frontend/shared/composables/useGallery.ts
  app/frontend/stylesheets/shared/transitions.scss
  app/frontend/stylesheets/shared/vendor/photoswipe/default-skin.css
  app/frontend/stylesheets/shared/vendor/pswp.scss
  app/frontend/translations/en/labels.json
  app/helpers/ransack_helper.rb
  app/lib/hangar_sync.rb
  app/models/vehicle.rb
  app/views/devise/mailer/password_change.html.inky
  app/views/two_factor_mailer/enabled.html.inky
  config/routes/frontend_routes.rb
  package.json
  pnpm-lock.yaml
Due: yarn

chore(scdata): add new parser
  app/lib/sc_data/parser.rb
  lib/tasks/scdata2.thor
Due: none

chore: update service
  app/frontend/frontend/composables/useVehicleQueries.ts
  app/frontend/services/fyAdminApi/models/ModelHardpointTypeEnum.ts
  app/frontend/services/fyAdminApi/models/VehicleSortEnum.ts
  app/frontend/services/fyApi/models/ModelHardpointTypeEnum.ts
  app/frontend/services/fyApi/models/VehicleSortEnum.ts
  app/frontend/shared/components/Paginator/index.scss
  app/frontend/shared/components/base/RadioList/index.scss
  app/lib/sc_data/parser.rb
  swagger/admin/v1/schema.yaml
  swagger/v1/schema.yaml
Due: none

chore: bump pnpm
  .tool-versions
Due: none

fix(loaners): unhide loaners if no visible is left
  app/models/vehicle.rb
Due: none

chore(release): new Version v5.31.41 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix(loaners): remove typo
  app/models/vehicle.rb
Due: none

chore(release): new Version v5.31.42 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix(loaners): update script to create loaners
  app/models/vehicle.rb
Due: none

chore(release): new Version v5.31.43 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore(loaners): update hidden flag
  app/models/vehicle.rb
Due: none

chore(release): new Version v5.31.44 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix(loaners): show loaners correctly if multiple loaners of the same are present
  app/models/vehicle.rb
Due: none

chore(release): new Version v5.31.45 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore(doorkeeper): fix merge
  app/frontend/frontend/pages/routes.ts
  app/models/imports/model_import.rb
  app/models/imports/models_import.rb
  app/models/imports/sc_data_ship_import.rb
  app/models/oauth/access_grant.rb
  app/models/oauth/access_token.rb
  app/models/oauth/application.rb
  test/fixtures/imports.yml
  vendor/cache/pg-1.5.8.gem
Due: none

chore: update doorkeeper callbacks
  app/controllers/api/v1/fleets_controller.rb
  app/controllers/api/v1/users_controller.rb
  app/controllers/api/v1/vehicles_controller.rb
Due: none

chore(scdata): add migrations
  .gitignore
  db/migrate/20241119215938_add_sc_data_fields_to_components.rb
  db/migrate/20241120145556_add_sc_data_fields_to_manufacturers.rb
  db/migrate/20241120202824_create_hardpoints.rb
  db/migrate/20241122221220_add_source_to_hardpoints.rb
  db/migrate/20241123225405_add_sc_key_to_model_modules.rb
  db/migrate/20241124121707_add_sc_data_fields_to_model_modules.rb
  db/migrate/20241124130221_rename_sc_key_in_hardpoints.rb
  db/migrate/20241124212044_add_sc_data_fields_to_models.rb
  db/migrate/20241127134349_add_group_to_hardpoints.rb
Due: none

Revert "chore(mail): move back to mailgun to reduce costs"
  Gemfile
  Gemfile.lock
  app/controllers/inbound_emails_controller.rb
  app/mailers/application_mailer.rb
  config/credentials/production.yml.enc
  config/environments/production.rb
  config/initializers/griddler.rb
  gemset.nix
  vendor/cache/griddler-mailgun-1.1.1.gem
  vendor/cache/postmark-1.25.0.gem
  vendor/cache/postmark-rails-0.22.1.gem
Due: bundle

chore: update embed docs
  app/frontend/docs/pages/Embed.vue
Due: none

chore(release): new Version v5.31.46 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

Path conditions:
  yarn: any of: .gitlab-ci.yml, package.json, yarn.lock, .npmrc
  bundle: any of: .gitlab-ci.yml, Gemfile, Gemfile.lock, .ruby-version
