Repository fleetyards/fleetyards: changes, and which GitLab CI jobs are due for each by the changed paths.
All: yarn, bundle

.gitlab-ci.yml:

image: fleetyards/base:2.7.1

stages:
  - prep
  - test
  - build
  - e2e
  - deploy

cache: &global_cache
  key: fleetyards-cache
  paths:
    - node_modules/
    - vendor/bundle/
  policy: pull

.ruby_template:
  variables:
    BUNDLE_PATH: vendor/bundle
  before_script:
    - bundle install
    - mkdir -p log

.js_test_template:
  before_script:
    - yarn --frozen-lockfile

.ruby_test_template:
  extends: .ruby_template
  services:
    - postgres:12.2-alpine
  variables:
    RAILS_ENV: test
    POSTGRES_DB: fleetyards_test
    POSTGRES_USER: root
    POSTGRES_PASSWORD: root
    POSTGRES_HOST_AUTH_METHOD: trust
    DATABASE_HOST: postgres
    DATABASE_PORT: 5432
    DATABASE_USER: $POSTGRES_USER
    DATABASE_URL: postgresql://$POSTGRES_USER:$POSTGRES_PASSWORD@$DATABASE_HOST:$DATABASE_PORT/$POSTGRES_DB

.e2e_template:
  extends: .ruby_test_template
  image: fleetyards/ci:2.6.6
  services:
    - redis:latest
    - name: docker.elastic.co/elasticsearch/elasticsearch:7.5.2
      alias: elasticsearch
      command: ["bin/elasticsearch", "-Ediscovery.type=single-node", "-Expack.security.enabled=0", "-Ehttp.port=9200", "-Ecluster.name=fleetyards-test-cluser"]
  variables:
    DATABASE_URL: postgresql://root:root@127.0.0.1:5432/fleetyards
    ELASTICSEARCH_URL: http://elasticsearch:9200
    TEST_SEEDS: 1
    RAILS_ENV: ci
    ON_SUBDOMAIN: false
    RAILS_SERVE_STATIC_FILES: 1
    DISABLE_DATABASE_ENVIRONMENT_CHECK: 1
    CYPRESS_BASE_URL: http://localhost:8270
    APP_DIR: .
    PORT: 8270
    # transport.host: localhost
    # network.host: 127.0.0.1

yarn:
  stage: prep
  cache:
    <<: *global_cache
    paths:
      - node_modules/
    policy: pull-push
  script:
    - yarn --frozen-lockfile
  only:
    changes:
      - .gitlab-ci.yml
      - package.json
      - yarn.lock
      - .npmrc

bundle:
  stage: prep
  cache:
    <<: *global_cache
    paths:
      - vendor/bundle/
    policy: pull-push
  script:
    - bundle install
  only:
    changes:
      - .gitlab-ci.yml
      - Gemfile
      - Gemfile.lock
      - .ruby-version

ruby audit:
  stage: test
  extends: .ruby_template
  script:
    - bundle exec bundle-audit update
    - bundle exec bundle-audit check

yarn audit:
  stage: test
  extends: .js_test_template
  script:
    - yarn audit

rubocop:
  stage: test
  extends: .ruby_template
  script:
    - bundle exec rubocop --format progress

js-lint:
  stage: test
  extends: .js_test_template
  script:
    - yarn run lint:js
    - yarn run lint:vue
    - yarn run lint:style

js tests:
  stage: test
  extends: .js_test_template
  script:
    - yarn run test

ruby tests:
  stage: test
  extends: .ruby_test_template
  script:
    - ./scripts/wait-for-db.sh
    - bundle exec rails db:create db:schema:load
    - bundle exec rails test:coverage

seeds:
  stage: build
  extends: .e2e_template
  script:
    - ./scripts/wait-for-db.sh
    - bundle exec rails db:create db:schema:load
    - bundle exec rails db:seed

assets:
  stage: build
  extends: .ruby_test_template
  script:
    - RAILS_ENV=production bundle exec rails assets:precompile

chore(release): new Version v5.31.75 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix(hangar-import): import ships always into the hangar not the wishlist
  app/lib/hangar_importer.rb
Due: none

fix(hangar-sync): ignore ingame bought ships
  app/lib/hangar_sync.rb
Due: none

chore(release): new Version v5.31.76 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: try to fix roadmap controller
  app/controllers/api/v1/roadmap_controller.rb
Due: none

chore(release): new Version v5.31.77 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix(fleetyards-sync): limit requests to 50 per minute and add retry button
  @types/fleetyards.d.ts
  app/frontend/frontend/components/HangarSyncBtn/Modal/index.vue
  app/frontend/frontend/lib/FleetyardsSyncHandler.ts
  app/frontend/translations/en/actions.ts
Due: none

chore(fleetyards-sync): add margin for check identity button
  app/frontend/frontend/components/HangarSyncBtn/Modal/index.scss
  app/frontend/frontend/components/HangarSyncBtn/Modal/index.vue
Due: none

chore(release): new Version v5.31.78 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix(fleetyards-sync): resolve async call which leads to endless loading of pages
  app/frontend/frontend/components/HangarSyncBtn/Modal/index.vue
  app/frontend/frontend/lib/FleetyardsSyncHandler.ts
Due: none

chore(release): new Version v5.31.79 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix(fleetyards-sync): remove target origin to fix endless run
  app/frontend/frontend/lib/FleetyardsSyncHandler.ts
Due: none

chore(release): new Version v5.31.80 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix(fleetyards-sync): update throttling to reenable sync
  app/frontend/frontend/components/HangarSyncBtn/Modal/index.vue
  app/frontend/frontend/lib/FleetyardsSyncHandler.ts
Due: none

chore(release): new Version v5.31.81 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix(stats): update fleet and hangar stats to calculate price values correctly
  app/controllers/api/v1/fleet_stats_controller.rb
  app/controllers/api/v1/hangar_stats_controller.rb
  app/controllers/api/v1/models_controller.rb
Due: none

chore(release): new Version v5.31.82 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

feat(models): add link to Atlas Defense Industries Map tool
  app/api_components/v1/schemas/models/model.rb
  app/controllers/admin/models_controller.rb
  app/frontend/frontend/pages/Models/Show/index.scss
  app/frontend/frontend/pages/Models/Show/index.vue
  app/frontend/services/fyAdminApi/models/Model.ts
  app/frontend/services/fyApi/models/Model.ts
  app/frontend/services/fyApi/models/ModelExtended.ts
  app/frontend/translations/en/labels.ts
  app/models/model.rb
  app/views/admin/models/_form.haml
  config/locales/en/activerecord.yml
  config/locales/en/helpers.yml
  db/migrate/20251204233457_add_map_to_models.rb
  db/schema.rb
  swagger/admin/v1/schema.yaml
  swagger/v1/schema.yaml
  test/fixtures/models.yml
Due: none

chore: update views
  app/views/api/v1/models/_base.jbuilder
Due: none

chore(models): rename field
  app/api_components/v1/schemas/models/model.rb
  app/controllers/admin/models_controller.rb
  app/frontend/frontend/pages/Models/Show/index.vue
  app/frontend/services/fyAdminApi/models/Model.ts
  app/frontend/services/fyApi/models/Model.ts
  app/frontend/services/fyApi/models/ModelExtended.ts
  app/models/model.rb
  app/views/admin/api/v1/models/_base.jbuilder
  app/views/admin/models/_form.haml
  app/views/api/v1/models/_base.jbuilder
  config/locales/en/activerecord.yml
  db/migrate/20251204233457_add_map_to_models.rb
  db/schema.rb
  swagger/admin/v1/schema.yaml
  swagger/v1/schema.yaml
  test/fixtures/models.yml
Due: none

chore(release): new Version v5.32.0 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: add adi icon
  app/frontend/frontend/pages/Models/Show/index.vue
  app/frontend/images/adi_icon.png
Due: none

chore(release): new Version v5.32.1 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore(sentry): enable logging
  config/initializers/sentry.rb
Due: none

chore(release): new Version v5.32.2 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore(sentry): upgrade sentry for vue
  app/frontend/frontend/lib/Sentry/index.js
  package.json
  yarn.lock
Due: yarn

chore(sentry): update sentry for ruby
  Gemfile.lock
  vendor/cache/connection_pool-2.5.4.gem
  vendor/cache/connection_pool-3.0.1.gem
  vendor/cache/erb-5.1.3.gem
  vendor/cache/erb-6.0.0.gem
  vendor/cache/irb-1.15.2.gem
  vendor/cache/irb-1.15.3.gem
  vendor/cache/json-2.13.2.gem
  vendor/cache/json-2.17.1.gem
  vendor/cache/minitest-5.26.0.gem
  vendor/cache/minitest-5.26.2.gem
  vendor/cache/rack-3.1.18.gem
  vendor/cache/rack-3.1.19.gem
  vendor/cache/rackup-2.2.1.gem
  vendor/cache/rackup-2.3.0.gem
  vendor/cache/rdoc-6.15.0.gem
  vendor/cache/rdoc-6.16.1.gem
  vendor/cache/redis-client-0.25.2.gem
  vendor/cache/redis-client-0.26.1.gem
  vendor/cache/reline-0.6.2.gem
  vendor/cache/reline-0.6.3.gem
  vendor/cache/sentry-rails-5.28.0.gem
  vendor/cache/sentry-rails-6.2.0.gem
  vendor/cache/sentry-ruby-5.28.1.gem
  vendor/cache/sentry-ruby-6.2.0.gem
  vendor/cache/sentry-sidekiq-5.28.1.gem
  vendor/cache/sentry-sidekiq-6.2.0.gem
  vendor/cache/stringio-3.1.7.gem
  vendor/cache/stringio-3.1.9.gem
Due: bundle

chore: downgrade connection_pool
  Gemfile.lock
  vendor/cache/connection_pool-2.5.5.gem
  vendor/cache/connection_pool-3.0.1.gem
Due: bundle

chore(release): new Version v5.32.3 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore(cdn): try to use bunny as a cdn
  config/app/main.yml
  config/environments/production.rb
  config/initializers/carrierwave.rb
  config/initializers/content_security_policy.rb
  self-hosting-wip.md
Due: none

chore: fix config lookup
  config/environments/production.rb
  config/initializers/carrierwave.rb
  config/initializers/content_security_policy.rb
Due: none

chore: fix cdn config
  config/app/main.yml
Due: none

chore(release): new Version v5.32.4 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix(cdn): update csp headers
  config/initializers/content_security_policy.rb
Due: none

chore(release): new Version v5.32.5 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix(cdn): update csp header to allow manifest from cdn
  config/initializers/content_security_policy.rb
Due: none

chore(release): new Version v5.32.6 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix(cdn): update image paths
  config/app/main.yml
  config/initializers/content_security_policy.rb
  config/routes.rb
Due: none

chore(release): new Version v5.32.7 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix(mailer): update asset host
  config/environments/production.rb
Due: none
