Repository fleetyards/fleetyards: changes, and which GitLab CI jobs are due for each by the changed paths.
All: yarn, bundle

yarn:
  stage: prep
  cache:
    key: fleetyards-cache
    paths:
    - node_modules/
    policy: pull-push
  script:
  - yarn --frozen-lockfile

bundle:
  stage: prep
  cache:
    key: fleetyards-cache
    paths:
    - vendor/bundle/
    policy: pull-push
  script:
  - bundle install

fix(paints): update importer mapping for the L-21 Wolf
  app/controllers/admin/application_controller.rb
  app/lib/paints_importer.rb
Due: none

chore(release): new Version v5.31.64 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore(vue3): linting
  .eslintrc-auto-import.json
  app/frontend/admin/components/Dashboard/Components.vue
  app/frontend/embed/composables/useI18n.ts
  app/frontend/entrypoints/admin.ts
  app/frontend/entrypoints/frontend.ts
  app/frontend/frontend/App.vue
  app/frontend/frontend/pages/fleets/[slug].vue
  app/frontend/frontend/pages/hangar/wishlist.vue
  app/frontend/frontend/pages/settings/security/two-factor-backup-codes.vue
  app/frontend/frontend/pages/ships/[slug]/videos.vue
  app/frontend/shared/components/AppConfirm/index.vue
  app/frontend/shared/components/AppConfirm/types.ts
  app/frontend/shared/components/AppModal/index.vue
  app/frontend/shared/components/Chart/index.vue
  app/frontend/shared/composables/useComlink.ts
  app/frontend/shared/composables/useI18n.ts
  app/frontend/shared/plugins/Sentry.ts
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: yarn

chore: update package.json
  package.json
Due: yarn

fix(fleet-embed): add missing loaner filter
  app/controllers/api/v1/public/fleet_vehicles_controller.rb
Due: none

chore: fix specs
  spec/requests/api/v1/public/fleets/vehicles/embed_spec.rb
Due: none

chore(release): new Version v5.31.65 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix(paints-import): update mapping for apollo
  app/lib/paints_importer.rb
Due: none

chore(release): new Version v5.31.66 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore(active-storage): add cloud service provider
  config/credentials.yml.enc
  config/credentials/production.yml.enc
  config/environments/development.rb
  config/environments/production.rb
  config/storage.yml
  lib/twitter/post.rb
Due: none

chore: update bundle
  Gemfile
  Gemfile.lock
  vendor/cache/aws-eventstream-1.4.0.gem
  vendor/cache/aws-partitions-1.1178.0.gem
  vendor/cache/aws-sdk-core-3.235.0.gem
  vendor/cache/aws-sdk-kms-1.115.0.gem
  vendor/cache/aws-sdk-s3-1.202.0.gem
  vendor/cache/aws-sigv4-1.12.1.gem
  vendor/cache/jmespath-1.6.2.gem
  vendor/cache/mini_portile2-2.8.9.gem
  vendor/cache/x-0.14.1.gem
Due: bundle

chore: update ci env to prevent active storage errors
  config/environments/ci.rb
Due: none

chore: linting
  lib/tasks/cache.rake
  lib/tasks/scdata.thor
  lib/tasks/uploads.thor
  test/test_helper.rb
Due: none

chore(active-storage): setup and test for cloud service
  .eslintrc-auto-import.json
  .gitignore
  Procfile.docker.dev
  app/frontend/admin/components/DirectUpload/Actions/index.scss
  app/frontend/admin/components/DirectUpload/Actions/index.vue
  app/frontend/admin/components/DirectUpload/Image/index.scss
  app/frontend/admin/components/DirectUpload/Image/index.vue
  app/frontend/admin/components/DirectUpload/Uploader/index.scss
  app/frontend/admin/components/DirectUpload/Uploader/index.vue
  app/frontend/admin/components/DirectUpload/index.scss
  app/frontend/admin/components/DirectUpload/index.vue
  app/frontend/admin/components/ImageUploader/index.vue
  app/frontend/admin/components/LazyImage/index.scss
  app/frontend/admin/components/LazyImage/index.vue
  app/frontend/admin/components/LazyImage/types.ts
  app/frontend/admin/composables/useDirectUpload.ts
  app/frontend/auto-imports.d.ts
  config/initializers/content_security_policy.rb
  db/migrate/20241223123539_create_active_storage_tables.active_storage.rb
  db/migrate/20250220165924_add_service_name_to_active_storage_blobs.active_storage.rb
  db/migrate/20250220165925_create_active_storage_variant_records.active_storage.rb
  db/migrate/20250220165926_remove_not_null_on_active_storage_blobs_checksum.active_storage.rb
  db/schema.rb
  docker-compose.minimal.yml
  docker-compose.yml
  package.json
  scripts/restore-db-backup.sh
  vite.config.ts
  yarn.lock
Due: yarn

chore: linting
  app/frontend/admin/components/DirectUpload/Uploader/index.vue
  app/frontend/admin/components/DirectUpload/index.vue
Due: none

chore(release): new Version v5.31.67 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore(vue3): update admin uploads
  .gitignore
  Gemfile.lock
  Procfile.docker.dev
  app/api_components/admin/v1/schemas/inputs/model_update_input.rb
  app/controllers/admin/api/v1/models_controller.rb
  app/controllers/admin/base_controller.rb
  app/frontend/admin/components/Models/Actions/Items.vue
  app/frontend/admin/pages/models/[id]/edit/images.vue
  app/frontend/admin/pages/models/[id]/edit/index.vue
  app/frontend/admin/pages/models/[id]/edit/routes.ts
  app/frontend/admin/pages/models/[id]/prices.vue
  app/frontend/admin/pages/models/[id]/routes.ts
  app/frontend/admin/pages/models/[id]/videos.vue
  app/frontend/shared/components/DirectUpload/Image/index.vue
  app/frontend/shared/components/base/FormImageInput/index.scss
  app/frontend/shared/components/base/FormImageInput/index.vue
  app/frontend/translations/en/nav.json
  app/views/admin/_manifest.json.erb
  app/views/api/v1/shared/_file.jbuilder
  config/credentials.yml.enc
  config/environments/development.rb
  config/storage.yml
  docker-compose.minimal.yml
  docker-compose.yml
  swagger/admin/v1/schema.yaml
  vendor/cache/aws-partitions-1.1132.0.gem
  vendor/cache/aws-partitions-1.1177.0.gem
  vendor/cache/aws-sdk-core-3.227.0.gem
  vendor/cache/aws-sdk-core-3.235.0.gem
  vendor/cache/aws-sdk-kms-1.107.0.gem
  vendor/cache/aws-sdk-kms-1.115.0.gem
  vendor/cache/aws-sdk-s3-1.194.0.gem
  vendor/cache/aws-sdk-s3-1.201.0.gem
Due: bundle

chore: update pnpm lock
  pnpm-lock.yaml
Due: none

chore(release): new Version v5.31.68 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: update data_migrate
  Gemfile.lock
  vendor/cache/data_migrate-11.3.1.gem
  vendor/cache/data_migrate-9.4.0.gem
Due: bundle

chore(release): new Version v5.31.69 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore(active-storage): add test data
  app/models/model.rb
Due: none

chore(release): new Version v5.31.70 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore(active-storage): update csp headers
  config/initializers/content_security_policy.rb
Due: none

chore(release): new Version v5.31.71 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: cleanup active storage test
  app/frontend/admin/components/DirectUpload/Actions/index.scss
  app/frontend/admin/components/DirectUpload/Actions/index.vue
  app/frontend/admin/components/DirectUpload/Image/index.scss
  app/frontend/admin/components/DirectUpload/Image/index.vue
  app/frontend/admin/components/DirectUpload/Uploader/index.scss
  app/frontend/admin/components/DirectUpload/Uploader/index.vue
  app/frontend/admin/components/DirectUpload/index.scss
  app/frontend/admin/components/DirectUpload/index.vue
  app/frontend/admin/components/ImageUploader/index.vue
  app/frontend/admin/components/LazyImage/index.scss
  app/frontend/admin/components/LazyImage/index.vue
  app/frontend/admin/components/LazyImage/types.ts
Due: none

chore: update model production status
  app/models/model.rb
Due: none

fix(paints-importer): update mapping for current event paints
  app/lib/paints_importer.rb
Due: none

chore(release): new Version v5.31.72 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: update production states enum
  app/models/model.rb
Due: none

chore(release): new Version v5.31.73 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: cleanup directupload test
  app/frontend/admin/components/ImageUploader/index.vue
Due: none

chore(release): new Version v5.31.74 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: safeguard pledgestore loader
  app/lib/rsi/pledge_store_loader.rb
Due: none

fix(sale-notifications): respect user settings to suppress notifications
  app/frontend/frontend/App.vue
  app/frontend/frontend/api/models/User.d.ts
  app/frontend/frontend/composables/useUpdates.ts
Due: none

fix(compare): use bigger fleetchart images to prevent scaling issue
  app/frontend/frontend/components/Compare/Models/TopView/index.vue
Due: none

Path conditions:
  yarn: any of: .gitlab-ci.yml, package.json, yarn.lock, .npmrc
  bundle: any of: .gitlab-ci.yml, Gemfile, Gemfile.lock, .ruby-version
