Repository fleetyards/fleetyards: changes, and which GitLab CI jobs are due for each by the changed paths.
All: yarn, bundle

yarn:
  stage: prep
  cache:
    key: fleetyards-cache
    paths:
    - node_modules/
    policy: pull-push
  script:
  - yarn --frozen-lockfile

bundle:
  stage: prep
  cache:
    key: fleetyards-cache
    paths:
    - vendor/bundle/
    policy: pull-push
  script:
  - bundle install

fix(sync): check paints after models
  app/lib/hangar_sync.rb
Due: none

chore(release): new Version v5.31.47 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix(loaders): update loaner and paints mapping for new IAE ships
  app/lib/paints_importer.rb
  app/lib/rsi/loaner_loader.rb
Due: none

chore(release): new Version v5.31.48 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix(paints): update mapping
  app/lib/paints_importer.rb
Due: none

chore(release): new Version v5.31.49 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix(paints-importer): update mapping for new merlin and archimedes paints
  app/lib/paints_importer.rb
Due: none

chore(release): new Version v5.31.50 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore(paints): update mapping
  app/lib/paints_importer.rb
Due: none

chore(release): new Version v5.31.51 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore(release): new Version v5.31.52 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore(paints): update importer
  app/lib/paints_importer.rb
Due: none

chore: update bundler
  Gemfile.lock
  app/frontend/shared/components/DirectUpload/Uploader/index.vue
  app/frontend/shared/composables/useDirectUpload.ts
  app/jobs/loaders/roadmap_job.rb
  config/credentials.yml.enc
  config/credentials/production.yml.enc
  config/environments/development.rb
  config/environments/production.rb
  config/initializers/content_security_policy.rb
  config/storage.yml
Due: bundle

chore: update deps
  .tool-versions
  Gemfile
  Gemfile.lock
  app/frontend/frontend/components/Navigation/VisualTestsNav/index.vue
  app/frontend/frontend/components/Navigation/index.vue
  vendor/cache/csv-3.3.2.gem
  vendor/cache/highline-2.1.0.gem
  vendor/cache/highline-3.1.2.gem
  vendor/cache/httparty-0.21.0.gem
  vendor/cache/httparty-0.22.0.gem
  vendor/cache/io-console-0.7.2.gem
  vendor/cache/io-console-0.8.0.gem
  vendor/cache/multi_xml-0.6.0.gem
  vendor/cache/multi_xml-0.7.1.gem
  vendor/cache/progress_bar-1.3.3.gem
  vendor/cache/progress_bar-1.3.4.gem
  vendor/cache/reline-0.5.6.gem
  vendor/cache/reline-0.6.0.gem
Due: bundle

fix(sync): check extension on modal open call
  app/frontend/frontend/components/HangarSyncBtn/index.vue
Due: none

chore(paints): update mapping for new hornet mk2 paints
  app/lib/paints_importer.rb
Due: none

chore(release): new Version v5.31.53 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix(sync): update Reclaimer BIS mapping
  app/lib/hangar_sync.rb
Due: none

chore(release): new Version v5.31.54 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: optimize queries
  app/controllers/api/v1/fleets_controller.rb
  app/controllers/api/v1/public/hangar_groups_controller.rb
  app/controllers/api/v1/public/hangar_stats_controller.rb
  app/controllers/api/v1/public/hangars_controller.rb
  app/controllers/api/v1/public/vehicles_controller.rb
  app/controllers/api/v1/public/wishlists_controller.rb
  app/models/fleet.rb
  app/models/import.rb
  app/models/imports/hangar_import.rb
  app/models/imports/hangar_sync.rb
  app/models/imports/model_import.rb
  app/models/imports/models_import.rb
  app/models/imports/sc_data/all_import.rb
  app/models/imports/sc_data/model_import.rb
  app/models/imports/sc_data/models_import.rb
  db/migrate/20250319094228_add_normalized_fid_to_fleets.rb
  db/migrate/20250319110026_add_missing_index_to_imports.rb
  db/schema.rb
  test/fixtures/fleets.yml
  test/fixtures/imports.yml
  test/models/fleet_test.rb
Due: none

chore: optimize queries
  app/controllers/api/v1/fleets_controller.rb
  app/controllers/api/v1/public/hangar_groups_controller.rb
  app/controllers/api/v1/public/hangar_stats_controller.rb
  app/controllers/api/v1/public/hangars_controller.rb
  app/controllers/api/v1/public/vehicles_controller.rb
  app/controllers/api/v1/public/wishlists_controller.rb
  app/models/fleet.rb
  app/models/import.rb
  app/models/imports/hangar_import.rb
  app/models/imports/hangar_sync.rb
  app/models/imports/sc_data_import.rb
  db/migrate/20250319094228_add_normalized_fid_to_fleets.rb
  db/migrate/20250319110026_add_missing_index_to_imports.rb
  db/schema.rb
  test/fixtures/fleets.yml
  test/models/fleet_test.rb
Due: none

chore: update bundle
  vendor/cache/prism-1.4.0.gem
  vendor/cache/rbs-3.9.0.gem
  vendor/cache/ruby-lsp-0.23.12.gem
  vendor/cache/ruby-lsp-rails-0.4.0.gem
  vendor/cache/sorbet-runtime-0.5.11953.gem
Due: none

chore: update prettier ignore
  .prettierignore
Due: none

chore: cleanup tasks
  .github/workflows/e2e.job.yml
  .github/workflows/seeds.job.yml
  app/models/equipment.rb
  config/deploy.rb
  config/environments/production.rb
  docker/entrypoint.sh
  lib/tasks/fleetchart.thor
  lib/tasks/items.thor
  lib/tasks/search.thor
  lib/tasks/trading_data.thor
Due: none

Path conditions:
  yarn: any of: .gitlab-ci.yml, package.json, yarn.lock, .npmrc
  bundle: any of: .gitlab-ci.yml, Gemfile, Gemfile.lock, .ruby-version
