Repository fleetyards/fleetyards: changes, and which GitLab CI jobs are due for each by the changed paths.
All: yarn, bundle

yarn:
  stage: prep
  cache:
    key: fleetyards-cache
    paths:
    - node_modules/
    policy: pull-push
  script:
  - yarn --frozen-lockfile

bundle:
  stage: prep
  cache:
    key: fleetyards-cache
    paths:
    - vendor/bundle/
    policy: pull-push
  script:
  - bundle install

fix: e2e specs
  config/initializers/session_store.rb
Due: none

fix: e2e cookies
  app/controllers/api/base_controller.rb
  config/initializers/session_store.rb
  config/secrets.yml
Due: none

chore: update Gemfile
  Gemfile.lock
  vendor/cache/jwt-2.2.1.gem
Due: bundle

chore: transform station list
  app/javascript/frontend/collections/Stations.ts
  app/javascript/frontend/models/Shop.d.ts
  app/javascript/frontend/models/Station.d.ts
  app/javascript/frontend/pages/Stations/index.vue
  app/javascript/frontend/partials/PrivacySettings/index.scss
  app/javascript/frontend/partials/PrivacySettings/index.vue
  app/javascript/frontend/partials/Stations/ListStats/index.vue
Due: none

chore: update yarn.lock
  yarn.lock
Due: yarn

chore: rubocoptering
  .rubocop.yml
  app/controllers/api/v1/fleets_controller.rb
  app/controllers/api/v1/shop_commodities_controller.rb
  app/controllers/api/v1/vehicles_controller.rb
  app/controllers/frontend/base_controller.rb
  lib/rsi/models_loader.rb
  lib/tasks/items.thor
Due: none

fix: image galleries
  app/javascript/frontend/collections/Images.ts
  app/javascript/frontend/components/FilteredList/index.vue
  app/javascript/frontend/components/Gallery/index.vue
  app/javascript/frontend/mixins/GalleryHelpers/index.js
  app/javascript/frontend/models/Image.d.ts
  app/javascript/frontend/pages/Images/index.vue
  app/javascript/frontend/pages/Models/Show/Images/index.vue
  app/javascript/frontend/pages/Stations/Show/Images/index.vue
  app/javascript/stylesheets/frontend/partials/media.scss
Due: none

chore: update cookies
  app/controllers/api/base_controller.rb
  app/javascript/frontend/partials/Navigation/UserNav/index.vue
  config/initializers/devise.rb
  config/initializers/session_store.rb
Due: none

fix: bootstrap 4 alignment
  app/javascript/frontend/pages/Fleets/Preview/index.vue
  app/javascript/frontend/pages/Hangar/Preview/index.vue
Due: none

fix: specs
  app/javascript/frontend/core/components/AppFooter/__tests__/sanity.spec.js
  app/javascript/frontend/core/components/AppFooter/__tests__/spec.js
Due: none

chore: update admin templates and fix uuid generation
  app/assets/images/community-logo.png
  app/controllers/admin/application_controller.rb
  app/controllers/admin/models_controller.rb
  app/controllers/admin/stations_controller.rb
  app/javascript/admin/api/client.js
  app/javascript/admin/api/collections/Images.ts
  app/javascript/admin/api/models/image.d.ts
  app/javascript/admin/components/ImageUploader/index.vue
  app/javascript/admin/components/Images/FilterForm/index.vue
  app/javascript/admin/lib/Store/actions.js
  app/javascript/admin/lib/Store/index.js
  app/javascript/admin/lib/Store/state.js
  app/javascript/admin/pages/Images/index.vue
  app/javascript/admin/pages/Models/Images/index.vue
  app/javascript/frontend/App.vue
  app/javascript/frontend/core/components/FilteredList/index.vue
  app/javascript/frontend/pages/Home/index.vue
  app/javascript/packs/admin.ts
  app/javascript/stylesheets/admin/base.scss
  app/views/layouts/admin/_footer.haml
  app/views/layouts/admin/_footer.html.erb
  app/views/layouts/admin/application.html.erb
  config/initializers/generators.rb
  db/migrate/20200701115101_create_test_table.rb
  db/migrate/20200701121428_update_uuid_generator.rb
  db/migrate/20200701122418_remove_old_uuid_extension.rb
  db/schema.rb
  package.json
  yarn.lock
Due: yarn

chore: remove test table
  app/javascript/admin/pages/Models/Images/index.vue
  app/javascript/admin/pages/Stations/Images/index.vue
  config/initializers/generators.rb
  db/migrate/20200701133149_add_belongs_to_to_test_tables.rb
  db/migrate/20200701133359_drop_test_tables.rb
  db/schema.rb
Due: none

chore: fix routeGuards
  @types/fleetyards.d.ts
  app/javascript/admin/App.vue
  app/javascript/admin/api/client.ts
  app/javascript/admin/components/ImageUploader/index.scss
  app/javascript/admin/components/ImageUploader/index.vue
  app/javascript/admin/lib/Router/index.ts
  app/javascript/admin/routes.ts
  app/javascript/frontend/pages/Fleets/Fleetchart/index.vue
  app/javascript/frontend/pages/Fleets/Members/index.vue
  app/javascript/frontend/pages/Fleets/Settings/Fleet/index.vue
  app/javascript/frontend/pages/Fleets/Settings/Membership/index.vue
  app/javascript/frontend/pages/Fleets/Show/index.vue
  app/javascript/frontend/pages/Fleets/Stats/index.vue
  app/javascript/frontend/pages/Models/Show/index.vue
  app/javascript/frontend/utils/RouteGuards.ts
  app/javascript/packs/admin.ts
  app/javascript/packs/frontend.ts
Due: none

chore: linting
  app/javascript/admin/api/client.ts
Due: none

chore: update avatar in forms
  app/javascript/frontend/pages/Fleets/Settings/Fleet/index.vue
  app/javascript/frontend/pages/Settings/Profile/index.vue
  app/javascript/stylesheets/frontend/partials/form-input.scss
Due: none

fix: fleets reload after grouped change
  app/javascript/frontend/core/components/FilteredList/index.vue
  app/javascript/frontend/pages/Fleets/Show/index.vue
Due: none

feat: show owner on fleets page
  app/javascript/frontend/components/Models/Panel/index.scss
  app/javascript/frontend/components/Models/Panel/index.vue
  app/javascript/frontend/pages/Fleets/Show/index.vue
  app/javascript/stylesheets/frontend/partials/panel-btn.scss
  app/javascript/stylesheets/frontend/partials/panel.scss
  app/javascript/translations/en/labels.js
  app/views/api/v1/vehicles/_base_public.jbuilder
Due: none

feat: owner label adjustments
  app/javascript/stylesheets/frontend/partials/panel.scss
Due: none

chore: add prefetch for background images
  app/views/layouts/application.html.erb
  config/initializers/content_security_policy.rb
Due: none

chore: update background Image
  app/javascript/frontend/App.vue
  app/javascript/frontend/core/components/BackgroundImage/index.vue
  app/javascript/frontend/pages/Fleets/routes.js
  app/javascript/frontend/pages/Stations/routes.js
  app/javascript/frontend/routes.js
  app/javascript/stylesheets/admin/base.scss
  app/javascript/stylesheets/frontend/partials/background.scss
  app/views/layouts/application.html.erb
  config/initializers/content_security_policy.rb
Due: none

chore: cleanup backgrounds
  app/javascript/frontend/core/components/BackgroundImage/index.vue
  app/javascript/frontend/routes.js
  app/javascript/stylesheets/admin/base.scss
  app/views/layouts/application.html.erb
Due: none

fix: mailer preview class
  test/mailers/previews/devise_mailer_preview.rb
Due: none

chore: update linter
  app/javascript/admin/components/ImageUploader/index.vue
  app/javascript/admin/components/Images/FilterForm/index.vue
  app/javascript/frontend/components/HangarImportBtn/index.vue
  app/javascript/frontend/lib/Noty/index.js
  app/javascript/frontend/pages/Fleets/Settings/Fleet/index.vue
  app/javascript/frontend/pages/Hangar/index.vue
  package.json
Due: yarn

chore: bring back 5 col layout
  app/javascript/frontend/core/components/FilteredList/index.vue
  app/javascript/stylesheets/frontend/bootstrap-custom.scss
  app/javascript/stylesheets/variables.scss
Due: none

chore: update grid breakpoints
  app/javascript/stylesheets/variables.scss
Due: none

chore: add CollectionFilterGroup
  app/javascript/frontend/components/Vehicles/NewVehiclesModal/index.vue
  app/javascript/frontend/core/components/Form/CollectionFilterGroup/index.vue
  app/javascript/stylesheets/frontend/base.scss
Due: none

fix: iphone camera bump margin
  app/javascript/stylesheets/frontend/base.scss
Due: none

fix: model panel subline
  app/javascript/frontend/components/Models/Panel/index.vue
Due: none

fix: form input padding
  app/javascript/stylesheets/frontend/partials/form-input.scss
Due: none

fix: rubocoptering
  .rubocop.yml
  config.ru
Due: none

chore: update yarn lock
  yarn.lock
Due: yarn

test
  docker/docker-compose.yml
Due: none

fix: cookie samesite setting
  app/controllers/api/base_controller.rb
  config/initializers/devise.rb
  config/initializers/session_store.rb
Due: none

fix: linting
  app/javascript/frontend/core/components/Gallery/index.vue
  yarn.lock
Due: yarn

chore: update docker
  docker/ci/Dockerfile
  package.json
  yarn.lock
Due: yarn

chore: rubocoptering
  .rubocop.yml
  app/controllers/api/v1/hangar_groups_controller.rb
  app/controllers/api/v1/manufacturers_controller.rb
  app/controllers/api/v1/vehicles_controller.rb
  app/helpers/application_helper.rb
  app/helpers/nav_helper.rb
  app/helpers/plumber_helper.rb
  app/helpers/prefetch_helper.rb
  app/helpers/ransack_helper.rb
  app/models/shop.rb
  app/models/vehicle.rb
  config/environments/production.rb
  config/routes/frontend_routes.rb
  lib/hangar_importer.rb
  lib/rsi/base_loader.rb
  lib/rsi/location_loader.rb
  lib/rsi/models_loader.rb
  lib/rsi/roadmap_loader.rb
  lib/tasks/cache.rake
Due: none

chore: postpone eslint-typescript upgrade
  app/javascript/stylesheets/frontend/bootstrap-custom.scss
  package.json
  yarn.lock
Due: yarn

Path conditions:
  yarn: any of: .gitlab-ci.yml, package.json, yarn.lock, .npmrc
  bundle: any of: .gitlab-ci.yml, Gemfile, Gemfile.lock, .ruby-version
