Repository fleetyards/fleetyards: changes, and which GitLab CI jobs are due for each by the changed paths.
All: yarn, bundle

.gitlab-ci.yml:

image: fleetyards/base:2.7.1

stages:
  - prep
  - test
  - build
  - e2e
  - deploy

cache: &global_cache
  key: fleetyards-cache
  paths:
    - node_modules/
    - vendor/bundle/
  policy: pull

.ruby_template:
  variables:
    BUNDLE_PATH: vendor/bundle
  before_script:
    - bundle install
    - mkdir -p log

.js_test_template:
  before_script:
    - yarn --frozen-lockfile

.ruby_test_template:
  extends: .ruby_template
  services:
    - postgres:12.2-alpine
  variables:
    RAILS_ENV: test
    POSTGRES_DB: fleetyards_test
    POSTGRES_USER: root
    POSTGRES_PASSWORD: root
    POSTGRES_HOST_AUTH_METHOD: trust
    DATABASE_HOST: postgres
    DATABASE_PORT: 5432
    DATABASE_USER: $POSTGRES_USER
    DATABASE_URL: postgresql://$POSTGRES_USER:$POSTGRES_PASSWORD@$DATABASE_HOST:$DATABASE_PORT/$POSTGRES_DB

.e2e_template:
  extends: .ruby_test_template
  image: fleetyards/ci:2.6.6
  services:
    - redis:latest
    - name: docker.elastic.co/elasticsearch/elasticsearch:7.5.2
      alias: elasticsearch
      command: ["bin/elasticsearch", "-Ediscovery.type=single-node", "-Expack.security.enabled=0", "-Ehttp.port=9200", "-Ecluster.name=fleetyards-test-cluser"]
  variables:
    DATABASE_URL: postgresql://root:root@127.0.0.1:5432/fleetyards
    ELASTICSEARCH_URL: http://elasticsearch:9200
    TEST_SEEDS: 1
    RAILS_ENV: ci
    ON_SUBDOMAIN: false
    RAILS_SERVE_STATIC_FILES: 1
    DISABLE_DATABASE_ENVIRONMENT_CHECK: 1
    CYPRESS_BASE_URL: http://localhost:8270
    APP_DIR: .
    PORT: 8270
    # transport.host: localhost
    # network.host: 127.0.0.1

yarn:
  stage: prep
  cache:
    <<: *global_cache
    paths:
      - node_modules/
    policy: pull-push
  script:
    - yarn --frozen-lockfile
  only:
    changes:
      - .gitlab-ci.yml
      - package.json
      - yarn.lock
      - .npmrc

bundle:
  stage: prep
  cache:
    <<: *global_cache
    paths:
      - vendor/bundle/
    policy: pull-push
  script:
    - bundle install
  only:
    changes:
      - .gitlab-ci.yml
      - Gemfile
      - Gemfile.lock
      - .ruby-version

ruby audit:
  stage: test
  extends: .ruby_template
  script:
    - bundle exec bundle-audit update
    - bundle exec bundle-audit check

yarn audit:
  stage: test
  extends: .js_test_template
  script:
    - yarn audit

rubocop:
  stage: test
  extends: .ruby_template
  script:
    - bundle exec rubocop --format progress

js-lint:
  stage: test
  extends: .js_test_template
  script:
    - yarn run lint:js
    - yarn run lint:vue
    - yarn run lint:style

js tests:
  stage: test
  extends: .js_test_template
  script:
    - yarn run test

ruby tests:
  stage: test
  extends: .ruby_test_template
  script:
    - ./scripts/wait-for-db.sh
    - bundle exec rails db:create db:schema:load
    - bundle exec rails test:coverage

seeds:
  stage: build
  extends: .e2e_template
  script:
    - ./scripts/wait-for-db.sh
    - bundle exec rails db:create db:schema:load
    - bundle exec rails db:seed

assets:
  stage: build
  extends: .ruby_test_template
  script:
    - RAILS_ENV=production bundle exec rails assets:precompile

chore(release): new Version v5.10.1 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore(hangar): use touch to update hangar_updated_at to resolve deadlock
  app/models/vehicle.rb
Due: none

chore: update github actions
  .github/workflows/check.yml
  .github/workflows/main.yml
  .github/workflows/release.yml
Due: none

chore: update remaining github actions
  .github/workflows/main.yml
Due: none

chore(release): new Version v5.10.2 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: update actions/cache
  .github/workflows/check.yml
  .github/workflows/main.yml
  .github/workflows/release.yml
Due: none

chore: try to harden e2e specs
  cypress/e2e/Fleet.cy.js
Due: none

chore(release): new Version v5.10.3 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore(e2e): update fleets spec
  cypress/e2e/Fleet.cy.js
Due: none

chore(release): new Version v5.10.4 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: update release action
  .github/workflows/release.yml
Due: none

Update Controller specs
  app/controllers/admin/admin_users_controller.rb
  app/controllers/admin/api/v1/images_controller.rb
  app/controllers/admin/api/v1/shop_commodities_controller.rb
  app/controllers/admin/celestial_objects_controller.rb
  app/controllers/admin/commodities_controller.rb
  app/controllers/admin/components_controller.rb
  app/controllers/admin/equipment_controller.rb
  app/controllers/admin/manufacturers_controller.rb
  app/controllers/admin/model_module_packages_controller.rb
  app/controllers/admin/model_modules_controller.rb
  app/controllers/admin/model_paints_controller.rb
  app/controllers/admin/model_upgrades_controller.rb
  app/controllers/admin/models_controller.rb
  app/controllers/admin/shops_controller.rb
  app/controllers/admin/starsystems_controller.rb
  app/controllers/admin/stations_controller.rb
  app/controllers/admin/users_controller.rb
  app/controllers/api/v1/shops_controller.rb
  config/environments/test.rb
  test/controllers/admin/models_controller_test.rb
  test/controllers/admin/shops_controller_test.rb
  test/controllers/api/v1/celestial_objects_controller_test.rb
  test/controllers/api/v1/fleet_invite_urls_controller_test.rb
  test/controllers/api/v1/fleet_vehicles_controller_test.rb
  test/controllers/api/v1/models_controller_test.rb
  test/controllers/api/v1/roadmap_controller_test.rb
  test/controllers/api/v1/shop_commodities_controller_test.rb
  test/controllers/api/v1/shops_controller_test.rb
  test/controllers/api/v1/starsystems_controller_test.rb
  test/controllers/api/v1/stations_controller_test.rb
  test/controllers/api/v1/trade_routes_controller_test.rb
  test/controllers/api/v1/users_controller_test.rb
  test/controllers/api/v1/vehicles_controller_test.rb
  test/test_helper.rb
Due: none

chore: rubocoptering
  test/controllers/api/v1/roadmap_controller_test.rb
  test/controllers/api/v1/stations_controller_test.rb
Due: none

Update bundle
  vendor/cache/google-protobuf-3.21.7-x86_64-darwin.gem
  vendor/cache/google-protobuf-3.21.8-x86_64-darwin.gem
Due: none

Add redis service to ci
  .github/workflows/main.yml
Due: none

chore: update csp headers for local dev
  config/initializers/content_security_policy.rb
Due: none

Update loaner importer
  app/lib/rsi/loaner_loader.rb
Due: none

Downgrade Sidekiq
  Gemfile
  Gemfile.lock
  vendor/cache/google-protobuf-3.21.8-x86_64-darwin.gem
  vendor/cache/google-protobuf-3.21.9-x86_64-darwin.gem
  vendor/cache/redis-client-0.10.0.gem
  vendor/cache/sidekiq-6.5.7.gem
  vendor/cache/sidekiq-7.0.0.gem
Due: bundle

fix(hangar): update calculation for models by manufacturer on stats page
  app/controllers/api/v1/vehicles_controller.rb
Due: none

chore: downgrade Sidekiq
  Gemfile
  Gemfile.lock
  vendor/cache/google-protobuf-3.21.8-x86_64-darwin.gem
  vendor/cache/google-protobuf-3.21.9-x86_64-darwin.gem
  vendor/cache/redis-client-0.11.1.gem
  vendor/cache/sidekiq-6.5.8.gem
  vendor/cache/sidekiq-7.0.1.gem
Due: bundle

fix(sc-data): load version from s3
  app/controllers/api/v1/sc_data_controller.rb
  app/models/import.rb
  app/views/layouts/application.html.erb
  config/initializers/sc_data_version.rb
  config/routes/api_v1_routes.rb
Due: none

chore(release): new Version v5.10.5 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix(stats): update hangar stats to only count non loaner ships
  app/controllers/api/v1/vehicles_controller.rb
Due: none

chore(release): new Version v5.10.6 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix: flagship icon
  app/frontend/frontend/components/Vehicles/Panel/index.vue
  app/frontend/stylesheets/frontend/partials/vehicle-panel.scss
Due: none

chore: refactor primary action
  app/frontend/frontend/core/components/PrimaryAction/index.vue
  app/frontend/stylesheets/frontend/partials/primary-action.scss
Due: none

chore: update vuejs
  package.json
  yarn.lock
Due: yarn

chore(release): new Version v5.10.7 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix(stage): update ON_SUBDOMAIN flag
  app/views/layouts/admin/application.html.erb
Due: none

chore(2fa): display provisioning url on enable page
  app/controllers/api/v1/two_factors_controller.rb
  app/frontend/frontend/api/collections/TwoFactor.ts
  app/frontend/frontend/core/components/SecurePage/index.vue
  app/frontend/frontend/pages/Settings/Security/TwoFactorEnable/index.vue
  app/frontend/translations/en/messages.js
  app/views/api/v1/users/_base.jbuilder
  config/locales/en/messages.yml
  config/routes/api_v1_routes.rb
Due: none

chore(2fa): use event to start process
  app/frontend/frontend/pages/Settings/Security/TwoFactorEnable/index.vue
Due: none

fix(styling): update Avatar image size and grid breakpoints for tablets
  app/frontend/frontend/core/components/Avatar/index.scss
  app/frontend/frontend/core/components/FilteredGrid/index.vue
Due: none

chore(release): new Version v5.10.8 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix(metrics): update spacing
  app/frontend/stylesheets/frontend/partials/metrics.scss
Due: none

chore(panels): fix details collapse
  app/frontend/frontend/core/components/Panel/PanelDetails/index.vue
  app/frontend/stylesheets/frontend/partials/metrics.scss
Due: none

fix(hangar): render 404 if public hangar is disabled for all relevant api endpoints
  app/controllers/api/v1/vehicles_controller.rb
Due: none

chore(release): new Version v5.10.9 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore(ruby): update action config
  .github/workflows/check.yml
  .github/workflows/main.yml
  .github/workflows/release.yml
Due: none

fix(fleets): memberlist styling
  app/frontend/frontend/components/Fleets/MembersList/MembersListItem/index.vue
  app/frontend/stylesheets/frontend/partials/flex-list.scss
Due: none
