Repository fleetyards/fleetyards: changes, and which GitLab CI jobs are due for each by the changed paths.
All: yarn, bundle

yarn:
  stage: prep
  cache:
    key: fleetyards-cache
    paths:
    - node_modules/
    policy: pull-push
  script:
  - yarn --frozen-lockfile

bundle:
  stage: prep
  cache:
    key: fleetyards-cache
    paths:
    - vendor/bundle/
    policy: pull-push
  script:
  - bundle install

chore: bump ruby
  .ruby-version
  .tool-versions
  gemset.nix
Due: bundle

chore: readd missing gems
  Gemfile
  Gemfile.lock
  vendor/cache/bourbon-7.3.0.gem
  vendor/cache/cancancan-3.6.1.gem
  vendor/cache/coffee-rails-5.0.0.gem
  vendor/cache/coffee-script-2.4.1.gem
  vendor/cache/coffee-script-source-1.12.2.gem
  vendor/cache/dynamic_fields_for_rails-1.0.2.gem
  vendor/cache/execjs-2.10.0.gem
  vendor/cache/haml-6.3.0.gem
  vendor/cache/haml-rails-2.1.0.gem
  vendor/cache/i18n-js-3.9.2.gem
  vendor/cache/jquery-rails-4.6.0.gem
  vendor/cache/js-routes-2.3.5.gem
  vendor/cache/js_cookie_rails-2.2.0.gem
  vendor/cache/sass-rails-6.0.0.gem
  vendor/cache/sassc-2.4.0.gem
  vendor/cache/sassc-rails-2.1.2.gem
  vendor/cache/selectize-rails-0.12.6.gem
  vendor/cache/slim-5.2.1.gem
  vendor/cache/slim-rails-3.7.0.gem
  vendor/cache/sorbet-runtime-0.5.12356.gem
  vendor/cache/sprockets-4.2.2.gem
  vendor/cache/sprockets-rails-3.5.2.gem
  vendor/cache/temple-0.10.3.gem
  vendor/cache/tilt-2.6.1.gem
  vendor/cache/uglifier-4.2.1.gem
Due: bundle

chore: linting
  Gemfile
  app/lib/rsi/loaner_loader.rb
  app/lib/rsi/manufacturers_loader.rb
  app/models/user.rb
  config/initializers/ahoy.rb
Due: bundle

chore: add missing gem
  Gemfile
  Gemfile.lock
  vendor/cache/x-0.16.0.gem
Due: bundle

chore(vue3): cleanup gemfile
  Gemfile
  vendor/cache/cancancan-3.6.1.gem
  vendor/cache/execjs-2.10.0.gem
  vendor/cache/js-routes-2.3.5.gem
  vendor/cache/slim-5.2.1.gem
  vendor/cache/slim-rails-3.7.0.gem
  vendor/cache/sorbet-runtime-0.5.12356.gem
  vendor/cache/sprockets-4.2.2.gem
  vendor/cache/sprockets-rails-3.5.2.gem
  vendor/cache/tilt-2.6.1.gem
  vendor/cache/uglifier-4.2.1.gem
  vendor/cache/x-0.16.0.gem
Due: bundle

chore: monkeypatch rswag
  config/initializers/rswag_monkey_patch.rb
Due: none

chore: linting
  config/initializers/rswag_monkey_patch.rb
Due: none

chore: linting
  app/models/admin_user.rb
  app/models/hardpoint.rb
  spec/playwright/app_commands/factory_bot.rb
Due: none

chore(vue3): update specs
  app/controllers/api/v1/fleet_vehicles_controller.rb
  app/lib/rsi/models_loader.rb
  spec/requests/admin/api/v1/components/show_spec.rb
Due: none

chore: fix specs
  app/models/image.rb
  spec/requests/api/v1/fleets/update_spec.rb
  spec/requests/api/v1/hangar/import_spec.rb
  spec/requests/api/v1/vehicles/deprecated_spec.rb
  test/models/task_force_test.rb
Due: none

chore: bump caniuse
  yarn.lock
Due: yarn

chore: linting
  app/api_components/v1/schemas/inputs/fleet_create_input.rb
  app/controllers/admin/api/v1/vehicles_controller.rb
  app/controllers/api/v1/fleet_members_controller.rb
  app/controllers/api/v1/models_controller.rb
  app/controllers/api/v1/public/fleet_vehicles_controller.rb
  app/controllers/api/v1/wishlists_controller.rb
Due: none

chore: linting
  swagger/v1/schema.yaml
Due: none

chore: update specs
  spec/requests/admin/api/v1/manufacturers/show_spec.rb
  spec/requests/api/v1/vehicles/check_serial_spec.rb
Due: none

chore: fix page
  app/frontend/frontend/pages/Oauth/Authorize.vue
Due: none

chore: fix page
  app/frontend/frontend/pages/oauth2/authorize.vue
Due: none

chore: fix pages
  app/frontend/frontend/pages/oauth/authorize.vue
Due: none

chore: update imports
  app/frontend/auto-imports.d.ts
Due: none

chore: fix specs
  app/frontend/frontend/components/Vehicles/OwnersModal/index.vue
  app/frontend/shared/utils/Array.ts
Due: none

Revert "chore: add missing gem"
  Gemfile
  Gemfile.lock
  vendor/cache/x-0.16.0.gem
Due: bundle

Revert "chore: readd missing gems"
  Gemfile
  Gemfile.lock
  vendor/cache/bourbon-7.3.0.gem
  vendor/cache/cancancan-3.6.1.gem
  vendor/cache/coffee-rails-5.0.0.gem
  vendor/cache/coffee-script-2.4.1.gem
  vendor/cache/coffee-script-source-1.12.2.gem
  vendor/cache/dynamic_fields_for_rails-1.0.2.gem
  vendor/cache/execjs-2.10.0.gem
  vendor/cache/haml-6.3.0.gem
  vendor/cache/haml-rails-2.1.0.gem
  vendor/cache/i18n-js-3.9.2.gem
  vendor/cache/jquery-rails-4.6.0.gem
  vendor/cache/js-routes-2.3.5.gem
  vendor/cache/js_cookie_rails-2.2.0.gem
  vendor/cache/sass-rails-6.0.0.gem
  vendor/cache/sassc-2.4.0.gem
  vendor/cache/sassc-rails-2.1.2.gem
  vendor/cache/selectize-rails-0.12.6.gem
  vendor/cache/slim-5.2.1.gem
  vendor/cache/slim-rails-3.7.0.gem
  vendor/cache/sorbet-runtime-0.5.12356.gem
  vendor/cache/sprockets-4.2.2.gem
  vendor/cache/sprockets-rails-3.5.2.gem
  vendor/cache/temple-0.10.3.gem
  vendor/cache/tilt-2.6.1.gem
  vendor/cache/uglifier-4.2.1.gem
Due: bundle

chore: fix gemfile
  Gemfile
Due: bundle

chore: add missing deps
  Gemfile
  Gemfile.lock
  vendor/cache/abbrev-0.1.2.gem
Due: bundle

chore: add missing gem csv
  Gemfile
  Gemfile.lock
  vendor/cache/csv-3.3.5.gem
Due: bundle

chore: update bullet
  Gemfile.lock
  vendor/cache/bullet-7.1.6.gem
  vendor/cache/bullet-8.0.8.gem
  vendor/cache/uniform_notifier-1.16.0.gem
  vendor/cache/uniform_notifier-1.17.0.gem
Due: bundle

chore: update pg and ransack
  Gemfile.lock
  vendor/cache/pg-1.5.6.gem
  vendor/cache/pg-1.5.9.gem
  vendor/cache/ransack-4.1.1.gem
  vendor/cache/ransack-4.3.0.gem
Due: bundle

chore: update jbuilder
  Gemfile.lock
  vendor/cache/jbuilder-2.12.0.gem
  vendor/cache/jbuilder-2.13.0.gem
Due: bundle

chore: fix caching in jbuilder
  app/controllers/admin/api/base_controller.rb
Due: none

chore: fix add missing helpers for jbuilder
  app/controllers/api/base_controller.rb
Due: none

chore(rswag-action-cable): create an extension to allow documentation of ActionCable Channels
  lib/rswag/actioncable_extension.rb
  lib/rswag/actioncable_helpers.rb
  lib/rswag/actioncable_swagger_helper.rb
  spec/channels/hangar_channel_spec.rb
  spec/channels/hangar_destroy_channel_spec.rb
  spec/channels/models_channel_spec.rb
  spec/swagger_helper_actioncable.rb
Due: none

chore(rswag-action-cable): add script to generate ts types
  scripts/actioncable-types-example.md
  scripts/generate-actioncable-types.js
  scripts/generate-actioncable-types.rb
Due: none

chore: linting
  Gemfile
Due: bundle

Path conditions:
  yarn: any of: .gitlab-ci.yml, package.json, yarn.lock, .npmrc
  bundle: any of: .gitlab-ci.yml, Gemfile, Gemfile.lock, .ruby-version
