Repository fleetyards/fleetyards: changes, and which GitLab CI jobs are due for each by the changed paths.
All: yarn, bundle

.gitlab-ci.yml:

image: fleetyards/base:2.6.6

stages:
  - prep
  - test
  - build
  - e2e
  - deploy

cache: &global_cache
  key: fleetyards-cache
  paths:
    - node_modules/
    - vendor/bundle/
  policy: pull

.ruby_template:
  variables:
    BUNDLE_PATH: vendor/bundle
  before_script:
    - bundle install
    - mkdir -p log

.js_test_template:
  before_script:
    - yarn --frozen-lockfile

.ruby_test_template:
  extends: .ruby_template
  services:
    - postgres:12.2-alpine
  variables:
    RAILS_ENV: test
    POSTGRES_DB: fleetyards_test
    POSTGRES_USER: root
    POSTGRES_PASSWORD: root
    POSTGRES_HOST_AUTH_METHOD: trust
    DATABASE_HOST: postgres
    DATABASE_PORT: 5432
    DATABASE_USER: $POSTGRES_USER
    DATABASE_URL: postgresql://$POSTGRES_USER:$POSTGRES_PASSWORD@$DATABASE_HOST:$DATABASE_PORT/$POSTGRES_DB

.e2e_template:
  extends: .ruby_test_template
  image: fleetyards/ci:2.6.6
  services:
    - redis:latest
    - name: docker.elastic.co/elasticsearch/elasticsearch:7.5.2
      alias: elasticsearch
      command: [ "bin/elasticsearch", "-Ediscovery.type=single-node -Xms512m -Xmx512m -Expack.security.enabled=0 -Ehttp.port=9200 -Ecluster.name=fleetyards-test-cluser" ]
  variables:
    DATABASE_URL: postgresql://root:root@127.0.0.1:5432/fleetyards
    ELASTICSEARCH_URL: http://elasticsearch:9200
    TEST_SEEDS: 1
    RAILS_ENV: ci
    ON_SUBDOMAIN: 1
    RAILS_SERVE_STATIC_FILES: 1
    DISABLE_DATABASE_ENVIRONMENT_CHECK: 1
    CYPRESS_BASE_URL: http://localhost:8270
    CYPRESS_CI: 1
    APP_DIR: .
    PORT: 8270
    transport.host: localhost
    network.host: 127.0.0.1

yarn:
  stage: prep
  cache:
    <<: *global_cache
    paths:
      - node_modules/
    policy: pull-push
  script:
    - yarn --frozen-lockfile
  only:
    changes:
      - .gitlab-ci.yml
      - package.json
      - yarn.lock
      - .npmrc

bundle:
  stage: prep
  cache:
    <<: *global_cache
    paths:
      - vendor/bundle/
    policy: pull-push
  script:
    - bundle install
  only:
    changes:
      - .gitlab-ci.yml
      - Gemfile
      - Gemfile.lock
      - .ruby-version

ruby audit:
  stage: test
  extends: .ruby_template
  script:
    - bundle exec bundle-audit update
    - bundle exec bundle-audit check

yarn audit:
  stage: test
  extends: .js_test_template
  script:
    - yarn audit

rubocop:
  stage: test
  extends: .ruby_template
  script:
    - bundle exec rubocop --format progress

js-lint:
  stage: test
  extends: .js_test_template
  script:
    - yarn run lint:js
    - yarn run lint:vue
    - yarn run lint:style

js tests:
  stage: test
  extends: .js_test_template
  script:
    - yarn run test

ruby tests:
  stage: test
  extends: .ruby_test_template
  script:
    - ./scripts/wait-for-db.sh
    - bundle exec rails db:create db:schema:load
    - bundle exec rails test:coverage

seeds:
  stage: build
  extends: .e2e_template
  script:
    - ./scripts/wait-for-db.sh
    - bundle exec rails db:create db:schema:load
    - bundle exec rails db:seed

assets:
  stage: build
  extends: .ruby_test_template
  script:
    - RAILS_ENV=production bundle exec rails assets:precompile

feat: add status color for fleetcharts
  app/javascript/frontend/components/DownloadScreenshotBtn/index.vue
  app/javascript/frontend/components/FleetChartStatusBtn/index.vue
  app/javascript/frontend/components/Fleetchart/List/Item/index.vue
  app/javascript/frontend/components/Fleetchart/List/index.vue
  app/javascript/frontend/pages/Fleets/Fleetchart/index.vue
  app/javascript/frontend/pages/Hangar/Fleetchart/index.vue
  app/javascript/frontend/pages/Models/Fleetchart/index.vue
  app/javascript/stylesheets/frontend/partials/fleetchart.scss
  app/javascript/translations/en/actions.js
Due: none

chore(release): new Version v3.82.0 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix: admin search params
  app/controllers/admin/celestial_objects_controller.rb
  app/controllers/admin/commodities_controller.rb
  app/controllers/admin/components_controller.rb
  app/controllers/admin/equipment_controller.rb
  app/controllers/admin/manufacturers_controller.rb
  app/controllers/admin/model_modules_controller.rb
  app/controllers/admin/model_paints_controller.rb
  app/controllers/admin/model_upgrades_controller.rb
  app/controllers/admin/models_controller.rb
  app/controllers/admin/shops_controller.rb
  app/controllers/admin/starsystems_controller.rb
  app/controllers/admin/stations_controller.rb
  app/controllers/admin/users_controller.rb
  app/controllers/admin/vehicles_controller.rb
Due: none

fix: fleetchart slider
  app/javascript/embed/FleetyardsView.vue
  app/javascript/frontend/components/Fleetchart/List/Item/index.vue
  app/javascript/frontend/components/Fleetchart/Slider/index.vue
  app/javascript/frontend/pages/Fleets/Fleetchart/index.vue
  app/javascript/frontend/pages/Hangar/Fleetchart/index.vue
  app/javascript/frontend/pages/Hangar/PublicFleetchart/index.vue
  app/javascript/frontend/pages/Models/Fleetchart/index.vue
  app/javascript/stylesheets/frontend/partials/fleetchart.scss
  app/javascript/stylesheets/frontend/partials/hangar.scss
Due: none

chore(release): new Version v3.82.1 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: set node-forge resolution to fix audit issue
  package.json
  yarn.lock
Due: yarn

chore: set node-forge resolution to fix audit issue (#1271)
  package.json
  yarn.lock
Due: yarn

chore: disable cors for fleetcharts download
  app/javascript/frontend/components/DownloadScreenshotBtn/index.vue
Due: none

chore: reenable cors for html2canvas
  app/javascript/frontend/components/DownloadScreenshotBtn/index.vue
Due: none

chore: try to fix crossorigin issues for images
  app/javascript/frontend/components/Fleetchart/List/Item/Image/index.vue
  package.json
  yarn.lock
Due: yarn

chore(release): new Version v3.82.2 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: fix compare images tmp and add funktion to use rsi images
  app/controllers/admin/models_controller.rb
  app/controllers/frontend/base_controller.rb
  app/views/admin/models/_show.haml
  config/routes/admin_routes.rb
Due: none

chore: optimize admin model list
  app/views/admin/models/_form.haml
  app/views/admin/models/_show.haml
Due: none

chore(release): new Version v3.82.3 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix: admin funktions
  app/views/admin/models/_show.haml
  lib/tasks/images.thor
Due: none

chore(release): new Version v3.82.4 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix: admin nav
  app/views/layouts/admin/_header.slim
Due: none

chore: move libs to app/libs and add talon to loaner loader
  app/lib/rsi/base_loader.rb
  app/lib/rsi/loaner_loader.rb
  app/lib/rsi/location_loader.rb
  app/lib/rsi/models_loader.rb
  app/lib/rsi/news_loader.rb
  app/lib/rsi/orgs_loader.rb
  app/lib/rsi/roadmap_loader.rb
  app/lib/spreadsheet/star_citizen_trading_loader.rb
  app/lib/youtube/video_loader.rb
Due: none

chore: add inflections
  app/lib/hangar_importer.rb
  config/initializers/inflections.rb
Due: none

chore: rubocoptering
  config/initializers/inflections.rb
Due: none

chore: cleanup old classes
  app/controllers/api/v1/rsi/citizens_controller.rb
  app/controllers/api/v1/rsi/orgs_controller.rb
  app/lib/rsi/orgs_loader.rb
  app/models/rsi_user.rb
Due: none

chore: rename classes
  app/javascript/translations/en/actions.js
  app/javascript/translations/en/headlines.js
  app/lib/rsi/models_loader.rb
  app/models/star_citizen_update.rb
  app/workers/rsi_news_worker.rb
  config/schedule.yml
  lib/discord/rsi_news.rb
  test/unit/rsi_models_loader_test.rb
Due: none

chore(release): new Version v3.82.5 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: tryout to use nginx proxy for s3 assets
  config/initializers/carrierwave.rb
Due: none

chore: update deployment
  app/javascript/frontend/components/Fleetchart/List/Item/Image/index.vue
  config/deploy.rb
Due: none

chore(release): new Version v3.82.6 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix: admin users
  app/controllers/admin/admin_users_controller.rb
  app/views/admin/admin_users/_form.haml
  app/views/admin/admin_users/_show.haml
  app/views/admin/admin_users/_table.haml
  app/views/admin/admin_users/edit.haml
  app/views/admin/admin_users/index.haml
  app/views/admin/admin_users/new.haml
  app/views/admin/users/_form.haml
  app/views/admin/users/_show.haml
  app/views/layouts/admin/_nav.haml
  config/locales/en/en.yml
  config/locales/en/headlines.yml
  config/routes/admin_routes.rb
Due: none

chore(release): new Version v3.82.7 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: refactor page actions on models show
  app/javascript/frontend/core/components/Btn/index.vue
  app/javascript/frontend/pages/Models/Show/index.vue
  app/javascript/stylesheets/frontend/partials/page-actions.scss
  app/javascript/stylesheets/frontend/partials/panel-btn-dropdown.scss
  app/javascript/stylesheets/frontend/partials/panel-btn.scss
  app/javascript/translations/en/nav.js
Due: none

chore: add missing class on model show
  app/javascript/frontend/pages/Models/Show/index.vue
Due: none

fix: e2e specs
  app/javascript/frontend/pages/Models/Show/index.vue
  test/javascript/e2e/specs/Ship.spec.js
Due: none

chore: refactor metrics components
  app/javascript/frontend/components/Models/BaseMetrics/index.vue
  app/javascript/frontend/components/Models/CrewMetrics/index.vue
  app/javascript/frontend/components/Models/Panel/index.vue
  app/javascript/frontend/components/Models/PanelMetrics/index.vue
  app/javascript/frontend/components/Models/SpeedMetrics/index.vue
  app/javascript/frontend/components/Models/TopMetrics/index.vue
  app/javascript/frontend/pages/Models/Show/index.vue
Due: none

chore(release): new Version v3.82.8 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: update manufacturer label
  app/javascript/frontend/pages/Models/Show/index.scss
Due: none

chore: add missing translations
  config/locales/en/labels.yml
Due: none

chore(release): new Version v3.82.9 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: fix nameing
  app/lib/rsi/base_loader.rb
  app/lib/rsi/loaner_loader.rb
  app/lib/rsi/location_loader.rb
  app/lib/rsi/models_loader.rb
  app/lib/rsi/news_loader.rb
  app/lib/rsi/roadmap_loader.rb
  app/models/star_citizen_update.rb
  app/workers/loaner_worker.rb
  app/workers/locations_worker.rb
  app/workers/model_worker.rb
  app/workers/models_worker.rb
  app/workers/roadmap_worker.rb
  app/workers/rsi_news_worker.rb
  config/initializers/inflections.rb
  config/schedule.yml
  config/sidekiq.yml
  db/seeds.rb
  lib/discord/rsi_news.rb
  test/unit/hangar_importer_test.rb
  test/unit/rsi_models_loader_test.rb
Due: none

chore(release): new Version v3.82.10 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: move back to cookie_store for session
  Gemfile
  Gemfile.lock
  config/initializers/session_store.rb
  vendor/cache/redis-session-store-0.11.3.gem
Due: bundle

fix: session_storage
  config/environments/development.rb
  config/environments/production.rb
  config/initializers/session_store.rb
Due: none
