Repository fleetyards/fleetyards: changes, and which GitLab CI jobs are due for each by the changed paths.
All: yarn, bundle

.gitlab-ci.yml:

image: fleetyards/base:2.7.1

stages:
  - prep
  - test
  - build
  - e2e
  - deploy

cache: &global_cache
  key: fleetyards-cache
  paths:
    - node_modules/
    - vendor/bundle/
  policy: pull

.ruby_template:
  variables:
    BUNDLE_PATH: vendor/bundle
  before_script:
    - bundle install
    - mkdir -p log

.js_test_template:
  before_script:
    - yarn --frozen-lockfile

.ruby_test_template:
  extends: .ruby_template
  services:
    - postgres:12.2-alpine
  variables:
    RAILS_ENV: test
    POSTGRES_DB: fleetyards_test
    POSTGRES_USER: root
    POSTGRES_PASSWORD: root
    POSTGRES_HOST_AUTH_METHOD: trust
    DATABASE_HOST: postgres
    DATABASE_PORT: 5432
    DATABASE_USER: $POSTGRES_USER
    DATABASE_URL: postgresql://$POSTGRES_USER:$POSTGRES_PASSWORD@$DATABASE_HOST:$DATABASE_PORT/$POSTGRES_DB

.e2e_template:
  extends: .ruby_test_template
  image: fleetyards/ci:2.6.6
  services:
    - redis:latest
    - name: docker.elastic.co/elasticsearch/elasticsearch:7.5.2
      alias: elasticsearch
      command: ["bin/elasticsearch", "-Ediscovery.type=single-node", "-Expack.security.enabled=0", "-Ehttp.port=9200", "-Ecluster.name=fleetyards-test-cluser"]
  variables:
    DATABASE_URL: postgresql://root:root@127.0.0.1:5432/fleetyards
    ELASTICSEARCH_URL: http://elasticsearch:9200
    TEST_SEEDS: 1
    RAILS_ENV: ci
    ON_SUBDOMAIN: false
    RAILS_SERVE_STATIC_FILES: 1
    DISABLE_DATABASE_ENVIRONMENT_CHECK: 1
    CYPRESS_BASE_URL: http://localhost:8270
    APP_DIR: .
    PORT: 8270
    # transport.host: localhost
    # network.host: 127.0.0.1

yarn:
  stage: prep
  cache:
    <<: *global_cache
    paths:
      - node_modules/
    policy: pull-push
  script:
    - yarn --frozen-lockfile
  only:
    changes:
      - .gitlab-ci.yml
      - package.json
      - yarn.lock
      - .npmrc

bundle:
  stage: prep
  cache:
    <<: *global_cache
    paths:
      - vendor/bundle/
    policy: pull-push
  script:
    - bundle install
  only:
    changes:
      - .gitlab-ci.yml
      - Gemfile
      - Gemfile.lock
      - .ruby-version

ruby audit:
  stage: test
  extends: .ruby_template
  script:
    - bundle exec bundle-audit update
    - bundle exec bundle-audit check

yarn audit:
  stage: test
  extends: .js_test_template
  script:
    - yarn audit

rubocop:
  stage: test
  extends: .ruby_template
  script:
    - bundle exec rubocop --format progress

js-lint:
  stage: test
  extends: .js_test_template
  script:
    - yarn run lint:js
    - yarn run lint:vue
    - yarn run lint:style

js tests:
  stage: test
  extends: .js_test_template
  script:
    - yarn run test

ruby tests:
  stage: test
  extends: .ruby_test_template
  script:
    - ./scripts/wait-for-db.sh
    - bundle exec rails db:create db:schema:load
    - bundle exec rails test:coverage

seeds:
  stage: build
  extends: .e2e_template
  script:
    - ./scripts/wait-for-db.sh
    - bundle exec rails db:create db:schema:load
    - bundle exec rails db:seed

assets:
  stage: build
  extends: .ruby_test_template
  script:
    - RAILS_ENV=production bundle exec rails assets:precompile

test(imports): render every broadcasting import type's jbuilder partial
  test/factories/imports.rb
  test/models/import_test.rb
Due: none

fix(imports): add missing jbuilder partials for modules and paints imports (#4155)
  app/lib/patreon/client.rb
  app/views/api/v1/imports/models_imports/_models_import.jbuilder
  app/views/api/v1/imports/modules_imports/_modules_import.jbuilder
  app/views/api/v1/imports/paints_imports/_paints_import.jbuilder
  test/factories/imports.rb
  test/lib/patreon/client_test.rb
  test/models/import_test.rb
Due: none

chore(main): release 6.31.1
  .release-please-manifest.json
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore(main): release 6.31.1 (#4156)
  .release-please-manifest.json
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix(security): drop duplicate Rack::Attack middleware
  config/application.rb
Due: none

fix(security): key the API throttle on req.ip again
  config/initializers/rack_attack.rb
Due: none

fix(security): resolve the real client IP behind the load balancer
  config/application.rb
  config/deploy.live.yml
  config/initializers/rack_attack.rb
  test/integration/api/rate_limit_test.rb
Due: none

chore(logging): log the X-Forwarded-For chain and remote_addr
  config/initializers/lograge.rb
Due: none

chore(main): release 6.31.2
  .release-please-manifest.json
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore(main): release 6.31.2 (#4157)
  .release-please-manifest.json
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore(ci): run db and data migrations in one SSH session
  .kamal/hooks/pre-deploy
Due: none

chore(deps): pin kamal to 2.11.0
  Gemfile
  Gemfile.lock
  vendor/cache/kamal-2.11.0.gem
  vendor/cache/kamal-2.12.0.gem
Due: bundle

chore(main): release 6.31.3
  .release-please-manifest.json
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore(main): release 6.31.3 (#4158)
  .release-please-manifest.json
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix(exchange-rate): follow Frankfurter API move to api.frankfurter.dev
  app/lib/exchange_rate_fetcher.rb
  test/lib/exchange_rate_fetcher_test.rb
Due: none

chore(main): release 6.31.4
  .release-please-manifest.json
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore(main): release 6.31.4 (#4160)
  .release-please-manifest.json
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix(fleet-logistics): gate fleet inventory endpoints on the fleet actor
  app/controllers/api/base_controller.rb
  app/controllers/api/v1/fleet_all_inventory_items_controller.rb
  app/controllers/api/v1/fleet_all_inventory_stock_controller.rb
  app/controllers/api/v1/fleet_inventories_controller.rb
  app/controllers/api/v1/fleet_inventory_items_controller.rb
  app/controllers/api/v1/fleet_inventory_stock_controller.rb
Due: none

test(fleet-logistics): assert fleet-actor gating opens inventory endpoint
  test/integration/api/v1/fleets_inventories_index_test.rb
Due: none

docs(hardpoints): add exec-plan for removing the hardpoints-v2 flag
  docs/exec-plans/hardpoints-v2-flag-cleanup.md
Due: none

refactor(hardpoints): make v2 the unconditional path in models API
  app/controllers/api/v1/models_controller.rb
  app/views/api/v1/models/hardpoints_old.jbuilder
Due: none

refactor(hardpoints): drop legacy branch from admin hardpoints controller
  app/controllers/admin/api/v1/model_hardpoints_controller.rb
Due: none

test(hardpoints): cover the v2 path
  test/factories/hardpoints.rb
  test/factories/models.rb
  test/integration/admin/api/v1/model_hardpoints_test.rb
  test/integration/api/v1/models_hardpoints_test.rb
Due: none

refactor(hardpoints): remove hardpoints-v2 flag from frontend
  app/frontend/frontend/components/Compare/Models/HardpointsOld/index.vue
  app/frontend/frontend/components/Models/Hardpoints/index.vue
  app/frontend/frontend/components/Models/Hardpoints/old.vue
  app/frontend/frontend/components/Models/Hardpoints/old/ComponentModal/index.vue
  app/frontend/frontend/components/Models/Hardpoints/old/Group/index.vue
  app/frontend/frontend/components/Models/Hardpoints/old/Item/index.vue
  app/frontend/frontend/components/Models/Hardpoints/old/Items/index.vue
  app/frontend/frontend/components/Models/Hardpoints/old/Loadout/index.vue
  app/frontend/frontend/pages/compare.vue
Due: none

chore(schema): regenerate after dropping ModelHardpoint from model hardpoints response
  swagger/v1/schema.yaml
Due: none

fix(fleet-logistics): gate fleet inventory endpoints on the fleet actor (#4175)
  app/controllers/api/base_controller.rb
  app/controllers/api/v1/fleet_all_inventory_items_controller.rb
  app/controllers/api/v1/fleet_all_inventory_stock_controller.rb
  app/controllers/api/v1/fleet_inventories_controller.rb
  app/controllers/api/v1/fleet_inventory_items_controller.rb
  app/controllers/api/v1/fleet_inventory_stock_controller.rb
  test/integration/api/v1/fleets_inventories_index_test.rb
Due: none

docs: exec-plan for fleet soft-delete, whodunnit and admin restore
  docs/exec-plans/fleet-soft-delete-and-restore.md
Due: none

chore(deps): add discard gem
  Gemfile
  Gemfile.lock
  vendor/cache/discard-1.4.0.gem
Due: bundle

feat(fleets): add discarded_at to fleets and fleet_memberships
  app/models/fleet.rb
  app/models/fleet_membership.rb
  db/migrate/20260625120000_add_discard_to_fleets_and_memberships.rb
  db/schema.rb
  test/factories/fleet_memberships.rb
  test/factories/fleets.rb
  test/models/fleet_membership_test.rb
  test/models/fleet_test.rb
Due: none

feat(fleets): soft-delete Fleet and FleetMembership via discard
  app/models/fleet.rb
  app/models/fleet_membership.rb
Due: none

feat(fleets): track paper_trail on roles and inventories
  app/models/fleet_inventory.rb
  app/models/fleet_inventory_item.rb
  app/models/fleet_role.rb
Due: none

feat(admin-ui): destroyed fleets page
  app/frontend/admin/components/DestroyedFleets/Actions/Items.vue
  app/frontend/admin/components/DestroyedFleets/Actions/index.vue
  app/frontend/admin/components/DestroyedFleets/FilterForm/index.vue
  app/frontend/admin/pages/destroyed-fleets.vue
  app/frontend/admin/pages/destroyed-fleets/index.vue
  app/frontend/admin/pages/destroyed-fleets/routes.ts
  app/frontend/admin/pages/routes.ts
  app/frontend/translations/en/actions.json
  app/frontend/translations/en/headlines.json
  app/frontend/translations/en/labels.json
  app/frontend/translations/en/messages.json
  app/frontend/translations/en/placeholders.json
  app/frontend/translations/en/texts.json
Due: none

fix(admin): correct destroyed fleets serialization and pagination
  app/controllers/admin/api/v1/destroyed_fleets_controller.rb
  app/views/admin/api/v1/destroyed_fleets/index.jbuilder
  app/views/api/shared/_pagination.jbuilder
Due: none

test(admin): schema and request specs for destroyed fleets
  app/api_components/admin/v1/schemas/destroyed_fleet.rb
  app/api_components/admin/v1/schemas/destroyed_fleets/destroyed_fleets.rb
  app/api_components/admin/v1/schemas/queries/destroyed_fleet_query.rb
  swagger/admin/v1/schema.yaml
  test/integration/admin/api/v1/destroyed_fleets_index_test.rb
  test/integration/admin/api/v1/destroyed_fleets_restore_test.rb
Due: none

feat(admin): destroyed fleets restore endpoints
  app/controllers/admin/api/v1/destroyed_fleets_controller.rb
  app/controllers/admin/api/v1/fleets_controller.rb
  app/services/fleets/purged_fleet_restorer.rb
  app/views/admin/api/v1/destroyed_fleets/index.jbuilder
  app/views/admin/api/v1/destroyed_fleets/show.jbuilder
  config/locales/en/messages.yml
  config/routes/admin/api/v1_routes.rb
Due: none

fix(fleets): scope uniqueness validations to kept records
  app/models/fleet.rb
  app/models/fleet_membership.rb
Due: none

feat(api): record paper_trail whodunnit for API requests
  app/controllers/admin/api/base_controller.rb
  app/controllers/api/base_controller.rb
Due: none

refactor(fleets): soft-delete instead of hard destroy
  app/controllers/admin/api/v1/fleets_controller.rb
  app/controllers/api/v1/fleet_members_controller.rb
  app/controllers/api/v1/fleet_memberships_controller.rb
  app/controllers/api/v1/fleet_stats_controller.rb
  app/controllers/api/v1/fleets_controller.rb
  app/controllers/api/v1/omniauth_connections_controller.rb
  app/controllers/api/v1/public/fleet_stats_controller.rb
  app/controllers/api/v1/public/fleet_vehicles_controller.rb
  app/controllers/api/v1/public/fleets_controller.rb
  app/controllers/frontend/fleets_controller.rb
  app/controllers/omniauth_callbacks_controller.rb
  app/models/fleet_inventory_item.rb
  app/models/fleet_invite_url.rb
  app/models/fleet_membership.rb
  app/models/user.rb
  app/models/vehicle.rb
  app/policies/fleet_base_policy.rb
  app/policies/fleet_policy.rb
Due: none

fix(admin-ui): add nav label for destroyed fleets page
  app/frontend/translations/en/nav.json
Due: none

fix(admin): harden destroyed fleets restore and listing
  app/controllers/admin/api/v1/destroyed_fleets_controller.rb
  app/services/fleets/purged_fleet_restorer.rb
  app/views/admin/api/v1/destroyed_fleets/index.jbuilder
  config/locales/en/messages.yml
  test/integration/admin/api/v1/destroyed_fleets_restore_test.rb
Due: none
