Repository fleetyards/fleetyards: changes, and which GitLab CI jobs are due for each by the changed paths.
All: yarn, bundle

yarn:
  stage: prep
  cache:
    key: fleetyards-cache
    paths:
    - node_modules/
    policy: pull-push
  script:
  - yarn --frozen-lockfile

bundle:
  stage: prep
  cache:
    key: fleetyards-cache
    paths:
    - vendor/bundle/
    policy: pull-push
  script:
  - bundle install

chore: cleanup docs
  app/controllers/admin/api/docs_controller.rb
  app/controllers/api/docs_controller.rb
  app/views/layouts/api/_head.slim
  app/views/layouts/api/application.slim
  app/views/layouts/api/docs.html.erb
  app/views/layouts/docs.html.erb
  app/views/swagger_ui/index.html.erb
Due: none

chore: extract app env
  app/views/layouts/_app_env.html.erb
  app/views/layouts/application.html.erb
Due: none

chore: update layout
  app/views/layouts/application.html.erb
Due: none

chore: cleanup css compression
  Gemfile
  Gemfile.lock
  config/environments/production.rb
  vendor/cache/escompress-0.3.0.gem
Due: bundle

chore: add missing window env for docs
  app/views/layouts/_app_env.html.erb
Due: none

chore: update app env
  app/views/layouts/_app_env.html.erb
Due: none

chore: fix request template
  app/frontend/admin/components/ShopCommodities/Modal/index.vue
  app/frontend/services/fyAdminApi/core/request.ts
  app/frontend/services/fyApi/core/request.ts
  app/frontend/services/request.template.ts
Due: none

chore: update params transformer
  bin/generate-schema
  lib/middleware/transform_parameters.rb
Due: none

fix(compare): switch collapse component to resolve sticky issues
  app/frontend/frontend/components/Compare/Models/Base/index.vue
  app/frontend/frontend/components/Compare/Models/Crew/index.vue
  app/frontend/frontend/components/Compare/Models/Hardpoints/index.vue
  app/frontend/frontend/components/Compare/Models/Speed/index.vue
  app/frontend/frontend/components/Compare/Models/TopView/index.vue
  app/frontend/frontend/lib/Router/index.ts
  app/frontend/frontend/pages/Login/index.vue
  app/frontend/shared/components/Collapsed.vue
  app/frontend/stylesheets/frontend/partials/compare-models.scss
  config/application.rb
  config/routes/api_routes.rb
  config/routes/frontend_routes.rb
  test/fixtures/model_modules.yml
  test/fixtures/model_snub_crafts.yml
  test/fixtures/module_hardpoints.yml
Due: none

chore: linting
  app/controllers/api/v1/models_controller.rb
  app/frontend/shared/components/Collapsed.vue
Due: none

chore(schema): update model types
  app/api_components/v1/schemas/model.rb
  app/views/api/v1/models/_base.jbuilder
  test/fixtures/models.yml
  test/fixtures/shop_commodities.yml
Due: none

chore(swagger): use swagger ui package
  app/frontend/docs/pages/Api.vue
  package.json
  yarn.lock
Due: yarn

chore: update api schema
  app/frontend/services/fyApi/models/Model.ts
  app/frontend/services/fyApi/models/ModelComplete.ts
  app/frontend/services/fyApi/models/ModelMinimal.ts
  swagger/v1/schema.yaml
Due: none

chore(docs): fix redirect and tmp remove mobile docs nav
  app/controllers/api/v1/base_controller.rb
  app/frontend/docs/App.vue
Due: none

chore(release): new Version v5.26.6 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix: preview pages redirect for fleet and hangar
  app/frontend/frontend/pages/Fleets/Preview/index.vue
  app/frontend/frontend/pages/Hangar/Preview/index.vue
Due: none

chore(release): new Version v5.26.7 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix(compare): update speed section to format speed values correctly
  app/frontend/frontend/composables/useI18n.ts
Due: none

chore(release): new Version v5.26.8 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: linting
  app/controllers/frontend/base_controller.rb
Due: none

chore(release): new Version v5.26.9 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix(login): use correct params format to resolve issue with 2FA
  app/controllers/api/v1/sessions_controller.rb
  app/controllers/api/v1/two_factors_controller.rb
  lib/middleware/transform_parameters.rb
Due: none

chore: linting
  app/controllers/api/v1/sessions_controller.rb
Due: none

chore(release): new Version v5.26.10 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: remove middleware and transform params in controller scope
  app/controllers/api/v1/sessions_controller.rb
  app/controllers/api/v1/two_factors_controller.rb
  app/controllers/concerns/pagination.rb
  app/helpers/ransack_helper.rb
  config/application.rb
  lib/middleware/transform_parameters.rb
Due: none

chore: remove import
  config/application.rb
Due: none

chore(release): new Version v5.26.11 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: increase timeouts
  cypress.config.ts
Due: none

chore(release): new Version v5.26.12 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: cleanup CHANGELOG.md
  CHANGELOG.md
Due: none

chore: linting
  app/frontend/services/fyApi/services/FleetsService.ts
  spec/requests/api/v1/fleets/vehicles/deprecated_spec.rb
  swagger/v1/schema.yaml
Due: none

chore: fix specs
  test/controllers/api/v1/fleet_invite_urls_controller_test.rb
Due: none

chore: update e2e specs
  app/models/fleet_membership.rb
  cypress/e2e/Fleet.cy.js
Due: none

chore: fix routes
  config/routes/api_v1_routes.rb
Due: none

chore: fix views
  app/views/api/v1/users/me.jbuilder
Due: none

Path conditions:
  yarn: any of: .gitlab-ci.yml, package.json, yarn.lock, .npmrc
  bundle: any of: .gitlab-ci.yml, Gemfile, Gemfile.lock, .ruby-version
