Repository fleetyards/fleetyards: changes, and which GitLab CI jobs are due for each by the changed paths.
All: yarn, bundle

.gitlab-ci.yml:

image: fleetyards/base:2.6.6

stages:
  - prep
  - test
  - build
  - e2e
  - deploy

cache: &global_cache
  key: fleetyards-cache
  paths:
    - node_modules/
    - vendor/bundle/
  policy: pull

.ruby_template:
  variables:
    BUNDLE_PATH: vendor/bundle
  before_script:
    - bundle install
    - mkdir -p log

.js_test_template:
  before_script:
    - yarn --frozen-lockfile

.ruby_test_template:
  extends: .ruby_template
  services:
    - postgres:12.2-alpine
  variables:
    RAILS_ENV: test
    POSTGRES_DB: fleetyards_test
    POSTGRES_USER: root
    POSTGRES_PASSWORD: root
    POSTGRES_HOST_AUTH_METHOD: trust
    DATABASE_HOST: postgres
    DATABASE_PORT: 5432
    DATABASE_USER: $POSTGRES_USER
    DATABASE_URL: postgresql://$POSTGRES_USER:$POSTGRES_PASSWORD@$DATABASE_HOST:$DATABASE_PORT/$POSTGRES_DB

.e2e_template:
  extends: .ruby_test_template
  image: fleetyards/ci:2.6.6
  services:
    - redis:latest
    - name: docker.elastic.co/elasticsearch/elasticsearch:7.5.2
      alias: elasticsearch
      command: [ "bin/elasticsearch", "-Ediscovery.type=single-node -Xms512m -Xmx512m -Expack.security.enabled=0 -Ehttp.port=9200 -Ecluster.name=fleetyards-test-cluser" ]
  variables:
    DATABASE_URL: postgresql://root:root@127.0.0.1:5432/fleetyards
    ELASTICSEARCH_URL: http://elasticsearch:9200
    TEST_SEEDS: 1
    RAILS_ENV: ci
    ON_SUBDOMAIN: 1
    RAILS_SERVE_STATIC_FILES: 1
    DISABLE_DATABASE_ENVIRONMENT_CHECK: 1
    CYPRESS_BASE_URL: http://localhost:8270
    CYPRESS_CI: 1
    APP_DIR: .
    PORT: 8270
    transport.host: localhost
    network.host: 127.0.0.1

yarn:
  stage: prep
  cache:
    <<: *global_cache
    paths:
      - node_modules/
    policy: pull-push
  script:
    - yarn --frozen-lockfile
  only:
    changes:
      - .gitlab-ci.yml
      - package.json
      - yarn.lock
      - .npmrc

bundle:
  stage: prep
  cache:
    <<: *global_cache
    paths:
      - vendor/bundle/
    policy: pull-push
  script:
    - bundle install
  only:
    changes:
      - .gitlab-ci.yml
      - Gemfile
      - Gemfile.lock
      - .ruby-version

ruby audit:
  stage: test
  extends: .ruby_template
  script:
    - bundle exec bundle-audit update
    - bundle exec bundle-audit check

yarn audit:
  stage: test
  extends: .js_test_template
  script:
    - yarn audit

rubocop:
  stage: test
  extends: .ruby_template
  script:
    - bundle exec rubocop --format progress

js-lint:
  stage: test
  extends: .js_test_template
  script:
    - yarn run lint:js
    - yarn run lint:vue
    - yarn run lint:style

js tests:
  stage: test
  extends: .js_test_template
  script:
    - yarn run test

ruby tests:
  stage: test
  extends: .ruby_test_template
  script:
    - ./scripts/wait-for-db.sh
    - bundle exec rails db:create db:schema:load
    - bundle exec rails test:coverage

seeds:
  stage: build
  extends: .e2e_template
  script:
    - ./scripts/wait-for-db.sh
    - bundle exec rails db:create db:schema:load
    - bundle exec rails db:seed

assets:
  stage: build
  extends: .ruby_test_template
  script:
    - RAILS_ENV=production bundle exec rails assets:precompile

fix: module packages
  app/controllers/api/v1/models_controller.rb
  app/views/api/v1/models/module_packages.jbuilder
Due: none

chore(release): new Version v5.2.0 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix: main module package
  app/models/vehicle.rb
  app/views/api/v1/vehicles/_base_public.jbuilder
Due: none

chore(release): new Version v5.2.1 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: rubocoptering
  app/models/vehicle.rb
  scripts/download-uploads.sh
Due: none

fix: pagination
  app/packs/frontend/core/components/Paginator/PerPageDropdown/index.vue
Due: none

chore: rewert the downgrade
  Gemfile
  Gemfile.lock
  vendor/cache/kaminari-1.2.1.gem
  vendor/cache/kaminari-1.2.2.gem
  vendor/cache/kaminari-actionview-1.2.1.gem
  vendor/cache/kaminari-actionview-1.2.2.gem
  vendor/cache/kaminari-activerecord-1.2.1.gem
  vendor/cache/kaminari-activerecord-1.2.2.gem
  vendor/cache/kaminari-core-1.2.1.gem
  vendor/cache/kaminari-core-1.2.2.gem
  vendor/cache/ransack-2.4.2.gem
  vendor/cache/ransack-2.5.0.gem
Due: bundle

chore: rubocoptering
  app/controllers/api/v1/roadmap_controller.rb
  app/jobs/notifications/admin_job.rb
  app/jobs/sc_data_check_job.rb
  app/lib/rsi/location_loader.rb
  app/lib/rsi/models_loader.rb
  app/lib/rsi/roadmap_loader.rb
  app/lib/trading_data/exporter.rb
  app/models/hangar_group.rb
  app/models/model.rb
  app/models/model_hardpoint.rb
  app/models/roadmap_item.rb
  app/models/user.rb
  app/models/vehicle.rb
Due: none

chore: update ransack and downgrade kaminari
  Gemfile
  Gemfile.lock
  vendor/cache/kaminari-1.2.1.gem
  vendor/cache/kaminari-1.2.2.gem
  vendor/cache/kaminari-actionview-1.2.1.gem
  vendor/cache/kaminari-actionview-1.2.2.gem
  vendor/cache/kaminari-activerecord-1.2.1.gem
  vendor/cache/kaminari-activerecord-1.2.2.gem
  vendor/cache/kaminari-core-1.2.1.gem
  vendor/cache/kaminari-core-1.2.2.gem
  vendor/cache/ransack-2.4.2.gem
  vendor/cache/ransack-2.5.0.gem
  vendor/cache/zeitwerk-2.5.2.gem
  vendor/cache/zeitwerk-2.5.3.gem
Due: bundle

chore: update specs
  config/initializers/ransack.rb
  test/controllers/admin/models_controller_test.rb
  test/controllers/admin/shops_controller_test.rb
Due: none

chore: downgrade ransack for now
  Gemfile
  Gemfile.lock
  vendor/cache/ransack-2.4.2.gem
  vendor/cache/ransack-2.5.0.gem
Due: bundle

chore: update manifest
  app/assets/config/manifest.js
Due: none

chore: cleanup bundler deps
  Gemfile
  Gemfile.lock
  vendor/cache/autoprefixer-rails-10.4.0.0.gem
  vendor/cache/bootstrap-sass-3.4.1.gem
Due: bundle

chore: cleanup linting
  app/models/hangar_group.rb
  app/models/model_hardpoint.rb
  config/initializers/ransack.rb
Due: none

chore: downgrade rails-i18n
  Gemfile
  Gemfile.lock
  vendor/cache/rails-i18n-6.0.0.gem
  vendor/cache/rails-i18n-7.0.1.gem
Due: bundle

chore: remove test for admins shops controller
  test/controllers/admin/shops_controller_test.rb
Due: none

feat(fleetchart-v2): add classic mode with scale slider
  app/packs/frontend/components/Fleetchart/App/index.vue
  app/packs/frontend/components/Fleetchart/List/index.vue
  app/packs/frontend/components/Fleetchart/ListFabric/index.vue
  app/packs/frontend/components/Fleetchart/ListPanzoom/Item/Image/index.vue
  app/packs/frontend/components/Fleetchart/ListPanzoom/Item/index.vue
  app/packs/frontend/components/Fleetchart/ListPanzoom/index.vue
  app/packs/frontend/components/Fleetchart/Slider/index.vue
  app/packs/frontend/lib/Store/modules/fleet/index.js
  app/packs/frontend/lib/Store/modules/fleet/state.js
  app/packs/frontend/lib/Store/modules/hangar/index.js
  app/packs/frontend/lib/Store/modules/hangar/state.js
  app/packs/frontend/lib/Store/modules/models/index.js
  app/packs/frontend/lib/Store/modules/models/state.js
  app/packs/frontend/lib/Store/modules/publicFleet/index.js
  app/packs/frontend/lib/Store/modules/publicFleet/state.js
  app/packs/frontend/lib/Store/modules/publicHangar/index.js
  app/packs/frontend/lib/Store/modules/publicHangar/state.js
  app/packs/frontend/lib/Store/plugins.js
  app/packs/stylesheets/frontend/partials.scss
  app/packs/stylesheets/frontend/partials/fleetchart-app.scss
  app/packs/stylesheets/frontend/partials/fleetchart-list-panzoom.scss
  app/packs/stylesheets/frontend/partials/fleetchart-list.scss
  app/packs/stylesheets/frontend/partials/fleetchart.scss
  app/packs/translations/en/labels.js
  config/app/main.yml
Due: none

chore: linting
  app/packs/frontend/components/Fleetchart/ListFabric/index.vue
Due: none

fix(fleetchart-v2): rerender grid on orientation change or screen resize
  app/packs/frontend/components/Fleetchart/List/index.vue
  app/packs/frontend/components/Fleetchart/ListPanzoom/index.vue
  app/packs/frontend/components/Fleetchart/Slider/index.vue
  app/packs/stylesheets/frontend/partials/fleetchart-app.scss
  app/packs/stylesheets/frontend/partials/fleetchart-list.scss
  app/packs/stylesheets/frontend/partials/fleetchart.scss
  app/packs/translations/en/labels.js
Due: none

chore(release): new Version v5.3.0 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix(fleetchart-v2): screenshot for classic mode
  app/packs/frontend/components/Fleetchart/List/index.vue
Due: none

chore(release): new Version v5.3.1 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: further optimize fleetchart
  app/packs/frontend/components/Fleetchart/List/Item/Image/index.vue
  app/packs/frontend/components/Fleetchart/List/Item/index.vue
  app/packs/frontend/components/Fleetchart/ListPanzoom/Item/Image/index.vue
  app/packs/frontend/components/Fleetchart/ListPanzoom/Item/index.vue
  app/packs/frontend/components/Fleetchart/ListPanzoom/index.vue
  app/packs/stylesheets/frontend/partials/fleetchart-list-panzoom.scss
  app/packs/stylesheets/frontend/partials/fleetchart-list.scss
Due: none

chore: update stats pages for tabletts
  app/packs/frontend/pages/Fleets/Stats/index.vue
  app/packs/frontend/pages/Hangar/Stats/index.vue
  app/packs/frontend/pages/Stats/index.vue
Due: none

chore(release): new Version v5.3.2 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix: column chart
  app/packs/frontend/core/components/Chart/index.vue
Due: none

chore: cleanup indexes
  app/controllers/api/v1/fleet_memberships_controller.rb
  app/controllers/api/v1/fleets_controller.rb
  app/controllers/api/v1/users_controller.rb
  app/controllers/frontend/base_controller.rb
  app/controllers/frontend/hangar_controller.rb
  app/models/ahoy/event.rb
  app/models/model.rb
  app/models/trade_route.rb
  app/models/user.rb
  db/migrate/20220108211734_cleanup_db_indexes.rb
  db/schema.rb
  test/fixtures/models.yml
  test/fixtures/trade_routes.yml
  test/fixtures/users.yml
  test/models/trade_route_test.rb
  test/models/user_test.rb
Due: none

chore: linting
  app/packs/frontend/core/components/Form/FilterGroup/index.vue
Due: none

chore: linting
  app/packs/frontend/plugins/Validations/rules/hexColor/index.ts
Due: none

chore: cleanup commitlint
  commitlint.config.js
  package.json
  yarn.lock
Due: yarn

chore: revert some audit resolutions
  package.json
  yarn.lock
Due: yarn

fix(fleetchart-v2): readd starship42 links to fleetcharts
  app/packs/frontend/components/Fleetchart/App/index.vue
  app/packs/frontend/components/Fleetchart/List/index.vue
  app/packs/frontend/components/Fleetchart/ListPanzoom/index.vue
  app/packs/frontend/components/Fleets/PublicShipsList/index.vue
  app/packs/frontend/components/Fleets/ShipsList/index.vue
  app/packs/frontend/components/Starship42Btn/index.vue
  app/packs/frontend/core/components/HoloViewer/index.vue
  app/packs/frontend/pages/Hangar/Public/index.vue
  app/packs/frontend/pages/Hangar/index.vue
  app/packs/frontend/pages/Models/Show/index.vue
  app/packs/frontend/pages/Models/index.vue
Due: none

chore: linting
  app/packs/frontend/components/Fleetchart/List/index.vue
  app/packs/frontend/components/Fleetchart/ListPanzoom/index.vue
  app/packs/frontend/components/Starship42Btn/index.vue
  app/packs/frontend/core/components/HoloViewer/index.vue
  app/packs/frontend/pages/Hangar/Public/index.vue
  app/packs/frontend/pages/Hangar/index.vue
Due: none

chore: cleanup commitlint (#2046)
  commitlint.config.js
  package.json
  yarn.lock
Due: yarn

chore(release): new Version v5.3.3 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: update holoviewer
  app/packs/frontend/core/components/HoloViewer/index.vue
  app/packs/stylesheets/frontend/base.scss
Due: none

Update fleet_memberships_controller.rb
  app/controllers/api/v1/fleet_memberships_controller.rb
Due: none

Update index.vue
  app/packs/frontend/core/components/HoloViewer/index.vue
Due: none
