Repository fleetyards/fleetyards: changes, and which GitLab CI jobs are due for each by the changed paths.
All: yarn, bundle

.gitlab-ci.yml:

image: fleetyards/base:2.6.6

stages:
  - prep
  - test
  - build
  - e2e
  - deploy

cache: &global_cache
  key: fleetyards-cache
  paths:
    - node_modules/
    - vendor/bundle/
  policy: pull

.ruby_template:
  variables:
    BUNDLE_PATH: vendor/bundle
  before_script:
    - bundle install
    - mkdir -p log

.js_test_template:
  before_script:
    - yarn --frozen-lockfile

.ruby_test_template:
  extends: .ruby_template
  services:
    - postgres:12.2-alpine
  variables:
    RAILS_ENV: test
    POSTGRES_DB: fleetyards_test
    POSTGRES_USER: root
    POSTGRES_PASSWORD: root
    POSTGRES_HOST_AUTH_METHOD: trust
    DATABASE_HOST: postgres
    DATABASE_PORT: 5432
    DATABASE_USER: $POSTGRES_USER
    DATABASE_URL: postgresql://$POSTGRES_USER:$POSTGRES_PASSWORD@$DATABASE_HOST:$DATABASE_PORT/$POSTGRES_DB

.e2e_template:
  extends: .ruby_test_template
  image: fleetyards/ci:2.6.6
  services:
    - redis:latest
    - name: docker.elastic.co/elasticsearch/elasticsearch:7.5.2
      alias: elasticsearch
      command: [ "bin/elasticsearch", "-Ediscovery.type=single-node -Xms512m -Xmx512m -Expack.security.enabled=0 -Ehttp.port=9200 -Ecluster.name=fleetyards-test-cluser" ]
  variables:
    DATABASE_URL: postgresql://root:root@127.0.0.1:5432/fleetyards
    ELASTICSEARCH_URL: http://elasticsearch:9200
    TEST_SEEDS: 1
    RAILS_ENV: ci
    ON_SUBDOMAIN: 1
    RAILS_SERVE_STATIC_FILES: 1
    DISABLE_DATABASE_ENVIRONMENT_CHECK: 1
    CYPRESS_BASE_URL: http://localhost:8270
    CYPRESS_CI: 1
    APP_DIR: .
    PORT: 8270
    transport.host: localhost
    network.host: 127.0.0.1

yarn:
  stage: prep
  cache:
    <<: *global_cache
    paths:
      - node_modules/
    policy: pull-push
  script:
    - yarn --frozen-lockfile
  only:
    changes:
      - .gitlab-ci.yml
      - package.json
      - yarn.lock
      - .npmrc

bundle:
  stage: prep
  cache:
    <<: *global_cache
    paths:
      - vendor/bundle/
    policy: pull-push
  script:
    - bundle install
  only:
    changes:
      - .gitlab-ci.yml
      - Gemfile
      - Gemfile.lock
      - .ruby-version

ruby audit:
  stage: test
  extends: .ruby_template
  script:
    - bundle exec bundle-audit update
    - bundle exec bundle-audit check

yarn audit:
  stage: test
  extends: .js_test_template
  script:
    - yarn audit

rubocop:
  stage: test
  extends: .ruby_template
  script:
    - bundle exec rubocop --format progress

js-lint:
  stage: test
  extends: .js_test_template
  script:
    - yarn run lint:js
    - yarn run lint:vue
    - yarn run lint:style

js tests:
  stage: test
  extends: .js_test_template
  script:
    - yarn run test

ruby tests:
  stage: test
  extends: .ruby_test_template
  script:
    - ./scripts/wait-for-db.sh
    - bundle exec rails db:create db:schema:load
    - bundle exec rails test:coverage

seeds:
  stage: build
  extends: .e2e_template
  script:
    - ./scripts/wait-for-db.sh
    - bundle exec rails db:create db:schema:load
    - bundle exec rails db:seed

assets:
  stage: build
  extends: .ruby_test_template
  script:
    - RAILS_ENV=production bundle exec rails assets:precompile

chore(release): new Version v4.6.5 (Mercury) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: rubocoptering
  app/controllers/api/v1/progress_tracker_items_controller.rb
  app/controllers/api/v1/search_controller.rb
Due: none

fix: admin station image upload
  app/javascript/admin/components/ImageUploader/index.vue
  app/javascript/admin/pages/Stations/Images/index.vue
Due: none

chore(release): new Version v4.6.6 (Mercury) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: update bundle
  vendor/cache/carrierwave-2.1.0.gem
  vendor/cache/carrierwave-2.1.1.gem
  vendor/cache/ssrf_filter-1.0.7.gem
Due: none

chore: update mails for mobile
  app/views/layouts/mailer.html.inky
Due: none

chore(release): new Version v4.6.7 (Mercury) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore(release): new Version v4.6.8 (Mercury) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: update to rails 6.1
  Gemfile
  Gemfile.lock
  vendor/cache/actioncable-6.0.3.5.gem
  vendor/cache/actioncable-6.1.2.1.gem
  vendor/cache/actionmailbox-6.0.3.5.gem
  vendor/cache/actionmailbox-6.1.2.1.gem
  vendor/cache/actionmailer-6.0.3.5.gem
  vendor/cache/actionmailer-6.1.2.1.gem
  vendor/cache/actionpack-6.0.3.5.gem
  vendor/cache/actionpack-6.1.2.1.gem
  vendor/cache/actiontext-6.0.3.5.gem
  vendor/cache/actiontext-6.1.2.1.gem
  vendor/cache/actionview-6.0.3.5.gem
  vendor/cache/actionview-6.1.2.1.gem
  vendor/cache/activejob-6.0.3.5.gem
  vendor/cache/activejob-6.1.2.1.gem
  vendor/cache/activemodel-6.0.3.5.gem
  vendor/cache/activemodel-6.1.2.1.gem
  vendor/cache/activerecord-6.0.3.5.gem
  vendor/cache/activerecord-6.1.2.1.gem
  vendor/cache/activestorage-6.0.3.5.gem
  vendor/cache/activestorage-6.1.2.1.gem
  vendor/cache/activesupport-6.0.3.5.gem
  vendor/cache/activesupport-6.1.2.1.gem
  vendor/cache/minitest-rails-6.0.1.gem
  vendor/cache/minitest-rails-6.1.0.gem
  vendor/cache/rails-6.0.3.5.gem
  vendor/cache/rails-6.1.2.1.gem
  vendor/cache/railties-6.0.3.5.gem
  vendor/cache/railties-6.1.2.1.gem
  vendor/cache/thread_safe-0.3.6.gem
  vendor/cache/tzinfo-1.2.9.gem
  vendor/cache/tzinfo-2.0.4.gem
Due: bundle

chore: refactor searchkick integration for filtered lists
  Gemfile
  Gemfile.lock
  Procfile
  app/controllers/api/v1/sessions_controller.rb
  app/controllers/api/v1/shop_commodities_controller.rb
  app/javascript/frontend/components/Shops/ShopItemFilterForm/index.vue
  app/mailers/admin_mailer.rb
  app/mailers/application_mailer.rb
  app/mailers/fleet_membership_mailer.rb
  app/mailers/model_mailer.rb
  app/mailers/progress_tracker_mailer.rb
  app/mailers/roadmap_mailer.rb
  app/mailers/vehicle_mailer.rb
  app/models/admin_user.rb
  app/models/celestial_object.rb
  app/models/commodity.rb
  app/models/equipment.rb
  app/models/model.rb
  app/models/progress_tracker_item.rb
  app/models/shop.rb
  app/models/shop_commodity.rb
  app/models/starsystem.rb
  app/models/station.rb
  app/models/user.rb
  config/environments/development.rb
  lib/tasks/search.thor
  test/controllers/api/v1/shop_commodities_controller_test.rb
  test/test_helper.rb
  test/vcr_cassettes/shop_commodities_index.yml
  vendor/cache/devise-async-1.0.0.gem
Due: bundle

chore: rubocoptering
  app/controllers/api/v1/shop_commodities_controller.rb
  lib/tasks/search.thor
Due: none

chore: downgrade sass
  package.json
  yarn.lock
Due: yarn

fix: vue-router deprecations
  app/javascript/frontend/core/components/Btn/index.vue
  app/javascript/frontend/core/components/Navigation/NavItem/index.vue
  app/javascript/frontend/pages/Fleets/Settings/index.vue
  app/javascript/frontend/pages/Settings/index.vue
  app/javascript/stylesheets/frontend/partials/panel-btn.scss
Due: none

chore: downgrade node-sass
  package.json
  yarn.lock
Due: yarn

chore: linting
  .eslintrc.js
  app/javascript/frontend/components/Shops/ShopItemRow/index.vue
  yarn.lock
Due: yarn

feat: add styling for owners modal
  app/javascript/frontend/components/Models/OwnersModal/index.scss
  app/javascript/frontend/components/Models/OwnersModal/index.vue
  app/javascript/frontend/components/Models/Panel/index.vue
  app/javascript/frontend/core/components/Avatar/index.vue
  app/javascript/frontend/pages/Fleets/Show/index.vue
  app/javascript/stylesheets/frontend/partials/panel.scss
  app/javascript/translations/en/actions.js
  app/javascript/translations/en/labels.js
  app/models/fleet.rb
  app/models/fleet_membership.rb
  app/views/api/v1/fleets/_model.jbuilder
Due: none

feat: add owners for grouped fleet view (#1287)
  app/javascript/frontend/components/Models/OwnersModal/index.scss
  app/javascript/frontend/components/Models/OwnersModal/index.vue
  app/javascript/frontend/components/Models/Panel/index.vue
  app/javascript/frontend/core/components/Avatar/index.vue
  app/javascript/frontend/pages/Fleets/Show/index.vue
  app/javascript/stylesheets/frontend/partials/panel.scss
  app/javascript/translations/en/actions.js
  app/javascript/translations/en/headlines.js
  app/javascript/translations/en/labels.js
  app/models/fleet.rb
  app/models/fleet_membership.rb
  app/views/api/v1/fleets/_model.jbuilder
Due: none

chore: update roadmap
  app/controllers/api/v1/roadmap_controller.rb
  app/javascript/frontend/components/Roadmap/RoadmapItem/index.vue
  app/javascript/frontend/pages/Roadmap/Changes/index.vue
  app/javascript/frontend/pages/Roadmap/index.vue
  app/lib/rsi/roadmap_loader.rb
  app/models/roadmap_item.rb
  app/views/api/v1/roadmap/_base.jbuilder
Due: none

chore: add committed label
  app/javascript/frontend/components/Roadmap/RoadmapItem/index.vue
  app/javascript/translations/en/labels.js
Due: none

fix: specs
  test/controllers/api/v1/roadmap_controller_test.rb
Due: none

chore: fix audit issue
  package.json
  yarn.lock
Due: yarn

chore: revert package pinning
  package.json
  yarn.lock
Due: yarn

chore: remove yarn cache from ci
  .circleci/config.yml
Due: none

chore: fix ci
  .circleci/config.yml
Due: none

chore(release): new Version v4.7.0 (Mercury) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix: roadmap worker
  app/lib/rsi/roadmap_loader.rb
Due: none

chore: update prettier config
  .eslintrc.js
  yarn.lock
Due: yarn

chore: linting
  app/javascript/frontend/components/Models/OwnersModal/index.vue
  app/javascript/frontend/components/Roadmap/RoadmapItem/index.vue
  app/javascript/frontend/components/Shops/ShopItemRow/index.vue
Due: none

chore: rubocoptering
  app/lib/rsi/roadmap_loader.rb
Due: none

chore(release): new Version v4.7.1 (Mercury) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix: commited flag
  app/javascript/frontend/components/Roadmap/RoadmapItem/index.vue
  app/javascript/stylesheets/frontend/partials/roadmap.scss
Due: none

chore(release): new Version v4.7.2 (Mercury) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix: committed flag
  app/lib/rsi/roadmap_loader.rb
Due: none

chore(release): new Version v4.7.3 (Mercury) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: update audit issue
  package.json
  yarn.lock
Due: yarn

chore: resolve yarn audit issues
  package.json
  yarn.lock
Due: yarn

fix: fleet ship owners
  app/javascript/frontend/components/Models/OwnersModal/index.scss
  app/javascript/frontend/components/Models/Panel/index.vue
  app/javascript/frontend/components/Vehicles/OwnerLabel/index.vue
  app/javascript/frontend/components/Vehicles/OwnersModal/index.scss
  app/javascript/frontend/components/Vehicles/OwnersModal/index.vue
  app/javascript/frontend/core/components/Navigation/NavItem/index.vue
  app/javascript/frontend/pages/Fleets/Settings/index.vue
  app/javascript/frontend/pages/Fleets/Show/index.vue
  app/javascript/frontend/pages/Settings/index.vue
  app/models/fleet.rb
  app/views/api/v1/fleets/_model.jbuilder
  app/views/api/v1/vehicles/_base_public.jbuilder
Due: none
