Repository fleetyards/fleetyards: changes, and which GitLab CI jobs are due for each by the changed paths.
All: yarn, bundle

yarn:
  stage: prep
  cache:
    key: fleetyards-cache
    paths:
    - node_modules/
    policy: pull-push
  script:
  - yarn --frozen-lockfile

bundle:
  stage: prep
  cache:
    key: fleetyards-cache
    paths:
    - vendor/bundle/
    policy: pull-push
  script:
  - bundle install

chore(vue3): fix imports
  app/frontend/frontend/components/Vehicles/OwnersModal/index.vue
  app/frontend/frontend/pages/fleets/[slug]/members.vue
  app/frontend/frontend/pages/fleets/[slug]/settings/fleet.vue
Due: none

chore: update lock
  pnpm-lock.yaml
Due: none

chore(vue3): update deps
  package.json
  pnpm-lock.yaml
Due: yarn

chore(vue3): update deps
  .eslintrc-auto-import.json
  package.json
  pnpm-lock.yaml
Due: yarn

chore: update vite
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: yarn

chore: vite build debug
  app/frontend/admin/components/Dashboard/Components.vue
  app/frontend/admin/components/Dashboard/Manufacturers.vue
  app/frontend/admin/components/Dashboard/Models.vue
  app/frontend/admin/components/Dashboard/Users.vue
  app/frontend/admin/pages/manufacturers/index.vue
  app/frontend/admin/pages/models/[id]/edit/cargo-and-fuel.vue
  app/frontend/admin/pages/models/[id]/edit/docks.vue
  app/frontend/admin/pages/models/[id]/edit/fleetchart.vue
  app/frontend/admin/pages/models/[id]/edit/hardpoints.vue
  app/frontend/admin/pages/models/[id]/edit/metrics.vue
  app/frontend/admin/pages/models/[id]/edit/prices.vue
  app/frontend/admin/pages/models/[id]/edit/videos.vue
  app/frontend/admin/pages/models/modules/index.vue
  app/frontend/admin/pages/models/modules/packages.vue
  app/frontend/admin/pages/models/paints/index.vue
  app/frontend/admin/pages/vehicles.vue
  app/frontend/frontend/components/Fleets/MembersFilterForm/index.vue
  app/frontend/frontend/components/Fleets/PublicShipsList/index.vue
  app/frontend/frontend/components/Vehicles/AddonsModal/Addons/index.vue
  app/frontend/frontend/pages/ships/[slug]/images.vue
  app/frontend/frontend/pages/tools/travel-times.vue
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: yarn

chore: fix vite setup
  app/frontend/admin/pages/users/index.vue
  package.json
  pnpm-lock.yaml
  postcss.config.js
  vite.config.ts
Due: yarn

chore: fix e2e specs
  .github/workflows/e2e.job.yml
  app/frontend/entrypoints/docs.scss
Due: none

chore(vue3): upgrade tailwind to v4
  .github/workflows/e2e.job.yml
  Gemfile
  Gemfile.lock
  app/frontend/docs/App.vue
  app/frontend/docs/components/core/AppNavigation/NavItem/index.vue
  app/frontend/entrypoints/docs.scss
  app/frontend/shared/components/AppNavigation/NavItem/index.vue
  app/frontend/stylesheets/shared/tailwind-custom.scss
  package.json
  pnpm-lock.yaml
  postcss.config.mjs
  tailwind.config.ts
  vite.config.ts
Due: yarn, bundle

chore: update package
  vendor/cache/foreman-0.88.1.gem
  vendor/cache/mini_portile2-2.8.9.gem
Due: none

chore(vue3): fix foreman
  Gemfile
Due: bundle

chore: cleanup package.json
  package.json
  yarn.lock
Due: yarn

chore: try to fix e2e specs
  package.json
Due: yarn

chore: bump pnpm
  .tool-versions
Due: none

chore(vue3): fix flipper fleet check
  app/controllers/frontend/base_controller.rb
Due: none

chore: cleanup
  vendor/cache/json-2.13.0.gem
Due: none

chore: fix deploy and update paper_trail
  .gitlab-ci.yml
  Dockerfile
  Gemfile.lock
  config/deploy.rb
  config/spring.rb
  vendor/cache/paper_trail-15.1.0.gem
  vendor/cache/paper_trail-16.0.0.gem
  vendor/cache/request_store-1.5.1.gem
  vendor/cache/request_store-1.7.0.gem
Due: yarn, bundle

chore: update bundler
  Gemfile.lock
  config/deploy.rb
Due: bundle

chore(release): new Version v5.31.63 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: update login
  Gemfile.lock
  app/frontend/admin/pages/login.scss
  app/frontend/admin/pages/login.vue
  app/frontend/frontend/pages/login.scss
  app/frontend/frontend/pages/login.vue
  config/credentials/production.yml.enc
  docker-compose.minimal.yml
  package.json
  private_key.pem
  public_key.pem
  vendor/cache/data_migrate-11.3.0.gem
  vendor/cache/data_migrate-9.4.0.gem
  vendor/cache/paper_trail-15.1.0.gem
  vendor/cache/paper_trail-16.0.0.gem
  vendor/cache/request_store-1.5.1.gem
  vendor/cache/request_store-1.7.0.gem
Due: yarn, bundle

chore(vue3): update rswag schema components
  Gemfile.lock
  spec/swagger_helper.rb
  swagger/admin/v1/schema.yaml
  swagger/v1/schema.yaml
  vendor/cache/rswag-schema_components-0.2.0.gem
  vendor/cache/rswag-schema_components-0.3.2.gem
Due: bundle

chore: update yaml load
  config/puma.rb
Due: none

chore: linting
  app/frontend/admin/App.vue
  app/frontend/admin/components/SecurePage/index.scss
  app/frontend/admin/components/SecurePage/index.vue
  app/frontend/admin/stores/session.ts
  app/frontend/frontend/components/Models/AddToHangar/Notifications/Success/index.vue
  app/frontend/frontend/components/Vehicles/Panel/index.vue
  app/frontend/shared/components/FilteredList/index.vue
  app/frontend/shared/components/PrimaryAction/index.vue
  app/frontend/shared/components/base/FilterGroup/index.vue
  app/frontend/tanstack-vue-query.d.ts
Due: none

chore(vue3): add missing build step to tsc ci check
  .github/workflows/tsc.job.yml
Due: none

chore(vue3): update tsc check
  .github/workflows/main.yml
  .github/workflows/tsc.job.yml
Due: none

chore(vue3): fix image path for fallback og_image
  app/helpers/application_helper.rb
Due: none

chore(vue3): update e2e job
  .github/workflows/e2e.job.yml
Due: none

chore(vue3): update password
  .github/workflows/e2e.job.yml
Due: none

chore: linting
  app/frontend/frontend/components/Compare/Models/TopView/index.vue
  app/frontend/frontend/lib/Noty/index.ts
Due: none

chore: upload artifacts after e2e run
  .github/workflows/e2e.job.yml
Due: none

chore: linting
  app/frontend/frontend/components/Compare/Models/TopView/index.vue
Due: none

chore: fix job
  .github/workflows/e2e.job.yml
  .github/workflows/ruby-api-tests.job.yml
Due: none

chore: update e2e
  .github/workflows/e2e.job.yml
Due: none

chore: linting
  app/frontend/stylesheets/frontend/fonts.scss
Due: none

Update date-fns to version 4.1.0
  package.json
  yarn.lock
Due: yarn

chore: update data-fns-tz
  package.json
  yarn.lock
Due: yarn

chore: cleanup
  Gemfile.lock
Due: bundle

Path conditions:
  yarn: any of: .gitlab-ci.yml, package.json, yarn.lock, .npmrc
  bundle: any of: .gitlab-ci.yml, Gemfile, Gemfile.lock, .ruby-version
