Repository fleetyards/fleetyards: changes, and which GitLab CI jobs are due for each by the changed paths.
All: yarn, bundle

.gitlab-ci.yml:

image: fleetyards/base:2.7.1

stages:
  - prep
  - test
  - build
  - e2e
  - deploy

cache: &global_cache
  key: fleetyards-cache
  paths:
    - node_modules/
    - vendor/bundle/
  policy: pull

.ruby_template:
  variables:
    BUNDLE_PATH: vendor/bundle
  before_script:
    - bundle install
    - mkdir -p log

.js_test_template:
  before_script:
    - yarn --frozen-lockfile

.ruby_test_template:
  extends: .ruby_template
  services:
    - postgres:12.2-alpine
  variables:
    RAILS_ENV: test
    POSTGRES_DB: fleetyards_test
    POSTGRES_USER: root
    POSTGRES_PASSWORD: root
    POSTGRES_HOST_AUTH_METHOD: trust
    DATABASE_HOST: postgres
    DATABASE_PORT: 5432
    DATABASE_USER: $POSTGRES_USER
    DATABASE_URL: postgresql://$POSTGRES_USER:$POSTGRES_PASSWORD@$DATABASE_HOST:$DATABASE_PORT/$POSTGRES_DB

.e2e_template:
  extends: .ruby_test_template
  image: fleetyards/ci:2.6.6
  services:
    - redis:latest
    - name: docker.elastic.co/elasticsearch/elasticsearch:7.5.2
      alias: elasticsearch
      command: ["bin/elasticsearch", "-Ediscovery.type=single-node", "-Expack.security.enabled=0", "-Ehttp.port=9200", "-Ecluster.name=fleetyards-test-cluser"]
  variables:
    DATABASE_URL: postgresql://root:root@127.0.0.1:5432/fleetyards
    ELASTICSEARCH_URL: http://elasticsearch:9200
    TEST_SEEDS: 1
    RAILS_ENV: ci
    ON_SUBDOMAIN: false
    RAILS_SERVE_STATIC_FILES: 1
    DISABLE_DATABASE_ENVIRONMENT_CHECK: 1
    CYPRESS_BASE_URL: http://localhost:8270
    APP_DIR: .
    PORT: 8270
    # transport.host: localhost
    # network.host: 127.0.0.1

yarn:
  stage: prep
  cache:
    <<: *global_cache
    paths:
      - node_modules/
    policy: pull-push
  script:
    - yarn --frozen-lockfile
  only:
    changes:
      - .gitlab-ci.yml
      - package.json
      - yarn.lock
      - .npmrc

bundle:
  stage: prep
  cache:
    <<: *global_cache
    paths:
      - vendor/bundle/
    policy: pull-push
  script:
    - bundle install
  only:
    changes:
      - .gitlab-ci.yml
      - Gemfile
      - Gemfile.lock
      - .ruby-version

ruby audit:
  stage: test
  extends: .ruby_template
  script:
    - bundle exec bundle-audit update
    - bundle exec bundle-audit check

yarn audit:
  stage: test
  extends: .js_test_template
  script:
    - yarn audit

rubocop:
  stage: test
  extends: .ruby_template
  script:
    - bundle exec rubocop --format progress

js-lint:
  stage: test
  extends: .js_test_template
  script:
    - yarn run lint:js
    - yarn run lint:vue
    - yarn run lint:style

js tests:
  stage: test
  extends: .js_test_template
  script:
    - yarn run test

ruby tests:
  stage: test
  extends: .ruby_test_template
  script:
    - ./scripts/wait-for-db.sh
    - bundle exec rails db:create db:schema:load
    - bundle exec rails test:coverage

seeds:
  stage: build
  extends: .e2e_template
  script:
    - ./scripts/wait-for-db.sh
    - bundle exec rails db:create db:schema:load
    - bundle exec rails db:seed

assets:
  stage: build
  extends: .ruby_test_template
  script:
    - RAILS_ENV=production bundle exec rails assets:precompile

chore: update loaner mapping
  app/lib/rsi/loaner_loader.rb
Due: none

chore(release): new Version v5.30.3 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore(backend): add model filter
  app/views/admin/models/index.haml
Due: none

chore(release): new Version v5.30.4 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

feat(fleet): add public stats endpoints
  .env.test.example
  Gemfile
  app/api_components/v1/schemas/fleets/fleet_members_stats_public.rb
  app/controllers/api/base_controller.rb
  app/controllers/api/v1/public/fleet_stats_controller.rb
  app/frontend/services/fyApi/index.ts
  app/frontend/services/fyApi/models/FleetMembersStatsPublic.ts
  app/frontend/services/fyApi/services/FleetStatsService.ts
  app/models/fleet.rb
  app/views/api/v1/public/fleet_stats/members.jbuilder
  app/views/api/v1/public/fleet_stats/vehicles.jbuilder
  config/routes/api/fleets_routes.rb
  db/migrate/20240322205606_add_public_fleet_stats_to_fleets.rb
  db/schema.rb
  spec/rails_helper.rb
  spec/requests/api/v1/public/fleets/stats/members_spec.rb
  spec/requests/api/v1/public/fleets/stats/model_counts_spec.rb
  spec/requests/api/v1/public/fleets/stats/vehicles_spec.rb
  swagger/v1/schema.yaml
  test/fixtures/fleets.yml
  test/models/fleet_test.rb
Due: bundle

feat(fleets): add option for public stats to settings
  app/api_components/v1/schemas/fleets/fleet.rb
  app/controllers/api/v1/fleets_controller.rb
  app/frontend/frontend/pages/Fleets/Settings/Fleet/index.vue
  app/frontend/services/fyApi/models/Fleet.ts
  swagger/v1/schema.yaml
Due: none

chore: linting
  app/api_components/v1/schemas/fleets/fleet_members_stats_public.rb
  app/controllers/api/v1/public/fleet_stats_controller.rb
  app/views/api/v1/fleets/_base.jbuilder
  spec/requests/api/v1/public/fleets/stats/members_spec.rb
Due: none

chore(release): new Version v5.31.0 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: add missing translation
  app/frontend/frontend/pages/Fleets/Settings/Fleet/index.vue
  app/frontend/translations/en/labels.ts
Due: none

chore(release): new Version v5.31.1 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore(vue3): update stats page
  app/frontend/frontend/components/TradeRoutes/FilterForm/index.vue
  app/frontend/frontend/components/TradeRoutes/Price/index.vue
  app/frontend/frontend/components/TradeRoutes/Profit/index.vue
  app/frontend/frontend/components/TradeRoutes/QuickFilter/index.vue
  app/frontend/frontend/pages/fleets/[slug]/routes.ts
  app/frontend/frontend/pages/shops.vue
  app/frontend/frontend/pages/stats.vue
  app/frontend/frontend/pages/tools/trade-routes.vue
  app/frontend/frontend/pages/tools/travel-times.vue
  app/frontend/shared/components/AsyncData.vue
  app/frontend/shared/components/Chart/defaultTheme.ts
  app/frontend/shared/components/Chart/index.vue
  app/frontend/shared/components/FilteredList/index.vue
  app/frontend/shared/components/FilteredTable/index.vue
  app/frontend/shared/components/Panel/index.vue
  app/frontend/shared/components/StatsPanel/index.scss
  app/frontend/shared/components/StatsPanel/index.vue
  package.json
  yarn.lock
Due: yarn

chore(backend): fix prices modal
  app/frontend/admin/api/collections/CommodityPrices.ts
  config/locales/en/actions.yml
Due: none

chore(release): new Version v5.31.2 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: readd components endpoints
  app/api_components/admin/v1/schemas/commodity_price.rb
  app/api_components/admin/v1/schemas/commodity_prices.rb
  app/api_components/admin/v1/schemas/inputs/commodity_price_input.rb
  app/api_components/admin/v1/schemas/models/model_price.rb
  app/api_components/shared/v1/schemas/enums/commodity_price_time_range_enum.rb
  app/api_components/shared/v1/schemas/enums/model_price_time_range_enum.rb
  app/api_components/shared/v1/schemas/enums/model_price_type_enum.rb
  app/api_components/v1/schemas/models/model_price.rb
  app/frontend/admin/components/ShopCommodities/PricesModal/index.scss
  app/frontend/components.d.ts
  app/frontend/frontend/components/Hangar/FilterForm/index.vue
  app/frontend/frontend/components/Roadmap/RoadmapItem/Modal/index.scss
  app/frontend/frontend/components/Roadmap/RoadmapItem/Status/index.scss
  app/frontend/frontend/components/Roadmap/RoadmapItem/Status/index.vue
  app/frontend/frontend/components/Roadmap/RoadmapItem/Updates/index.vue
  app/frontend/frontend/components/Roadmap/RoadmapItem/index.scss
  app/frontend/frontend/components/base/BoughtViaFilterGroup/index.vue
  app/frontend/frontend/components/base/HangarGroupsFilterGroup/index.vue
  app/frontend/frontend/composables/useHangarFilters.ts
  app/frontend/frontend/composables/useModelFilters.ts
  app/frontend/frontend/composables/useRoadmapQueries.ts
  app/frontend/frontend/pages/roadmap/index.scss
  app/frontend/frontend/pages/tools/index.vue
  app/frontend/shared/components/base/Btn/types.ts
  app/frontend/shared/components/base/FormInput/types.ts
  app/frontend/shared/components/base/Grid/index.vue
  app/frontend/shared/components/base/Table/index.scss
  app/frontend/shared/components/base/Table/index.vue
  app/frontend/shared/composables/useSubscription.ts
  app/models/model_price.rb
  app/views/admin/api/v1/commodity_prices/create.jbuilder
  app/views/api/v1/model_prices/_base.jbuilder
  db/migrate/20240327160254_create_model_prices.rb
  db/migrate/20240327160635_prefill_model_prices.rb
  test/factories/model_prices.rb
  test/models/model_price_test.rb
Due: none

chore: add item_prices schema
  app/api_components/admin/v1/schemas/inputs/item_price_input.rb
  app/api_components/admin/v1/schemas/item_prices.rb
  app/api_components/admin/v1/schemas/queries/item_price_query.rb
  app/api_components/shared/v1/schemas/enums/item_price_item_type_enum.rb
  app/api_components/v1/schemas/item_price.rb
  app/controllers/admin/api/v1/commodities_controller.rb
  app/controllers/admin/api/v1/commodity_prices_controller.rb
  app/controllers/admin/api/v1/equipment_controller.rb
  app/controllers/admin/api/v1/item_prices_controller.rb
  app/controllers/admin/api/v1/shop_commodities_controller.rb
  app/controllers/admin/api/v1/stations_controller.rb
  app/frontend/services/fyAdminApi/FyAdminApi.ts
  app/frontend/services/fyAdminApi/index.ts
  app/frontend/services/fyAdminApi/models/ItemPrice.ts
  app/frontend/services/fyAdminApi/models/ItemPriceInput.ts
  app/frontend/services/fyAdminApi/models/ItemPriceItemTypeEnum.ts
  app/frontend/services/fyAdminApi/models/ItemPriceQuery.ts
  app/frontend/services/fyAdminApi/models/ItemPrices.ts
  app/frontend/services/fyAdminApi/services/ItemPricesService.ts
  app/frontend/services/fyAdminApi/services/ModelsService.ts
  app/frontend/services/fyApi/index.ts
  app/frontend/services/fyApi/models/ItemPrice.ts
  app/frontend/services/fyApi/models/ItemPriceItemTypeEnum.ts
  app/models/item_price.rb
  app/views/admin/api/v1/item_prices/_base.jbuilder
  app/views/admin/api/v1/item_prices/_item_price.jbuilder
  app/views/admin/api/v1/item_prices/index.jbuilder
  app/views/admin/api/v1/item_prices/show.jbuilder
  config/routes/admin/api/v1_routes.rb
  spec/requests/admin/api/v1/images/create_spec.rb
  spec/requests/admin/api/v1/images/update_spec.rb
  spec/requests/admin/api/v1/item_prices/create_spec.rb
  spec/requests/admin/api/v1/item_prices/destroy_spec.rb
  spec/requests/admin/api/v1/item_prices/index_spec.rb
  spec/requests/admin/api/v1/item_prices/show_spec.rb
  spec/requests/admin/api/v1/item_prices/update_spec.rb
  spec/requests/admin/api/v1/models_spec.rb
  swagger/admin/v1/schema.yaml
  swagger/v1/schema.yaml
  test/fixtures/item_prices.yml
Due: none

chore(vue3): update components
  app/frontend/frontend/components/Security/TwoFactorBackupCodesPanel/index.vue
Due: none

chore: update docs
  app/frontend/docs/components/core/AppFooter/index.vue
  app/frontend/docs/pages/api/v1.vue
  app/frontend/docs/pages/embed-1.vue
  app/frontend/docs/routes.ts
Due: none

chore: update embed
  app/frontend/docs/pages/embed.vue
  app/frontend/docs/routes.ts
Due: none

feat(compare): move compare/ships page to compare
  app/frontend/frontend/components/Navigation/CompareNav/index.vue
  app/frontend/frontend/components/Navigation/index.vue
  app/frontend/frontend/pages/compare.vue
  app/frontend/frontend/pages/compare/routes.ts
  app/frontend/frontend/pages/compare/ships.vue
  app/frontend/frontend/pages/routes.ts
  app/frontend/frontend/pages/ships/[slug]/index.vue
  app/frontend/frontend/pages/ships/index.vue
  config/routes/frontend_routes.rb
Due: none

fix(hangar-sync): update hornet mk i mapping
  app/lib/hangar_sync.rb
Due: none

chore(scdata): bump sc version
  lib/tasks/scdata.thor
Due: none

chore: update vendor files
  vendor/cache/reline-0.5.1.gem
Due: none

chore(release): new Version v5.31.3 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore(scdata): update importer to resolve size issues
  app/lib/sc_data/hardpoints_loader.rb
Due: none

chore(release): new Version v5.31.4 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore(scdata): update loadout key
  app/lib/sc_data/hardpoints_loader.rb
Due: none

chore(release): new Version v5.31.5 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn
