Repository fleetyards/fleetyards: changes, and which GitLab CI jobs are due for each by the changed paths.
All: yarn, bundle

.gitlab-ci.yml:

image: fleetyards/base:2.7.1

stages:
  - prep
  - test
  - build
  - e2e
  - deploy

cache: &global_cache
  key: fleetyards-cache
  paths:
    - node_modules/
    - vendor/bundle/
  policy: pull

.ruby_template:
  variables:
    BUNDLE_PATH: vendor/bundle
  before_script:
    - bundle install
    - mkdir -p log

.js_test_template:
  before_script:
    - yarn --frozen-lockfile

.ruby_test_template:
  extends: .ruby_template
  services:
    - postgres:12.2-alpine
  variables:
    RAILS_ENV: test
    POSTGRES_DB: fleetyards_test
    POSTGRES_USER: root
    POSTGRES_PASSWORD: root
    POSTGRES_HOST_AUTH_METHOD: trust
    DATABASE_HOST: postgres
    DATABASE_PORT: 5432
    DATABASE_USER: $POSTGRES_USER
    DATABASE_URL: postgresql://$POSTGRES_USER:$POSTGRES_PASSWORD@$DATABASE_HOST:$DATABASE_PORT/$POSTGRES_DB

.e2e_template:
  extends: .ruby_test_template
  image: fleetyards/ci:2.6.6
  services:
    - redis:latest
    - name: docker.elastic.co/elasticsearch/elasticsearch:7.5.2
      alias: elasticsearch
      command: ["bin/elasticsearch", "-Ediscovery.type=single-node", "-Expack.security.enabled=0", "-Ehttp.port=9200", "-Ecluster.name=fleetyards-test-cluser"]
  variables:
    DATABASE_URL: postgresql://root:root@127.0.0.1:5432/fleetyards
    ELASTICSEARCH_URL: http://elasticsearch:9200
    TEST_SEEDS: 1
    RAILS_ENV: ci
    ON_SUBDOMAIN: false
    RAILS_SERVE_STATIC_FILES: 1
    DISABLE_DATABASE_ENVIRONMENT_CHECK: 1
    CYPRESS_BASE_URL: http://localhost:8270
    APP_DIR: .
    PORT: 8270
    # transport.host: localhost
    # network.host: 127.0.0.1

yarn:
  stage: prep
  cache:
    <<: *global_cache
    paths:
      - node_modules/
    policy: pull-push
  script:
    - yarn --frozen-lockfile
  only:
    changes:
      - .gitlab-ci.yml
      - package.json
      - yarn.lock
      - .npmrc

bundle:
  stage: prep
  cache:
    <<: *global_cache
    paths:
      - vendor/bundle/
    policy: pull-push
  script:
    - bundle install
  only:
    changes:
      - .gitlab-ci.yml
      - Gemfile
      - Gemfile.lock
      - .ruby-version

ruby audit:
  stage: test
  extends: .ruby_template
  script:
    - bundle exec bundle-audit update
    - bundle exec bundle-audit check

yarn audit:
  stage: test
  extends: .js_test_template
  script:
    - yarn audit

rubocop:
  stage: test
  extends: .ruby_template
  script:
    - bundle exec rubocop --format progress

js-lint:
  stage: test
  extends: .js_test_template
  script:
    - yarn run lint:js
    - yarn run lint:vue
    - yarn run lint:style

js tests:
  stage: test
  extends: .js_test_template
  script:
    - yarn run test

ruby tests:
  stage: test
  extends: .ruby_test_template
  script:
    - ./scripts/wait-for-db.sh
    - bundle exec rails db:create db:schema:load
    - bundle exec rails test:coverage

seeds:
  stage: build
  extends: .e2e_template
  script:
    - ./scripts/wait-for-db.sh
    - bundle exec rails db:create db:schema:load
    - bundle exec rails db:seed

assets:
  stage: build
  extends: .ruby_test_template
  script:
    - RAILS_ENV=production bundle exec rails assets:precompile

fix: show spinner in AsyncData when query is pending
  app/frontend/shared/components/AsyncData.types.ts
  app/frontend/shared/components/AsyncData.vue
Due: none

fix: prevent resolved slot render on hidden errors, validate WebSocket URL
  app/frontend/shared/components/AsyncData.vue
  app/frontend/shared/composables/useCable.ts
Due: none

fix: WebGL fallback for HoloViewer, skip missing blobs in preprocessing
  app/frontend/shared/components/HoloViewer/index.scss
  app/frontend/shared/components/HoloViewer/index.vue
  app/frontend/translations/en/messages.json
  app/jobs/preprocess_representations_job.rb
Due: none

fix: add missing isPending to asyncStatus in public wishlist
  app/frontend/frontend/pages/hangar/[username]/wishlist.vue
Due: none

chore(main): release 6.10.1
  .release-please-manifest.json
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

style: format HoloViewer template and WebGL check
  app/frontend/shared/components/HoloViewer/index.vue
Due: none

chore(main): release 6.10.1 (#3747)
  .release-please-manifest.json
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix: add missing pagination to fleet ships list fleetchart
  app/frontend/frontend/components/Fleets/ShipsList/index.vue
Due: none

feat: include module cargo holds in container size filter
  app/frontend/frontend/pages/tools/cargo-grids.vue
  app/lib/sc_data/cargo_finder_sql.rb
  db/migrate/20260421180000_backfill_module_cargo_holds.rb
Due: none

fix: add readline-ext gem to vendor cache
  vendor/cache/readline-ext-0.2.0.gem
Due: none

feat: add cargo grid overrides for modules
  app/api_components/admin/v1/schemas/models/cargo_holds/admin_cargo_hold.rb
  app/api_components/admin/v1/schemas/queries/cargo_hold_query.rb
  app/controllers/admin/api/v1/cargo_holds_controller.rb
  app/frontend/admin/pages/models/modules/[id]/edit/cargo-holds.vue
  app/frontend/admin/pages/models/modules/[id]/edit/hardpoints.vue
  app/frontend/admin/pages/models/modules/[id]/edit/routes.ts
  app/frontend/translations/en/headlines.json
  app/frontend/translations/en/nav.json
  app/frontend/translations/en/title.json
  app/lib/sc_data/cargo_finder_sql.rb
  app/models/cargo_hold.rb
  app/models/model.rb
  app/models/model_module.rb
  app/views/admin/api/v1/cargo_holds/_base.jbuilder
  app/views/admin/api/v1/model_modules/_base.jbuilder
  app/views/api/v1/model_modules/_base.jbuilder
  db/migrate/20260421120000_add_model_module_id_to_cargo_holds.rb
  db/migrate/20260421180000_backfill_module_cargo_holds.rb
  db/schema.rb
  spec/factories/cargo_holds.rb
  swagger/admin/v1/schema.yaml
Due: none

fix: add readline-ext gem for Pry pager compatibility with Ruby 4.0
  Gemfile
  Gemfile.lock
Due: bundle

feat: persist selected modules in URL and use slug for module identification
  app/api_components/v1/schemas/models/modules/model_module.rb
  app/frontend/frontend/components/Models/Hardpoints/ModuleItem/Modal/index.vue
  app/frontend/frontend/components/Models/Hardpoints/ModuleItem/index.vue
  app/frontend/frontend/pages/tools/cargo-grids.vue
  swagger/admin/v1/schema.yaml
  swagger/oauth/v1/schema.yaml
  swagger/v1/schema.yaml
Due: none

fix: deterministic cargo hold ordering and offset maintenance task
  app/lib/sc_data/loader/base_loader.rb
  app/tasks/maintenance/apply_cargo_hold_offsets_task.rb
Due: none

fix: remove readline-ext gem and disable Pry pager
  Gemfile
  Gemfile.lock
  config/initializers/pry.rb
  vendor/cache/readline-ext-0.2.0.gem
Due: bundle

fix: update swagger dev server URLs to use .test domains
  swagger/admin/v1/schema.yaml
  swagger/oauth/v1/schema.yaml
  swagger/v1/schema.yaml
Due: none

fix: add Hull B diamond offsets and single-group mode for full-offset models
  app/frontend/frontend/components/CargoGridViewer/index.vue
  app/tasks/maintenance/apply_cargo_hold_offsets_task.rb
Due: none

fix: add missing slug to admin model_modules API response
  app/views/admin/api/v1/model_modules/_base.jbuilder
Due: none

chore: format CargoGridViewer component
  app/frontend/frontend/components/CargoGridViewer/index.vue
Due: none

docs: add exec-plan for cargo grid 45-degree rotation support
  docs/exec-plans/cargo-grid-45deg-rotation.md
Due: none

docs: add exec-plan for module slot tracking on module_hardpoints
  docs/exec-plans/module-slot-tracking.md
Due: none

feat: add slot tracking to module_hardpoints for cargo finder accuracy
  app/api_components/admin/v1/schemas/models/modules/model_module.rb
  app/api_components/v1/schemas/models/modules/model_module.rb
  app/controllers/admin/api/v1/model_modules_controller.rb
  app/controllers/api/v1/models_controller.rb
  app/frontend/frontend/components/Models/Hardpoints/ModuleItem/index.vue
  app/lib/modules_importer.rb
  app/lib/sc_data/cargo_finder_sql.rb
  app/models/module_hardpoint.rb
  app/tasks/maintenance/backfill_module_hardpoint_slots_task.rb
  app/views/admin/api/v1/model_modules/_base.jbuilder
  app/views/api/v1/models/modules.jbuilder
  db/migrate/20260421211439_add_slot_to_module_hardpoints.rb
  db/schema.rb
  docs/exec-plans/module-slot-tracking.md
  spec/factories/module_hardpoints.rb
  spec/requests/api/v1/models/modules_spec.rb
  swagger/admin/v1/schema.yaml
  swagger/v1/schema.yaml
Due: none

fix: add VITE_RUBY_HOST to worktree setup for correct CSP in dev
  bin/setup
  config/initializers/content_security_policy.rb
Due: none

fix: move containerFit to standalone deepObject query parameter
  app/api_components/v1/schemas/queries/model_query.rb
  app/controllers/api/v1/models_controller.rb
  app/frontend/frontend/pages/tools/cargo-grids.vue
  spec/requests/api/v1/models/index_spec.rb
  swagger/v1/schema.yaml
Due: none

fix: remap cargo hold offsets to match deterministic sort ordering
  app/frontend/frontend/components/CargoGridViewer/index.vue
  app/tasks/maintenance/apply_cargo_hold_offsets_task.rb
Due: none

fix: restore jbuilder caching and fix slot update on existing links
  app/controllers/admin/api/v1/model_modules_controller.rb
  app/views/api/v1/models/modules.jbuilder
Due: none

fix: move slot test out of rswag response block to fix schema check
  spec/requests/api/v1/models/modules_spec.rb
Due: none

feat: add slot tracking to module_hardpoints (#3751)
  app/api_components/admin/v1/schemas/models/modules/model_module.rb
  app/api_components/v1/schemas/models/modules/model_module.rb
  app/api_components/v1/schemas/queries/model_query.rb
  app/controllers/admin/api/v1/model_modules_controller.rb
  app/controllers/api/v1/models_controller.rb
  app/frontend/frontend/components/CargoGridViewer/index.vue
  app/frontend/frontend/components/Models/Hardpoints/ModuleItem/index.vue
  app/frontend/frontend/pages/tools/cargo-grids.vue
  app/lib/modules_importer.rb
  app/lib/sc_data/cargo_finder_sql.rb
  app/models/module_hardpoint.rb
  app/tasks/maintenance/apply_cargo_hold_offsets_task.rb
  app/tasks/maintenance/backfill_module_hardpoint_slots_task.rb
  app/views/admin/api/v1/model_modules/_base.jbuilder
  app/views/api/v1/models/modules.jbuilder
  bin/setup
  config/initializers/content_security_policy.rb
  db/migrate/20260421211439_add_slot_to_module_hardpoints.rb
  db/schema.rb
  docs/exec-plans/module-slot-tracking.md
  spec/factories/module_hardpoints.rb
  spec/requests/api/v1/models/index_spec.rb
  spec/requests/api/v1/models/modules_spec.rb
  swagger/admin/v1/schema.yaml
  swagger/v1/schema.yaml
Due: none

fix: correct cookie domain handling for dev/worktree environments
  config/initializers/devise.rb
  config/initializers/session_store.rb
Due: none

chore(main): release 6.11.0
  .release-please-manifest.json
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore(main): release 6.11.0 (#3748)
  .release-please-manifest.json
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix: scope sc_data loaders to game_files hardpoints only
  app/lib/sc_data/loader/model_modules_loader.rb
  app/lib/sc_data/loader/models_loader.rb
Due: none

fix: sanitize empty cargo hold offset values before API submission
  app/frontend/admin/pages/models/[id]/edit/cargo-holds.vue
  app/frontend/admin/pages/models/modules/[id]/edit/cargo-holds.vue
Due: none

chore(main): release 6.11.1
  .release-please-manifest.json
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore(main): release 6.11.1 (#3756)
  .release-please-manifest.json
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

feat: add ship image and detail link to cargo grid page
  app/frontend/frontend/pages/tools/cargo-grids.scss
  app/frontend/frontend/pages/tools/cargo-grids.vue
Due: none

docs: add exec plan for fleet wishlist feature (#1408)
  docs/exec-plans/fleet-wishlist.md
Due: none

docs: add exec plan for fleet squadrons feature (#1398)
  docs/exec-plans/fleet-squadrons.md
Due: none

fix: use useVehicleMutations composable for hangar/wishlist query invalidation
  app/frontend/frontend/components/Models/AddToHangar/Modal/index.vue
  app/frontend/frontend/components/Vehicles/BulkGroupModal/index.vue
  app/frontend/frontend/components/Vehicles/GroupsModal/index.vue
Due: none

fix: correct indentation in mutateAsync call arguments
  app/frontend/frontend/components/Models/AddToHangar/Modal/index.vue
  app/frontend/frontend/components/Vehicles/BulkGroupModal/index.vue
  app/frontend/frontend/components/Vehicles/GroupsModal/index.vue
Due: none
