Repository fleetyards/fleetyards: changes, and which GitLab CI jobs are due for each by the changed paths.
All: yarn, bundle

yarn:
  stage: prep
  cache:
    key: fleetyards-cache
    paths:
    - node_modules/
    policy: pull-push
  script:
  - yarn --frozen-lockfile

bundle:
  stage: prep
  cache:
    key: fleetyards-cache
    paths:
    - vendor/bundle/
    policy: pull-push
  script:
  - bundle install

fix: scope-specific components override shared on name collisions
  swagger/admin/v1/schema.yaml
Due: none

fix: remove stale dock oasdiff ignores, keep only image size type fix
  swagger/admin/v1/oasdiff-ignore.txt
Due: none

fix: rename Input files to lowercase for Linux case-sensitive FS
  app/api_components/v1/schemas/inputs/account_update_input.rb
  app/api_components/v1/schemas/inputs/user_create_input.rb
  app/api_components/v1/schemas/inputs/user_update_input.rb
Due: none

fix: use single quotes in oasdiff ignore files to match CI output
  swagger/admin/v1/oasdiff-ignore.txt
Due: none

fix: re-enable request validation test for invalid query params
  spec/requests/api/v1/hangar/show_spec.rb
Due: none

chore: switch openapi-ruby to released 3.1.0 from rubygems
  Gemfile
  Gemfile.lock
  vendor/cache/openapi-ruby-3.1.0.gem
Due: bundle

fix: use openapi-ruby git with query params in URL fix
  Gemfile
  Gemfile.lock
  vendor/cache/openapi-ruby-3.1.0.gem
  vendor/cache/rbs-4.0.2.gem
  vendor/cache/regexp_parser-2.11.3.gem
  vendor/cache/regexp_parser-2.12.0.gem
  vendor/cache/ruby-lsp-0.26.9.gem
  vendor/cache/ruby-lsp-rails-0.4.8.gem
Due: bundle

feat: re-enable auto_validation_error_response (gem default)
  config/initializers/openapi_ruby.rb
  swagger/admin/v1/schema.yaml
  swagger/oauth/v1/schema.yaml
  swagger/v1/schema.yaml
Due: none

fix: migrate new files from main, regenerate schemas after rebase
  app/api_components/shared/v1/schemas/sorts/component_sort_enum.rb
  app/api_components/shared/v1/schemas/sorts/fleet_sort_enum.rb
  app/api_components/shared/v1/schemas/sorts/manufacturer_sort_enum.rb
  app/api_components/shared/v1/schemas/sorts/model_module_package_sort_enum.rb
  swagger/admin/v1/schema.yaml
  swagger/v1/schema.yaml
  vendor/cache/rbs-4.0.2.gem
  vendor/cache/ruby-lsp-0.26.9.gem
  vendor/cache/ruby-lsp-rails-0.4.8.gem
Due: none

fix: update openapi-ruby with nested query param serialization fix
  Gemfile.lock
Due: bundle

fix: migrate component_quantum_drive_boost after rebase conflict
  app/api_components/shared/v1/schemas/component_quantum_drive_boost.rb
Due: none

chore: regenerate schemas with ComponentQuantumDriveBoost
  swagger/admin/v1/schema.yaml
  swagger/v1/schema.yaml
Due: none

chore(deps): bump openapi-ruby 3.1.1 -> 3.2.0
  Gemfile.lock
  vendor/cache/openapi-ruby-3.1.1.gem
  vendor/cache/openapi-ruby-3.2.0.gem
Due: bundle

fix: add missing component_quantum_drive_boost.rb from main
  swagger/admin/v1/schema.yaml
  swagger/v1/schema.yaml
Due: none

chore(deps): bump openapi-ruby to 3.1.1, migrate stragglers from main
  Gemfile
  Gemfile.lock
  app/api_components/admin/v1/schemas/admin_user_fleet.rb
  app/api_components/admin/v1/schemas/admin_user_fleets.rb
  app/api_components/shared/v1/schemas/external_fuel_tank.rb
  app/api_components/shared/v1/schemas/refuel_boom.rb
  app/api_components/shared/v1/schemas/sorts/image_sort_enum.rb
  config/initializers/openapi_ruby.rb
  spec/requests/admin/api/v1/users/fleets/index_spec.rb
  swagger/admin/v1/schema.yaml
  swagger/v1/schema.yaml
  vendor/cache/openapi-ruby-3.1.1.gem
  vendor/cache/zeitwerk-2.7.5.gem
  vendor/cache/zeitwerk-2.8.1.gem
Due: bundle

fix: migrate new files from main, regenerate schemas after rebase
  app/api_components/admin/v1/schemas/admin_fleet_member.rb
  app/api_components/admin/v1/schemas/admin_fleet_members.rb
  app/api_components/admin/v1/schemas/queries/admin_fleet_member_query.rb
  spec/requests/admin/api/v1/fleet_members/index_spec.rb
  spec/requests/admin/api/v1/fleet_members/login_as_spec.rb
  swagger/admin/v1/schema.yaml
  swagger/v1/schema.yaml
Due: none

chore: disable openapi-ruby 3.2.0 test_request_validation
  config/initializers/openapi_ruby.rb
Due: none

docs: replace stale rswag references with openapi-ruby
  AGENTS.md
  docs/exec-plans/fleet-squadrons.md
  docs/exec-plans/fleet-wishlist.md
  spec/support/shared_examples/admin_auth.rb
  spec/support/shared_examples/oauth_auth.rb
Due: none

chore(main): release 6.25.0 (#3984)
  .release-please-manifest.json
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

feat: declare ruby-vips explicitly and port frontend base controller to Vips
  Gemfile
  Gemfile.lock
  app/controllers/frontend/base_controller.rb
Due: bundle

fix: use require: false for ruby-vips to avoid eager load at boot
  Gemfile
Due: bundle

revert: keep base_controller on MiniMagick for now
  app/controllers/frontend/base_controller.rb
Due: none

feat: stateless compare-page preview image generation
  app/controllers/frontend/base_controller.rb
  app/models/compare_image.rb
  db/migrate/20260522203131_create_compare_images.rb
  db/schema.rb
Due: none

Declare ruby-vips explicitly (#3991)
  Gemfile
  Gemfile.lock
Due: bundle

Stateless compare-page preview images via CompareImage + Vips (#3992)
  app/controllers/frontend/base_controller.rb
  app/models/compare_image.rb
  db/migrate/20260522203131_create_compare_images.rb
  db/schema.rb
Due: none

chore(main): release 6.25.1
  .release-please-manifest.json
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore(main): release 6.25.1 (#3990)
  .release-please-manifest.json
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix: route /compare to compare_models so OG metadata is set
  config/routes/frontend_routes.rb
Due: none

fix: route /compare to compare_models so OG metadata is set (#3996)
  config/routes/frontend_routes.rb
Due: none

fix(notifications): prevent duplicate new-model Discord posts
  app/jobs/notifications/new_model_job.rb
  app/models/model.rb
Due: none

chore(main): release 6.25.2
  .release-please-manifest.json
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore(main): release 6.25.2 (#3997)
  .release-please-manifest.json
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

feat(compare): diagonal-split composite with antialiased edges
  app/models/compare_image.rb
Due: none

fix(maintenance): allow re-running sc-data import via force flag
  app/tasks/maintenance/sc_data_import_task.rb
Due: none

chore(main): release 6.26.0
  .release-please-manifest.json
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore(main): release 6.26.0 (#4000)
  .release-please-manifest.json
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

Path conditions:
  yarn: any of: .gitlab-ci.yml, package.json, yarn.lock, .npmrc
  bundle: any of: .gitlab-ci.yml, Gemfile, Gemfile.lock, .ruby-version
