Repository fleetyards/fleetyards: changes, and which GitLab CI jobs are due for each by the changed paths.
All: yarn, bundle

.gitlab-ci.yml:

image: fleetyards/base:2.7.1

stages:
  - prep
  - test
  - build
  - e2e
  - deploy

cache: &global_cache
  key: fleetyards-cache
  paths:
    - node_modules/
    - vendor/bundle/
  policy: pull

.ruby_template:
  variables:
    BUNDLE_PATH: vendor/bundle
  before_script:
    - bundle install
    - mkdir -p log

.js_test_template:
  before_script:
    - yarn --frozen-lockfile

.ruby_test_template:
  extends: .ruby_template
  services:
    - postgres:12.2-alpine
  variables:
    RAILS_ENV: test
    POSTGRES_DB: fleetyards_test
    POSTGRES_USER: root
    POSTGRES_PASSWORD: root
    POSTGRES_HOST_AUTH_METHOD: trust
    DATABASE_HOST: postgres
    DATABASE_PORT: 5432
    DATABASE_USER: $POSTGRES_USER
    DATABASE_URL: postgresql://$POSTGRES_USER:$POSTGRES_PASSWORD@$DATABASE_HOST:$DATABASE_PORT/$POSTGRES_DB

.e2e_template:
  extends: .ruby_test_template
  image: fleetyards/ci:2.6.6
  services:
    - redis:latest
    - name: docker.elastic.co/elasticsearch/elasticsearch:7.5.2
      alias: elasticsearch
      command: ["bin/elasticsearch", "-Ediscovery.type=single-node", "-Expack.security.enabled=0", "-Ehttp.port=9200", "-Ecluster.name=fleetyards-test-cluser"]
  variables:
    DATABASE_URL: postgresql://root:root@127.0.0.1:5432/fleetyards
    ELASTICSEARCH_URL: http://elasticsearch:9200
    TEST_SEEDS: 1
    RAILS_ENV: ci
    ON_SUBDOMAIN: false
    RAILS_SERVE_STATIC_FILES: 1
    DISABLE_DATABASE_ENVIRONMENT_CHECK: 1
    CYPRESS_BASE_URL: http://localhost:8270
    APP_DIR: .
    PORT: 8270
    # transport.host: localhost
    # network.host: 127.0.0.1

yarn:
  stage: prep
  cache:
    <<: *global_cache
    paths:
      - node_modules/
    policy: pull-push
  script:
    - yarn --frozen-lockfile
  only:
    changes:
      - .gitlab-ci.yml
      - package.json
      - yarn.lock
      - .npmrc

bundle:
  stage: prep
  cache:
    <<: *global_cache
    paths:
      - vendor/bundle/
    policy: pull-push
  script:
    - bundle install
  only:
    changes:
      - .gitlab-ci.yml
      - Gemfile
      - Gemfile.lock
      - .ruby-version

ruby audit:
  stage: test
  extends: .ruby_template
  script:
    - bundle exec bundle-audit update
    - bundle exec bundle-audit check

yarn audit:
  stage: test
  extends: .js_test_template
  script:
    - yarn audit

rubocop:
  stage: test
  extends: .ruby_template
  script:
    - bundle exec rubocop --format progress

js-lint:
  stage: test
  extends: .js_test_template
  script:
    - yarn run lint:js
    - yarn run lint:vue
    - yarn run lint:style

js tests:
  stage: test
  extends: .js_test_template
  script:
    - yarn run test

ruby tests:
  stage: test
  extends: .ruby_test_template
  script:
    - ./scripts/wait-for-db.sh
    - bundle exec rails db:create db:schema:load
    - bundle exec rails test:coverage

seeds:
  stage: build
  extends: .e2e_template
  script:
    - ./scripts/wait-for-db.sh
    - bundle exec rails db:create db:schema:load
    - bundle exec rails db:seed

assets:
  stage: build
  extends: .ruby_test_template
  script:
    - RAILS_ENV=production bundle exec rails assets:precompile

chore(release): new Version v5.13.4 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix(docs): update embed documentation to use embed-v2.js
  app/views/layouts/embed_v2_fleet_test.html.erb
  app/views/layouts/embed_v2_test.html.erb
  app/views/layouts/embed_v2_username_test.html.erb
  docs/embed/README.md
  docs/v1/embed.apib
  public/docs/v1.html
Due: none

chore(deps): add dependency resolutions
  package.json
  yarn.lock
Due: yarn

fix(fleet-vehicles): reload membership before update
  app/models/fleet_membership.rb
Due: none

chore(release): new Version v5.13.5 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix(setup): update admin user setup script
  lib/tasks/setup.thor
Due: none

fix(setup): remove admin flag from create admin script
  lib/tasks/setup.thor
Due: none

chore: resolve unique index issues for fleet vehicle updates
  app/models/fleet_membership.rb
Due: none

chore(release): new Version v5.13.6 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: add .tool-versions
  .tool-versions
  app/frontend/stylesheets/frontend/partials/transitions.scss
Due: none

chore: update setup script
  lib/tasks/setup.thor
Due: none

feat(Fleets): Add Export for all Vehicles of Fleet
  app/controllers/api/v1/fleet_vehicles_controller.rb
  app/frontend/frontend/api/collections/FleetVehicles.ts
  app/frontend/frontend/api/models/Fleet.d.ts
  app/frontend/frontend/components/Fleets/ShipsList/index.vue
  app/views/api/v1/fleet_vehicles/export.jbuilder
  config/routes/api_v1_routes.rb
Due: none

feat(Fleets): Add Export for all Vehicles of Fleet (#2516)
  app/controllers/api/v1/fleet_vehicles_controller.rb
  app/frontend/frontend/api/collections/FleetVehicles.ts
  app/frontend/frontend/api/models/Fleet.d.ts
  app/frontend/frontend/components/Fleets/ShipsList/index.vue
  app/views/api/v1/fleet_vehicles/export.jbuilder
  config/routes/api_v1_routes.rb
Due: none

chore(release): new Version v5.14.0 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore(rails): update to latest rails 6.x
  Gemfile
  Gemfile.lock
  vendor/cache/actioncable-6.1.7.1.gem
  vendor/cache/actioncable-6.1.7.gem
  vendor/cache/actionmailbox-6.1.7.1.gem
  vendor/cache/actionmailbox-6.1.7.gem
  vendor/cache/actionmailer-6.1.7.1.gem
  vendor/cache/actionmailer-6.1.7.gem
  vendor/cache/actionpack-6.1.7.1.gem
  vendor/cache/actionpack-6.1.7.gem
  vendor/cache/actiontext-6.1.7.1.gem
  vendor/cache/actiontext-6.1.7.gem
  vendor/cache/actionview-6.1.7.1.gem
  vendor/cache/actionview-6.1.7.gem
  vendor/cache/activejob-6.1.7.1.gem
  vendor/cache/activejob-6.1.7.gem
  vendor/cache/activemodel-6.1.7.1.gem
  vendor/cache/activemodel-6.1.7.gem
  vendor/cache/activerecord-6.1.7.1.gem
  vendor/cache/activerecord-6.1.7.gem
  vendor/cache/activestorage-6.1.7.1.gem
  vendor/cache/activestorage-6.1.7.gem
  vendor/cache/activesupport-6.1.7.1.gem
  vendor/cache/activesupport-6.1.7.gem
  vendor/cache/rails-6.1.7.1.gem
  vendor/cache/rails-6.1.7.gem
  vendor/cache/railties-6.1.7.1.gem
  vendor/cache/railties-6.1.7.gem
Due: bundle

chore: fix rubocoptering
  app/views/admin/api/v1/commodity_prices/create_buy_price.jbuilder
  app/views/admin/api/v1/commodity_prices/create_rental_price.jbuilder
  app/views/admin/api/v1/commodity_prices/create_sell_price.jbuilder
  app/views/admin/api/v1/commodity_prices/destroy.jbuilder
  app/views/admin/api/v1/images/create.jbuilder
  app/views/admin/api/v1/images/destroy.jbuilder
  app/views/admin/api/v1/images/update.jbuilder
  app/views/admin/api/v1/shop_commodities/create.jbuilder
  app/views/admin/api/v1/shop_commodities/destroy.jbuilder
  app/views/admin/api/v1/shop_commodities/update.jbuilder
  app/views/api/v1/models/_video_complete.jbuilder
  app/views/api/v1/vehicles/create.jbuilder
  app/views/api/v1/vehicles/destroy.jbuilder
  app/views/api/v1/vehicles/update.jbuilder
Due: none

chore: Update ssrf_filter
  Gemfile
  Gemfile.lock
  vendor/cache/ssrf_filter-1.0.8.gem
  vendor/cache/ssrf_filter-1.1.1.gem
Due: bundle

chore: Update ssrf_filter (#2522)
  Gemfile
  Gemfile.lock
  vendor/cache/ssrf_filter-1.0.8.gem
  vendor/cache/ssrf_filter-1.1.1.gem
Due: bundle

chore(rails-7): add clear_association_cache method
  app/models/application_record.rb
Due: none

chore(rails-7): update ransack_alias for name since it collides with sorts
  app/controllers/api/v1/shops_controller.rb
  app/controllers/api/v1/vehicles_controller.rb
  app/frontend/frontend/pages/Stations/routes.js
  app/frontend/frontend/routes.ts
  app/frontend/translations/en/placeholders.js
  app/models/model.rb
  app/models/shop.rb
  app/models/station.rb
  app/models/vehicle.rb
Due: none

disable yamlint for ci
  flake.nix
Due: none

fix database
  flake.nix
Due: none

update gemset
  .envrc
  flake.nix
  gemset.nix
Due: none

WIP: devenv/flake.nix
  .envrc
  .gitignore
  config/environments/devenv.rb
  flake.lock
  flake.nix
  gemset.nix
  scripts/update.sh
Due: none

only check for now
  .github/workflows/nix.yml
Due: none

disable prettier lint for now
  flake.nix
Due: none

update nixpgs (v8 broken an x86_64-darwin?)
  flake.lock
Due: none

build env and yarn to push to cachix
  .github/workflows/nix.yml
Due: none

generate yarn.nix as flake check breaks
  flake.nix
  yarn.nix
Due: none

add nix ci
  .github/workflows/nix.yml
  flake.nix
Due: none

fix actionlint warnings in actions
  .github/workflows/main.yml
  .github/workflows/release.yml
Due: none

add yarn to devenv
  .envrc
  .gitignore
  default.nix
  flake.lock
  flake.nix
  vite.config.ts
Due: none

use yarn2nix for check via impure
  .github/workflows/nix.yml
  flake.nix
  yarn.nix
Due: none
