Repository fleetyards/fleetyards: changes, and which GitLab CI jobs are due for each by the changed paths.
All: yarn, bundle

yarn:
  stage: prep
  cache:
    key: fleetyards-cache
    paths:
    - node_modules/
    policy: pull-push
  script:
  - yarn --frozen-lockfile

bundle:
  stage: prep
  cache:
    key: fleetyards-cache
    paths:
    - vendor/bundle/
    policy: pull-push
  script:
  - bundle install

feat(fleets): add rsi handle to fleet vehicles export
  app/api_components/v1/schemas/fleets/fleet_vehicle_export.rb
  app/api_components/v1/schemas/vehicles/vehicle_public.rb
  app/frontend/docs/pages/Api.vue
  app/frontend/services/fyApi/models/FleetVehicleExport.ts
  app/frontend/services/fyApi/models/VehiclePublic.ts
  app/views/api/v1/fleet_vehicles/_export.jbuilder
  app/views/api/v1/public/vehicles/_base.jbuilder
  package.json
  swagger/v1/schema.yaml
  yarn.lock
Due: yarn

chore(release): new Version v5.29.0 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: update paints import mapping
  app/lib/paints_importer.rb
Due: none

chore: update Gemfile.lock
  Gemfile.lock
Due: bundle

chore: update paint importer
  app/lib/paints_importer.rb
Due: none

chore: update vendor
  vendor/cache/net-imap-0.4.8.gem
Due: none

chore(release): new Version v5.29.1 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: linting
  app/controllers/concerns/pagination.rb
  app/lib/rsi/models_loader.rb
  app/lib/sc_data/hardpoints_loader.rb
  app/models/application_record.rb
  app/models/fleet.rb
  app/models/user.rb
  app/uploaders/fleetchart_image_uploader.rb
  config/routes/admin_routes.rb
  lib/carrier_wave/validations/active_model.rb
Due: none

chore: update staging cdn
  config/credentials/staging.yml.enc
Due: none

chore(release): new Version v5.29.2 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: update lock
  yarn.lock
Due: yarn

chore(vue3): fix paginator
  app/frontend/frontend/pages/Models/index.vue
  app/frontend/shared/components/Paginator/PerPageDropdown/index.vue
  app/frontend/shared/composables/usePagination.ts
Due: none

chore(doorkeeper): allow localhost
  config/initializers/doorkeeper.rb
Due: none

chore: update model panels
  app/frontend/frontend/components/Models/Panel/index.scss
  app/frontend/frontend/components/Vehicles/Panel/index.scss
  app/frontend/frontend/pages/VisualTests/PanelsPage.vue
  app/frontend/frontend/translations/en/title.ts
  config/initializers/session_store.rb
  config/locales/en/main.yml
Due: none

chore(vue3): update hangar
  app/api_components/v1/schemas/inputs/vehicle_update_input.rb
  app/controllers/api/v1/vehicles_controller.rb
  app/frontend/components.d.ts
  app/frontend/frontend/components/HangarEmptyBox/index.vue
  app/frontend/frontend/components/Vehicles/AddonsModal/Addons/index.scss
  app/frontend/frontend/components/Vehicles/AddonsModal/Addons/index.vue
  app/frontend/frontend/components/Vehicles/AddonsModal/Packages/index.vue
  app/frontend/frontend/components/Vehicles/AddonsModal/index.vue
  app/frontend/frontend/components/Vehicles/GroupLabels/index.vue
  app/frontend/frontend/components/Vehicles/Modal/index.vue
  app/frontend/frontend/components/Vehicles/NewVehiclesModal/index.vue
  app/frontend/frontend/components/Vehicles/Panel/index.scss
  app/frontend/frontend/components/Vehicles/Panel/index.vue
  app/frontend/frontend/components/Vehicles/Table/index.vue
  app/frontend/frontend/components/WishlistEmptyBox/index.vue
  app/frontend/frontend/composables/useHangarQueries.ts
  app/frontend/frontend/composables/useModelQueries.ts
  app/frontend/frontend/composables/useVehicleQueries.ts
  app/frontend/frontend/pages/Hangar/index.vue
  app/frontend/frontend/pages/Login/index.vue
  app/frontend/frontend/pages/Models/index.vue
  app/frontend/frontend/pages/NotFound/index.vue
  app/frontend/services/fyApi/models/VehicleUpdateInput.ts
  app/frontend/services/fyApi/services/VehiclesService.ts
  app/frontend/shared/components/AsyncData.vue
  app/frontend/shared/components/Paginator/index.vue
  app/frontend/shared/components/Panel/Heading/index.scss
  app/frontend/shared/components/Panel/Heading/index.vue
  app/frontend/shared/components/PrimaryAction/index.scss
  app/frontend/shared/components/base/Btn/index.scss
  app/frontend/shared/components/base/Checkbox/index.vue
  app/frontend/shared/components/base/FilterGroup/index.vue
  app/frontend/shared/composables/usePagination.ts
  app/frontend/stylesheets/variables.scss
  app/models/ability.rb
  app/views/api/shared/_meta.jbuilder
  package.json
  spec/requests/api/v1/vehicles/filters_spec.rb
  swagger/v1/schema.yaml
  yarn.lock
Due: yarn

fix(loaners): update mapping for new loaner list changes
  app/lib/rsi/loaner_loader.rb
Due: none

chore(cap): clean assets on deploy
  config/deploy.rb
Due: none

chore(cap): try to fix assets cleaning
  config/deploy.rb
  vite.config.ts
Due: none

chore: linting
  config/deploy.rb
Due: none

chore(release): new Version v5.29.3 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore(vue3): update vite
  package.json
  yarn.lock
Due: yarn

chore: update vitest
  package.json
  yarn.lock
Due: yarn

feat(scdata): bump sc version to 3.22.1
  lib/tasks/scdata.thor
Due: none

chore(backend): update model filters
  app/assets/javascripts/app.coffee
  app/views/admin/models/index.haml
Due: none

chore: linting
  config/initializers/backtrace_silencers.rb
  config/initializers/mime_types.rb
  config/initializers/new_framework_defaults_6_0.rb
Due: none

chore(release): new Version v5.30.0 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: update admin filters
  app/views/admin/models/index.haml
Due: none

chore(release): new Version v5.30.1 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: update filters
  app/views/admin/models/index.haml
Due: none

fix(paints-importer): update hornet mapping
  app/lib/paints_importer.rb
Due: none

chore(release): new Version v5.30.2 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

Path conditions:
  yarn: any of: .gitlab-ci.yml, package.json, yarn.lock, .npmrc
  bundle: any of: .gitlab-ci.yml, Gemfile, Gemfile.lock, .ruby-version
