Repository fleetyards/fleetyards: changes, and which GitLab CI jobs are due for each by the changed paths.
All: yarn, bundle

.gitlab-ci.yml:

image: fleetyards/base:2.7.1

stages:
  - prep
  - test
  - build
  - e2e
  - deploy

cache: &global_cache
  key: fleetyards-cache
  paths:
    - node_modules/
    - vendor/bundle/
  policy: pull

.ruby_template:
  variables:
    BUNDLE_PATH: vendor/bundle
  before_script:
    - bundle install
    - mkdir -p log

.js_test_template:
  before_script:
    - yarn --frozen-lockfile

.ruby_test_template:
  extends: .ruby_template
  services:
    - postgres:12.2-alpine
  variables:
    RAILS_ENV: test
    POSTGRES_DB: fleetyards_test
    POSTGRES_USER: root
    POSTGRES_PASSWORD: root
    POSTGRES_HOST_AUTH_METHOD: trust
    DATABASE_HOST: postgres
    DATABASE_PORT: 5432
    DATABASE_USER: $POSTGRES_USER
    DATABASE_URL: postgresql://$POSTGRES_USER:$POSTGRES_PASSWORD@$DATABASE_HOST:$DATABASE_PORT/$POSTGRES_DB

.e2e_template:
  extends: .ruby_test_template
  image: fleetyards/ci:2.6.6
  services:
    - redis:latest
    - name: docker.elastic.co/elasticsearch/elasticsearch:7.5.2
      alias: elasticsearch
      command: ["bin/elasticsearch", "-Ediscovery.type=single-node", "-Expack.security.enabled=0", "-Ehttp.port=9200", "-Ecluster.name=fleetyards-test-cluser"]
  variables:
    DATABASE_URL: postgresql://root:root@127.0.0.1:5432/fleetyards
    ELASTICSEARCH_URL: http://elasticsearch:9200
    TEST_SEEDS: 1
    RAILS_ENV: ci
    ON_SUBDOMAIN: false
    RAILS_SERVE_STATIC_FILES: 1
    DISABLE_DATABASE_ENVIRONMENT_CHECK: 1
    CYPRESS_BASE_URL: http://localhost:8270
    APP_DIR: .
    PORT: 8270
    # transport.host: localhost
    # network.host: 127.0.0.1

yarn:
  stage: prep
  cache:
    <<: *global_cache
    paths:
      - node_modules/
    policy: pull-push
  script:
    - yarn --frozen-lockfile
  only:
    changes:
      - .gitlab-ci.yml
      - package.json
      - yarn.lock
      - .npmrc

bundle:
  stage: prep
  cache:
    <<: *global_cache
    paths:
      - vendor/bundle/
    policy: pull-push
  script:
    - bundle install
  only:
    changes:
      - .gitlab-ci.yml
      - Gemfile
      - Gemfile.lock
      - .ruby-version

ruby audit:
  stage: test
  extends: .ruby_template
  script:
    - bundle exec bundle-audit update
    - bundle exec bundle-audit check

yarn audit:
  stage: test
  extends: .js_test_template
  script:
    - yarn audit

rubocop:
  stage: test
  extends: .ruby_template
  script:
    - bundle exec rubocop --format progress

js-lint:
  stage: test
  extends: .js_test_template
  script:
    - yarn run lint:js
    - yarn run lint:vue
    - yarn run lint:style

js tests:
  stage: test
  extends: .js_test_template
  script:
    - yarn run test

ruby tests:
  stage: test
  extends: .ruby_test_template
  script:
    - ./scripts/wait-for-db.sh
    - bundle exec rails db:create db:schema:load
    - bundle exec rails test:coverage

seeds:
  stage: build
  extends: .e2e_template
  script:
    - ./scripts/wait-for-db.sh
    - bundle exec rails db:create db:schema:load
    - bundle exec rails db:seed

assets:
  stage: build
  extends: .ruby_test_template
  script:
    - RAILS_ENV=production bundle exec rails assets:precompile

New translations labels.js (German)
  app/frontend/translations/de/labels.js
Due: none

chore: linting
  app/frontend/translations/de/labels.js
Due: none

chore(release): new Version v5.12.0 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix(link-header): prevent empty header value and add self link
  app/controllers/concerns/pagination.rb
Due: none

chore(fleet-vehicles): refactor updates and make callbacks async
  app/jobs/updater/base_job.rb
  app/jobs/updater/fleet_membership_vehicles_remove_job.rb
  app/jobs/updater/fleet_membership_vehicles_setup_job.rb
  app/jobs/updater/fleet_membership_vehicles_update_job.rb
  app/jobs/updater/fleet_vehicle_update_job.rb
  app/models/fleet_invite_url.rb
  app/models/fleet_membership.rb
  app/models/fleet_vehicle.rb
  app/models/task_force.rb
  app/models/vehicle.rb
  config/sidekiq.yml
  db/migrate/20221204005713_add_index_to_fleet_vehicles.rb
  db/schema.rb
  test/controllers/api/v1/vehicles_controller_test.rb
  test/fixtures/fleet_vehicles.yml
  test/fixtures/hangar_groups.yml
  test/fixtures/vehicles.yml
  test/models/fleet_membership_test.rb
  test/models/fleet_vehicle_test.rb
  test/models/task_force_test.rb
  test/models/vehicle_test.rb
Due: none

chore: remove sidekiq statistic
  Gemfile
  Gemfile.lock
  config/initializers/sidekiq.rb
Due: bundle

chore(fleet-vehicles): update scheduling
  app/jobs/updater/fleet_membership_vehicles_remove_job.rb
  app/models/fleet.rb
  app/models/fleet_membership.rb
  db/seeds.rb
  test/models/fleet_membership_test.rb
Due: none

chore(fleet-vehicles): refactor updates and make callbacks async (#2478)
  Gemfile
  Gemfile.lock
  app/jobs/updater/base_job.rb
  app/jobs/updater/fleet_membership_vehicles_setup_job.rb
  app/jobs/updater/fleet_membership_vehicles_update_job.rb
  app/jobs/updater/fleet_vehicle_update_job.rb
  app/models/fleet.rb
  app/models/fleet_invite_url.rb
  app/models/fleet_membership.rb
  app/models/fleet_vehicle.rb
  app/models/task_force.rb
  app/models/vehicle.rb
  config/initializers/sidekiq.rb
  config/sidekiq.yml
  db/migrate/20221204005713_add_index_to_fleet_vehicles.rb
  db/schema.rb
  db/seeds.rb
  test/controllers/api/v1/vehicles_controller_test.rb
  test/fixtures/fleet_vehicles.yml
  test/fixtures/hangar_groups.yml
  test/fixtures/vehicles.yml
  test/models/fleet_membership_test.rb
  test/models/fleet_vehicle_test.rb
  test/models/task_force_test.rb
  test/models/vehicle_test.rb
Due: bundle

chore(release): new Version v5.12.1 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix(fleet-vehicles): update scheduling to prevent double update jobs
  app/models/fleet_membership.rb
  test/models/fleet_membership_test.rb
Due: none

chore(release): new Version v5.12.2 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix(pagination): exclude zero from per_page and also allow snakecase
  app/controllers/concerns/pagination.rb
Due: none

chore(sidekiq): migrate back to sidekiq jobs
  Gemfile
  Gemfile.lock
  app/controllers/admin/model_paints_controller.rb
  app/controllers/admin/models_controller.rb
  app/controllers/api/v1/users_controller.rb
  app/jobs/application_job.rb
  app/jobs/cleanup/base_job.rb
  app/jobs/loaders/base_job.rb
  app/jobs/loaders/sc_data_ships_job.rb
  app/jobs/notifications/base_job.rb
  app/jobs/sc_data_check_job.rb
  app/jobs/updater/base_job.rb
  app/jobs/updater/fleet_membership_vehicles_setup_job.rb
  app/jobs/updater/fleet_membership_vehicles_update_job.rb
  app/jobs/updater/fleet_vehicle_update_job.rb
  app/models/fleet_membership.rb
  app/models/model.rb
  app/models/task_force.rb
  app/models/vehicle.rb
  config/routes.rb
  lib/tasks/broadcast.thor
  test/models/fleet_membership_test.rb
  test/models/task_force_test.rb
  test/models/vehicle_test.rb
  vendor/cache/brpoplpush-redis_script-0.1.3.gem
  vendor/cache/sidekiq-unique-jobs-7.1.29.gem
Due: bundle

chore(sidekiq): migrate back to sidekiq jobs (#2480)
  Gemfile
  Gemfile.lock
  app/controllers/admin/model_paints_controller.rb
  app/controllers/admin/models_controller.rb
  app/controllers/api/v1/users_controller.rb
  app/jobs/application_job.rb
  app/jobs/cleanup/base_job.rb
  app/jobs/loaders/base_job.rb
  app/jobs/loaders/sc_data_ships_job.rb
  app/jobs/notifications/base_job.rb
  app/jobs/sc_data_check_job.rb
  app/jobs/updater/base_job.rb
  app/jobs/updater/fleet_membership_vehicles_setup_job.rb
  app/jobs/updater/fleet_membership_vehicles_update_job.rb
  app/jobs/updater/fleet_vehicle_update_job.rb
  app/models/fleet_membership.rb
  app/models/model.rb
  app/models/task_force.rb
  app/models/vehicle.rb
  config/routes.rb
  lib/tasks/broadcast.thor
  test/models/fleet_membership_test.rb
  test/models/task_force_test.rb
  test/models/vehicle_test.rb
  vendor/cache/brpoplpush-redis_script-0.1.3.gem
  vendor/cache/sidekiq-unique-jobs-7.1.29.gem
Due: bundle

chore(embed): refactor css files
  app/frontend/entrypoints/embed-v2.scss
  app/frontend/entrypoints/embed.scss
  app/frontend/stylesheets/embed/base.scss
  app/frontend/stylesheets/embed/partials/fleetchart.scss
  app/frontend/stylesheets/embed/partials/links.scss
  app/frontend/stylesheets/embed/partials/loader.scss
  app/frontend/stylesheets/embed/partials/media.scss
  app/frontend/stylesheets/embed/partials/metrics.scss
  app/frontend/stylesheets/embed/partials/page-actions.scss
  app/frontend/stylesheets/embed/partials/panel-btn.scss
  app/frontend/stylesheets/embed/partials/panel.scss
  app/frontend/stylesheets/embed/partials/slider.scss
  app/frontend/stylesheets/embed/partials/tooltip.scss
  app/frontend/stylesheets/embed/partials/transitions.scss
  app/frontend/stylesheets/embed/variables.scss
Due: none

chore(release): new Version v5.12.3 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore(sidekiq): use default job queue names
  config/application.rb
  config/sidekiq.yml
Due: none

chore(release): new Version v5.12.4 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore(fleet-vehicles): use create_or_find_by to avoid uniq check exceptions
  app/models/fleet_membership.rb
Due: none

chore(release): new Version v5.12.5 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore(fleet-vehicles): rescue non unique exception
  app/models/fleet_membership.rb
Due: none

chore(release): new Version v5.12.6 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

feat(fleet-stats): add vehicles by model bar chart
  app/controllers/api/v1/fleet_stats_controller.rb
  app/frontend/frontend/api/collections/Fleets.ts
  app/frontend/frontend/pages/Fleets/Stats/index.vue
  app/frontend/translations/de/labels.js
  app/frontend/translations/en/labels.js
  app/helpers/chart_helper.rb
  config/routes/api_v1_routes.rb
Due: none

chore(release): new Version v5.13.0 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: downgrade psych
  Gemfile
  Gemfile.lock
  vendor/cache/psych-4.0.6.gem
  vendor/cache/psych-5.0.0.gem
Due: bundle

fix(2fa): resolve issue which prevented backup codes from working.
  app/controllers/api/v1/sessions_controller.rb
  config/locales/de/devise.yml
  config/locales/en/devise.yml
Due: none

chore(release): new Version v5.13.1 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix(2FA): allow usage of backup codes to disable 2FA
  app/controllers/api/v1/two_factors_controller.rb
Due: none

chore(release): new Version v5.13.2 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: rubocoptering
  config/initializers/content_security_policy.rb
Due: none

fix(pagination): readd missing pagination headers
  app/controllers/concerns/pagination.rb
  app/frontend/stylesheets/frontend/partials/panel-btn-dropdown.scss
Due: none

chore(release): new Version v5.13.3 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix(fleet-vehicles): update scheduling of fleet vehicle updates
  app/controllers/api/v1/fleet_vehicles_controller.rb
  app/frontend/frontend/api/collections/PublicFleetVehicles.ts
  app/frontend/frontend/components/Fleets/PublicShipsList/index.vue
  app/models/fleet_membership.rb
Due: none
