Repository fleetyards/fleetyards: changes, and which GitLab CI jobs are due for each by the changed paths.
All: yarn, bundle

yarn:
  stage: prep
  cache:
    key: fleetyards-cache
    paths:
    - node_modules/
    policy: pull-push
  script:
  - yarn --frozen-lockfile

bundle:
  stage: prep
  cache:
    key: fleetyards-cache
    paths:
    - vendor/bundle/
    policy: pull-push
  script:
  - bundle install

chore: reenable splitchunks
  app/views/frontend/index.html.erb
  config/webpack/environment.js
Due: none

chore: upgrade to webpacker 6
  Gemfile
  Gemfile.lock
  config/webpack/base.js
  config/webpack/development.js
  config/webpack/loaders/vue.js
  config/webpack/production.js
  config/webpack/rules/vue.js
  config/webpack/test.js
  config/webpacker.yml
  package.json
  vendor/cache/webpacker-5.2.1.gem
  vendor/cache/webpacker-6.0.0.pre.2.gem
  yarn.lock
Due: yarn, bundle

chore: make webpack compile work
  Gemfile
  Gemfile.lock
  app/javascript/packs/admin.scss
  app/javascript/packs/admin.ts
  app/javascript/packs/embed-v2.scss
  app/javascript/packs/embed.js
  app/javascript/packs/embed.scss
  app/javascript/packs/embed_v2.js
  app/javascript/packs/frontend.scss
  app/javascript/packs/frontend.ts
  app/javascript/stylesheets/admin.scss
  app/javascript/stylesheets/embed-v2.scss
  app/javascript/stylesheets/embed.scss
  app/javascript/stylesheets/frontend.scss
  app/javascript/translations/de.js
  app/javascript/translations/en.js
  config/webpack/base.js
  config/webpack/environment.js
  config/webpacker.yml
  package.json
  vendor/cache/webpacker-6.0.0.pre.2.gem
  yarn.lock
Due: yarn, bundle

chore: update cypress
  package.json
  test/javascript/e2e/support/index.js
  yarn.lock
Due: yarn

chore: try ci config change
  .circleci/config.yml
Due: none

fix: specs
  app/controllers/api/v1/users_controller.rb
  app/javascript/frontend/core/components/SecurePage/index.vue
  app/javascript/frontend/lib/Store/modules/session/index.js
  test/javascript/e2e/specs/Signup.spec.js
  test/javascript/e2e/support/commands.js
Due: none

fix: paths
  .storybook/config.js
  app/packs/frontend/components/Shops/ShopItemRow/index.vue
  jest.config.js
  package.json
  tsconfig.json
Due: yarn

fix: zeitwerk
  config/application.rb
Due: none

chore: rubocoptering
  app/models/user.rb
Due: none

fix: yarn audit issue
  package.json
  yarn.lock
Due: yarn

chore(release): new Version v4.10.0 (Mercury) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: add missing migration for 2fa
  db/migrate/20210415135947_prefill_otp_secret_for_all_users.rb
  db/schema.rb
Due: none

chore: webpacker 6 upgrade
  Gemfile
  Gemfile.lock
  app/packs/admin/api/client.ts
  app/packs/entrypoints/admin.scss
  app/packs/entrypoints/admin.ts
  app/packs/entrypoints/embed-v2.scss
  app/packs/entrypoints/embed.js
  app/packs/entrypoints/embed.scss
  app/packs/entrypoints/embed_v2.js
  app/packs/entrypoints/frontend.scss
  app/packs/entrypoints/frontend.ts
  app/packs/frontend/api/collections/Models.ts
  app/packs/frontend/api/collections/Shops.ts
  app/packs/frontend/api/collections/Stations.ts
  app/packs/stylesheets/admin.scss
  app/packs/stylesheets/embed-v2.scss
  app/packs/stylesheets/embed.scss
  app/packs/stylesheets/frontend.scss
  app/packs/translations/de.js
  app/packs/translations/en.js
  app/views/frontend/index.html.erb
  config/webpack/base.js
  config/webpack/custom.js
  config/webpack/development.js
  config/webpack/production.js
  config/webpack/rules/vue.js
  config/webpack/test.js
  config/webpacker.yml
  package.json
  vendor/cache/webpacker-5.2.1.gem
  yarn.lock
Due: yarn, bundle

chore: remove old files
  app/views/layouts/admin/application.html.erb
  config/webpack/environment.js
  config/webpack/loaders/vue.js
  package.json
  yarn.lock
Due: yarn

fix: img metrics on home
  app/packs/frontend/App.vue
  app/packs/frontend/pages/Home/index.vue
Due: none

chore: admin hotwire #WIP
  app/controllers/admin2/application_controller.rb
  app/controllers/admin2/base_controller.rb
  app/packs/entrypoints/admin2.js
  app/packs/stylesheets/admin2.scss
  app/views/admin2/base/dashboard.html.erb
  app/views/layouts/admin2/_footer.html.erb
  app/views/layouts/admin2/_header.html.erb
  app/views/layouts/admin2/application.html.erb
  config/routes.rb
  config/routes/admin2_routes.rb
Due: none

chore: rubocoptering
  app/controllers/concerns/pagination.rb
  app/lib/sc_data/ships_loader.rb
  app/lib/youtube/video_loader.rb
Due: none

chore: cleanup notification settings
  app/models/user.rb
  app/packs/frontend/pages/Settings/Notifications/index.vue
  app/packs/frontend/pages/Settings/index.vue
  app/packs/frontend/pages/Settings/routes.js
  app/packs/translations/en/headlines.js
  app/packs/translations/en/messages.js
  app/packs/translations/en/nav.js
  app/packs/translations/en/title.js
  app/views/layouts/mailer.html.inky
  app/workers/model_notification_worker.rb
  app/workers/vehicles_worker.rb
  config/locales/en/en.yml
  config/locales/en/mailer.yml
  config/routes/frontend_routes.rb
Due: none

chore: update rails and carrierwave
  Gemfile
  Gemfile.lock
  vendor/cache/actioncable-6.1.2.1.gem
  vendor/cache/actioncable-6.1.3.1.gem
  vendor/cache/actionmailbox-6.1.2.1.gem
  vendor/cache/actionmailbox-6.1.3.1.gem
  vendor/cache/actionmailer-6.1.2.1.gem
  vendor/cache/actionmailer-6.1.3.1.gem
  vendor/cache/actionpack-6.1.2.1.gem
  vendor/cache/actionpack-6.1.3.1.gem
  vendor/cache/actiontext-6.1.2.1.gem
  vendor/cache/actiontext-6.1.3.1.gem
  vendor/cache/actionview-6.1.2.1.gem
  vendor/cache/actionview-6.1.3.1.gem
  vendor/cache/activejob-6.1.2.1.gem
  vendor/cache/activejob-6.1.3.1.gem
  vendor/cache/activemodel-6.1.2.1.gem
  vendor/cache/activemodel-6.1.3.1.gem
  vendor/cache/activerecord-6.1.2.1.gem
  vendor/cache/activerecord-6.1.3.1.gem
  vendor/cache/activestorage-6.1.2.1.gem
  vendor/cache/activestorage-6.1.3.1.gem
  vendor/cache/activesupport-6.1.2.1.gem
  vendor/cache/activesupport-6.1.3.1.gem
  vendor/cache/carrierwave-2.2.0.gem
  vendor/cache/carrierwave-2.2.1.gem
  vendor/cache/marcel-0.3.3.gem
  vendor/cache/marcel-1.0.1.gem
  vendor/cache/mimemagic-0.3.10.gem
  vendor/cache/mini_mime-1.0.3.gem
  vendor/cache/mini_mime-1.1.0.gem
  vendor/cache/rails-6.1.2.1.gem
  vendor/cache/rails-6.1.3.1.gem
  vendor/cache/railties-6.1.2.1.gem
  vendor/cache/railties-6.1.3.1.gem
Due: bundle

chore: update rails and carrierwave (#1452)
  Gemfile
  Gemfile.lock
  vendor/cache/actioncable-6.1.2.1.gem
  vendor/cache/actioncable-6.1.3.1.gem
  vendor/cache/actionmailbox-6.1.2.1.gem
  vendor/cache/actionmailbox-6.1.3.1.gem
  vendor/cache/actionmailer-6.1.2.1.gem
  vendor/cache/actionmailer-6.1.3.1.gem
  vendor/cache/actionpack-6.1.2.1.gem
  vendor/cache/actionpack-6.1.3.1.gem
  vendor/cache/actiontext-6.1.2.1.gem
  vendor/cache/actiontext-6.1.3.1.gem
  vendor/cache/actionview-6.1.2.1.gem
  vendor/cache/actionview-6.1.3.1.gem
  vendor/cache/activejob-6.1.2.1.gem
  vendor/cache/activejob-6.1.3.1.gem
  vendor/cache/activemodel-6.1.2.1.gem
  vendor/cache/activemodel-6.1.3.1.gem
  vendor/cache/activerecord-6.1.2.1.gem
  vendor/cache/activerecord-6.1.3.1.gem
  vendor/cache/activestorage-6.1.2.1.gem
  vendor/cache/activestorage-6.1.3.1.gem
  vendor/cache/activesupport-6.1.2.1.gem
  vendor/cache/activesupport-6.1.3.1.gem
  vendor/cache/carrierwave-2.2.0.gem
  vendor/cache/carrierwave-2.2.1.gem
  vendor/cache/marcel-0.3.3.gem
  vendor/cache/marcel-1.0.1.gem
  vendor/cache/mimemagic-0.3.10.gem
  vendor/cache/mini_mime-1.0.3.gem
  vendor/cache/mini_mime-1.1.0.gem
  vendor/cache/rails-6.1.2.1.gem
  vendor/cache/rails-6.1.3.1.gem
  vendor/cache/railties-6.1.2.1.gem
  vendor/cache/railties-6.1.3.1.gem
Due: bundle

fix: urls for users and fleets
  app/models/concerns/url_field_helper.rb
  app/models/fleet.rb
  app/models/user.rb
  db/migrate/20210423173052_normalize_urls.rb
  db/schema.rb
  test/models/fleet_test.rb
  test/models/user_test.rb
Due: none

chore(release): new Version v4.10.1 (Mercury) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix: user and fleet urls
  app/models/concerns/url_field_helper.rb
  app/packs/frontend/pages/Fleets/Show/index.vue
  app/packs/frontend/pages/Hangar/Public/index.vue
  db/migrate/20210423191312_fix_broken_urls.rb
  db/schema.rb
  test/models/fleet_test.rb
  test/models/user_test.rb
Due: none

chore(release): new Version v4.10.2 (Mercury) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: manage notifications via channels #WIP
  app/controllers/api/v1/users_controller.rb
  app/models/notification_channel.rb
  app/models/user.rb
  app/packs/frontend/pages/Settings/Notifications/index.vue
  app/packs/frontend/pages/Signup/index.vue
  app/packs/translations/en/labels.js
  app/views/api/v1/users/_base.jbuilder
  db/migrate/20210423223223_create_notification_channels.rb
  db/migrate/20210423223606_prefill_notification_channels.rb
  db/migrate/20210423235951_add_index_for_notification_channels.rb
  db/schema.rb
  test/fixtures/notification_channels.yml
  test/models/notification_channel_test.rb
Due: none

chore: downgrade uniform_notifier because of issue with sentry
  Gemfile
  Gemfile.lock
  vendor/cache/uniform_notifier-1.14.0.gem
  vendor/cache/uniform_notifier-1.14.2.gem
Due: bundle

chore: update schedule
  app/jobs/application_job.rb
  app/jobs/cleanup/base_job.rb
  app/jobs/loaders/base_job.rb
  app/jobs/prices_job.rb
  app/jobs/trade_routes_job.rb
  config/schedule.yml
Due: none

chore: rubocoptering
  test/models/notification_channel_test.rb
Due: none

chore: downgrade rubocop-minitest
  Gemfile
  Gemfile.lock
  vendor/cache/rubocop-minitest-0.11.1.gem
  vendor/cache/rubocop-minitest-0.12.0.gem
Due: bundle

Switch to GPL License
  LICENSE
Due: none

chore: update readme
  README.md
Due: none

chore: update readme (#1458)
  README.md
Due: none

fix: formInput clearable
  app/packs/frontend/components/Security/ChangePasswordForm/index.vue
  app/packs/frontend/core/components/Form/FormInput/index.vue
  app/packs/frontend/core/components/Navigation/QuickSearch/index.vue
  app/packs/frontend/core/components/Navigation/Search/index.vue
  app/packs/frontend/core/components/SecurePage/index.vue
  app/packs/frontend/pages/Fleets/Add/index.vue
  app/packs/frontend/pages/Search/index.vue
  app/packs/frontend/pages/Settings/Profile/index.vue
  app/packs/stylesheets/frontend/partials/form-input.scss
Due: none

Path conditions:
  yarn: any of: .gitlab-ci.yml, package.json, yarn.lock, .npmrc
  bundle: any of: .gitlab-ci.yml, Gemfile, Gemfile.lock, .ruby-version
