Repository fleetyards/fleetyards: changes, and which GitLab CI jobs are due for each by the changed paths.
All: yarn, bundle

yarn:
  stage: prep
  cache:
    key: fleetyards-cache
    paths:
    - node_modules/
    policy: pull-push
  script:
  - yarn --frozen-lockfile

bundle:
  stage: prep
  cache:
    key: fleetyards-cache
    paths:
    - vendor/bundle/
    policy: pull-push
  script:
  - bundle install

chore(vite): linting
  .eslintrc.js
  app/packs/admin/api/collections/ShopCommodities.ts
  app/packs/admin/components/ImageUploader/ImageRow/index.vue
  app/packs/admin/components/ShopCommodities/FilterForm/index.vue
  app/packs/admin/components/ShopCommodities/Modal/index.vue
  app/packs/admin/components/ShopCommodities/NewModal/index.vue
  app/packs/entrypoints/admin.ts
  app/packs/frontend/components/Fleetchart/ListPanzoom/index.vue
  app/packs/frontend/components/HangarImportBtn/index.vue
  app/packs/frontend/components/Roadmap/RoadmapItem/index.vue
  app/packs/frontend/components/Starship42Btn/index.vue
  app/packs/frontend/components/Vehicles/GroupsModal/index.vue
  app/packs/frontend/components/Vehicles/Modal/index.vue
  app/packs/frontend/components/Vehicles/NamingModal/index.vue
  app/packs/frontend/components/Vehicles/NewVehiclesModal/index.vue
  app/packs/frontend/core/components/BreadCrumbs/index.vue
  app/packs/frontend/core/components/BtnDropdown/index.vue
  app/packs/frontend/core/components/Chart/index.vue
  app/packs/frontend/core/components/Form/CollectionFilterGroup/index.vue
  app/packs/frontend/core/components/Form/FilterGroup/index.vue
  app/packs/frontend/core/components/LazyImage/index.vue
  app/packs/frontend/core/components/Navigation/NavItem/index.vue
  app/packs/frontend/core/components/Navigation/QuickSearch/index.vue
  app/packs/frontend/core/components/Navigation/Search/index.vue
  app/packs/frontend/core/components/PrimaryAction/index.vue
  app/packs/frontend/lib/I18n/index.ts
  app/packs/frontend/lib/Noty/index.d.ts
  app/packs/frontend/lib/Noty/index.ts
  app/packs/frontend/mixins/Filters/index.ts
  app/packs/frontend/pages/Hangar/index.vue
  app/packs/frontend/pages/Models/index.vue
  app/packs/frontend/pages/Roadmap/index.vue
  app/packs/frontend/plugins/Validations/index.ts
  app/packs/frontend/utils/Filters.ts
  app/packs/frontend/utils/Sorting.ts
  yarn.lock
Due: yarn

chore: linting
  app/packs/frontend/pages/Hangar/index.vue
  app/packs/frontend/pages/Models/index.vue
Due: none

chore(cypress): upgrade to 10.4.0
  cypress.config.js
  cypress.json
  package.json
  test/javascript/e2e/support/e2e.js
  tsconfig.json
  yarn.lock
Due: yarn

chore(cypress): use github action workflow
  .github/workflows/main.yml
Due: none

chore(vite): remove remaining pack tags
  .dockerignore
  .gitignore
  app/views/frontend/embed.js.erb
  app/views/frontend/embed_v2.js.erb
  app/views/layouts/admin/application.html.erb
  app/views/layouts/error.html.erb
  config/deploy.rb
Due: none

chore(cypress): move files to cypress dir
  cypress.config.js
  cypress.config.ts
  cypress/e2e/EmbedV1.cy.js
  cypress/e2e/EmbedV2.cy.js
  cypress/e2e/EmbedV2Fleet.cy.js
  cypress/e2e/EmbedV2Username.cy.js
  cypress/e2e/Fleet.cy.js
  cypress/e2e/Footer.cy.js
  cypress/e2e/Hangar.cy.js
  cypress/e2e/Home.cy.js
  cypress/e2e/Images.cy.js
  cypress/e2e/Login.cy.js
  cypress/e2e/Roadmap.cy.js
  cypress/e2e/Ship.cy.js
  cypress/e2e/Ships.cy.js
  cypress/e2e/Signup.cy.js
  cypress/e2e/Starsystems.cy.js
  cypress/e2e/Stations.cy.js
  cypress/e2e/Stats.cy.js
  cypress/fixtures/users.json
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/e2e.js
  package.json
  yarn.lock
Due: yarn

chore(vite): update stylesheet tags
  .github/workflows/main.yml
  .github/workflows/release.yml
  app/frontend/embed/FleetyardsView.vue
  app/helpers/application_helper.rb
  app/views/frontend/embed.js.erb
  app/views/frontend/embed_v2.js.erb
  app/views/layouts/admin/application.html.erb
  config/initializers/content_security_policy.rb
Due: none

chore: set VITE_RUBY_MODE explizitly
  .github/workflows/main.yml
Due: none

chore(cypress): fallback to initial cypress workflow
  .github/workflows/main.yml
  config/vite.json
Due: none

chore(vite): update to latest vite
  .github/workflows/main.yml
  Gemfile.lock
  config/vite.json
  package.json
  vendor/cache/erubi-1.10.0.gem
  vendor/cache/erubi-1.11.0.gem
  vendor/cache/tzinfo-2.0.4.gem
  vendor/cache/tzinfo-2.0.5.gem
  vendor/cache/vite_rails-3.0.10.gem
  vendor/cache/vite_rails-3.0.12.gem
  vendor/cache/vite_ruby-3.1.6.gem
  vendor/cache/vite_ruby-3.2.2.gem
  yarn.lock
Due: yarn, bundle

chore(vue): upgrade to latest 2.x
  package.json
  yarn.lock
Due: yarn

chore(vite): downgrade to vite 2.x
  Gemfile
  Gemfile.lock
  package.json
  vendor/cache/devise-two-factor-4.0.2.gem
  vite.config.ts
  yarn.lock
Due: yarn, bundle

chore: remove portal-vue
  app/frontend/entrypoints/frontend.ts
  package.json
  yarn.lock
Due: yarn

chore: upgrade vue-slider-component
  yarn.lock
Due: yarn

chore(vite): setup build config to fix imports in prod build
  vite.config.ts
Due: none

chore(yarn-audit): update package resolutions
  package.json
  yarn.lock
Due: yarn

chore(yarn-audit): clean package resolutions
  package.json
  yarn.lock
Due: yarn

fix(fleet-member-list): add missing prefix to social links
  app/frontend/frontend/components/Fleets/MembersList/MembersListItem/index.vue
Due: none

chore(depfu): downgrade i18n-js for now
  Gemfile
  Gemfile.lock
  vendor/cache/glob-0.3.0.gem
  vendor/cache/google-protobuf-3.21.2-x86_64-darwin.gem
  vendor/cache/google-protobuf-3.21.5-x86_64-darwin.gem
  vendor/cache/i18n-js-3.9.2.gem
  vendor/cache/i18n-js-4.0.0.gem
Due: bundle

chore(vite): use public/vite as production output dir
  config/deploy.rb
  config/vite.json
Due: none

chore(yarn-audit): update package resolutions (#2317)
  package.json
  yarn.lock
Due: yarn

fix(fleet-member-list): add missing prefix to social links (#2284)
  app/frontend/frontend/components/Fleets/MembersList/MembersListItem/index.vue
Due: none

chore(yarn-audit): set node-forge resolution to >=1.3.0
  package.json
  yarn.lock
Due: yarn

chore(vite): set asset_prefix to vite to fix deployment
  config/deploy.rb
Due: none

chore(yarn-audit): set node-forge resolution to >=1.3.0 (#2325)
  package.json
  yarn.lock
Due: yarn

chore(vite): move vite output dir back to public
  config/deploy.rb
  config/vite.json
Due: none

chore(vite): update output dir
  config/deploy.rb
  config/vite.json
Due: none

Revert "chore(vite): update output dir"
  config/deploy.rb
  config/vite.json
Due: none

chore(vite): tweak build to allow OOM errors on staging
  vite.config.ts
Due: none

chore(jest): cleanup old deps
  package.json
  yarn.lock
Due: yarn

chore(deps): remove husky
  package.json
  yarn.lock
Due: yarn

chore: stop assets cleanup on deploy
  config/deploy.rb
Due: none

Update general settings (#2288)
  Gemfile
  Gemfile.lock
  config/deploy.rb
  config/environments/development.rb
  config/initializers/content_security_policy.rb
Due: bundle

chore(vite): move vite output dir back to its default
  config/deploy.rb
  config/vite.json
Due: none

chore(drop-ransack): migrate the first controllers
  app/controllers/api/v1/commodities_controller.rb
  app/controllers/api/v1/components_controller.rb
  app/controllers/api/v1/equipment_controller.rb
  app/controllers/api/v1/shop_commodities_controller.rb
  app/frontend/frontend/api/collections/ShopCommodities.ts
  app/frontend/frontend/api/models/ShopCommodity.d.ts
  app/frontend/frontend/components/Shops/FilterForm/index.vue
  app/frontend/frontend/components/Shops/ShopItemFilterForm/index.vue
  app/frontend/frontend/core/components/FilteredList/index.vue
  app/frontend/frontend/pages/Stations/Shop/index.vue
  app/models/ability.rb
  config/routes/api_v1_routes.rb
  config/routes/frontend_routes.rb
Due: none

chore(vite-pwa): add additional assets
  vite.config.ts
Due: none

chore(vite): update base path settings
  config/initializers/content_security_policy.rb
  config/vite.json
Due: none

chore(vite-pwa): add base setting to vite.config.js
  vite.config.ts
Due: none

Path conditions:
  yarn: any of: .gitlab-ci.yml, package.json, yarn.lock, .npmrc
  bundle: any of: .gitlab-ci.yml, Gemfile, Gemfile.lock, .ruby-version
