Repository fleetyards/fleetyards: changes, and which GitLab CI jobs are due for each by the changed paths.
All: yarn, bundle

.gitlab-ci.yml:

image: fleetyards/base:2.6.6

stages:
  - prep
  - test
  - build
  - e2e
  - deploy

cache: &global_cache
  key: fleetyards-cache
  paths:
    - node_modules/
    - vendor/bundle/
  policy: pull

.ruby_template:
  variables:
    BUNDLE_PATH: vendor/bundle
  before_script:
    - bundle install
    - mkdir -p log

.js_test_template:
  before_script:
    - yarn --frozen-lockfile

.ruby_test_template:
  extends: .ruby_template
  services:
    - postgres:12.2-alpine
  variables:
    RAILS_ENV: test
    POSTGRES_DB: fleetyards_test
    POSTGRES_USER: root
    POSTGRES_PASSWORD: root
    POSTGRES_HOST_AUTH_METHOD: trust
    DATABASE_HOST: postgres
    DATABASE_PORT: 5432
    DATABASE_USER: $POSTGRES_USER
    DATABASE_URL: postgresql://$POSTGRES_USER:$POSTGRES_PASSWORD@$DATABASE_HOST:$DATABASE_PORT/$POSTGRES_DB

.e2e_template:
  extends: .ruby_test_template
  image: fleetyards/ci:2.6.6
  services:
    - redis:latest
    - name: docker.elastic.co/elasticsearch/elasticsearch:7.5.2
      alias: elasticsearch
      command: [ "bin/elasticsearch", "-Ediscovery.type=single-node -Xms512m -Xmx512m -Expack.security.enabled=0 -Ehttp.port=9200 -Ecluster.name=fleetyards-test-cluser" ]
  variables:
    DATABASE_URL: postgresql://root:root@127.0.0.1:5432/fleetyards
    ELASTICSEARCH_URL: http://elasticsearch:9200
    TEST_SEEDS: 1
    RAILS_ENV: ci
    ON_SUBDOMAIN: 1
    RAILS_SERVE_STATIC_FILES: 1
    DISABLE_DATABASE_ENVIRONMENT_CHECK: 1
    CYPRESS_BASE_URL: http://localhost:8270
    CYPRESS_CI: 1
    APP_DIR: .
    PORT: 8270
    transport.host: localhost
    network.host: 127.0.0.1

yarn:
  stage: prep
  cache:
    <<: *global_cache
    paths:
      - node_modules/
    policy: pull-push
  script:
    - yarn --frozen-lockfile
  only:
    changes:
      - .gitlab-ci.yml
      - package.json
      - yarn.lock
      - .npmrc

bundle:
  stage: prep
  cache:
    <<: *global_cache
    paths:
      - vendor/bundle/
    policy: pull-push
  script:
    - bundle install
  only:
    changes:
      - .gitlab-ci.yml
      - Gemfile
      - Gemfile.lock
      - .ruby-version

ruby audit:
  stage: test
  extends: .ruby_template
  script:
    - bundle exec bundle-audit update
    - bundle exec bundle-audit check

yarn audit:
  stage: test
  extends: .js_test_template
  script:
    - yarn audit

rubocop:
  stage: test
  extends: .ruby_template
  script:
    - bundle exec rubocop --format progress

js-lint:
  stage: test
  extends: .js_test_template
  script:
    - yarn run lint:js
    - yarn run lint:vue
    - yarn run lint:style

js tests:
  stage: test
  extends: .js_test_template
  script:
    - yarn run test

ruby tests:
  stage: test
  extends: .ruby_test_template
  script:
    - ./scripts/wait-for-db.sh
    - bundle exec rails db:create db:schema:load
    - bundle exec rails test:coverage

seeds:
  stage: build
  extends: .e2e_template
  script:
    - ./scripts/wait-for-db.sh
    - bundle exec rails db:create db:schema:load
    - bundle exec rails db:seed

assets:
  stage: build
  extends: .ruby_test_template
  script:
    - RAILS_ENV=production bundle exec rails assets:precompile

feat: update mobile navigation
  app/packs/frontend/core/components/AppShoppingCart/Modal/index.vue
  app/packs/frontend/core/components/Navigation/Mobile/index.vue
  app/packs/stylesheets/frontend/partials/app-navigation.scss
  app/packs/stylesheets/frontend/partials/app-shopping-cart.scss
  app/packs/stylesheets/variables.scss
Due: none

fix: shopping cart mobile position
  app/packs/stylesheets/frontend/partials/app-shopping-cart.scss
Due: none

chore(release): new Version v4.12.0 (Mercury) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: add sidekiq statistic
  Gemfile
  Gemfile.lock
  config/initializers/sidekiq.rb
Due: bundle

chore(release): new Version v4.12.1 (Mercury) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix: shopping cart
  app/packs/frontend/core/components/AppShoppingCart/index.vue
Due: none

chore: cleanup unneeded initializers
  config/initializers/cors.rb
  config/initializers/routing_mapper.rb
Due: none

chore: try to recreate rswag-specs for minitest WIP
  Gemfile
  Gemfile.lock
  config/initializers/rswag_ui.rb
  test/models/admin_user_test.rb
  test/test_helper.rb
Due: bundle

fix: mark vehicles as public by default
  app/controllers/api/v1/vehicles_controller.rb
Due: none

chore: downgrade elasticsearch
  Gemfile
  Gemfile.lock
  vendor/cache/elasticsearch-7.13.3.gem
  vendor/cache/elasticsearch-7.14.0.gem
  vendor/cache/elasticsearch-api-7.13.3.gem
  vendor/cache/elasticsearch-api-7.14.0.gem
  vendor/cache/elasticsearch-transport-7.13.3.gem
  vendor/cache/elasticsearch-transport-7.14.0.gem
Due: bundle

fix: elasticsearch setup
  .circleci/config.yml
  Gemfile
  Gemfile.lock
  config/initializers/elasticsearch.rb
  test/vcr_cassettes/shop_commodities_index.yml
  vendor/cache/elasticsearch-7.13.3.gem
  vendor/cache/elasticsearch-7.14.0.gem
  vendor/cache/elasticsearch-api-7.13.3.gem
  vendor/cache/elasticsearch-api-7.14.0.gem
  vendor/cache/elasticsearch-transport-7.13.3.gem
  vendor/cache/elasticsearch-transport-7.14.0.gem
Due: bundle

fix: specs
  config/initializers/elasticsearch.rb
  test/vcr_cassettes/shop_commodities_index.yml
Due: none

chore: update mobile nav
  app/packs/stylesheets/frontend/partials/app-navigation.scss
Due: none

chore: touch model on new video
  app/models/video.rb
Due: none

chore(release): new Version v4.12.2 (Mercury) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: update quicksearch
  app/packs/frontend/core/components/Navigation/QuickSearch/index.vue
  app/packs/frontend/core/components/Navigation/Search/index.vue
Due: none

chore: remove deprecations
  test/javascript/e2e/support/commands.js
Due: none

chore: downgrade oj
  Gemfile
  Gemfile.lock
  vendor/cache/oj-3.13.1.gem
  vendor/cache/oj-3.13.2.gem
Due: bundle

chore: try to reupdate oj
  Gemfile
  Gemfile.lock
  vendor/cache/oj-3.13.1.gem
  vendor/cache/oj-3.13.2.gem
Due: bundle

Revert "chore: try to reupdate oj"
  Gemfile
  Gemfile.lock
  vendor/cache/oj-3.13.1.gem
  vendor/cache/oj-3.13.2.gem
Due: bundle

chore: disable bundle check for now
  config/deploy.rb
Due: none

fix: ahoy js tracking
  app/packs/frontend/App.vue
Due: none

chore: try to fix flacky e2e specs
  test/javascript/e2e/support/commands.js
Due: none

chore: try to fix flacky tests
  test/javascript/e2e/support/commands.js
  vendor/cache/rails-html-sanitizer-1.4.0.gem
Due: none

fix: downgrade webpack-dev-server
  package.json
  yarn.lock
Due: yarn

chore: upgrade shelljs
  package.json
  yarn.lock
Due: yarn

chore(release): new Version v4.12.3 (Mercury) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix: add to hangar
  app/packs/frontend/components/Fleetchart/List/ContextMenu/index.vue
  app/packs/stylesheets/frontend/base.scss
Due: none

chore: update cypress timeout
  cypress.json
Due: none

chore: try to fix cypress issues with detached button
  test/javascript/e2e/support/commands.js
Due: none

fix: filter issue in compare hardpoints
  app/packs/frontend/components/Compare/Models/Hardpoints/index.vue
Due: none

chore: update error type in api client
  app/packs/frontend/api/client.ts
Due: none

chore: add middleware to compress html etc
  config/application.rb
Due: none

fix: middlewares
  config/application.rb
Due: none

chore(release): new Version v4.12.4 (Mercury) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix: add some z to the support button
  app/packs/stylesheets/frontend/partials/support.scss
Due: none

chore: update bootsnap to 1.8.1
  Gemfile.lock
  app/packs/stylesheets/frontend/partials/app-modal.scss
  vendor/cache/bootsnap-1.8.0.gem
  vendor/cache/bootsnap-1.8.1.gem
Due: bundle

chore: update modal position for mobile
  app/packs/stylesheets/frontend/partials/app-modal.scss
Due: none

chore: update support us modal
  app/packs/frontend/components/Support/Modal/index.vue
  app/packs/frontend/components/Support/index.vue
  app/packs/frontend/core/components/AppFooter/index.vue
  app/packs/stylesheets/frontend/partials/support.scss
  app/packs/translations/en/actions.js
  app/packs/translations/en/labels.js
  config/initializers/content_security_policy.rb
Due: none

fix: specs
  app/packs/frontend/core/components/AppFooter/__tests__/spec.js
Due: none
