Repository fleetyards/fleetyards: changes, and which GitLab CI jobs are due for each by the changed paths.
All: yarn, bundle

yarn:
  stage: prep
  cache:
    key: fleetyards-cache
    paths:
    - node_modules/
    policy: pull-push
  script:
  - yarn --frozen-lockfile

bundle:
  stage: prep
  cache:
    key: fleetyards-cache
    paths:
    - vendor/bundle/
    policy: pull-push
  script:
  - bundle install

chore(open-api): update request template
  app/frontend/admin/composables/useApiClient.ts
  app/frontend/frontend/composables/useApiClient.ts
  app/frontend/services/fyAdminApi/core/request.ts
  app/frontend/services/fyApi/core/request.ts
  app/frontend/services/request.template.ts
Due: none

chore(openapi): add missing parameters
  swagger/v1/schema.yaml
Due: none

chore(index-refactor): update hangar page
  app/api_components/shared/v1/schemas/base_list.rb
  app/frontend/admin/api/collections/Images.ts
  app/frontend/admin/api/collections/Stations.ts
  app/frontend/frontend/api/collections/CelestialObjects.ts
  app/frontend/frontend/api/collections/Hangar.ts
  app/frontend/frontend/api/collections/HangarStats.ts
  app/frontend/frontend/pages/Hangar/index.vue
  app/frontend/services/fyAdminApi/models/BaseList.ts
  app/frontend/services/fyAdminApi/models/Images.ts
  app/frontend/services/fyAdminApi/models/Stations.ts
  app/frontend/services/fyApi/models/BaseList.ts
  app/frontend/services/fyApi/models/CargoOptions.ts
  app/frontend/services/fyApi/models/CelestialObjects.ts
  app/frontend/services/fyApi/models/Hangar.ts
  app/frontend/services/fyApi/models/HangarPublic.ts
  app/frontend/services/fyApi/models/Images.ts
  app/frontend/services/fyApi/models/Manufacturers.ts
  app/frontend/services/fyApi/models/ModelModulePackages.ts
  app/frontend/services/fyApi/models/ModelModules.ts
  app/frontend/services/fyApi/models/Models.ts
  app/frontend/services/fyApi/models/Shops.ts
  app/frontend/services/fyApi/models/Starsystems.ts
  app/frontend/services/fyApi/models/Stations.ts
  app/frontend/services/fyApi/models/Videos.ts
  package.json
  swagger/admin/v1/schema.yaml
  swagger/v1/schema.yaml
  yarn.lock
Due: yarn

chore(openapi): regenerate schema and clients
  app/frontend/services/fyAdminApi/models/Images.ts
  app/frontend/services/fyAdminApi/models/Pagination.ts
  app/frontend/services/fyAdminApi/services/ImagesService.ts
  app/frontend/services/fyAdminApi/services/StationsService.ts
  app/frontend/services/fyApi/index.ts
  app/frontend/services/fyApi/models/BaseList.ts
  app/frontend/services/fyApi/models/CargoOptions.ts
  app/frontend/services/fyApi/models/CelestialObjectQuery.ts
  app/frontend/services/fyApi/models/CelestialObjects.ts
  app/frontend/services/fyApi/models/Hangar.ts
  app/frontend/services/fyApi/models/HangarPublic.ts
  app/frontend/services/fyApi/models/Images.ts
  app/frontend/services/fyApi/models/Manufacturers.ts
  app/frontend/services/fyApi/models/ModelModulePackages.ts
  app/frontend/services/fyApi/models/ModelModules.ts
  app/frontend/services/fyApi/models/Models.ts
  app/frontend/services/fyApi/models/Pagination.ts
  app/frontend/services/fyApi/models/Shops.ts
  app/frontend/services/fyApi/models/Starsystem.ts
  app/frontend/services/fyApi/models/StarsystemMinimal.ts
  app/frontend/services/fyApi/models/Starsystems.ts
  app/frontend/services/fyApi/models/Station.ts
  app/frontend/services/fyApi/models/StationComplete.ts
  app/frontend/services/fyApi/models/StationMinimal.ts
  app/frontend/services/fyApi/models/Stations.ts
  app/frontend/services/fyApi/models/Videos.ts
  app/frontend/services/fyApi/services/CelestialObjectsService.ts
  app/frontend/services/fyApi/services/HangarService.ts
  app/frontend/services/fyApi/services/ImagesService.ts
  app/frontend/services/fyApi/services/ManufacturersService.ts
  app/frontend/services/fyApi/services/ModelsService.ts
  app/frontend/services/fyApi/services/PublicHangarService.ts
  app/frontend/services/fyApi/services/PublicWishlistService.ts
  app/frontend/services/fyApi/services/ShopsService.ts
  app/frontend/services/fyApi/services/StarsystemsService.ts
  app/frontend/services/fyApi/services/StationsService.ts
  app/frontend/services/fyApi/services/VehiclesService.ts
  app/frontend/services/fyApi/services/WishlistService.ts
  swagger/admin/v1/schema.yaml
  swagger/v1/schema.yaml
Due: none

chore: fix specs
  spec/requests/api/v1/models/show_spec.rb
Due: none

chore: update rswag
  Gemfile
Due: bundle

chore: cleanup bundle
  Gemfile
  vendor/cache/diff-lcs-1.4.4.gem
  vendor/cache/factory_bot-6.2.0.gem
  vendor/cache/rspec-core-3.10.1.gem
  vendor/cache/rspec-expectations-3.10.1.gem
  vendor/cache/rspec-mocks-3.10.2.gem
  vendor/cache/rspec-rails-5.0.1.gem
  vendor/cache/rspec-support-3.10.2.gem
Due: bundle

chore: update admin collections
  app/frontend/admin/api/collections/Images.ts
  app/frontend/admin/api/collections/Stations.ts
Due: none

chore: cleanup
  app/frontend/frontend/lib/Store/modules/pagination/index.js
  app/frontend/frontend/lib/Store/modules/pagination/state.js
Due: none

chore: update components
  app/frontend/admin/App.vue
  app/frontend/admin/components/ImageUploader/index.vue
  app/frontend/admin/components/ShopCommodities/FilterForm/index.vue
Due: none

chore: add schema validation
  .github/workflows/api-schema-lint.job.yml
  .github/workflows/main.yml
  app/views/api/v1/model_hardpoint_loadouts/_base.jbuilder
  package.json
  redocly.yaml
  yarn.lock
Due: yarn

chore: fix service
  app/frontend/services/fyApi/services/ModelsService.ts
  config/initializers/content_security_policy.rb
  lib/app_endpoint_resolver.rb
Due: none

chore(docs): update components
  .eslintrc-auto-import.json
  app/frontend/docs/App.vue
  app/frontend/docs/components/core/AppFooter/index.test.ts
  app/frontend/docs/components/core/AppFooter/index.vue
  app/frontend/docs/components/core/AppNavigation.vue
  app/frontend/docs/components/core/AppNavigation/Mobile/index.vue
  app/frontend/docs/components/core/AppNavigation/index.vue
  app/frontend/docs/components/core/AppNavigationItem.vue
  app/frontend/docs/components/core/Btn/Inner/index.vue
  app/frontend/docs/components/core/Btn/index.vue
  app/frontend/docs/components/core/SmallLoader/index.test.ts
  app/frontend/docs/components/core/SmallLoader/index.vue
  app/frontend/docs/pages/Api.vue
  app/frontend/docs/pages/Embed.vue
  app/frontend/docs/stores/app.ts
  app/frontend/docs/stores/nav.ts
  app/frontend/docs/translations/en.ts
  app/frontend/docs/translations/en/index.ts
  app/frontend/docs/translations/en/labels.ts
  app/frontend/docs/translations/en/meta.ts
  app/frontend/docs/translations/en/nav.ts
  app/frontend/entrypoints/docs.ts
  app/frontend/frontend/core/components/CommunityLogo/index.vue
  app/frontend/stylesheets/frontend/partials/app-navigation.scss
  app/views/layouts/_app_intro.html.erb
  app/views/layouts/docs.html.erb
  config/tailwind.config.js
  package.json
  yarn.lock
Due: yarn

chore: refactor global window
  app/frontend/entrypoints/admin.ts
  app/frontend/entrypoints/frontend.ts
  app/frontend/types.d.ts
Due: none

chore(metrics): add weekly activity to rollups
  app/jobs/metrics_job.rb
Due: none

chore: linting
  app/api_components/admin/v1/schemas/celestial_object.rb
  app/api_components/admin/v1/schemas/starsystem.rb
  app/frontend/services/fyAdminApi/models/CelestialObject.ts
  app/frontend/services/fyAdminApi/models/Starsystem.ts
  app/frontend/services/fyAdminApi/models/StarsystemMinimal.ts
  app/frontend/services/fyAdminApi/services/ImagesService.ts
  spec/requests/admin/api/v1/images_spec.rb
  swagger/admin/v1/schema.yaml
Due: none

chore: remove query params transform
  app/controllers/concerns/pagination.rb
  app/helpers/ransack_helper.rb
Due: none

chore: update api client template
  app/frontend/services/request.template.ts
Due: none

chore: fix require path of middleware
  config/application.rb
Due: none

chore: try to solve issue with sassc
  Gemfile
  Gemfile.lock
  config/environments/production.rb
  vendor/cache/escompress-0.3.0.gem
Due: bundle

chore: try to remove sass-rails completly
  Gemfile
  Gemfile.lock
  config/environments/production.rb
  vendor/cache/escompress-0.3.0.gem
  vendor/cache/sass-rails-6.0.0.gem
  vendor/cache/sassc-2.4.0.gem
  vendor/cache/sassc-rails-2.1.2.gem
Due: bundle

chore: add missing dependencies
  app/frontend/services/fyAdminApi/services/ImagesService.ts
  package.json
  yarn.lock
Due: yarn

Revert "chore: try to remove sass-rails completly"
  Gemfile
  Gemfile.lock
  config/environments/production.rb
  vendor/cache/escompress-0.3.0.gem
  vendor/cache/sass-rails-6.0.0.gem
  vendor/cache/sassc-2.4.0.gem
  vendor/cache/sassc-rails-2.1.2.gem
Due: bundle

chore: update gitignore
  .gitignore
Due: none

chore: try to add tailwind deps
  package.json
  yarn.lock
Due: yarn

chore: migrate to standalone tailwind
  Gemfile
  Procfile.dev
  Procfile.docker.dev
  app/assets/builds/.keep
  app/assets/config/manifest.js
  app/assets/stylesheets/application.tailwind.css
  app/views/layouts/docs.html.erb
  config/environments/production.rb
  package.json
  postcss.config.js
  tailwind.config.ts
  yarn.lock
Due: yarn, bundle

Path conditions:
  yarn: any of: .gitlab-ci.yml, package.json, yarn.lock, .npmrc
  bundle: any of: .gitlab-ci.yml, Gemfile, Gemfile.lock, .ruby-version
