Repository fleetyards/fleetyards: changes, and which GitLab CI jobs are due for each by the changed paths.
All: yarn, bundle

.gitlab-ci.yml:

image: fleetyards/base:2.6.6

stages:
  - prep
  - test
  - build
  - e2e
  - deploy

cache: &global_cache
  key: fleetyards-cache
  paths:
    - node_modules/
    - vendor/bundle/
  policy: pull

.ruby_template:
  variables:
    BUNDLE_PATH: vendor/bundle
  before_script:
    - bundle install
    - mkdir -p log

.js_test_template:
  before_script:
    - yarn --frozen-lockfile

.ruby_test_template:
  extends: .ruby_template
  services:
    - postgres:12.2-alpine
  variables:
    RAILS_ENV: test
    POSTGRES_DB: fleetyards_test
    POSTGRES_USER: root
    POSTGRES_PASSWORD: root
    POSTGRES_HOST_AUTH_METHOD: trust
    DATABASE_HOST: postgres
    DATABASE_PORT: 5432
    DATABASE_USER: $POSTGRES_USER
    DATABASE_URL: postgresql://$POSTGRES_USER:$POSTGRES_PASSWORD@$DATABASE_HOST:$DATABASE_PORT/$POSTGRES_DB

.e2e_template:
  extends: .ruby_test_template
  image: fleetyards/ci:2.6.6
  services:
    - redis:latest
    - name: docker.elastic.co/elasticsearch/elasticsearch:7.5.2
      alias: elasticsearch
      command: [ "bin/elasticsearch", "-Ediscovery.type=single-node -Xms512m -Xmx512m -Expack.security.enabled=0 -Ehttp.port=9200 -Ecluster.name=fleetyards-test-cluser" ]
  variables:
    DATABASE_URL: postgresql://root:root@127.0.0.1:5432/fleetyards
    ELASTICSEARCH_URL: http://elasticsearch:9200
    TEST_SEEDS: 1
    RAILS_ENV: ci
    ON_SUBDOMAIN: 1
    RAILS_SERVE_STATIC_FILES: 1
    DISABLE_DATABASE_ENVIRONMENT_CHECK: 1
    CYPRESS_BASE_URL: http://localhost:8270
    CYPRESS_CI: 1
    APP_DIR: .
    PORT: 8270
    transport.host: localhost
    network.host: 127.0.0.1

yarn:
  stage: prep
  cache:
    <<: *global_cache
    paths:
      - node_modules/
    policy: pull-push
  script:
    - yarn --frozen-lockfile
  only:
    changes:
      - .gitlab-ci.yml
      - package.json
      - yarn.lock
      - .npmrc

bundle:
  stage: prep
  cache:
    <<: *global_cache
    paths:
      - vendor/bundle/
    policy: pull-push
  script:
    - bundle install
  only:
    changes:
      - .gitlab-ci.yml
      - Gemfile
      - Gemfile.lock
      - .ruby-version

ruby audit:
  stage: test
  extends: .ruby_template
  script:
    - bundle exec bundle-audit update
    - bundle exec bundle-audit check

yarn audit:
  stage: test
  extends: .js_test_template
  script:
    - yarn audit

rubocop:
  stage: test
  extends: .ruby_template
  script:
    - bundle exec rubocop --format progress

js-lint:
  stage: test
  extends: .js_test_template
  script:
    - yarn run lint:js
    - yarn run lint:vue
    - yarn run lint:style

js tests:
  stage: test
  extends: .js_test_template
  script:
    - yarn run test

ruby tests:
  stage: test
  extends: .ruby_test_template
  script:
    - ./scripts/wait-for-db.sh
    - bundle exec rails db:create db:schema:load
    - bundle exec rails test:coverage

seeds:
  stage: build
  extends: .e2e_template
  script:
    - ./scripts/wait-for-db.sh
    - bundle exec rails db:create db:schema:load
    - bundle exec rails db:seed

assets:
  stage: build
  extends: .ruby_test_template
  script:
    - RAILS_ENV=production bundle exec rails assets:precompile

chore(release): new Version v5.6.0 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore(sc_data): update manufacturer extraction
  app/lib/sc_data/components_loader.rb
Due: none

chore: fix specs
  app/lib/sc_data/components_loader.rb
Due: none

chore: fix sc_data loader
  app/lib/sc_data/components_loader.rb
  app/lib/sc_data/hardpoints_loader.rb
Due: none

chore: remove logging
  app/lib/sc_data/hardpoints_loader.rb
Due: none

chore(release): new Version v5.6.1 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

add(test): test commmit for changelog
  Gemfile
  Gemfile.lock
  lib/tasks/changelog.thor
Due: bundle

chore: add progress indicator to loader
  app/packs/frontend/core/components/HoloViewer/index.vue
  app/packs/frontend/core/components/Loader/index.vue
  app/packs/stylesheets/frontend/partials/loader.scss
  app/packs/translations/en/messages.js
Due: none

chore: update pyro seeds
  db/seeds/images/pyro/Pyro-I.jpeg
  db/seeds/images/pyro/Pyro-II.jpeg
  db/seeds/images/pyro/Pyro-IV.jpeg
  db/seeds/images/pyro/Pyro-iii.jpeg
  db/seeds/images/pyro/Pyro-v.jpeg
Due: none

fix: sort paints, modules and upgrades
  app/controllers/api/v1/models_controller.rb
Due: none

chore: add missing gems
  Gemfile.lock
  vendor/cache/git-1.10.2.gem
  vendor/cache/psych-4.0.3.gem
  vendor/cache/rchardet-1.8.0.gem
  vendor/cache/rdoc-6.4.0.gem
  vendor/cache/stringio-3.0.1.gem
Due: bundle

chore: rubocoptering
  lib/tasks/changelog.thor
Due: none

chore: first try
  Gemfile
  Gemfile.lock
  vendor/cache/actionmailer-7.0.1.gem
  vendor/cache/annotate-3.1.1.gem
  vendor/cache/minitest-rails-6.1.0.gem
  vendor/cache/rails-i18n-6.0.0.gem
  vendor/cache/ransack-2.4.2.gem
  vendor/cache/redis-actionpack-5.3.0.gem
Due: bundle

chore: run bin/rails app:update
  Gemfile
  Gemfile.lock
  config/environments/development.rb
  config/environments/production.rb
  config/environments/test.rb
  config/initializers/filter_parameter_logging.rb
  config/initializers/inflections.rb
  config/initializers/new_framework_defaults_5_1.rb
  config/initializers/new_framework_defaults_5_2.rb
  config/initializers/new_framework_defaults_6_0.rb
  config/initializers/permissions_policy.rb
  db/migrate/20220111142043_add_service_name_to_active_storage_blobs.active_storage.rb
  db/migrate/20220111142044_create_active_storage_variant_records.active_storage.rb
  db/migrate/20220111142045_remove_not_null_on_active_storage_blobs_checksum.active_storage.rb
  package.json
  vendor/assets/bower_components/nprogress/.bower.json
  vendor/assets/bower_components/nprogress/History.md
  vendor/assets/bower_components/nprogress/License.md
  vendor/assets/bower_components/nprogress/Notes.md
  vendor/assets/bower_components/nprogress/Readme.md
  vendor/assets/bower_components/nprogress/bower.json
  vendor/assets/bower_components/nprogress/component.json
  vendor/assets/bower_components/nprogress/index.html
  vendor/assets/bower_components/nprogress/nprogress.css
  vendor/assets/bower_components/nprogress/nprogress.js
  vendor/assets/bower_components/nprogress/support/extras.css
  vendor/assets/bower_components/nprogress/support/style.css
  yarn.lock
Due: yarn, bundle

chore: upgrade attr_encrypted for rails 7
  Gemfile
  Gemfile.lock
  config/application.rb
  config/credentials.yml.enc
  config/credentials/production.yml.enc
  config/credentials/staging.yml.enc
  test/controllers/admin/models_controller_test.rb
  test/controllers/admin/shops_controller_test.rb
  test/models/fleet_test.rb
  test/models/user_test.rb
  test/test_helper.rb
  test/unit/hangar_import_hangar_xplor_test.rb
  test/unit/hangar_import_starship42_test.rb
  test/unit/hangar_importer_test.rb
  test/unit/rsi_models_loader_test.rb
  test/unit/sc_data_loader_test.rb
  vendor/cache/attr_encrypted-3.1.0.gem
  vendor/cache/bourbon-7.0.0.gem
  vendor/cache/redis-rack-2.1.3.gem
  vendor/cache/redis-store-1.9.0.gem
Due: bundle

fix: specs
  app/models/celestial_object.rb
  app/models/hangar_group.rb
  app/models/model.rb
  app/models/shop.rb
  test/controllers/api/v1/celestial_objects_controller_test.rb
  test/controllers/api/v1/fleet_invite_urls_controller_test.rb
  test/controllers/api/v1/fleet_vehicles_controller_test.rb
  test/controllers/api/v1/models_controller_test.rb
  test/controllers/api/v1/shops_controller_test.rb
  test/controllers/api/v1/users_controller_test.rb
Due: none

chore: remove active storage migrations
  db/migrate/20220111142043_add_service_name_to_active_storage_blobs.active_storage.rb
  db/migrate/20220111142044_create_active_storage_variant_records.active_storage.rb
  db/migrate/20220111142045_remove_not_null_on_active_storage_blobs_checksum.active_storage.rb
Due: none

chore: limit available locales
  config/application.rb
Due: none

chore: remove ransack from celestial_objects_controller
  app/controllers/admin/celestial_objects_controller.rb
  app/controllers/api/v1/celestial_objects_controller.rb
  app/controllers/api/v1/shop_commodities_controller.rb
  app/models/celestial_object.rb
  app/models/shop_commodity.rb
  app/packs/frontend/pages/Stations/Starsystem/index.vue
  test/controllers/api/v1/celestial_objects_controller_test.rb
  test/controllers/api/v1/fleet_invite_urls_controller_test.rb
  test/controllers/api/v1/fleet_vehicles_controller_test.rb
  test/controllers/api/v1/models_controller_test.rb
  test/controllers/api/v1/roadmap_controller_test.rb
  test/controllers/api/v1/shop_commodities_controller_test.rb
  test/controllers/api/v1/shops_controller_test.rb
  test/controllers/api/v1/starsystems_controller_test.rb
  test/controllers/api/v1/stations_controller_test.rb
  test/controllers/api/v1/trade_routes_controller_test.rb
  test/controllers/api/v1/users_controller_test.rb
  test/controllers/api/v1/vehicles_controller_test.rb
  test/fixtures/celestial_objects.yml
  test/test_helper.rb
  test/unit/hangar_import_hangar_xplor_test.rb
  test/unit/hangar_import_starship42_test.rb
  test/unit/hangar_importer_test.rb
  test/unit/rsi_models_loader_test.rb
  test/unit/sc_data_loader_test.rb
  test/vcr_cassettes/celestial_objects_index.yml
Due: none

chore: rubocoptering
  app/controllers/api/v1/celestial_objects_controller.rb
  test/controllers/api/v1/celestial_objects_controller_test.rb
Due: none

chore: install cypress on ci
  .github/workflows/main.yml
Due: none

fix: specs
  app/models/station.rb
  public/models.json
  test/controllers/api/v1/celestial_objects_controller_test.rb
  test/controllers/api/v1/fleet_invite_urls_controller_test.rb
  test/controllers/api/v1/fleet_vehicles_controller_test.rb
  test/controllers/api/v1/models_controller_test.rb
  test/controllers/api/v1/roadmap_controller_test.rb
  test/controllers/api/v1/shop_commodities_controller_test.rb
  test/controllers/api/v1/shops_controller_test.rb
  test/controllers/api/v1/starsystems_controller_test.rb
  test/controllers/api/v1/stations_controller_test.rb
  test/controllers/api/v1/trade_routes_controller_test.rb
  test/controllers/api/v1/users_controller_test.rb
  test/controllers/api/v1/vehicles_controller_test.rb
  test/fixtures/roadmap_items.yml
  test/unit/hangar_import_hangar_xplor_test.rb
Due: none

chore: update ci e2e config
  .github/workflows/main.yml
Due: none

chore: remove slim
  Gemfile
  Gemfile.lock
  app/views/admin/current_user/otp.haml
  app/views/layouts/admin/_header.haml
  app/views/layouts/api/_head.haml
  app/views/layouts/api/application.haml
  app/views/layouts/api/application.slim
  vendor/cache/slim-4.1.0.gem
  vendor/cache/slim-rails-3.3.0.gem
Due: bundle

chore: cleanup
  app/assets/stylesheets/admin.scss
  app/assets/stylesheets/application.scss
  app/javascript/admin.js
  app/views/admin/base/_classification_chart_panel.haml
  app/views/admin/base/_classification_chart_panel.slim
  app/views/admin/base/_components_chart_panel.haml
  app/views/admin/base/_components_chart_panel.slim
  app/views/admin/base/_manufacturers_chart_panel.haml
  app/views/admin/base/_manufacturers_chart_panel.slim
  app/views/admin/base/_models_chart_panel.haml
  app/views/admin/base/_models_chart_panel.slim
  app/views/admin/base/_production_status_chart_panel.haml
  app/views/admin/base/_production_status_chart_panel.slim
  app/views/admin/base/_quick_stats.haml
  app/views/admin/base/_size_chart_panel.haml
  app/views/admin/base/_size_chart_panel.slim
  app/views/admin/base/_users_panel.haml
  app/views/admin/base/_users_panel.slim
  app/views/admin/base/index.haml
  app/views/layouts/admin/_header.html.erb
  app/views/layouts/admin/application.html.erb
  config/importmap.rb
  config/initializers/assets.rb
Due: none

chore: update Gemfile.lock
  Gemfile.lock
Due: bundle

chore: update Gemfile
  Gemfile
  Gemfile.lock
  vendor/cache/google-protobuf-3.19.3-x86_64-darwin.gem
  vendor/cache/i18n-1.8.11.gem
  vendor/cache/i18n-1.9.1.gem
Due: bundle

feat(list-view): Add List for Models
  app/packs/frontend/App.vue
  app/packs/frontend/components/Models/AddToHangar/index.vue
  app/packs/frontend/components/Models/Table/index.vue
  app/packs/frontend/components/Vehicles/Table/index.scss
  app/packs/frontend/components/Vehicles/Table/index.vue
  app/packs/frontend/core/components/FilteredTable/index.vue
  app/packs/frontend/lib/Store/modules/fleet/actions.js
  app/packs/frontend/lib/Store/modules/fleet/index.js
  app/packs/frontend/lib/Store/modules/fleet/state.js
  app/packs/frontend/lib/Store/modules/hangar/actions.js
  app/packs/frontend/lib/Store/modules/hangar/index.js
  app/packs/frontend/lib/Store/modules/hangar/state.js
  app/packs/frontend/lib/Store/modules/models/actions.js
  app/packs/frontend/lib/Store/modules/models/index.js
  app/packs/frontend/lib/Store/modules/models/state.js
  app/packs/frontend/lib/Store/plugins.js
  app/packs/frontend/pages/Hangar/index.vue
  app/packs/frontend/pages/Models/index.vue
  app/packs/stylesheets/frontend/base.scss
  app/packs/stylesheets/frontend/partials/app-navigation.scss
  app/packs/stylesheets/frontend/partials/filtered-table.scss
  app/packs/translations/en/actions.js
  app/packs/translations/en/labels.js
Due: none

chore: update credentials
  config/credentials/staging.yml.enc
Due: none

chore: add elasticsearch setup for ruby tests
  .github/workflows/main.yml
Due: none

Update Gemfile.lock
  Gemfile.lock
Due: bundle

chore: update search index tests
  app/models/celestial_object.rb
  app/models/shop_commodity.rb
  test/controllers/api/v1/celestial_objects_controller_test.rb
  test/controllers/api/v1/shop_commodities_controller_test.rb
  test/vcr_cassettes/celestial_objects_index.yml
  test/vcr_cassettes/shop_commodities_index.yml
Due: none
