Repository fleetyards/fleetyards: changes, and which GitLab CI jobs are due for each by the changed paths.
All: yarn, bundle

yarn:
  stage: prep
  cache:
    key: fleetyards-cache
    paths:
    - node_modules/
    policy: pull-push
  script:
  - yarn --frozen-lockfile

bundle:
  stage: prep
  cache:
    key: fleetyards-cache
    paths:
    - vendor/bundle/
    policy: pull-push
  script:
  - bundle install

chore: update scdata loader to fix component mapping
  app/api_components/shared/v1/schemas/component.rb
  app/api_components/shared/v1/schemas/component_quantum_drive.rb
  app/api_components/shared/v1/schemas/component_quantum_drive_jump.rb
  app/frontend/frontend/utils/numbers.ts
  app/frontend/frontend/utils/time.ts
  app/frontend/frontend/utils/travelTimes.ts
  app/frontend/services/fyAdminApi/index.ts
  app/frontend/services/fyAdminApi/models/Component.ts
  app/frontend/services/fyAdminApi/models/ComponentQuantumDrive.ts
  app/frontend/services/fyAdminApi/models/ComponentQuantumDriveJump.ts
  app/frontend/services/fyApi/index.ts
  app/frontend/services/fyApi/models/Component.ts
  app/frontend/services/fyApi/models/ComponentQuantumDrive.ts
  app/frontend/services/fyApi/models/ComponentQuantumDriveJump.ts
  app/lib/sc_data/components_loader.rb
  app/models/component.rb
  app/views/api/v1/components/_base.jbuilder
  app/views/api/v1/components/_quantum_drives.jbuilder
  config/locales/en/activerecord.yml
  swagger/admin/v1/schema.yaml
  swagger/v1/schema.yaml
Due: none

chore: update autoload
  config/application.rb
Due: none

chore: linting
  config/application.rb
  config/initializers/new_framework_defaults_7_1.rb
  lib/middleware/transform_parameters.rb
Due: none

chore: linting
  lib/carrier_wave/validations/active_model.rb
Due: none

chore: linting
  app/controllers/api/v1/hangars_controller.rb
Due: none

chore: linting
  app/jobs/loaders/loaner_job.rb
  app/jobs/loaders/locations_job.rb
  app/jobs/loaders/model_job.rb
  app/jobs/loaders/models_job.rb
  app/jobs/loaders/roadmap_job.rb
  app/jobs/loaders/rsi_news_job.rb
  app/jobs/loaders/sc_data_ships_job.rb
  db/seeds.rb
Due: none

chore: linting
  app/jobs/loaders/paints_import_job.rb
  app/jobs/loaders/youtube_job.rb
  app/models/star_citizen_update.rb
  app/models/youtube_update.rb
Due: none

chore: downgrade ransack again
  Gemfile
  Gemfile.lock
  app/models/vehicle.rb
  vendor/cache/ransack-2.6.0.gem
  vendor/cache/ransack-3.2.1.gem
Due: bundle

chore: update ransack
  Gemfile
  Gemfile.lock
  app/models/celestial_object.rb
  app/models/commodity.rb
  app/models/component.rb
  app/models/equipment.rb
  app/models/fleet_membership.rb
  app/models/image.rb
  app/models/manufacturer.rb
  app/models/model.rb
  app/models/model_paint.rb
  app/models/roadmap_item.rb
  app/models/shop.rb
  app/models/starsystem.rb
  app/models/station.rb
  app/models/trade_route.rb
  app/models/user.rb
  app/models/vehicle.rb
  knapsack_minitest_report.json
  knapsack_rspec_report.json
  vendor/cache/ransack-2.6.0.gem
  vendor/cache/ransack-4.1.1.gem
Due: bundle

chore: assets precompile
  config/environments/production.rb
  config/initializers/assets.rb
Due: none

chore(release): new Version v5.27.24 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: update time.ts
  .eslintrc-auto-import.json
  app/controllers/api/v1/components_controller.rb
  app/frontend/auto-imports.d.ts
  app/frontend/frontend/utils/time.ts
Due: none

chore: update tools nav
  app/frontend/frontend/core/components/AppNavigation/ToolsNav/index.vue
  app/frontend/frontend/core/components/AppNavigation/index.vue
  app/frontend/frontend/pages/Tools/TravelTimes/index.vue
  app/frontend/frontend/pages/Tools/routes.ts
  app/frontend/translations/en/nav.ts
  config/routes/frontend_routes.rb
Due: none

chore: update scdata version
  lib/tasks/scdata.thor
Due: none

chore(celestial-objects): fix ransack integration
  app/models/celestial_object.rb
Due: none

chore(release): new Version v5.27.25 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: fix encryption settings for Rails 7.1
  app/models/hangar_group.rb
  app/models/trade_route.rb
  config/initializers/new_framework_defaults_7_1.rb
Due: none

chore(release): new Version v5.27.26 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: cleanup encryption
  config/credentials.yml.enc
  config/initializers/new_framework_defaults_7_0.rb
  config/initializers/new_framework_defaults_7_1.rb
  db/migrate/20231117162721_reencrypt_devise_two_factor.rb
  db/schema.rb
Due: none

chore(release): new Version v5.27.27 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: ransack updates
  app/models/roadmap_item.rb
  app/models/station.rb
Due: none

chore(release): new Version v5.27.28 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: update e2e action job
  .github/workflows/e2e.job.yml
Due: none

chore: update js action
  .github/workflows/js-setup-action/action.yml
Due: none

fix(images): fallback to direct cdn host
  config/initializers/carrierwave.rb
Due: none

chore: update cdn domain
  config/credentials/production.yml.enc
  config/routes.rb
Due: none

chore(release): new Version v5.27.29 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: update ransack
  app/models/shop.rb
Due: none

chore: add cdn to connect source
  config/initializers/content_security_policy.rb
Due: none

chore(release): new Version v5.27.30 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: linting
  config/initializers/content_security_policy.rb
Due: none

chore: downgrade factory-bot
  Gemfile
  Gemfile.lock
  vendor/cache/factory_bot-6.2.1.gem
  vendor/cache/factory_bot-6.4.0.gem
  vendor/cache/factory_bot_rails-6.2.0.gem
  vendor/cache/factory_bot_rails-6.4.0.gem
Due: bundle

chore(release): new Version v5.27.31 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: try to fix price loader
  app/lib/rsi/models_loader.rb
  app/models/dock.rb
  app/models/shop_commodity.rb
Due: none

chore(release): new Version v5.27.32 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: update models loader
  app/lib/rsi/models_loader.rb
Due: none

chore(release): new Version v5.27.33 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore(release): new Version v5.27.34 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

Path conditions:
  yarn: any of: .gitlab-ci.yml, package.json, yarn.lock, .npmrc
  bundle: any of: .gitlab-ci.yml, Gemfile, Gemfile.lock, .ruby-version
