Repository fleetyards/fleetyards: changes, and which GitLab CI jobs are due for each by the changed paths.
All: yarn, bundle

.gitlab-ci.yml:

image: fleetyards/base:2.6.6

stages:
  - prep
  - test
  - build
  - e2e
  - deploy

cache: &global_cache
  key: fleetyards-cache
  paths:
    - node_modules/
    - vendor/bundle/
  policy: pull

.ruby_template:
  variables:
    BUNDLE_PATH: vendor/bundle
  before_script:
    - bundle install
    - mkdir -p log

.js_test_template:
  before_script:
    - yarn --frozen-lockfile

.ruby_test_template:
  extends: .ruby_template
  services:
    - postgres:12.2-alpine
  variables:
    RAILS_ENV: test
    POSTGRES_DB: fleetyards_test
    POSTGRES_USER: root
    POSTGRES_PASSWORD: root
    POSTGRES_HOST_AUTH_METHOD: trust
    DATABASE_HOST: postgres
    DATABASE_PORT: 5432
    DATABASE_USER: $POSTGRES_USER
    DATABASE_URL: postgresql://$POSTGRES_USER:$POSTGRES_PASSWORD@$DATABASE_HOST:$DATABASE_PORT/$POSTGRES_DB

.e2e_template:
  extends: .ruby_test_template
  image: fleetyards/ci:2.6.6
  services:
    - redis:latest
    - name: docker.elastic.co/elasticsearch/elasticsearch:7.5.2
      alias: elasticsearch
      command: [ "bin/elasticsearch", "-Ediscovery.type=single-node -Xms512m -Xmx512m -Expack.security.enabled=0 -Ehttp.port=9200 -Ecluster.name=fleetyards-test-cluser" ]
  variables:
    DATABASE_URL: postgresql://root:root@127.0.0.1:5432/fleetyards
    ELASTICSEARCH_URL: http://elasticsearch:9200
    TEST_SEEDS: 1
    RAILS_ENV: ci
    ON_SUBDOMAIN: 1
    RAILS_SERVE_STATIC_FILES: 1
    DISABLE_DATABASE_ENVIRONMENT_CHECK: 1
    CYPRESS_BASE_URL: http://localhost:8270
    CYPRESS_CI: 1
    APP_DIR: .
    PORT: 8270
    transport.host: localhost
    network.host: 127.0.0.1

yarn:
  stage: prep
  cache:
    <<: *global_cache
    paths:
      - node_modules/
    policy: pull-push
  script:
    - yarn --frozen-lockfile
  only:
    changes:
      - .gitlab-ci.yml
      - package.json
      - yarn.lock
      - .npmrc

bundle:
  stage: prep
  cache:
    <<: *global_cache
    paths:
      - vendor/bundle/
    policy: pull-push
  script:
    - bundle install
  only:
    changes:
      - .gitlab-ci.yml
      - Gemfile
      - Gemfile.lock
      - .ruby-version

ruby audit:
  stage: test
  extends: .ruby_template
  script:
    - bundle exec bundle-audit update
    - bundle exec bundle-audit check

yarn audit:
  stage: test
  extends: .js_test_template
  script:
    - yarn audit

rubocop:
  stage: test
  extends: .ruby_template
  script:
    - bundle exec rubocop --format progress

js-lint:
  stage: test
  extends: .js_test_template
  script:
    - yarn run lint:js
    - yarn run lint:vue
    - yarn run lint:style

js tests:
  stage: test
  extends: .js_test_template
  script:
    - yarn run test

ruby tests:
  stage: test
  extends: .ruby_test_template
  script:
    - ./scripts/wait-for-db.sh
    - bundle exec rails db:create db:schema:load
    - bundle exec rails test:coverage

seeds:
  stage: build
  extends: .e2e_template
  script:
    - ./scripts/wait-for-db.sh
    - bundle exec rails db:create db:schema:load
    - bundle exec rails db:seed

assets:
  stage: build
  extends: .ruby_test_template
  script:
    - RAILS_ENV=production bundle exec rails assets:precompile

fix: e2e specs
  app/packs/frontend/pages/Roadmap/index.vue
  test/javascript/e2e/specs/Roadmap.spec.js
Due: none

fix: e2e specs
  test/javascript/e2e/specs/Login.spec.js
Due: none

chore: fix e2e specs
  test/javascript/e2e/specs/Ships.spec.js
Due: none

chore: add missing vendor gems
  vendor/cache/google-protobuf-3.19.4-x86_64-darwin.gem
Due: none

chore: downgrade i18n
  Gemfile
  Gemfile.lock
  vendor/cache/i18n-1.8.11.gem
  vendor/cache/i18n-1.9.1.gem
Due: bundle

chore: cleanup gems
  vendor/cache/google-protobuf-3.19.3-x86_64-darwin.gem
Due: none

fix: locale setup
  config/application.rb
Due: none

Update rack_attack.rb
  config/initializers/rack_attack.rb
Due: none

chore: setup postmark
  Gemfile
  Gemfile.lock
  app/lib/email_processor.rb
  config/credentials/staging.yml.enc
  config/environments/development.rb
  config/environments/staging.rb
  config/initializers/griddler.rb
  config/routes/api_routes.rb
  vendor/cache/griddler-1.5.2.gem
  vendor/cache/griddler-postmark-1.0.0.gem
  vendor/cache/json-2.6.1.gem
  vendor/cache/launchy-2.5.0.gem
  vendor/cache/letter_opener-1.7.0.gem
  vendor/cache/postmark-1.22.0.gem
  vendor/cache/postmark-rails-0.22.0.gem
Due: bundle

chore: add inbound email processing
  app/models/message.rb
  config/routes/api_routes.rb
  db/migrate/20220207215559_create_messages.rb
  db/schema.rb
  test/fixtures/messages.yml
  test/models/message_test.rb
Due: none

chore: linting
  Gemfile
  app/models/message.rb
  test/models/message_test.rb
Due: bundle

chore: add postmark setup (#2112)
  Gemfile
  Gemfile.lock
  app/lib/email_processor.rb
  app/models/message.rb
  config/credentials/staging.yml.enc
  config/environments/development.rb
  config/environments/staging.rb
  config/initializers/griddler.rb
  config/initializers/rack_attack.rb
  config/routes/api_routes.rb
  db/migrate/20220207215559_create_messages.rb
  db/schema.rb
  test/fixtures/messages.yml
  test/models/message_test.rb
  vendor/cache/griddler-1.5.2.gem
  vendor/cache/griddler-postmark-1.0.0.gem
  vendor/cache/json-2.6.1.gem
  vendor/cache/launchy-2.5.0.gem
  vendor/cache/letter_opener-1.7.0.gem
  vendor/cache/postmark-1.22.0.gem
  vendor/cache/postmark-rails-0.22.0.gem
Due: bundle

chore: move griddler mount point
  config/routes.rb
Due: none

chore: update griddler-postmark
  Gemfile
  Gemfile.lock
  config/initializers/griddler.rb
  vendor/cache/griddler-postmark-1.0.0.gem
Due: bundle

chore: add basic auth for inbound emails
  app/controllers/inbound_emails_controller.rb
  config/credentials/staging.yml.enc
  config/routes.rb
  config/routes/api_routes.rb
Due: none

chore: linting
  app/controllers/inbound_emails_controller.rb
Due: none

chore: add message attachments
  app/lib/email_processor.rb
  app/models/message.rb
  app/models/message_attachment.rb
  config/initializers/griddler.rb
  db/migrate/20220208121951_add_fields_to_messages.rb
  db/migrate/20220208123524_create_message_attachments.rb
  db/schema.rb
  test/fixtures/files/test.png
  test/fixtures/message_attachments.yml
  test/fixtures/messages.yml
  test/models/message_attachment_test.rb
  test/models/message_test.rb
  test/unit/email_processor_test.rb
Due: none

chore: fix Message from and to serialize
  app/models/message.rb
Due: none

chore: remove graphql-client
  Gemfile
  Gemfile.lock
  vendor/cache/graphql-1.13.8.gem
  vendor/cache/graphql-client-0.17.0.gem
Due: bundle

chore(postmark): update production settings
  app/mailers/model_mailer.rb
  app/mailers/vehicle_mailer.rb
  config/credentials/production.yml.enc
  config/environments/production.rb
  config/environments/staging.rb
Due: none

chore(release): new Version v5.5.0 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: update navigation
  app/packs/stylesheets/frontend/partials/app-navigation.scss
Due: none

chore: try to fix navigation height in ios safari
  app/packs/stylesheets/frontend/partials/app-navigation.scss
Due: none

chore(release): new Version v5.5.1 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: update changelog for 5.5.0 release
  CHANGELOG.md
Due: none

chore: update changelog for 5.5.1 release
  CHANGELOG.md
Due: none

chore(shakapacker): migrate webpacker to shakapacker
  Gemfile
  Gemfile.lock
  Procfile
  app/assets/stylesheets/admin/partials/_tab.scss
  app/assets/stylesheets/admin/partials/selectize-custom.scss
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/email.scss
  app/assets/stylesheets/email/partials/_fonts.scss
  app/packs/admin.ts
  app/packs/embed.js
  app/packs/embed_v2.js
  app/packs/frontend.ts
  app/packs/frontend/api/collections/Shops.ts
  app/packs/frontend/api/collections/Stations.ts
  app/packs/frontend/components/Vehicles/AddonsModal/Packages/index.vue
  app/packs/frontend/components/Vehicles/AddonsModal/index.vue
  app/packs/frontend/core/components/Form/FormTextarea/index.vue
  app/packs/translations/en.js
  app/views/frontend/index.html.erb
  app/views/layouts/application.html.erb
  babel.config.js
  bin/bourbon
  bin/haml
  bin/resque
  bin/resque-web
  bin/webpacker
  bin/webpacker-dev-server
  bin/wti
  bin/yarn
  config/webpack/development.js
  config/webpack/production.js
  config/webpack/test.js
  config/webpack/webpack.config.js
  config/webpacker.yml
  package.json
  vendor/cache/shakapacker-6.1.1.gem
  vendor/cache/webpacker-5.4.3.gem
  yarn.lock
Due: yarn, bundle

chore: add babel bridge for jest
  package.json
  yarn.lock
Due: yarn

chore: fix eslint
  .eslintrc.js
  package.json
Due: yarn

chore: fix process package
  package.json
Due: yarn

chore: update process alias
  config/webpack/webpack.config.js
  package.json
Due: yarn

chore: silence webpack warnings
  package.json
Due: yarn

chore: remove webpack warnings
  package.json
Due: yarn

chore: update package
  .eslintrc.js
  package.json
  yarn.lock
Due: yarn

fix: solve infinite loading issue for some filters
  app/packs/frontend/core/components/Form/FilterGroup/index.vue
Due: none

chore(release): new Version v5.5.2 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

feat(sc_data): update to version 3.16.1-LIVE.7939065
  public/sc_data/.version
  public/sc_data/manufacturers.json
  public/sc_data/v2/items/cnou_hoverquad_cml_flare-raw.json
  public/sc_data/v2/items/cnou_hoverquad_cml_flare.json
  public/sc_data/v2/items/paint_400i_stellafortuna2952_green-raw.json
  public/sc_data/v2/items/paint_400i_stellafortuna2952_green.json
  public/sc_data/v2/items/paint_600i_stellafortuna2952_green-raw.json
  public/sc_data/v2/items/paint_600i_stellafortuna2952_green.json
  public/sc_data/v2/items/paint_constellation_lunarnewyear2952_red-raw.json
  public/sc_data/v2/items/paint_constellation_lunarnewyear2952_red.json
  public/sc_data/v2/items/paint_hoverquad_lovestruck_pink_black-raw.json
  public/sc_data/v2/items/paint_hoverquad_lovestruck_pink_black.json
  public/sc_data/v2/items/paint_nomad_lovestruck_pink_black-raw.json
  public/sc_data/v2/items/paint_nomad_lovestruck_pink_black.json
  public/sc_data/v2/items/paint_sabre_lunarnewyear2952_red-raw.json
  public/sc_data/v2/items/paint_sabre_lunarnewyear2952_red.json
  public/sc_data/v2/items/paint_starfighter_lovestruck_pink_black-raw.json
  public/sc_data/v2/items/paint_starfighter_lovestruck_pink_black.json
  public/sc_data/v2/ships.json
  public/sc_data/v2/ships/aegs_gladius_pir-dump.txt
  public/sc_data/v2/ships/aegs_gladius_pir-parts.json
  public/sc_data/v2/ships/aegs_gladius_pir-ports.json
  public/sc_data/v2/ships/aegs_gladius_pir-raw.json
  public/sc_data/v2/ships/aegs_gladius_pir.json
  public/sc_data/v2/ships/cnou_hoverquad-parts.json
  public/sc_data/v2/ships/cnou_hoverquad-ports.json
  public/sc_data/v2/ships/cnou_hoverquad-raw.json
Due: none
