Repository fleetyards/fleetyards: changes, and which GitLab CI jobs are due for each by the changed paths.
All: yarn, bundle

.gitlab-ci.yml:

image: fleetyards/base:2.6.6

stages:
  - prep
  - test
  - build
  - e2e
  - deploy

cache: &global_cache
  key: fleetyards-cache
  paths:
    - node_modules/
    - vendor/bundle/
  policy: pull

.ruby_template:
  variables:
    BUNDLE_PATH: vendor/bundle
  before_script:
    - bundle install
    - mkdir -p log

.js_test_template:
  before_script:
    - yarn --frozen-lockfile

.ruby_test_template:
  extends: .ruby_template
  services:
    - postgres:12.2-alpine
  variables:
    RAILS_ENV: test
    POSTGRES_DB: fleetyards_test
    POSTGRES_USER: root
    POSTGRES_PASSWORD: root
    POSTGRES_HOST_AUTH_METHOD: trust
    DATABASE_HOST: postgres
    DATABASE_PORT: 5432
    DATABASE_USER: $POSTGRES_USER
    DATABASE_URL: postgresql://$POSTGRES_USER:$POSTGRES_PASSWORD@$DATABASE_HOST:$DATABASE_PORT/$POSTGRES_DB

.e2e_template:
  extends: .ruby_test_template
  image: fleetyards/ci:2.6.6
  services:
    - redis:latest
    - name: docker.elastic.co/elasticsearch/elasticsearch:7.5.2
      alias: elasticsearch
      command: [ "bin/elasticsearch", "-Ediscovery.type=single-node -Xms512m -Xmx512m -Expack.security.enabled=0 -Ehttp.port=9200 -Ecluster.name=fleetyards-test-cluser" ]
  variables:
    DATABASE_URL: postgresql://root:root@127.0.0.1:5432/fleetyards
    ELASTICSEARCH_URL: http://elasticsearch:9200
    TEST_SEEDS: 1
    RAILS_ENV: ci
    ON_SUBDOMAIN: 1
    RAILS_SERVE_STATIC_FILES: 1
    DISABLE_DATABASE_ENVIRONMENT_CHECK: 1
    CYPRESS_BASE_URL: http://localhost:8270
    CYPRESS_CI: 1
    APP_DIR: .
    PORT: 8270
    transport.host: localhost
    network.host: 127.0.0.1

yarn:
  stage: prep
  cache:
    <<: *global_cache
    paths:
      - node_modules/
    policy: pull-push
  script:
    - yarn --frozen-lockfile
  only:
    changes:
      - .gitlab-ci.yml
      - package.json
      - yarn.lock
      - .npmrc

bundle:
  stage: prep
  cache:
    <<: *global_cache
    paths:
      - vendor/bundle/
    policy: pull-push
  script:
    - bundle install
  only:
    changes:
      - .gitlab-ci.yml
      - Gemfile
      - Gemfile.lock
      - .ruby-version

ruby audit:
  stage: test
  extends: .ruby_template
  script:
    - bundle exec bundle-audit update
    - bundle exec bundle-audit check

yarn audit:
  stage: test
  extends: .js_test_template
  script:
    - yarn audit

rubocop:
  stage: test
  extends: .ruby_template
  script:
    - bundle exec rubocop --format progress

js-lint:
  stage: test
  extends: .js_test_template
  script:
    - yarn run lint:js
    - yarn run lint:vue
    - yarn run lint:style

js tests:
  stage: test
  extends: .js_test_template
  script:
    - yarn run test

ruby tests:
  stage: test
  extends: .ruby_test_template
  script:
    - ./scripts/wait-for-db.sh
    - bundle exec rails db:create db:schema:load
    - bundle exec rails test:coverage

seeds:
  stage: build
  extends: .e2e_template
  script:
    - ./scripts/wait-for-db.sh
    - bundle exec rails db:create db:schema:load
    - bundle exec rails db:seed

assets:
  stage: build
  extends: .ruby_test_template
  script:
    - RAILS_ENV=production bundle exec rails assets:precompile

chore(release): new Version v3.79.6 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: refactor color select for groups
  app/javascript/frontend/partials/Vehicles/GroupModal/index.vue
  package.json
  yarn.lock
Due: yarn

fix: fleetchart screenshot
  app/controllers/api/v1/roadmap_controller.rb
  app/javascript/frontend/components/DownloadScreenshotBtn/index.vue
  app/javascript/frontend/routes.js
  app/javascript/stylesheets/partials/fleetchart.scss
  package.json
  stylelint.config.js
  yarn.lock
Due: yarn

chore: update stylelint
  package.json
  stylelint.config.js
  yarn.lock
Due: yarn

chore: cleanup admin backgrounds
  app/assets/images/bg-1.jpg
  app/assets/images/bg-2.jpg
  app/assets/images/bg-3.jpg
  app/assets/images/bg-4.jpg
  app/assets/images/bg-6.jpg
  app/assets/images/bg-6.webp
  app/assets/stylesheets/application.scss
  app/helpers/application_helper.rb
  app/views/layouts/admin/application.haml
Due: none

chore: update sprockets
  Gemfile.lock
  vendor/cache/sprockets-4.0.1.gem
  vendor/cache/sprockets-4.0.2.gem
Due: bundle

chore(release): new Version v3.79.7 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: add missing background-images
  app/assets/images/bg-6.jpg
  app/assets/images/bg-6.webp
Due: none

fix: form input type check
  app/javascript/frontend/components/Form/FormInput/index.vue
Due: none

chore: decentralize bootstrap
  .eslintrc.js
  app/javascript/embed/partials/Models/Panel/index.vue
  app/javascript/frontend/components/Form/FilterGroup/index.vue
  app/javascript/frontend/components/Models/Panel/index.vue
  app/javascript/frontend/lib/Bootstrap/index.js
  app/javascript/frontend/pages/Roadmap/Ships/index.vue
  app/javascript/frontend/pages/Roadmap/index.vue
  app/javascript/frontend/partials/Compare/Models/Base/index.vue
  app/javascript/frontend/partials/Compare/Models/Categories/index.vue
  app/javascript/frontend/partials/Compare/Models/Crew/index.vue
  app/javascript/frontend/partials/Compare/Models/Legend/index.vue
  app/javascript/frontend/partials/Compare/Models/Speed/index.vue
  app/javascript/frontend/partials/Navigation/NavItem/index.vue
  app/javascript/frontend/partials/Roadmap/RoadmapItem/index.vue
  app/javascript/packs/admin.js
  app/javascript/packs/embed.js
  app/javascript/packs/embed_v2.js
  app/javascript/packs/frontend.js
Due: none

chore: cleanup app.vue
  @types/collections.d.ts
  app/javascript/frontend/App.vue
  app/javascript/frontend/collections/HangarItems.ts
  app/javascript/frontend/collections/Session.ts
  app/javascript/frontend/collections/User.ts
  app/javascript/frontend/collections/Version.ts
  app/javascript/frontend/lib/ApiClient/index.js
  app/javascript/frontend/lib/Helpers/index.js
  app/javascript/frontend/mixins/CheckVersion/index.js
  app/javascript/frontend/mixins/CurrentUser/index.js
  app/javascript/frontend/mixins/HangarItems/index.ts
  app/javascript/frontend/mixins/RenewSession/index.js
  app/javascript/frontend/models/Session.d.ts
  app/javascript/frontend/models/User.d.ts
  app/javascript/frontend/pages/Fleets/Show/index.vue
  app/javascript/frontend/pages/Hangar/Import/index.vue
  app/javascript/frontend/pages/Hangar/index.vue
  app/javascript/frontend/pages/Models/Show/index.vue
  app/javascript/frontend/partials/Models/Hardpoints/Category/index.vue
  app/javascript/frontend/partials/Stations/Docks/Item/index.vue
  app/javascript/frontend/partials/Stations/Docks/index.vue
  app/javascript/frontend/partials/Stations/Habitations/index.vue
  app/javascript/packs/frontend.js
Due: none

chore: refactor fleetcharts WIP
  app/javascript/frontend/collections/Base.ts
  app/javascript/frontend/collections/HangarGroups.ts
  app/javascript/frontend/collections/HangarStats.ts
  app/javascript/frontend/collections/Models.ts
  app/javascript/frontend/collections/ModelsFleetchart.ts
  app/javascript/frontend/collections/Vehicles.ts
  app/javascript/frontend/collections/VehiclesFleetchart.ts
  app/javascript/frontend/components/DownloadScreenshotBtn/index.vue
  app/javascript/frontend/components/FilteredCollectionList/index.vue
  app/javascript/frontend/components/Paginator/index.vue
  app/javascript/frontend/models/HangarGroup.d.ts
  app/javascript/frontend/models/HangarStats.d.ts
  app/javascript/frontend/models/Manufacturer.d.ts
  app/javascript/frontend/models/Model.d.ts
  app/javascript/frontend/models/ModelPaint.d.ts
  app/javascript/frontend/models/Vehicle.d.ts
  app/javascript/frontend/models/Version.d.ts
  app/javascript/frontend/pages/Hangar/Fleetchart/index.vue
  app/javascript/frontend/pages/Hangar/index.vue
  app/javascript/frontend/pages/Models/Fleetchart/index.vue
  app/javascript/frontend/pages/Models/Show/index.vue
  app/javascript/frontend/pages/Models/index.vue
  app/javascript/frontend/partials/Fleetchart/List/ContextMenu/index.vue
  app/javascript/frontend/partials/Fleetchart/List/index.vue
  app/javascript/frontend/partials/Navigation/RoadmapNav/index.vue
  app/javascript/frontend/partials/Navigation/ShipsNav/index.vue
  app/javascript/frontend/partials/Navigation/index.vue
  app/javascript/frontend/partials/Vehicles/Modal/index.vue
  app/javascript/frontend/routes.js
  app/javascript/stylesheets/partials.scss
  app/javascript/stylesheets/partials/breadcrumbs.scss
  app/javascript/stylesheets/partials/hangar.scss
  app/javascript/stylesheets/partials/typography.scss
  app/javascript/translations/en/actions.js
  app/javascript/translations/en/headlines.js
  app/javascript/translations/en/labels.js
  app/javascript/translations/en/nav.js
  app/javascript/translations/en/placeholders.js
  app/javascript/translations/en/title.js
Due: none

chore: add tslint
  package.json
  tslint.json
  yarn.lock
Due: yarn

chore: cleanup store
  app/javascript/frontend/components/FilteredCollectionList/index.vue
  app/javascript/frontend/lib/Store/modules/search/index.js
  app/javascript/frontend/lib/Store/plugins.js
  app/javascript/frontend/pages/Hangar/Fleetchart/index.vue
  app/javascript/frontend/pages/Hangar/index.vue
  config/secrets.yml
Due: none

chore: move additional api calls into collections
  app/javascript/frontend/collections/Vehicles.ts
  app/javascript/frontend/partials/Vehicles/Modal/index.vue
  app/javascript/frontend/partials/Vehicles/NewVehiclesModal/index.vue
Due: none

fix: compare breadcrumbs
  app/javascript/frontend/pages/Models/Compare/index.vue
Due: none

chore: refactor noty usage
  app/javascript/admin/components/ImageUploader/index.vue
  app/javascript/frontend/collections/Vehicles.ts
  app/javascript/frontend/components/Gallery/index.vue
  app/javascript/frontend/components/HangarImportBtn/index.vue
  app/javascript/frontend/lib/Noty/index.js
  app/javascript/frontend/pages/ChangePassword/index.vue
  app/javascript/frontend/pages/Confirm/index.vue
  app/javascript/frontend/pages/Fleets/Add/index.vue
  app/javascript/frontend/pages/Fleets/Invites/index.vue
  app/javascript/frontend/pages/Fleets/Members/index.vue
  app/javascript/frontend/pages/Fleets/Settings/Fleet/index.vue
  app/javascript/frontend/pages/Fleets/Settings/Membership/index.vue
  app/javascript/frontend/pages/Fleets/Settings/index.vue
  app/javascript/frontend/pages/Hangar/Import/index.vue
  app/javascript/frontend/pages/Hangar/index.vue
  app/javascript/frontend/pages/Login/index.vue
  app/javascript/frontend/pages/Models/Show/Videos/index.vue
  app/javascript/frontend/pages/RequestPassword/index.vue
  app/javascript/frontend/pages/Settings/Account/index.vue
  app/javascript/frontend/pages/Settings/ChangePassword/index.vue
  app/javascript/frontend/pages/Settings/Hangar/index.vue
  app/javascript/frontend/pages/Settings/Profile/index.vue
  app/javascript/frontend/pages/Signup/index.vue
  app/javascript/frontend/partials/Models/AddToHangar/index.vue
  app/javascript/frontend/partials/Vehicles/GroupLabels/index.vue
  app/javascript/frontend/partials/Vehicles/GroupModal/index.vue
  app/javascript/frontend/partials/Vehicles/Modal/index.vue
  app/javascript/packs/admin.js
  app/javascript/packs/embed.js
  app/javascript/packs/embed_v2.js
  app/javascript/packs/frontend.js
  app/javascript/translations/en/messages.js
Due: none

chore: move destroy all to vehicles collection
  app/javascript/frontend/collections/Vehicles.ts
  app/javascript/frontend/pages/Hangar/index.vue
Due: none

chore: refactor public hangar
  app/controllers/frontend/hangar_controller.rb
  app/javascript/embed/partials/Models/Panel/index.scss
  app/javascript/embed/partials/Models/Panel/index.vue
  app/javascript/frontend/App.vue
  app/javascript/frontend/collections/PublicHangarStats.ts
  app/javascript/frontend/collections/PublicUser.ts
  app/javascript/frontend/collections/PublicVehicles.ts
  app/javascript/frontend/collections/PublicVehiclesFleetchart.ts
  app/javascript/frontend/models/HangarStats.d.ts
  app/javascript/frontend/models/PublicHangarStats.d.ts
  app/javascript/frontend/pages/Hangar/Public/index.scss
  app/javascript/frontend/pages/Hangar/PublicFleetchart/index.vue
  app/javascript/frontend/routes.js
  app/javascript/stylesheets/partials/background.scss
  app/javascript/stylesheets/partials/hangar.scss
  config/routes/frontend_routes.rb
Due: none

chore: linting
  app/javascript/frontend/pages/Stations/Shop/index.vue
Due: none

fix: e2e specs
  app/javascript/frontend/partials/Navigation/ShipsNav/index.vue
  test/javascript/e2e/specs/Hangar.spec.js
  test/javascript/e2e/specs/Ships.spec.js
Due: none

fix: e2e tests
  app/javascript/frontend/components/Models/Panel/index.vue
  app/javascript/frontend/pages/Hangar/index.vue
  app/javascript/frontend/partials/Fleetchart/List/Item/index.vue
  app/javascript/frontend/partials/Fleetchart/List/index.vue
  app/javascript/frontend/partials/Models/AddToHangar/index.vue
  cypress.json
  test/javascript/e2e/specs/Hangar.spec.js
  test/javascript/e2e/support/commands.js
Due: none

fix: specs
  jest.config.js
  package.json
  yarn.lock
Due: yarn

chore: override splitchunks config
  config/webpack/environment.js
Due: none

chore: tryout different splitchunks settings
  config/webpack/environment.js
Due: none

chore: tweak webpack config
  config/webpack/environment.js
Due: none

chore: splitchunks
  config/webpack/environment.js
Due: none

chore: use vue-cli splitchunks settings
  config/webpack/environment.js
Due: none

chore: remove unneeded mixin
  app/javascript/frontend/components/Chart/index.vue
  app/javascript/frontend/mixins/HighchartSetup/index.js
Due: none

chore: update splitchunks
  config/webpack/environment.js
Due: none

chore: transform home and images to ts collections
  @types/collections.d.ts
  app/javascript/frontend/collections/Images.ts
  app/javascript/frontend/models/Image.d.ts
  app/javascript/frontend/models/Model.d.ts
  app/javascript/frontend/models/Vehicle.d.ts
  app/javascript/frontend/pages/Home/index.vue
  app/javascript/frontend/pages/Images/index.vue
  app/javascript/frontend/partials/Roadmap/RoadmapItem/index.vue
  app/javascript/translations/en/labels.js
  config/locales/en/activerecord.yml
  db/seeds/01_stanton/01_crusader/05_cru_l1.rb
  db/seeds/01_stanton/01_crusader/08_cru_l4.rb
  db/seeds/01_stanton/01_crusader/08_cru_l5.rb
  db/seeds/01_stanton/02_hurston/07_hur_l1.rb
  db/seeds/01_stanton/02_hurston/08_hur_l2.rb
  db/seeds/01_stanton/02_hurston/09_hur_l3.rb
  db/seeds/01_stanton/02_hurston/10_hur_l4.rb
  db/seeds/01_stanton/02_hurston/11_hur_l5.rb
  db/seeds/01_stanton/03_arccorp/04_arc_l1.rb
  db/seeds/01_stanton/04_microtech/05_mic_l1.rb
Due: none

chore: update webpack config
  config/webpack/production.js
Due: none

Update config.yml
  .circleci/config.yml
Due: none

Update package.json
  package.json
Due: yarn

fix: e2e specs
  test/javascript/e2e/specs/Ships.spec.js
Due: none
