Repository fleetyards/fleetyards: changes, and which GitLab CI jobs are due for each by the changed paths.
All: yarn, bundle

yarn:
  stage: prep
  cache:
    key: fleetyards-cache
    paths:
    - node_modules/
    policy: pull-push
  script:
  - yarn --frozen-lockfile

bundle:
  stage: prep
  cache:
    key: fleetyards-cache
    paths:
    - vendor/bundle/
    policy: pull-push
  script:
  - bundle install

chore: cleanup vuex store
  app/javascript/frontend/lib/Sentry/index.js
  app/javascript/frontend/lib/Store/modules/compare/actions.js
  app/javascript/frontend/lib/Store/modules/compare/index.js
  app/javascript/frontend/lib/Store/modules/compare/state.js
  app/javascript/frontend/lib/Store/modules/index.js
  app/javascript/frontend/lib/Store/modules/sentry/actions.js
  app/javascript/frontend/lib/Store/modules/sentry/index.js
  app/javascript/frontend/lib/Store/modules/sentry/state.js
  app/javascript/frontend/lib/Store/plugins.js
  config/secrets.yml
Due: none

chore(release): new Version v3.76.2 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix: trade routes filter reset
  app/javascript/frontend/lib/Store/plugins.js
  app/javascript/frontend/pages/TradeRoutes/index.vue
  config/secrets.yml
Due: none

chore: refactor saved filters
  app/javascript/frontend/components/FilteredList/index.vue
  app/javascript/frontend/components/Form/FilterGroup/index.vue
  app/javascript/frontend/lib/Helpers/index.js
  app/javascript/frontend/mixins/Filters/index.js
  app/javascript/frontend/pages/Hangar/Import/index.vue
  app/javascript/frontend/pages/Models/Compare/index.vue
  app/javascript/frontend/pages/Models/index.vue
  app/javascript/frontend/pages/Roadmap/Changes/index.vue
  app/javascript/frontend/pages/Roadmap/Ships/index.vue
  app/javascript/frontend/pages/Roadmap/index.vue
  app/javascript/frontend/pages/Stations/Shop/index.vue
  app/javascript/frontend/partials/Fleets/FilterForm/index.vue
  app/javascript/frontend/partials/Fleets/MembersFilterForm/index.vue
  app/javascript/frontend/partials/Models/ClassLabels/index.vue
  app/javascript/frontend/partials/Models/FilterForm/index.vue
  app/javascript/frontend/partials/Navigation/QuickSearch/index.vue
  app/javascript/frontend/partials/Navigation/index.vue
  app/javascript/frontend/partials/Shops/FilterForm/index.vue
  app/javascript/frontend/partials/Shops/ShopItemFilterForm/index.vue
  app/javascript/frontend/partials/Stations/FilterForm/index.vue
  app/javascript/frontend/partials/TradeRoutes/FilterForm/index.vue
  app/javascript/frontend/partials/TradeRoutes/QuickFilter/index.vue
  app/javascript/frontend/partials/Vehicles/FilterForm/index.vue
  app/javascript/frontend/partials/Vehicles/GroupLabels/index.vue
  app/javascript/stylesheets/partials/filtered-list.scss
Due: none

chore(release): new Version v3.76.3 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix: disable saved filter navigation and harden webp check
  app/javascript/frontend/App.vue
  app/javascript/frontend/components/FilteredList/index.vue
  app/javascript/frontend/partials/Navigation/index.vue
  app/javascript/stylesheets/partials/filtered-list.scss
Due: none

fix: news worker
  lib/rsi/news_loader.rb
Due: none

chore(release): new Version v3.76.4 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix: hangar settings validation and add more guards
  app/javascript/frontend/lib/Noty/index.js
  app/javascript/frontend/mixins/Fleets/index.js
  app/javascript/frontend/pages/Settings/Hangar/index.vue
  app/javascript/frontend/pages/Settings/Profile/index.vue
Due: none

fix: send devise mails async
  Gemfile
  Gemfile.lock
  app/models/user.rb
  config/environments/production.rb
  vendor/cache/devise-async-1.0.0.gem
Due: bundle

fix: mailer queue
  config/environments/production.rb
Due: none

fix: rubocoptering
  app/javascript/frontend/pages/Settings/Profile/index.vue
  config/environments/production.rb
Due: none

fix: filters
  app/javascript/frontend/components/FilteredList/index.vue
  app/javascript/frontend/components/Form/FilterGroup/index.vue
  app/javascript/frontend/lib/Helpers/index.js
  app/javascript/frontend/mixins/Filters/index.js
  app/javascript/frontend/pages/Fleets/Settings/Fleet/index.vue
  app/javascript/frontend/pages/Hangar/Import/index.vue
  app/javascript/frontend/pages/Models/Compare/index.vue
  app/javascript/frontend/pages/Models/index.vue
  app/javascript/frontend/pages/Roadmap/Changes/index.vue
  app/javascript/frontend/pages/Roadmap/index.vue
  app/javascript/frontend/pages/Stations/Shop/index.vue
  app/javascript/frontend/partials/Models/ClassLabels/index.vue
  app/javascript/frontend/partials/Navigation/QuickSearch/index.vue
  app/javascript/frontend/partials/Navigation/index.vue
  app/javascript/frontend/partials/TradeRoutes/FilterForm/index.vue
  app/javascript/frontend/partials/TradeRoutes/QuickFilter/index.vue
  app/javascript/frontend/partials/Vehicles/GroupLabels/index.vue
Due: none

chore(release): new Version v3.76.5 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: update youtube worker
  config/schedule.yml
Due: none

fix: keep more releases to prevent missing assets
  config/deploy.rb
Due: none

chore(release): new Version v3.76.6 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix: starship42 links for paints
  app/javascript/frontend/components/Starship42Btn/index.vue
  app/javascript/frontend/models/Model.ts
  app/javascript/frontend/models/ModelPaint.ts
  app/javascript/frontend/pages/Fleets/Show/index.vue
  app/javascript/frontend/pages/Hangar/Public/index.vue
  app/javascript/frontend/pages/Hangar/index.vue
  app/views/api/v1/model_paints/_base.jbuilder
Due: none

fix: public hangar
  app/javascript/frontend/pages/Hangar/Public/index.vue
Due: none

chore(release): new Version v3.76.7 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix: export should concider applied filters
  app/javascript/frontend/lib/ApiClient/index.js
  app/javascript/frontend/pages/Hangar/index.vue
Due: none

chore(release): new Version v3.76.8 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: refactor main action on hangar into global action
  .eslintrc.js
  app/javascript/frontend/App.vue
  app/javascript/frontend/components/Modal/index.vue
  app/javascript/frontend/components/PrimaryAction/index.vue
  app/javascript/frontend/pages/Hangar/index.vue
  app/javascript/frontend/partials/BackToTop/index.vue
  app/javascript/frontend/routes.js
  app/javascript/stylesheets/partials.scss
  app/javascript/stylesheets/partials/primary-action.scss
Due: none

chore: refactor main action on hangar into global action
  app/javascript/frontend/components/Modal/index.vue
  app/javascript/frontend/partials/PrivacySettings/index.vue
Due: none

chore(release): new Version v3.76.9 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: remove back to top
  app/javascript/frontend/App.vue
  app/javascript/frontend/partials/BackToTop/index.vue
  app/javascript/stylesheets/partials/back-to-top.scss
Due: none

fix: partials.scss
  app/javascript/stylesheets/partials.scss
Due: none

chore(release): new Version v3.76.10 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix: rubocoptering
  .rubocop.yml
  config/initializers/rack_attack.rb
Due: none

fix: puma upgrade
  vendor/cache/puma-4.3.3.gem
  vendor/cache/puma-4.3.5.gem
Due: none

chore: update deps including webpacker
  Gemfile
  Gemfile.lock
  babel.config.js
  config/webpack/environment.js
  config/webpack/loaders/typescript.js
  package.json
  tsconfig.json
  yarn.lock
Due: yarn, bundle

fix: modal
  app/javascript/frontend/components/Modal/index.vue
Due: none

chore: update deps including webpacker (#1214)
  Gemfile
  Gemfile.lock
  app/javascript/frontend/components/Modal/index.vue
  babel.config.js
  config/webpack/environment.js
  config/webpack/loaders/typescript.js
  package.json
  tsconfig.json
  yarn.lock
Due: yarn, bundle

feat(fleets): give members more control over what ships to add to a fleet
  app/controllers/api/v1/fleet_memberships_controller.rb
  app/controllers/api/v1/fleets_controller.rb
  app/javascript/frontend/components/Models/Panel/index.vue
  app/javascript/frontend/pages/Fleets/Settings/Membership/index.vue
  app/javascript/frontend/pages/Hangar/index.vue
  app/javascript/frontend/partials/Vehicles/GroupLabels/index.vue
  app/javascript/frontend/partials/Vehicles/Modal/index.vue
  app/javascript/stylesheets/partials/buttons.scss
  app/javascript/stylesheets/partials/form-filtergroup.scss
  app/javascript/translations/en/labels.js
  app/models/fleet.rb
  app/models/fleet_membership.rb
  app/views/api/v1/fleet_memberships/_base.jbuilder
  app/views/api/v1/users/_fleet.jbuilder
  db/migrate/20200525193129_add_fields_to_fleet_memberships.rb
  db/migrate/20200525193653_prefill_fleet_membership_fields.rb
  db/schema.rb
  lib/rsi/loaner_loader.rb
Due: none

fix: fleet membership enum
  app/models/fleet_membership.rb
Due: none

chore(release): new Version v3.77.0 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix: initialize users array for embed
  app/javascript/embed/FleetyardsView.vue
Due: none

chore(release): new Version v3.77.1 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: use cacheable get for embed
  app/javascript/embed/FleetyardsView.vue
  config/routes/api_v1_routes.rb
Due: none

Path conditions:
  yarn: any of: .gitlab-ci.yml, package.json, yarn.lock, .npmrc
  bundle: any of: .gitlab-ci.yml, Gemfile, Gemfile.lock, .ruby-version
