Repository fleetyards/fleetyards: changes, and which GitLab CI jobs are due for each by the changed paths.
All: yarn, bundle

.gitlab-ci.yml:

image: fleetyards/base:2.7.1

stages:
  - prep
  - test
  - build
  - e2e
  - deploy

cache: &global_cache
  key: fleetyards-cache
  paths:
    - node_modules/
    - vendor/bundle/
  policy: pull

.ruby_template:
  variables:
    BUNDLE_PATH: vendor/bundle
  before_script:
    - bundle install
    - mkdir -p log

.js_test_template:
  before_script:
    - yarn --frozen-lockfile

.ruby_test_template:
  extends: .ruby_template
  services:
    - postgres:12.2-alpine
  variables:
    RAILS_ENV: test
    POSTGRES_DB: fleetyards_test
    POSTGRES_USER: root
    POSTGRES_PASSWORD: root
    POSTGRES_HOST_AUTH_METHOD: trust
    DATABASE_HOST: postgres
    DATABASE_PORT: 5432
    DATABASE_USER: $POSTGRES_USER
    DATABASE_URL: postgresql://$POSTGRES_USER:$POSTGRES_PASSWORD@$DATABASE_HOST:$DATABASE_PORT/$POSTGRES_DB

.e2e_template:
  extends: .ruby_test_template
  image: fleetyards/ci:2.6.6
  services:
    - redis:latest
    - name: docker.elastic.co/elasticsearch/elasticsearch:7.5.2
      alias: elasticsearch
      command: ["bin/elasticsearch", "-Ediscovery.type=single-node", "-Expack.security.enabled=0", "-Ehttp.port=9200", "-Ecluster.name=fleetyards-test-cluser"]
  variables:
    DATABASE_URL: postgresql://root:root@127.0.0.1:5432/fleetyards
    ELASTICSEARCH_URL: http://elasticsearch:9200
    TEST_SEEDS: 1
    RAILS_ENV: ci
    ON_SUBDOMAIN: false
    RAILS_SERVE_STATIC_FILES: 1
    DISABLE_DATABASE_ENVIRONMENT_CHECK: 1
    CYPRESS_BASE_URL: http://localhost:8270
    APP_DIR: .
    PORT: 8270
    # transport.host: localhost
    # network.host: 127.0.0.1

yarn:
  stage: prep
  cache:
    <<: *global_cache
    paths:
      - node_modules/
    policy: pull-push
  script:
    - yarn --frozen-lockfile
  only:
    changes:
      - .gitlab-ci.yml
      - package.json
      - yarn.lock
      - .npmrc

bundle:
  stage: prep
  cache:
    <<: *global_cache
    paths:
      - vendor/bundle/
    policy: pull-push
  script:
    - bundle install
  only:
    changes:
      - .gitlab-ci.yml
      - Gemfile
      - Gemfile.lock
      - .ruby-version

ruby audit:
  stage: test
  extends: .ruby_template
  script:
    - bundle exec bundle-audit update
    - bundle exec bundle-audit check

yarn audit:
  stage: test
  extends: .js_test_template
  script:
    - yarn audit

rubocop:
  stage: test
  extends: .ruby_template
  script:
    - bundle exec rubocop --format progress

js-lint:
  stage: test
  extends: .js_test_template
  script:
    - yarn run lint:js
    - yarn run lint:vue
    - yarn run lint:style

js tests:
  stage: test
  extends: .js_test_template
  script:
    - yarn run test

ruby tests:
  stage: test
  extends: .ruby_test_template
  script:
    - ./scripts/wait-for-db.sh
    - bundle exec rails db:create db:schema:load
    - bundle exec rails test:coverage

seeds:
  stage: build
  extends: .e2e_template
  script:
    - ./scripts/wait-for-db.sh
    - bundle exec rails db:create db:schema:load
    - bundle exec rails db:seed

assets:
  stage: build
  extends: .ruby_test_template
  script:
    - RAILS_ENV=production bundle exec rails assets:precompile

update gemset
  gemset.nix
Due: none

fix(2FA): update user on enable 2FA page.
  app/frontend/frontend/pages/Settings/Security/TwoFactorEnable/index.vue
Due: none

chore(sidekiq): remove sidekiq-unique-jobs
  Gemfile
  Gemfile.lock
  app/jobs/updater/fleet_membership_vehicles_update_job.rb
  config/routes.rb
  vendor/cache/brpoplpush-redis_script-0.1.3.gem
  vendor/cache/redis-client-0.11.2.gem
  vendor/cache/redis-client-0.12.1.gem
  vendor/cache/sidekiq-unique-jobs-7.1.29.gem
Due: bundle

fix(fleet): run update fleet_vehicle callbacks after commit
  app/models/fleet_membership.rb
  app/models/task_force.rb
Due: none

chore(deps): update rubocop-minitest, i18n and shoulda-matchers
  Gemfile
  Gemfile.lock
  vendor/cache/i18n-1.11.0.gem
  vendor/cache/i18n-1.12.0.gem
  vendor/cache/rubocop-minitest-0.11.1.gem
  vendor/cache/rubocop-minitest-0.26.1.gem
Due: bundle

chore: rubocoptering
  .rubocop.yml
  test/controllers/api/v1/fleet_invite_urls_controller_test.rb
  test/controllers/api/v1/fleet_vehicles_controller_test.rb
  test/controllers/api/v1/models_controller_test.rb
  test/controllers/api/v1/users_controller_test.rb
  test/controllers/api/v1/vehicles_controller_test.rb
Due: none

chore(deps): update sidekiq to latest version
  Gemfile
  Gemfile.lock
  vendor/cache/sidekiq-7.0.2.gem
  vendor/cache/sidekiq-7.0.3.gem
Due: bundle

chore(deps): update rubocop-minitest, i18n and shoulda-matchers (#2524)
  .rubocop.yml
  Gemfile
  Gemfile.lock
  test/controllers/api/v1/fleet_invite_urls_controller_test.rb
  test/controllers/api/v1/fleet_vehicles_controller_test.rb
  test/controllers/api/v1/models_controller_test.rb
  test/controllers/api/v1/users_controller_test.rb
  test/controllers/api/v1/vehicles_controller_test.rb
  vendor/cache/i18n-1.11.0.gem
  vendor/cache/i18n-1.12.0.gem
  vendor/cache/rubocop-minitest-0.11.1.gem
  vendor/cache/rubocop-minitest-0.26.1.gem
  vendor/cache/sidekiq-7.0.2.gem
  vendor/cache/sidekiq-7.0.3.gem
Due: bundle

chore(devenv): update gemset.nix
  gemset.nix
Due: none

chore(deps): remove linux binary for google protobuf
  Gemfile.lock
Due: bundle

add libyaml to psych
  flake.nix
Due: none

commit hock: ignore gemset
  flake.lock
  flake.nix
Due: none

disable nix ci on macos, as V8 is broken
  .github/workflows/nix.yml
Due: none

chore: update vendor cache
  Gemfile.lock
  vendor/cache/google-protobuf-3.21.12-x86_64-darwin.gem
  vendor/cache/google-protobuf-3.21.12-x86_64-linux.gem
  vendor/cache/nokogiri-1.14.0-x86_64-linux.gem
Due: bundle

chore(ci): update workflow triggers
  .github/workflows/main.yml
  .github/workflows/release.yml
Due: none

chore(ci): update workflow triggers (#2527)
  .github/workflows/main.yml
  .github/workflows/release.yml
Due: none

chore: linting
  config/environments/devenv.rb
Due: none

chore: add master.key for development secrets
  config/master.key
Due: none

Devenv (#2512)
  .envrc
  .github/workflows/main.yml
  .github/workflows/nix.yml
  .github/workflows/release.yml
  .gitignore
  config/environments/devenv.rb
  default.nix
  flake.lock
  flake.nix
  gemset.nix
  scripts/update.sh
  vite.config.ts
Due: none

chore(release): new Version v5.14.1 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore: revert quotes in github workflows
  .github/workflows/main.yml
  .github/workflows/release.yml
Due: none

chore: update main workflow triggers
  .github/workflows/main.yml
Due: none

Revert "chore(release): new Version v5.14.1 (Odyssey)"
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

fix(sidekiq): Update Queues to conform with sidekiq 7
  config/initializers/sidekiq.rb
  config/sidekiq.yml
Due: none

chore: update gemset.nix
  gemset.nix
Due: none

nix: disable actionlint
  flake.nix
Due: none

nix: disable actionlint (#2534)
  flake.nix
Due: none

Revert "fix(sidekiq): Update Queues to conform with sidekiq 7"
  config/initializers/sidekiq.rb
  config/sidekiq.yml
Due: none

chore: downgrade sidekiq for now
  Gemfile
  Gemfile.lock
  vendor/cache/redis-client-0.12.1.gem
  vendor/cache/sidekiq-6.5.8.gem
  vendor/cache/sidekiq-7.0.3.gem
Due: bundle

chore(release): new Version v5.14.2 (Odyssey)
  CHANGELOG.md
  config/version.rb
  package.json
Due: yarn

chore(sidekiq-7): upgrade to Sidekiq 7 for tests on Stage
  Gemfile
  Gemfile.lock
  Procfile.dev
  config/sidekiq.yml
  vendor/cache/redis-client-0.12.1.gem
  vendor/cache/sidekiq-6.5.8.gem
  vendor/cache/sidekiq-7.0.3.gem
Due: bundle

change cachix cache
  .github/workflows/nix.yml
Due: none

chore: update workflows to use current production redis version
  .github/workflows/main.yml
Due: none

change cachix cache (#2535)
  .github/workflows/nix.yml
Due: none

chore: add unique validation for hangar group names
  app/models/hangar_group.rb
Due: none

chore: update slug helper to work with non latin chars
  app/helpers/slug_helper.rb
Due: none
